Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

Fix best-effort clip source dispatch
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/grpc/clip_source_dispatch.go
  api_balancing/internal/grpc/clip_source_dispatch_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_control/internal/grpc/clip_fulfilled_timing_test.go
  api_control/internal/grpc/server.go
  pkg/proto/shared.pb.go
  pkg/proto/shared.proto
Due: go

Fix edge cluster Foghorn control selection
  api_gateway/internal/mcp/tools/infrastructure.go
  api_gateway/internal/resolvers/infrastructure.go
  api_tenants/internal/grpc/foghorn_assignment_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/tenant_private_repair.go
  cli/cmd/admin.go
  cli/cmd/edge_deploy.go
  cli/pkg/clients/bridge/edge.go
  pkg/graphql/operations/fragments/ClusterFields.gql
  pkg/graphql/schema.graphql
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/infrastructure/network/+page.svelte
Due: go, frontend

feat(marketing): update crawler discovery files
  docs/skills/llms.txt
  docs/skills/robots.txt
Due: none

Add durable tenant alias reconciliation
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/cert_test.go
  api_dns/internal/logic/tenant_alias.go
  api_dns/internal/store/store.go
  api_dns/internal/store/tenant_alias.go
  api_dns/internal/store/tenant_alias_test.go
  api_dns/internal/worker/tenant_alias_worker.go
  api_dns/internal/worker/tenant_alias_worker_test.go
  api_tenants/internal/grpc/bootstrap_cluster_access_test.go
  api_tenants/internal/grpc/navigator_alias_backstop.go
  api_tenants/internal/grpc/navigator_alias_outbox.go
  api_tenants/internal/grpc/navigator_alias_outbox_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
  api_tenants/internal/grpc/server.go
  pkg/clients/navigator/client.go
  pkg/database/sql/migrations/navigator/v0.2.80/expand/001_tenant_alias_retirements.sql
  pkg/database/sql/migrations/quartermaster/v0.2.80/expand/001_navigator_tenant_alias_outbox.sql
  pkg/database/sql/schema/navigator.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/proto/dns.pb.go
  pkg/proto/dns.proto
  pkg/proto/dns_grpc.pb.go
Due: go

Fix tenant alias teardown and retry backoff
  api_tenants/internal/grpc/navigator_alias_outbox.go
  api_tenants/internal/grpc/navigator_alias_outbox_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
  api_tenants/internal/grpc/server.go
  pkg/database/sql/migrations/quartermaster/v0.2.80/expand/001_navigator_tenant_alias_outbox.sql
  pkg/database/sql/schema/quartermaster.sql
Due: go

Fix tenant alias outbox persistence errors
  api_tenants/internal/grpc/navigator_alias_outbox.go
  api_tenants/internal/grpc/navigator_alias_outbox_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
Due: go

Add Foghorn HA liveness and peer writer safeguards
  api_balancing/internal/control/ha_ordering_spec_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/federation/peer_manager_writer_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/state/ha_ordering_spec_test.go
  docs/rfcs/foghorn-ha-ordering.md
Due: go

Log refresh token revoke failures
  api_control/internal/grpc/server.go
Due: go

Degrade federation analytics load failures
  api_gateway/internal/resolvers/analytics_access_scope_test.go
  api_gateway/internal/resolvers/orchestrators.go
  website_application/src/routes/infrastructure/federation/+page.svelte
Due: go, frontend

docs: clarify sovereign infrastructure wording
  README.md
  docs/architecture/sovereign-strategy.md
  docs/skills/llms.txt
  docs/skills/mcp.json
  packages/site-config/index.ts
  scripts/registry/main.go
  website_docs/src/content/docs/hybrid/overview.mdx
  website_docs/src/content/docs/index.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/mistserver.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/prerequisites.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/roadmap.mdx
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
Due: go, frontend

player: add boot telemetry tracing
  npm_player/packages/core/src/core/BootTracer.ts
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/index.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/__snapshots__/public-api-snapshot.test.ts.snap
  npm_player/packages/core/test/boot-beacon.test.ts
  npm_player/packages/core/test/boot-tracer.test.ts
  npm_player/packages/core/test/player-controller-cold-boot.test.ts
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/svelte/src/Player.svelte
Due: frontend

analytics: ingest player boot telemetry
  api_analytics_ingest/internal/handlers/handlers.go
  api_firehose/internal/grpc/server.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/handlers/playback_telemetry.go
  api_gateway/internal/handlers/playback_telemetry_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.80/expand/002_player_boot_telemetry.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
  pkg/telemetrytoken/token.go
  pkg/telemetrytoken/token_test.go
Due: go

docs: document player boot telemetry
  docs/architecture/analytics-pipeline.md
  docs/platform-features.yaml
  docs/rfcs/qoe-analytics.md
  docs/standards/metrics.md
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/builders/analytics-api.mdx
Due: none

demo: align GraphQL playground fixtures
  api_gateway/graph/playground_contract_test.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/resolvers/media_retention.go
  api_gateway/internal/resolvers/playback_access_control.go
  api_gateway/internal/resolvers/playback_access_dryrun.go
  api_gateway/internal/resolvers/push_targets.go
  api_gateway/internal/resolvers/storage_artifacts.go
  website_application/src/lib/graphql/services/demoDefaults.ts
  website_application/src/lib/graphql/services/explorer.ts
  website_application/src/lib/graphql/services/explorerCatalog.test.ts
  website_application/src/lib/graphql/services/explorerCatalog.ts
  website_application/src/lib/graphql/services/gqlParser.ts
Due: go, frontend

docs: tighten product positioning copy
  docs/architecture/dvr-continuous-archive.md
  website_docs/src/content/docs/builders/playback-access-control.mdx
  website_docs/src/content/docs/builders/storage-and-retention.mdx
  website_docs/src/content/docs/operators/dns.mdx
Due: none

fixup! analytics: ingest player boot telemetry
  pkg/telemetrytoken/token_test.go
Due: go

fix: address billing audit follow-ups
  api_billing/internal/handlers/jobs.go
  docs/architecture/payment-settlement.md
  pkg/database/sql/migrations/purser/v0.2.80/expand/001_beta_free_usage.sql
  pkg/database/sql/migrations/purser/v0.2.80/postdeploy/001_beta_free_usage.sql
Due: go

fix: complete Stripe SCA email flow
  api_billing/internal/handlers/email.go
  api_billing/internal/handlers/webhooks.go
Due: go

sync mist conf
  infrastructure/mistserver.conf
Due: none

Require recording track summaries for processing completion
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go

Validate Mist DTSH sidecars before sync
  api_sidecar/internal/dtsh/validate.go
  api_sidecar/internal/dtsh/validate_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_freeze_test.go
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/relay_test.go
Due: go

Keep clip DTSH sidecars stream-scoped
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/relay_test.go
Due: go

Clean processing stage sidecars on job exit
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
Due: go

build: propagate aggregate build failures
  Makefile
Due: none

Fix processing sidecar publication races
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
Due: go

Harden edge TLS and presigned uploads
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/thumbnail_vtt_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_dtsh_test.go
  api_sidecar/internal/storage/presigned_client.go
  api_sidecar/internal/storage/presigned_client_test.go
Due: go

Make processing completion rely on RECORDING_END
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
Due: go

Add regression coverage for service handlers
  api_analytics_ingest/internal/handlers/clip_lifecycle_test.go
  api_analytics_ingest/internal/handlers/divergence_test.go
  api_analytics_ingest/internal/handlers/node_lifecycle_test.go
  api_analytics_ingest/internal/handlers/orchestrator_discovery_test.go
  api_analytics_ingest/internal/handlers/orchestrators_ingest_test.go
  api_analytics_ingest/internal/handlers/stream_buffer_test.go
  api_analytics_ingest/internal/handlers/track_list_test.go
  api_analytics_ingest/internal/handlers/vod_lifecycle_test.go
  api_analytics_query/internal/grpc/orchestrators_db_test.go
  api_balancing/internal/control/playback_routing_test.go
  api_billing/internal/grpc/invoice_query_test.go
  api_billing/internal/handlers/prepaid_usage_test.go
  api_control/internal/grpc/media_retention_set_test.go
  api_control/internal/grpc/stream_retention_test.go
  api_gateway/graph/graph_helpers_test.go
  api_gateway/graph/model/model_enums_test.go
  api_realtime/internal/grpc/client_subscription_test.go
  api_realtime/internal/grpc/subscribe_test.go
Due: go

fix(marketing): serve prerendered routes as static files
  website_marketing/Dockerfile
  website_marketing/README.md
  website_marketing/package.json
  website_marketing/scripts/check-prerender-output.mjs
Due: none

Stabilize live DASH startup
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
Due: frontend

dns: resolve tenant aliases from serving cells
  api_dns/cmd/navigator/main.go
  api_dns/internal/bunnyrecords/records.go
  api_dns/internal/bunnyrecords/records_test.go
  api_dns/internal/logic/dns.go
  api_dns/internal/worker/tenant_alias_worker.go
  api_dns/internal/worker/tenant_alias_worker_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
Due: go

helmsman: repair Caddy TLS file metadata
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
Due: go

helmsman: require block cache for processing inputs
  api_sidecar/internal/admission/admission.go
  api_sidecar/internal/handlers/storage_admission.go
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/relay_test.go
  api_sidecar/internal/relay/server.go
Due: go

helmsman: cover sidecar parsing helpers
  api_sidecar/internal/control/parse_mode_test.go
  api_sidecar/internal/handlers/process_exit_test.go
Due: go

Fail over stalled DASH startup
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
Due: frontend
