Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: auto # don't drop overall coverage
        threshold: 5% # allow 5% wiggle room
        informational: true # don't block PRs yet (remove once coverage is established)
    patch:
      default:
        target: 50% # new code should have some coverage
        informational: true # don't block PRs yet

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true # only comment if coverage changed

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

more version bumps
  api_realtime/go.mod
  api_realtime/go.sum
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
Due: none

docs(rfc): align mcp-consultant phase framing with Skipper subphases
  docs/rfcs/mcp-consultant/mcp-consultant.md
Due: none

docs: align mcp-consultant RFC phase framing (#203)
  docs/rfcs/mcp-consultant/mcp-consultant.md
Due: none

website cleanups
  website_marketing/index.html
  website_marketing/src/components/Footer.jsx
  website_marketing/src/components/Navigation.jsx
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/index.css
  website_marketing/src/styles/marketing/timeline.css
  website_marketing/src/styles/pages/landing.css
Due: none

tackle unsafe warnings
  api_analytics_query/cmd/periscope/main.go
  api_billing/cmd/purser/main.go
  api_control/cmd/commodore/main.go
  api_firehose/cmd/decklog/main.go
  api_gateway/cmd/bridge/main.go
  api_realtime/cmd/signalman/main.go
  api_tenants/cmd/quartermaster/main.go
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/TelemetryReporter.ts
  npm_player/playground/src/lib/mist-utils.ts
  npm_studio/packages/core/src/workers/compositor.worker.ts
  website_application/src/lib/graphql/services/explorer.ts
  website_application/src/lib/graphql/services/gqlParser.ts
Due: go, frontend

lint
  pkg/graphql/operations/queries/GetStreamHealth5mTimeSeries.gql
  pkg/graphql/operations/queries/GetStreamHealthClients.gql
  pkg/graphql/operations/queries/GetStreamOverviewCharts.gql
  pkg/graphql/operations/queries/GetStreamSessions.gql
  website_marketing/index.html
  website_marketing/src/styles/marketing/timeline.css
  website_marketing/src/styles/pages/landing.css
Due: none

tweak main readme
  README.md
  api_balancing/README.md
Due: none

Add search provider library
  pkg/search/brave.go
  pkg/search/brave_test.go
  pkg/search/config.go
  pkg/search/provider.go
  pkg/search/searxng.go
  pkg/search/searxng_test.go
  pkg/search/tavily.go
  pkg/search/tavily_test.go
Due: go

Add LLM provider library
  pkg/llm/anthropic.go
  pkg/llm/anthropic_test.go
  pkg/llm/config.go
  pkg/llm/ollama.go
  pkg/llm/ollama_test.go
  pkg/llm/openai.go
  pkg/llm/openai_test.go
  pkg/llm/provider.go
Due: go

Add Skipper prompt and tool schemas
  api_skipper/internal/chat/prompts.go
  api_skipper/internal/chat/tools.go
Due: go

Mount Skipper schema in docker compose
  docker-compose.yml
  pkg/database/sql/schema/skipper.sql
Due: none

Fix OpenAI tool call streaming + lint issues
  pkg/llm/anthropic_test.go
  pkg/llm/ollama_test.go
  pkg/llm/openai.go
  pkg/llm/openai_test.go
Due: go

Require explicit SearXNG URL
  pkg/search/searxng.go
Due: go

Use pgvector-enabled Postgres image for Skipper schema
  docker-compose.yml
Due: none

Add LLM provider library (OpenAI / Anthropic / Ollama) with SSE streaming and tests (#206)
  pkg/llm/anthropic.go
  pkg/llm/anthropic_test.go
  pkg/llm/config.go
  pkg/llm/ollama.go
  pkg/llm/ollama_test.go
  pkg/llm/openai.go
  pkg/llm/openai_test.go
  pkg/llm/provider.go
Due: go

Add provider-agnostic pkg/search with Tavily, Brave and SearXNG providers and tests (#205)
  pkg/search/brave.go
  pkg/search/brave_test.go
  pkg/search/config.go
  pkg/search/provider.go
  pkg/search/searxng.go
  pkg/search/searxng_test.go
  pkg/search/tavily.go
  pkg/search/tavily_test.go
Due: go

Mount Skipper schema in Docker Compose and add bootstrap `skipper.sql` (#208)
  docker-compose.yml
  pkg/database/sql/schema/skipper.sql
Due: none

Add api_skipper service scaffold
  Makefile
  api_skipper/Dockerfile
  api_skipper/cmd/skipper/main.go
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/config/config.go
  docker-compose.yml
Due: go

scaffold(api_skipper): add Skipper service bootstrap, config, Dockerfile, Makefile and compose wiring (#209)
  Makefile
  api_skipper/Dockerfile
  api_skipper/cmd/skipper/main.go
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/config/config.go
  docker-compose.yml
Due: go

Skipper followups: avoid port clash + document env vars
  api_skipper/internal/config/config.go
  config/env/base.env
  config/env/secrets.env.example
  docker-compose.yml
Due: go

Add Skipper chat widget components
  website_application/src/lib/components/index.ts
  website_application/src/lib/components/skipper/SkipperChat.svelte
  website_application/src/lib/components/skipper/SkipperInput.svelte
  website_application/src/lib/components/skipper/SkipperMessage.svelte
  website_application/src/lib/components/skipper/index.ts
Due: frontend

Add Skipper knowledge base subsystem
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/crawler_test.go
  api_skipper/internal/knowledge/embedder.go
  api_skipper/internal/knowledge/embedder_test.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
  pkg/llm/embeddings.go
Due: go

Add search web tool wrapper and confidence helpers
  api_skipper/internal/chat/confidence.go
  api_skipper/internal/chat/search_web.go
Due: go

Remove skipper conversation migrations
  api_skipper/internal/chat/conversations.go
Due: go

Fix skipper knowledge tenant scoping + tests
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/crawler_test.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
Due: go

Add Skipper chat widget components (Svelte) with SSE mock streaming (#210)
  website_application/src/lib/components/index.ts
  website_application/src/lib/components/skipper/SkipperChat.svelte
  website_application/src/lib/components/skipper/SkipperInput.svelte
  website_application/src/lib/components/skipper/SkipperMessage.svelte
  website_application/src/lib/components/skipper/index.ts
Due: frontend

Add Skipper knowledge base subsystem (pgvector store, embedder, crawler) (#211)
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/crawler_test.go
  api_skipper/internal/knowledge/embedder.go
  api_skipper/internal/knowledge/embedder_test.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
  pkg/llm/embeddings.go
Due: go

Skipper chat: reset streaming state on errors
  website_application/src/lib/components/skipper/SkipperChat.svelte
Due: frontend

Fix errorlint in skipper conversation store
  api_skipper/internal/chat/conversations.go
Due: go

Remove Skipper conversation migrations for prelaunch (#213)
  api_skipper/internal/chat/conversations.go
Due: go

api_skipper: add search_web tool wrapper and confidence helpers (#212)
  api_skipper/internal/chat/confidence.go
  api_skipper/internal/chat/search_web.go
Due: go

web tweaks
  website_marketing/src/components/marketing/cta/MarketingFinalCTA.jsx
  website_marketing/src/components/marketing/layout/MarketingBand.jsx
  website_marketing/src/components/marketing/partners/MarketingPartnerSurface.jsx
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/HeroFrameCarousel.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/components/pages/StatusPage.jsx
  website_marketing/src/index.css
  website_marketing/src/styles/marketing/badges.css
  website_marketing/src/styles/marketing/buttons.css
  website_marketing/src/styles/marketing/code.css
  website_marketing/src/styles/marketing/comparison.css
  website_marketing/src/styles/marketing/content.css
  website_marketing/src/styles/marketing/cta.css
  website_marketing/src/styles/marketing/grid-seam.css
  website_marketing/src/styles/marketing/hero.css
  website_marketing/src/styles/marketing/icons.css
  website_marketing/src/styles/marketing/layout.css
  website_marketing/src/styles/marketing/navigation.css
  website_marketing/src/styles/marketing/partners.css
  website_marketing/src/styles/marketing/timeline.css
  website_marketing/src/styles/pages/about.css
  website_marketing/src/styles/pages/contact.css
  website_marketing/src/styles/pages/documentation.css
  website_marketing/src/styles/pages/landing.css
  website_marketing/src/styles/pages/pricing.css
Due: none

more skipper scaffolding
  .github/workflows/release.yml
  Makefile
  README.md
  api_skipper/Dockerfile
  api_skipper/internal/config/config.go
  config/env/base.env
  docker-compose.yml
  docs/architecture/skipper.md
Due: go

Add docs Skipper chat widget
  pnpm-lock.yaml
  prettier.config.js
  website_docs/astro.config.mjs
  website_docs/package.json
  website_docs/src/components/DocsPageFrame.astro
  website_docs/src/components/Hero.astro
  website_docs/src/components/skipper/DocsSkipperChat.svelte
  website_docs/src/components/skipper/SkipperInput.svelte
  website_docs/src/components/skipper/SkipperMessage.svelte
  website_docs/src/styles/custom.css
Due: frontend

Add skipper knowledge admin API
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/knowledge/admin.go
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
Due: go

Docs Skipper chat: reset streaming state on errors
  website_docs/src/components/skipper/DocsSkipperChat.svelte
Due: frontend

Add docs Skipper chat widget (docs-mode) with Svelte integration (#214)
  pnpm-lock.yaml
  prettier.config.js
  website_docs/astro.config.mjs
  website_docs/package.json
  website_docs/src/components/DocsPageFrame.astro
  website_docs/src/components/Hero.astro
  website_docs/src/components/skipper/DocsSkipperChat.svelte
  website_docs/src/components/skipper/SkipperInput.svelte
  website_docs/src/components/skipper/SkipperMessage.svelte
  website_docs/src/styles/custom.css
Due: frontend

Skipper: do not fail startup when embedding client not configured
  api_skipper/cmd/skipper/main.go
Due: go

Add Skipper knowledge admin API (crawl/pages/upload/sources) (#215)
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/knowledge/admin.go
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
Due: go
