Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

Improve federation map placement rendering
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_marketing/src/components/marketing/network/NetworkMap.jsx
Due: frontend

listmonk: split admin and API credentials
  api_control/cmd/commodore/main.go
  api_forms/cmd/steward/main.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/listmonk_role.go
  cli/pkg/provisioner/listmonk_role_test.go
  config/env/base.env
  config/env/secrets.env.example
  docker-compose.yml
  pkg/servicedefs/servicedefs.go
  pkg/servicedefs/servicedefs_test.go
Due: go

docs: explain Listmonk API user setup
  api_forms/README.md
  website_docs/src/content/docs/operators/listmonk-setup.mdx
Due: none

Fix Foghorn gRPC CA selection
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  cli/cmd/edge.go
  cli/cmd/edge_service_parse_test.go
Due: go

Expose orchestrators on federation maps
  api_gateway/internal/middleware/graphql_allowlist.go
  api_gateway/internal/middleware/helpers_test.go
  api_gateway/internal/resolvers/orchestrators.go
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/useNetworkStatus.js
Due: go, frontend

Bind edge bootstrap Caddy to node domain
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.docker.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.native.j2
  cli/internal/templates/edge/Caddyfile.tmpl
  cli/internal/templates/edge_parity_test.go
  cli/pkg/provisioner/edge_test.go
Due: go

gen tray gql
  app_mac/Sources/Gateway/GeneratedQueries.swift
Due: none

Refine federation map detail rendering
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/spreadOverlap.ts
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/spreadOverlap.js
  website_marketing/src/styles/marketing/network.css
Due: frontend

Fix edge ConfigSeed Caddy activation
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/prepare.yml
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/manager_tls_test.go
Due: go

Document Foghorn TLS listener contract
  AGENTS.md
  README.md
  docs/architecture/edge-auth.md
  docs/architecture/federation.md
  docs/architecture/foghorn-ha.md
  docs/architecture/orchestrator-visibility.md
  docs/architecture/tls.md
  docs/rfcs/grpc-tls-mesh.md
  docs/standards/environment-configuration.md
  website_docs/src/content/docs/hybrid/edge-nodes.mdx
  website_docs/src/content/docs/operators/architecture.mdx
Due: none

Tighten TLS endpoint authority
  api_balancing/cmd/foghorn/main.go
  api_balancing/cmd/foghorn/main_test.go
  api_balancing/internal/grpc/server.go
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_tls_test.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  cli/cmd/edge.go
  cli/cmd/edge_service_parse_test.go
  config/env/base.env
  docker-compose.yml
  docs/architecture/tls.md
  docs/standards/environment-configuration.md
  pkg/clients/foghorn/grpc_client.go
  pkg/clients/foghorn/grpc_client_test.go
  pkg/clients/foghorn/pool.go
  pkg/clients/foghorn/pool_test.go
  pkg/configgen/configgen.go
  pkg/configgen/configgen_test.go
Due: go

Protect existing services during rollback
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/service_role.go
Due: go

Fix webapp orchestrator map controls
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
Due: frontend

Stop synthesizing TLS for direct Mist protocols
  website_application/src/lib/config.test.ts
  website_application/src/lib/config.ts
Due: frontend

Fix edge playback provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/configure-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/templates/mistserver.conf.j2
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  config/env/base.env
  docker-compose.yml
  docs/standards/environment-configuration.md
  pkg/configgen/configgen.go
  pkg/configgen/configgen_test.go
  website_application/src/routes/streams/+page.svelte
Due: go, frontend

Refresh federation map visuals
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/arc.ts
  website_application/src/lib/components/charts/spreadOverlap.ts
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/arc.js
  website_marketing/src/components/marketing/network/spreadOverlap.js
  website_marketing/src/components/marketing/network/useNetworkStatus.js
  website_marketing/src/styles/marketing/network.css
Due: frontend

Guard Anthropic tool result serialization
  pkg/llm/anthropic.go
  pkg/llm/anthropic_test.go
Due: go

Snap Skipper scroll only when near bottom
  website_application/src/routes/skipper/+page.svelte
  website_docs/src/components/skipper/DocsSkipperChat.svelte
Due: frontend

Tighten federation map layout and shapes
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/spreadOverlap.ts
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/spreadOverlap.js
  website_marketing/src/styles/marketing/network.css
Due: frontend

Fix edge Caddy ConfigSeed activation
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
Due: go

Refresh public docs and marketing copy
  docs/platform-features.yaml
  scripts/registry/main.go
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/agents/overview.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/builders/analytics-api.mdx
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/builders/encoder-setup.mdx
  website_docs/src/content/docs/builders/integration-guide.mdx
  website_docs/src/content/docs/builders/playback.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/streams.mdx
  website_docs/src/content/docs/hybrid/overview.mdx
  website_docs/src/content/docs/index.mdx
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/generic.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/migrate/mistserver.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/data-models.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
  website_docs/src/content/docs/operators/skipper.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/roadmap.mdx
  website_marketing/src/components/marketing/skipper/AgentPipelineStrip.jsx
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/AupPage.jsx
  website_marketing/src/components/pages/ChangelogPage.jsx
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/components/pages/PrivacyPage.jsx
  website_marketing/src/components/pages/StatusPage.jsx
  website_marketing/src/components/pages/TermsPage.jsx
Due: go

Persist edge Caddy ConfigSeed config
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
Due: go

Tighten network map marker spreading
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_marketing/src/components/marketing/network/NetworkMap.jsx
Due: frontend

Fix marketing network map borders
  website_marketing/src/styles/marketing/network.css
Due: none

Provision Metabase with persistent app database
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/templates/generic-compose.yml.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go

Honor per-database Postgres passwords
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Fix Mist admin session route conflict
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.docker.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.native.j2
  api_gateway/internal/resolvers/mist_admin_session.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/cmd/helmsman/main_test.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
  api_sidecar/internal/handlers/mist_admin_proxy.go
  api_sidecar/internal/handlers/mist_admin_session_test.go
  docs/architecture/edge-auth.md
  pkg/graphql/schema.graphql
Due: go

Add SIGHUP env reload support
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_query/cmd/periscope/main.go
  api_assets/cmd/chandler/main.go
  api_balancing/cmd/foghorn/main.go
  api_billing/cmd/purser/main.go
  api_consultant/cmd/skipper/main.go
  api_control/cmd/commodore/main.go
  api_dns/cmd/navigator/main.go
  api_firehose/cmd/decklog/main.go
  api_forms/cmd/steward/main.go
  api_gateway/cmd/bridge/main.go
  api_realtime/cmd/signalman/main.go
  api_tenants/cmd/quartermaster/main.go
  api_ticketing/cmd/deckhand/main.go
  pkg/config/reload.go
  pkg/config/reload_test.go
  pkg/server/reload.go
  pkg/server/server.go
  pkg/server/server_test.go
Due: go

Add service desired-state fingerprints
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/templates/service.j2
  cli/pkg/detect/fingerprint.go
  cli/pkg/detect/fingerprint_test.go
  cli/pkg/provisioner/role_provisioner.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
  cli/pkg/provisioner/types.go
  pkg/servicedefs/servicedefs.go
Due: go

Add cluster diff and apply orchestration
  cli/cmd/cluster.go
  cli/cmd/cluster_apply.go
  cli/cmd/cluster_apply_test.go
  cli/cmd/cluster_diff.go
  cli/cmd/cluster_drift.go
  cli/cmd/cluster_drift_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_restart.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/mesh_wg.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/ports.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/diff.go
  cli/pkg/orchestrator/diff_test.go
  cli/pkg/orchestrator/executor.go
  cli/pkg/orchestrator/executor_test.go
  cli/pkg/orchestrator/gate.go
  cli/pkg/orchestrator/gate_test.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
  cli/pkg/orchestrator/rollout.go
  cli/pkg/orchestrator/rollout_test.go
  cli/pkg/orchestrator/strategy_defaults.go
  cli/pkg/orchestrator/types.go
  cli/pkg/provisioner/meta.go
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/postgres_role_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

Wire edge telemetry metrics pipeline
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/templates/Caddyfile.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/templates/prometheus.xml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/vmagent-edge.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmauth.yml.j2
  api_balancing/internal/control/edge_telemetry_key_test.go
  api_balancing/internal/control/server.go
  cli/pkg/provisioner/clickhouse_role.go
  cli/pkg/provisioner/clickhouse_role_test.go
  cli/pkg/provisioner/prometheus_stack_role.go
  cli/pkg/provisioner/prometheus_stack_role_test.go
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
Due: go

Refresh infrastructure catalog
  README.md
  ansible/collections/ansible_collections/frameworks/infra/README.md
  ansible/collections/ansible_collections/frameworks/infra/galaxy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/molecule/default/converge.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/cleanup.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/templates/zoo.cfg.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/templates/zookeeper.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/vars/main.yml
  ansible/playbooks/zookeeper.yml
  api_assets/README.md
  api_balancing/README.md
  api_control/README.md
  cli/cmd/cluster_doctor_test.go
  cli/internal/services/catalog.yaml
  cli/internal/templates/edge.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/zookeeper_role.go
  config/infrastructure.yaml
  docker-compose.yml
Due: go

Update operator docs and architecture diagram
  website_docs/src/assets/diagrams/Microservices_Architecture.afdesign
  website_docs/src/assets/diagrams/Microservices_Architecture.png
  website_docs/src/assets/diagrams/Microservices_Architecture.svg
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/dns.mdx
Due: none

Refresh marketing launch pages
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
Due: none

Remove ZooKeeper from Ansible CI surface
  .github/workflows/ansible.yml
  cli/pkg/inventory/types.go
  docker-compose.yml
  website_docs/src/content/docs/operators/cluster-manifest.mdx
Due: go

fix invalid caddy metrics scrape
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/templates/Caddyfile.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Pin support service images
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/defaults/main.yml
  cli/internal/services/catalog.yaml
  cli/pkg/provisioner/chatwoot_role.go
  cli/pkg/provisioner/chatwoot_role_test.go
  cli/pkg/provisioner/common_helpers.go
  cli/pkg/provisioner/listmonk_role.go
  cli/pkg/provisioner/listmonk_role_test.go
  config/infrastructure.yaml
Due: go

Fix telemetry provisioning routes
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/clusterderive/clusterderive.go
  cli/pkg/clusterderive/clusterderive_test.go
Due: go
