Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

tweaks
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/mcpclient/client.go
  api_consultant/internal/mcpclient/client_test.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/mcp/server.go
  docker-compose.yml
  website_docs/src/content/docs/operators/skipper.mdx
Due: go

Add x402 settlement edge-case tests and update testing plan (#271)
  pkg/x402/settlement_test.go
Due: go

gateway middleware tests: fix maxTimeoutSeconds type
  api_gateway/internal/middleware/ratelimit_test.go
Due: go

billing tests: fix tx hash slicing + stabilize webhook secret
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/handlers/x402_test.go
Due: go

tests: expand api_gateway middleware coverage (auth, x402, ratelimit, public-or-jwt) (#272)
  api_gateway/internal/middleware/auth_request_test.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/middleware/ratelimit_test.go
Due: go

billing tests: use BeginTx for sqlmock tx
  api_billing/internal/handlers/crypto_test.go
Due: go

test(api_billing): expand billing handler test coverage (checkout, webhooks, crypto, x402) (#273)
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/crypto_test.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/handlers/x402_test.go
Due: go

Add stream state and cache invalidation tests
  api_balancing/internal/grpc/server_test.go
  api_balancing/internal/state/stream_state_bandwidth_test.go
  api_balancing/internal/state/stream_state_test.go
Due: go

Add ingest handler helper and error tests
  api_analytics_ingest/internal/handlers/handlers_test.go
Due: go

Add tests for stream state parsing, bandwidth logic, and tenant cache invalidation (#274)
  api_balancing/internal/grpc/server_test.go
  api_balancing/internal/state/stream_state_bandwidth_test.go
  api_balancing/internal/state/stream_state_test.go
Due: go

Codex-generated pull request (#275)
  api_analytics_ingest/internal/handlers/handlers_test.go
Due: go

test: expand balancing trigger and x402 coverage
  api_balancing/internal/handlers/x402_helpers_test.go
  api_balancing/internal/triggers/processor_test.go
Due: go

balancing tests: use context-aware listener
  api_balancing/internal/handlers/x402_helpers_test.go
  api_balancing/internal/triggers/processor_test.go
Due: go

test: expand balancing trigger and x402 helper coverage (#276)
  api_balancing/internal/handlers/x402_helpers_test.go
  api_balancing/internal/triggers/processor_test.go
Due: go

Add Cloudflare DNS error-path tests
  api_dns/internal/logic/dns_test.go
  api_dns/internal/provider/cloudflare/client_dns_records_test.go
  api_dns/internal/provider/cloudflare/client_test.go
Due: go

Add sidecar handler helper tests
  api_sidecar/internal/handlers/handlers_helpers_test.go
Due: go

make tidy
  api_balancing/go.mod
  api_control/go.mod
  api_control/go.sum
  api_dns/go.mod
  api_dns/go.sum
  api_forms/go.mod
  api_forms/go.sum
Due: none

make tidy
  api_balancing/go.mod
Due: none

Bump the go-service-deps group across 5 directories with 11 updates
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_analytics_query/go.mod
  api_analytics_query/go.sum
  api_balancing/go.mod
  api_balancing/go.sum
  api_billing/go.mod
  api_billing/go.sum
  api_control/go.mod
  api_control/go.sum
  api_dns/go.mod
  api_dns/go.sum
  api_firehose/go.mod
  api_firehose/go.sum
  api_forms/go.mod
  api_forms/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  api_realtime/go.mod
  api_realtime/go.sum
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_tenants/go.mod
  api_tenants/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
Due: none

Add Cloudflare DNS error-path tests (#280)
  api_dns/internal/logic/dns_test.go
  api_dns/internal/provider/cloudflare/client_dns_records_test.go
  api_dns/internal/provider/cloudflare/client_test.go
Due: go

Add unit tests for sidecar handler helpers and storage utilities (#281)
  api_sidecar/internal/handlers/handlers_helpers_test.go
Due: go

tackle some security code scanning warnings
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/knowledge/crawler.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/handlers/auth.go
  api_mesh/internal/agent/agent.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/poller.go
Due: go

Improve layout split ratio and filter tests
  npm_studio/packages/core/src/core/layouts/index.ts
  npm_studio/packages/core/test/canvas2d-renderer.test.ts
  npm_studio/packages/core/test/layouts.test.ts
  npm_studio/packages/core/test/webgl-renderer.test.ts
  npm_studio/packages/core/test/webgpu-renderer.test.ts
Due: frontend

studio layouts: clamp splitRatio; update pnpm lockfile
  npm_studio/packages/core/src/core/layouts/index.ts
  pnpm-lock.yaml
Due: frontend

fix lint
  api_balancing/internal/geo/bucket.go
Due: go

Honor splitRatio in layouts and tighten renderer filter tests (#283)
  api_balancing/internal/geo/bucket.go
  npm_studio/packages/core/src/core/layouts/index.ts
  npm_studio/packages/core/test/canvas2d-renderer.test.ts
  npm_studio/packages/core/test/layouts.test.ts
  npm_studio/packages/core/test/webgl-renderer.test.ts
  npm_studio/packages/core/test/webgpu-renderer.test.ts
  pnpm-lock.yaml
Due: go, frontend

catch some test mutants
  pkg/auth/wallet.go
  pkg/auth/wallet_test.go
Due: go

make sure codecov can handle partial runs
  .github/workflows/ci.yml
  codecov.yml
Due: none

cp agent files
  .gitignore
  scripts/copy-agent-files.sh
  website_application/Dockerfile
  website_application/package.json
  website_docs/Dockerfile
  website_docs/package.json
  website_marketing/Dockerfile
  website_marketing/package.json
Due: none

normalize env vars a bit
  .github/workflows/release.yml
  website_docs/Dockerfile
  website_docs/astro.config.mjs
Due: none

bump platform release ci
  .github/workflows/release.yml
Due: none

fix release CI with dis?
  scripts/copy-agent-files.sh
  website_application/svelte.config.js
Due: none

`cgo` compile, pls?
  .github/workflows/release.yml
Due: none

fix release ci...
  website_application/src/lib/iconUtils.ts
Due: frontend

correct sdk preview snippers on marketing website
  website_marketing/src/components/pages/SdkCodePreview.jsx
Due: none

cli pass enrollmentToken for edge init
  cli/cmd/edge.go
  cli/internal/templates/edge.go
  cli/internal/templates/edge/.edge.env.tmpl
  cli/pkg/inventory/types.go
Due: go

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
