Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

Fix dev runtime service config
  docker-compose.yml
  pkg/configgen/configgen.go
  pkg/configgen/configgen_test.go
Due: go

Use release manifest infra versions
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/clickhouse_role.go
  cli/pkg/provisioner/clickhouse_role_test.go
  cli/pkg/provisioner/common_helpers.go
  cli/pkg/provisioner/kafka_mirrormaker_role.go
  cli/pkg/provisioner/kafka_role.go
  cli/pkg/provisioner/prometheus_stack_role.go
  cli/pkg/provisioner/yugabyte_role.go
Due: go

Provision Chatwoot v4 Postgres requirements
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  cli/pkg/provisioner/chatwoot_role_test.go
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/postgres_role_test.go
Due: go

Run listmonk database upgrades on startup
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/templates/compose.yml.j2
  cli/pkg/provisioner/listmonk_role_test.go
  docker-compose.yml
  pkg/database/sql/schema/listmonk.sql
Due: go

Pass release metadata to ClickHouse init
  cli/cmd/cluster_init.go
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go

Keep edge node domain in Caddy config
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
Due: go

mod edge provisioning final check to be not dependent on DNS propagation, just TLS and expected names
  cli/cmd/edge.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
Due: go

Degrade node health previews on control outage
  api_gateway/internal/resolvers/node_mode.go
  api_gateway/internal/resolvers/node_mode_test.go
Due: go

enhance sidecar mist config sync
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_baseline_test.go
  api_sidecar/internal/config/manager_protocols_test.go
Due: go

Keep webapp sessions connected
  website_application/src/lib/houdini/client.ts
  website_application/src/lib/stores/auth.test.ts
  website_application/src/lib/stores/auth.ts
  website_application/src/routes/+layout.svelte
Due: frontend

Handle prepaid x402 GraphQL responses
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/ratelimit_test.go
  website_application/src/lib/houdini/client.ts
  website_application/src/routes/developer/api-keys/+page.svelte
Due: go, frontend

Retry GraphQL after session refresh
  website_application/src/lib/houdini/client.ts
Due: frontend

Harden edge provisioning release convergence
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/prepare.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  api_sidecar/internal/control/client.go
  cli/cmd/edge.go
  cli/cmd/edge_deploy.go
  cli/cmd/edge_test.go
  cli/internal/readiness/edge.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
  pkg/grpcutil/tls.go
Due: go

Harden consultant chat context handling
  api_consultant/internal/chat/compaction.go
  api_consultant/internal/chat/compaction_test.go
  api_consultant/internal/chat/grpc_reports_test.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/knowledge/crawler.go
  api_consultant/internal/knowledge/crawler_test.go
  api_consultant/internal/mcpclient/client.go
  api_consultant/internal/mcpclient/client_test.go
Due: go

Polish explorer and Skipper UI behavior
  pkg/graphql/operations/queries/GetStreamSessions.gql
  website_application/src/lib/components/PlaybackProtocols.svelte
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/spreadOverlap.ts
  website_application/src/lib/components/explorer/CodeMirrorEditor.svelte
  website_application/src/lib/components/skipper/SkipperMessage.svelte
  website_application/src/lib/graphql/services/explorer.ts
  website_application/src/lib/graphql/services/explorerCatalog.test.ts
  website_application/src/lib/graphql/services/explorerCatalog.ts
  website_application/src/lib/graphql/services/gqlParser.ts
  website_application/src/lib/utils/skipperMarkdown.test.ts
  website_application/src/lib/utils/skipperMarkdown.ts
  website_application/src/routes/developer/features/[slug]/+page.svelte
  website_docs/src/components/skipper/SkipperMessage.svelte
  website_docs/src/lib/skipperMarkdown.ts
  website_docs/src/styles/custom.css
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/spreadOverlap.js
Due: frontend

Fix helmsman checksum lint
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
Due: none

Fix proxy sites for aliased services
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Route only healthy Foghorn instances
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
  api_control/internal/grpc/server.go
  api_tenants/internal/grpc/discover_services_test.go
  api_tenants/internal/grpc/server.go
Due: go

Use internal Foghorn TLS for core routing
  api_control/cmd/commodore/main.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
Due: go

Persist compose service data under var lib
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go

Reassert edge Caddy config on ConfigSeed
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
Due: go

Enable Livepeer gateway metrics
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go

Enable managed edge telemetry shipping
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/vmagent-edge.yml.j2
  cli/cmd/edge.go
  cli/cmd/edge_test.go
Due: go

fix: enforce core release cohorts
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/gitops/types.go
  tools/release-plan/plan.go
  tools/release-plan/plan_test.go
Due: go

fix: route foghorn control traffic to control listener
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/node_owner_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  cli/cmd/cluster_provision.go
  pkg/servicedefs/servicedefs.go
  pkg/servicedefs/servicedefs_test.go
Due: go

fix: harden edge tls and storage provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-docker.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  cli/cmd/edge.go
Due: go

fix: preserve routing enrichment metrics
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/routing_event.go
  api_balancing/internal/handlers/routing_event_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
  api_gateway/graph/live_node_snapshot.go
  api_gateway/internal/resolvers/routing_event_mapping.go
  api_gateway/internal/resolvers/routing_event_mapping_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.54/expand/001_routing_cluster_hourly_non_nullable.sql
  pkg/database/sql/clickhouse/periscope.sql
Due: go

Harden sandbox stream health responses
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/stream_resolver_helpers.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/demo/stream_health_test.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/stream_health_test.go
Due: go

fix prometheus metric lifecycle wiring
  api_balancing/cmd/foghorn/main.go
  api_firehose/cmd/decklog/main.go
  api_firehose/internal/grpc/server.go
  api_gateway/cmd/bridge/main.go
  api_gateway/go.mod
  api_gateway/graph/stream_resolver_helpers.go
  api_gateway/internal/resolvers/resolver.go
  api_gateway/internal/resolvers/subscription_manager.go
  api_gateway/internal/resolvers/subscription_manager_test.go
  api_gateway/internal/resolvers/subscriptions.go
  api_sidecar/internal/handlers/poller.go
  docs/standards/metrics.md
Due: go

add shared prometheus metrics primitives
  api_analytics_query/internal/metrics/metrics.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/handlers/handlers.go
  api_billing/cmd/purser/main.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/init.go
  api_dns/cmd/navigator/main.go
  api_tenants/internal/grpc/server.go
  pkg/go.mod
  pkg/middleware/grpc.go
  pkg/middleware/grpc_test.go
  pkg/monitoring/metrics.go
Due: go

add kafka consumer lag tracking
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_analytics_query/go.mod
  api_analytics_query/go.sum
  api_assets/go.mod
  api_assets/go.sum
  api_balancing/go.mod
  api_balancing/go.sum
  api_billing/go.mod
  api_billing/go.sum
  api_consultant/go.mod
  api_consultant/go.sum
  api_control/go.mod
  api_control/go.sum
  api_dns/go.mod
  api_dns/go.sum
  api_firehose/go.mod
  api_firehose/go.sum
  api_forms/go.mod
  api_forms/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  api_realtime/cmd/signalman/main.go
  api_realtime/go.mod
  api_realtime/go.sum
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_tenants/go.mod
  api_tenants/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
  pkg/go.mod
  pkg/go.sum
  pkg/kafka/consumer.go
  pkg/kafka/consumer_test.go
Due: go

Fix analytics event identity enrichment
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_balancing/internal/handlers/routing_event.go
  api_balancing/internal/handlers/routing_event_test.go
  pkg/clients/decklog/client.go
  pkg/clients/decklog/client_test.go
Due: go

wire domain metrics and normalize public routes
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_query/cmd/periscope/main.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/metrics/metrics.go
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/chandler_base_test.go
  api_balancing/internal/control/foghorn_balancer_base_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/handlers/handlers.go
  api_billing/cmd/purser/main.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/init.go
  api_billing/internal/handlers/jobs.go
  api_control/cmd/commodore/main.go
  api_control/internal/clusterurls/resolver.go
  api_control/internal/clusterurls/resolver_test.go
  api_control/internal/grpc/server.go
  api_dns/cmd/navigator/main.go
  api_mesh/cmd/privateer/main.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_mesh/internal/dns/server.go
  api_realtime/cmd/signalman/main.go
  api_realtime/internal/grpc/server.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/grpc/server.go
  api_ticketing/cmd/deckhand/main.go
  api_ticketing/internal/handlers/handlers.go
  cli/pkg/clusterderive/clusterderive.go
  cli/pkg/clusterderive/clusterderive_test.go
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
Due: go

fix dependency-aware release planning
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/gitops/types.go
  tools/release-plan/hash.go
  tools/release-plan/plan.go
  tools/release-plan/plan_test.go
  tools/release-plan/types.go
Due: go

Fix mac tray login and stale queries
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/AppState.swift
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/Gateway/AnalyticsService.swift
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/Gateway/GatewayClient.swift
  app_mac/Sources/Gateway/Models.swift
  app_mac/Sources/Gateway/SkipperService.swift
  app_mac/Sources/Gateway/StreamService.swift
  app_mac/Sources/UI/LoginView.swift
  app_mac/Sources/UI/PanelManager.swift
Due: none

group Go dependabot updates across modules
  .github/dependabot.yml
Due: none

Harden mac tray CLI and edge surfaces
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/AppState.swift
  app_mac/Sources/CLI/CLIRunner.swift
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/Edge/EdgeClient.swift
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/Gateway/GatewayClient.swift
  app_mac/Sources/Gateway/Models.swift
  app_mac/Sources/Gateway/SkipperService.swift
  app_mac/Sources/MCP/MCPResources.swift
  app_mac/Sources/MCP/MCPRouter.swift
  app_mac/Sources/MCP/MCPServer.swift
  app_mac/Sources/UI/DashboardView.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  app_mac/Sources/UI/EdgeStatusView.swift
  app_mac/Sources/UI/LoginView.swift
  app_mac/Sources/UI/ProvisionView.swift
  app_mac/Sources/UI/SettingsView.swift
  app_mac/Sources/UI/SkipperChatView.swift
Due: none

Add tray CLI command catalog
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  app_mac/Sources/UI/EdgeStatusView.swift
  cli/cmd/menu.go
  cli/cmd/menu_test.go
Due: go

Expose CLI command catalog to tray
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  cli/cmd/commands.go
  cli/cmd/commands_test.go
  cli/cmd/root.go
Due: go
