Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

fix(auth): preserve verification and bot-check reasons across gRPC
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_login_test.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  docs/standards/release-notes.md
  pkg/grpcutil/sanitize.go
  pkg/grpcutil/sanitize_test.go
  website_application/src/lib/stores/auth.test.ts
  website_application/test/components/auth-email-verification.test.ts
Due: go, frontend

fix(release): verify auth replicas before reporting success
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_auth_convergence.go
  cli/cmd/cluster_release_auth_convergence_test.go
Due: go

fix(privateer): keep internal DNS sockets open across restarts
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/cleanup.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/templates/privateer.socket.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/vars/main.yml
  api_mesh/internal/dns/activation.go
  api_mesh/internal/dns/activation_test.go
  api_mesh/internal/dns/server.go
  cli/pkg/provisioner/privateer_role_test.go
  docs/architecture/privateer-mesh.md
Due: go

fix(pki): serialize bootstrap and runtime certificate writes
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  docs/architecture/tls.md
Due: go

fix(bridge): guard cookie-authenticated WebSocket upgrades by origin
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/middleware/ws_origin.go
  api_gateway/internal/middleware/ws_origin_test.go
Due: go

fix(bridge): refresh browser auth before x402 challenge
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
Due: go

feat(schema): prepare 0.3.11 media and API audit storage
  api_balancing/internal/database/foghorndb/artifact_reconciliation.sql.go
  api_balancing/internal/database/foghorndb/dvr_chapter_sweep.sql.go
  api_balancing/internal/database/foghorndb/dvr_finalize.sql.go
  api_balancing/internal/database/foghorndb/dvr_parent_storage_migration_realpg_test.go
  api_balancing/internal/database/foghorndb/dvr_segments.sql.go
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/server_ingest.sql.go
  api_balancing/internal/database/foghorndb/server_runtime.sql.go
  api_balancing/internal/database/queries/artifact_reconciliation.sql
  api_balancing/internal/database/queries/dvr_chapter_sweep.sql
  api_balancing/internal/database/queries/dvr_finalize.sql
  api_balancing/internal/database/queries/dvr_segments.sql
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/database/queries/server_ingest.sql
  api_balancing/internal/database/queries/server_runtime.sql
  api_control/internal/database/commodoredb/ingest_admission.sql.go
  api_control/internal/database/queries/ingest_admission.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.11/expand/003_api_requests_graphql_error_count.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/migrations/commodore/v0.3.11/expand/016_stream_dvr_chapter_default.sql
  pkg/database/sql/migrations/commodore/v0.3.11/postdeploy/006_backfill_stream_dvr_chapter_mode.sql
  pkg/database/sql/migrations/commodore/v0.3.11/postdeploy/007_backfill_artifact_origin_cluster.sql
  pkg/database/sql/migrations/foghorn/v0.3.11/expand/009_processing_job_progress_watchdog.sql
  pkg/database/sql/migrations/foghorn/v0.3.11/expand/010_ingest_session_transcode_degraded.sql
  pkg/database/sql/migrations/foghorn/v0.3.11/postdeploy/003_backfill_dvr_chapter_mode.sql
  pkg/database/sql/migrations/foghorn/v0.3.11/postdeploy/004_backfill_dvr_parent_storage.sql
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/foghorn.sql
Due: go

feat(protocol): add media lifecycle and API audit fields
  npm_api/src/generated/proto/events/public/v1/media.ts
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/events/public/v1/media.pb.go
  pkg/proto/events/public/v1/media.proto
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/shared.proto
  pkg/proto/shared/shared.pb.go
  sdk_python/src/livepeer_frameworks/_generated/proto/frameworks/events/public/v1/__init__.py
Due: go, frontend

feat(bosun): batch webhook delivery attempt history
  api_webhooks/internal/grpcserver/server.go
  api_webhooks/internal/grpcserver/server_test.go
  api_webhooks/internal/integration/ledger_realpg_test.go
  api_webhooks/internal/ledger/deliveries.go
  pkg/clients/bosun/client.go
  pkg/clients/bosun/interface.go
  pkg/proto/bosun.proto
  pkg/proto/bosun/bosun.pb.go
  pkg/proto/bosun/bosun_grpc.pb.go
Due: go

feat(bridge): batch webhook attempts and refresh GraphQL contracts
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/webhooks_test.go
  api_gateway/internal/clients/clientstest/clientstest_bosun.go
  api_gateway/internal/loaders/loaders.go
  api_gateway/internal/loaders/webhook_attempts.go
  api_gateway/internal/loaders/webhook_attempts_test.go
  api_gateway/internal/resolvers/webhooks.go
  api_gateway/internal/resolvers/webhooks_test.go
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  pkg/graphql/schema.graphql
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/async_client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/get_dvr_chapter.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  website_docs/public/llms-full.txt
Due: go, frontend

fix(analytics): count GraphQL errors and report effective complexity
  api_analytics_ingest/internal/database/periscopeingestdb/audit_writers.go
  api_gateway/cmd/bridge/main.go
  api_gateway/graph/complexity_extension.go
  api_gateway/graph/complexity_extension_test.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/middleware/usage_tracker.go
  api_gateway/internal/middleware/usage_tracker_test.go
Due: go

fix(periscope): preserve unsigned hashes in API request events
  api_analytics_ingest/internal/handlers/api_request_uint64_test.go
  api_analytics_ingest/internal/handlers/handlers.go
Due: go

fix(kafka): coordinate MirrorMaker worker config and restarts
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/cleanup.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/mm2.properties.j2
  cli/cmd/kafka_mirror_coverage.go
  cli/cmd/kafka_mirror_coverage_test.go
  cli/pkg/provisioner/kafka_mirrormaker_role.go
  cli/pkg/provisioner/kafka_mirrormaker_role_test.go
  docs/architecture/multiregion-kafka-mirrormaker.md
Due: go

fix(cli): embed provision assets in release binaries
  .github/workflows/release.yml
  Makefile
  api_control/internal/database/commodoredb/artifact_origin_migration_realpg_test.go
  cli/internal/runtimeassets/bundle/.gitignore
  cli/internal/runtimeassets/runtimeassets.go
  cli/internal/runtimeassets/runtimeassets_test.go
  cli/pkg/provisioner/role_provisioner.go
  cli/pkg/provisioner/service_role.go
  scripts/cli-embed-assets.sh
Due: go

fix(cli): converge release hosts in gated rollout waves
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/cmd/cluster_provision_webhooks_test.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_host_convergence.go
  cli/cmd/cluster_release_host_convergence_test.go
  cli/cmd/cluster_release_mirrormaker_restart_test.go
  cli/cmd/cluster_release_resume_test.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/cmd/release_rollout_waves.go
  cli/cmd/release_rollout_waves_test.go
  cli/internal/configschema/config-schema.json
  cli/pkg/ansiblerun/executor.go
  cli/pkg/ansiblerun/executor_test.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/rollout_test.go
  cli/pkg/orchestrator/strategy_defaults.go
  cli/pkg/orchestrator/types.go
  docs/architecture/cluster-rollout.md
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/configuration-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go

fix(cli): detect and operate sudo-only Docker deployments
  cli/cmd/cluster_diagnose.go
  cli/cmd/cluster_diagnose_test.go
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_logs.go
  cli/cmd/coverage_helpers_test.go
  cli/pkg/detect/detector.go
  cli/pkg/detect/detector_test.go
  cli/pkg/lifecycle/docker.go
  cli/pkg/lifecycle/docker_test.go
  cli/pkg/mistdiag/discover_run_test.go
  cli/pkg/mistdiag/runner.go
  cli/pkg/mistdiag/streams.go
  cli/pkg/provisioner/base.go
  cli/pkg/provisioner/docker_sudo_fallback_test.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_onnx.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  cli/pkg/system/docker.go
  cli/pkg/system/docker_test.go
Due: go

fix(media): gate placement on Mist controller health
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/verify-api.yml
  api_balancing/internal/state/node_mist_api_health_test.go
  api_balancing/internal/state/stream_state.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/media_health_track_test.go
  api_sidecar/internal/handlers/mist_api_health.go
  api_sidecar/internal/handlers/mist_api_health_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/processing_source_probe.go
  api_sidecar/internal/handlers/processing_source_probe_test.go
  pkg/grafana/rules/frameworks.yml
Due: go

fix(helmsman): supervise processing sources and process replacement
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/triggers_test.go
  api_sidecar/internal/control/transcode_degraded.go
  api_sidecar/internal/handlers/process_replace.go
  api_sidecar/internal/handlers/process_replace_test.go
  api_sidecar/internal/handlers/processing.go
  docs/architecture/mist-trigger-contract.md
  docs/architecture/processing-pipeline.md
  pkg/mist/ingest_protocol.go
  pkg/mist/processes.go
  pkg/mist/purelogic_test.go
Due: go

fix(media): validate playback authority and webhook destinations
  api_balancing/cmd/foghorn/main.go
  api_balancing/cmd/foghorn/storage_snapshot_schedule_test.go
  api_balancing/internal/appconfig/foghorn.go
  api_balancing/internal/triggers/playback_auth.go
  api_balancing/internal/triggers/playback_webhook_private_test.go
  api_control/cmd/commodore/main.go
  api_control/internal/appconfig/commodore.go
  api_control/internal/grpc/active_ingest_placement_test.go
  api_control/internal/grpc/dvr_chapter_policy.go
  api_control/internal/grpc/dvr_chapter_policy_test.go
  api_control/internal/grpc/ingest_cluster_authority_test.go
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_test.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/playback_access_control_test.go
  api_control/internal/grpc/playback_jwt_keys_test.go
  api_control/internal/grpc/playback_webhook_private_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_control/internal/grpc/vod_import.go
  api_webhooks/cmd/bosun/main.go
  api_webhooks/internal/validate/validate.go
  api_webhooks/internal/validate/validate_test.go
  docker-compose.yml
  docs/architecture/bosun.md
  docs/architecture/cluster-access-security.md
  pkg/restream/webhook.go
  pkg/restream/webhook_test.go
Due: go

fix(foghorn): bound federated placement discovery and observation
  api_balancing/internal/balancer/placement_capacity_observer.go
  api_balancing/internal/balancer/placement_capacity_observer_test.go
  api_balancing/internal/balancer/placement_inventory.go
  api_balancing/internal/balancer/placement_inventory_test.go
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/balancer/placement_router_test.go
  api_balancing/internal/federation/placement_admission_test.go
  api_balancing/internal/federation/placement_discovery.go
  api_balancing/internal/federation/placement_discovery_test.go
  api_balancing/internal/federation/placement_observation_cache.go
  api_balancing/internal/federation/placement_observation_cache_test.go
  api_balancing/internal/federation/placement_policy_gate.go
  api_balancing/internal/federation/placement_policy_gate_test.go
  api_balancing/internal/federation/placement_push_source_preview_test.go
  api_balancing/internal/federation/placement_transport.go
  api_balancing/internal/triggers/ingest_placement_error_test.go
  api_balancing/internal/triggers/ingest_placement_test.go
  docs/rfcs/cross-cluster-durable-replication-v1.md
Due: go

fix(foghorn): bind VOD storage to artifact origin
  api_balancing/internal/artifacts/cleanup.go
  api_balancing/internal/artifacts/cleanup_test.go
  api_balancing/internal/control/freeze_authz.go
  api_balancing/internal/control/freeze_dtsh_attempt_test.go
  api_balancing/internal/control/freeze_permission_handler_test.go
  api_balancing/internal/control/storage_usage_test.go
  api_balancing/internal/grpc/artifact_creation_status_test.go
  api_balancing/internal/grpc/requested_upload_events_realpg_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_test.go
  api_balancing/internal/grpc/vod_import.go
  api_balancing/internal/grpc/vod_import_realpg_test.go
  api_balancing/internal/grpc/vod_status_test.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/purge_deleted.go
  api_balancing/internal/storage/cluster_resolver.go
  api_balancing/internal/storage/cluster_resolver_test.go
  docs/architecture/durable-media-storage.md
  docs/rfcs/edge-terminated-vod-upload.md
Due: go

feat(recording): finalize chapters and replay stopped DVR
  api_balancing/internal/control/dvr_chapter_generator.go
  api_balancing/internal/control/dvr_chapter_generator_test.go
  api_balancing/internal/control/dvr_finalize.go
  api_balancing/internal/control/dvr_parent_storage_realpg_test.go
  api_balancing/internal/control/dvr_recording_replay_realpg_test.go
  api_balancing/internal/control/dvr_segments_handlers_coverage_test.go
  api_balancing/internal/control/dvr_segments_queries_test.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/handlers/dvr_stopped_playback_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/jobs/chapter_sweeper.go
  api_balancing/internal/triggers/dvr_chapter_policy.go
  api_balancing/internal/triggers/processor.go
  docs/architecture/dvr-continuous-archive.md
  docs/architecture/service-events.md
  website_application/src/lib/components/stream-details/ArtefactsTabPanel.svelte
  website_application/src/lib/components/stream-details/CreateStreamModal.svelte
  website_application/src/lib/components/stream-details/StreamEditModal.svelte
  website_application/test/components/stream-edit-recording.test.ts
  website_docs/src/content/docs/builders/dvr-chapters.mdx
  website_docs/src/content/docs/builders/events.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/streams.mdx
Due: go, frontend

fix(ingest): distinguish placement failures and Livepeer token checks
  api_balancing/internal/control/cluster_access.go
  api_balancing/internal/control/transcode_job_token.go
  api_balancing/internal/control/transcode_job_token_check_test.go
  api_balancing/internal/handlers/ingest_front_door.go
  api_balancing/internal/handlers/ingest_front_door_failure_test.go
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
  api_balancing/internal/handlers/livepeer_catalog_ladder_test.go
  api_balancing/internal/triggers/managed_stream_materializer.go
  api_balancing/internal/triggers/managed_stream_materializer_test.go
  docs/rfcs/frameworks-edge-gateway.md
Due: go

fix(foghorn): settle processing failures and origin-bound outputs
  api_balancing/internal/control/metrics.go
  api_balancing/internal/control/processing_failure_realpg_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/control/server_thumbnail_test.go
  api_balancing/internal/control/stream_transcode_degraded.go
  api_balancing/internal/control/stream_transcode_degraded_test.go
  api_balancing/internal/control/thumbnail_publication.go
  api_balancing/internal/jobs/job_router.go
  api_balancing/internal/jobs/job_router_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_recovery_test.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_balancing/internal/jobs/processing_watchdog_realpg_test.go
  api_balancing/internal/jobs/reconcilers_coverage_test.go
  docs/architecture/thumbnails.md
Due: go

docs(cli): explain embedded Skipper sources
  website_docs/src/content/docs/operators/skipper.mdx
Due: none

fix(privateer): read socket activation through pkg/systemd
  api_mesh/internal/dns/activation.go
  api_mesh/internal/dns/activation_test.go
  pkg/systemd/listenfds.go
  pkg/systemd/listenfds_test.go
  scripts/configref/main.go
Due: go

docs(graphql): regenerate schema reference
  website_docs/src/content/docs/builders/api-schema/media.mdx
  website_docs/src/content/docs/builders/api-schema/shared.mdx
  website_docs/src/content/docs/builders/api-schema/streams.mdx
  website_docs/src/content/docs/builders/api-schema/webhooks.mdx
Due: none

build: add verify-prepush for CI contract and component checks
  AGENTS.md
  Makefile
Due: none

test(webapp): let dialog scroll-lock restore before teardown
  website_application/test/components/stream-edit-recording.test.ts
Due: frontend

test(yugabyte): isolate schema contracts in CI
  .github/workflows/ci.yml
  Makefile
  cli/pkg/provisioner/contract_coverage_inventory_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/service_database_completion_realdb_test.go
  cli/pkg/provisioner/yugabyte_query_catalog_inventory_test.go
Due: go

fix(cli): quote remote SSH script as one argument
  cli/internal/xexec/ssh.go
  cli/internal/xexec/ssh_test.go
Due: go

fix(commodore): deliver verification emails through durable outbox
  Makefile
  api_control/internal/database/commodoredb/account_email_outbox.sql.go
  api_control/internal/database/commodoredb/account_recovery_wallets.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/queries/account_email_outbox.sql
  api_control/internal/database/queries/account_recovery_wallets.sql
  api_control/internal/grpc/account_email_outbox.go
  api_control/internal/grpc/account_email_outbox_realpg_test.go
  api_control/internal/grpc/auth_handlers_test.go
  api_control/internal/grpc/server.go
  pkg/database/sql/layout/commodore.yaml
  pkg/database/sql/migrations/commodore/v0.3.11/expand/017_account_email_outbox.sql
  pkg/database/sql/schema/commodore.sql
Due: go

fix(dvr): keep chapter identity stable and announce replayability
  api_balancing/internal/control/aggregate_version_realpg_test.go
  api_balancing/internal/control/dvr_chapter_finalize_hook.go
  api_balancing/internal/control/dvr_chapter_generator.go
  api_balancing/internal/control/dvr_chapters_id_test.go
  api_balancing/internal/control/dvr_chapters_repo.go
  api_balancing/internal/control/dvr_chapters_repo_test.go
  api_balancing/internal/control/dvr_finalize.go
  api_balancing/internal/control/dvr_recording_replay_realpg_test.go
  api_balancing/internal/control/finalize_hook_coverage_test.go
  api_balancing/internal/database/foghorndb/dvr_chapter_finalize.sql.go
  api_balancing/internal/database/foghorndb/dvr_chapter_generation.sql.go
  api_balancing/internal/database/foghorndb/dvr_chapters.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/dvr_chapter_finalize.sql
  api_balancing/internal/database/queries/dvr_chapter_generation.sql
  api_balancing/internal/database/queries/dvr_chapters.sql
  api_balancing/internal/grpc/dvr_chapters.go
  api_balancing/internal/grpc/rpc_handlers_more_coverage_test.go
  docs/architecture/service-events.md
  npm_api/src/generated/proto/events/public/v1/media.ts
  pkg/proto/events/public/v1/media.pb.go
  pkg/proto/events/public/v1/media.proto
  sdk_python/src/livepeer_frameworks/_generated/proto/frameworks/events/public/v1/__init__.py
  website_docs/src/content/docs/builders/events.mdx
Due: go, frontend

fix(analytics): normalize and validate stream IDs
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/track_list_stream_id_test.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_stream_id_normalization_test.go
Due: go

fix(periscope): log server failures before gRPC sanitization
  api_analytics_query/internal/grpc/server.go
Due: go

fix(edge): recover jobs and routing across restarts
  api_balancing/internal/control/control_features_test.go
  api_balancing/internal/control/process_config_cache_realpg_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/update_warmup_fence_test.go
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/jobs/job_router.go
  api_balancing/internal/jobs/job_router_test.go
  api_balancing/internal/jobs/node_job_inventory.go
  api_balancing/internal/jobs/node_job_inventory_realpg_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/orchestrator/fence_recovery_test.go
  api_balancing/internal/orchestrator/reconciler.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/process_replace.go
  api_sidecar/internal/handlers/process_replace_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_boot_test.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go

fix(foghorn): preserve live listeners during rehydration
  api_balancing/internal/state/rehydrate_coverage_test.go
  api_balancing/internal/state/stream_state.go
Due: go

fix(helmsman): report Mist CPU in the correct units
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/poller_test.go
  api_sidecar/internal/handlers/stream_ws_test.go
Due: go

fix(media): canonicalize stream names across URL hops
  api_balancing/internal/control/relay_resolve.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
  api_balancing/internal/triggers/relay_url.go
  api_balancing/internal/triggers/source_connection.go
  api_sidecar/internal/leases/relay_url.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/peer_auth_test.go
  api_sidecar/internal/relay/server.go
  pkg/mist/ingest_endpoints.go
  pkg/mist/playback_endpoints.go
  pkg/mist/stream_name_path.go
  pkg/mist/stream_name_path_test.go
Due: go

fix(federation): share leader peer connectivity with replicas
  api_balancing/internal/federation/cache.go
  api_balancing/internal/federation/peer_connectivity_test.go
  api_balancing/internal/federation/peer_manager.go
Due: go
