Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

fix(playback): distinguish unreachable origins from denied access
  api_balancing/internal/control/cross_cluster_artifact.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/control/relay_resolve.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/handlers/handlers.go
  api_control/internal/grpc/artifact_cluster_context_test.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/relay/dtsh.go
Due: go

test(commodore): isolate account email kick in sqlmock fixtures
  api_control/internal/grpc/stream_key_handlers_test.go
Due: go

fix(bridge): surface playback policy preconditions as validation errors
  api_gateway/internal/resolvers/playback_access_control.go
  api_gateway/internal/resolvers/playback_access_control_handlers_test.go
  api_gateway/internal/resolvers/playback_access_control_helpers_test.go
Due: go

docs(demo): treat seeded chapter IDs as opaque
  pkg/database/sql/seeds/demo/postgres/foghorn.sql
Due: none

docs(operators): clarify release apply and migration workflow
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/postgres-migrations.mdx
  website_docs/src/content/docs/operators/release-lifecycle.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: none

fix ci
  Makefile
Due: none

fix(privateer): refuse unconfigured public DNS forwarding
  api_mesh/internal/appconfig/privateer.go
  api_mesh/internal/dns/server.go
  api_mesh/internal/dns/server_test.go
  cli/cmd/cluster_diagnose.go
  cli/cmd/privateer_dns_scope.go
  cli/cmd/privateer_dns_scope_test.go
  cli/internal/configschema/config-schema.json
  cli/pkg/system/dns.go
  cli/pkg/system/dns_test.go
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go

fix(yugabyte): retry idempotent relayout reads after transient aborts
  cli/pkg/provisioner/yugabyte_relayout.go
  cli/pkg/provisioner/yugabyte_relayout_retry.go
  cli/pkg/provisioner/yugabyte_relayout_retry_test.go
Due: go

fix(commodore): preserve nil Turnstile verifier when unconfigured
  api_control/internal/grpc/server.go
  api_control/internal/grpc/turnstile_verifier_test.go
Due: go

fix(bridge): return null metrics for unobserved streams
  api_gateway/graph/contract_nullability_test.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/resolvers/stream_metrics.go
  api_gateway/internal/resolvers/stream_metrics_test.go
Due: go

fix(foghorn): skip PeerChannel runners for self-served clusters
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_self_served_test.go
Due: go

fix(foghorn): authorize Livepeer jobs for gateway cells
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
Due: go

fix(livepeer): compare gateway profiles by transcode semantics
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
  pkg/mist/livepeer_profile_compare.go
  pkg/mist/livepeer_profile_compare_test.go
Due: go

fix(mist): deliver empty-track recording ends for validation
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go

fix(helmsman): recreate DVR push after confirmed writer end
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_writer_end_test.go
  api_sidecar/internal/handlers/handlers.go
Due: go

fix(helmsman): stop credential scrubber on supervisor signal
  api_sidecar/cmd/helmsman/main.go
Due: go

docs: document URL import and release operator inputs
  config/env/secrets.env.example
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/builders/sdks.mdx
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: none

fix(deploy): retry Compose pulls before applying stacks
  ansible/ansible.cfg
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/files/compose-pull.sh
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  cli/pkg/provisioner/compose_stack_pull_contract_test.go
Due: go

chore(dev): pin MistServer v0.3.10 release archives
  scripts/edge-dev-dist.sh
Due: none

chore(dev): allow a third concurrent remote heavy job
  scripts/remote-dev.sh
Due: none

docs(helmsman): clarify finalized chapter DTSH recovery
  api_sidecar/internal/handlers/processing_chapter.go
Due: go

test(stack): add production-shaped verify-stack harness
  .github/workflows/stack.yml
  .gitignore
  Makefile
  docker-compose.stack.yml
  docker-compose.yml
  pkg/database/sql/seeds/demo/postgres/purser.sql
  scripts/stack/common.sh
  scripts/stack/down.sh
  scripts/stack/endpoints.sh
  scripts/stack/lib.sh
  scripts/stack/livepeer-proxy.conf.template
  scripts/stack/logcheck.sh
  scripts/stack/mist.Dockerfile
  scripts/stack/runner.Dockerfile
  scripts/stack/s3-init.py
  scripts/stack/scenarios/01-placement.sh
  scripts/stack/scenarios/02-livepeer-live.sh
  scripts/stack/scenarios/03-livepeer-vod.sh
  scripts/stack/scenarios/04-recording.sh
  scripts/stack/scenarios/05-clip.sh
  scripts/stack/scenarios/06-cross-cell-vod.sh
  scripts/stack/scenarios/07-api-sdk.sh
  scripts/stack/scenarios/08-registration.sh
  scripts/stack/scenarios/09-node-lifecycle.sh
  scripts/stack/scenarios/10-placement-cpu-load.sh
  scripts/stack/scenarios/11-republish.sh
  scripts/stack/scenarios/12-producer-swap.sh
  scripts/stack/scenarios/list.sh
  scripts/stack/sdk/gosmoke/go.mod
  scripts/stack/sdk/gosmoke/go.sum
  scripts/stack/sdk/gosmoke/main.go
  scripts/stack/sdk/smoke.mjs
  scripts/stack/sdk/smoke.py
  scripts/stack/seed-purser.sql
  scripts/stack/seed.sql
  scripts/stack/up.sh
  scripts/stack/verify.sh
  scripts/stack/webhook-receiver.py
Due: go

fix(helmsman): recover initial DVR pushes and trust recorded spans
  api_sidecar/internal/control/dvr_initial_push_writer_end_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_coverage.go
  api_sidecar/internal/handlers/processing_coverage_test.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go

feat(playback): tell viewers a starting stream from an offline one
  api_balancing/internal/control/viewer_placement.go
  api_balancing/internal/federation/placement_live_paths.go
  api_balancing/internal/federation/placement_live_paths_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/viewer_placement_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/viewer_placement_http_test.go
  api_gateway/internal/errors/errors.go
  api_gateway/internal/errors/errors_test.go
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/test/__snapshots__/gateway-client-api-snapshot.test.ts.snap
  npm_player/packages/core/test/gateway-client.test.ts
  npm_player/packages/core/test/player-controller-placement.test.ts
  pkg/grpcutil/playback_state.go
  pkg/grpcutil/sanitize.go
Due: go, frontend

feat(federation): advertise a stream as soon as its origin is present
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_observers.go
  api_balancing/internal/control/stream_registry_redis_sync.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_self_served_test.go
  api_balancing/internal/federation/stream_presence_ads.go
  api_balancing/internal/federation/stream_presence_ads_test.go
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/stream_observers.go
  api_balancing/internal/state/stream_state.go
Due: go

fix(foghorn): name placement refusals and bill Livepeer process labels
  api_balancing/internal/balancer/placement_observation.go
  api_balancing/internal/balancer/placement_observation_test.go
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
  api_balancing/internal/handlers/livepeer_gateway_cell_test.go
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/jobs/chapter_finalize_processes_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/reconcilers_coverage_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  pkg/placement/types.go
Due: go

fix(control): keep peer addresses stable and in-progress assets processing
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/storage_artifacts.go
  api_control/internal/grpc/media_authority_delivery_yugabyte_test.go
  api_tenants/internal/database/quartermasterdb/cluster_membership.sql.go
  api_tenants/internal/database/quartermasterdb/peer_control_cell_realpg_test.go
  api_tenants/internal/database/queries/cluster_membership.sql
Due: go

fix(graphql): null an unresolved geoResolvedAt and name real token scopes
  api_analytics_query/internal/grpc/orchestrators.go
  api_analytics_query/internal/grpc/orchestrators_db_test.go
  api_gateway/graph/contract_nullability_test.go
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  api_gateway/internal/resolvers/developer.go
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  pkg/graphql/schema.graphql
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/api-schema/access.mdx
  website_docs/src/content/docs/builders/api-schema/clusters-types.mdx
Due: go, frontend

fix(purser): judge tier suspensions by fresh cluster officialness
  api_billing/internal/tieraccess/reconcile.go
  api_billing/internal/tieraccess/reconcile_test.go
Due: go

fix(federation): log placement failures and return actionable statuses
  api_balancing/internal/federation/placement_transport.go
  api_balancing/internal/federation/server_placement.go
  api_balancing/internal/federation/server_placement_error_test.go
Due: go

fix(foghorn): serve same-cell artifacts from any replica
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_served_origin_test.go
Due: go

fix(foghorn): requeue jobs lost by restarted sidecar
  Makefile
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/jobs/node_job_inventory.go
  api_balancing/internal/jobs/node_job_inventory_realpg_test.go
Due: go

fix(foghorn): requeue running jobs a restarted sidecar lost
  Makefile
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/jobs/node_job_inventory.go
  api_balancing/internal/jobs/node_job_inventory_realpg_test.go
Due: go

test(stack): restart Helmsman through s6 and wait for it
  scripts/stack/scenarios/09-node-lifecycle.sh
Due: none

test(stack): restart helmsman through s6
  scripts/stack/scenarios/09-node-lifecycle.sh
Due: none

fix(helmsman): restart mist when reload does not serve
  api_sidecar/internal/updater/component.go
  api_sidecar/internal/updater/component_test.go
  api_sidecar/internal/updater/procctl.go
  api_sidecar/internal/updater/procctl_launchd.go
  api_sidecar/internal/updater/procctl_mist_api.go
  api_sidecar/internal/updater/procctl_s6.go
  api_sidecar/internal/updater/procctl_s6_signal_linux.go
  api_sidecar/internal/updater/procctl_s6_signal_linux_test.go
  api_sidecar/internal/updater/procctl_s6_signal_other.go
  api_sidecar/internal/updater/procctl_systemd.go
  api_sidecar/internal/updater/procctl_test.go
Due: go

fix(helmsman): restart Mist when a rolling reload does not serve
  api_sidecar/internal/updater/component.go
  api_sidecar/internal/updater/component_test.go
  api_sidecar/internal/updater/procctl.go
  api_sidecar/internal/updater/procctl_launchd.go
  api_sidecar/internal/updater/procctl_mist_api.go
  api_sidecar/internal/updater/procctl_s6.go
  api_sidecar/internal/updater/procctl_s6_signal_linux.go
  api_sidecar/internal/updater/procctl_s6_signal_linux_test.go
  api_sidecar/internal/updater/procctl_s6_signal_other.go
  api_sidecar/internal/updater/procctl_systemd.go
  api_sidecar/internal/updater/procctl_test.go
Due: go

fix(federation): log refused placement requests
  api_balancing/internal/federation/server_placement.go
Due: go

fix(federation): log every refused placement request
  api_balancing/internal/federation/server_placement.go
Due: go

fix(helmsman): render a caddy-fmt clean Caddyfile
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
Due: go

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
