Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

Freeze cluster provision release version
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Keep platform release out of infra package versions
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Keep platform release out of observability versions
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Fix edge health upsert parameter types
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
Due: go

Expose subscribed cluster KPIs in network status
  api_gateway/internal/resolvers/analytics_access_scope_test.go
  api_gateway/internal/resolvers/analytics_connections.go
  docs/architecture/analytics-access-scopes.md
  pkg/graphql/operations/queries/GetNetworkStatus.gql
  pkg/graphql/operations/queries/GetOrchestratorInstances.gql
  pkg/graphql/operations/queries/GetOrchestratorVantages.gql
  pkg/graphql/schema.graphql
  website_application/src/routes/analytics/audience/+page.svelte
  website_docs/src/content/docs/builders/analytics-api.mdx
Due: go, frontend

Fix cluster owner infrastructure gates
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/infrastructure_access.go
  website_application/src/routes/infrastructure/+page.svelte
Due: go, frontend

Cast private cluster insert placeholders
  api_tenants/internal/grpc/server.go
Due: go

Fix DVR start against warm live sources
  api_balancing/internal/handlers/handlers.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
Due: go

Fix federation topology and player poster loading
  api_gateway/internal/resolvers/analytics_access_scope_test.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/orchestrators.go
  api_gateway/internal/resolvers/public_topology_context.go
  api_gateway/internal/resolvers/public_topology_context_test.go
  api_tenants/internal/grpc/list_clusters_test.go
  api_tenants/internal/grpc/server.go
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/test/player-controller-loading-poster.test.ts
Due: go, frontend

Harden edge lifecycle retries
  api_balancing/internal/state/stream_state.go
  api_billing/internal/grpc/billing_status_test.go
  api_billing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_retry_test.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
  api_tenants/internal/grpc/retry_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_releases.go
  cli/cmd/cluster_releases_test.go
Due: go

Harden schema migration catalog handling
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/schema.yml
  cli/pkg/provisioner/architecture_guard_test.go
  pkg/database/retry.go
  pkg/database/retry_test.go
Due: go

Harden DASH player fallback errors
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
Due: frontend

Fix duplicate Svelte keys in analytics views
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/routes/analytics/audience/+page.svelte
Due: frontend

Fix processing livepeer auth and upload dtsh relay
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/relay_test.go
  api_sidecar/internal/relay/server.go
Due: go

Fallback on Livepeer readiness failures
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
Due: go

Add mist-native managed streams
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/managed_streams.go
  api_balancing/internal/control/managed_streams_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/resolver.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
  api_balancing/internal/grpc/relay_server_test.go
  api_balancing/internal/triggers/managed_stream_materializer.go
  api_balancing/internal/triggers/managed_stream_materializer_test.go
  api_control/cmd/commodore/bootstrap.go
  api_control/internal/bootstrap/check.go
  api_control/internal/bootstrap/desired_state.go
  api_control/internal/bootstrap/mist_native_streams.go
  api_control/internal/bootstrap/mist_native_streams_test.go
  api_control/internal/grpc/resolve_active_cluster_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/managed_streams.go
  api_sidecar/internal/control/managed_streams_test.go
  cli/pkg/bootstrap/mist_native_render_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/types.go
  docs/architecture/managed-streams-ha.md
  docs/architecture/pull-streams.md
  pkg/clients/commodore/grpc_client.go
  pkg/database/sql/migrations/commodore/v0.2.68/expand/001_streams_mist_native.sql
  pkg/database/sql/migrations/commodore/v0.2.68/expand/002_stream_mist_sources.sql
  pkg/database/sql/migrations/commodore/v0.2.68/expand/003_stream_processing_config.sql
  pkg/database/sql/migrations/commodore/v0.2.68/postdeploy/001_streams_mist_native.sql
  pkg/database/sql/schema/commodore.sql
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/foghorn_relay.pb.go
  pkg/proto/foghorn_relay.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go

Add demo asset provisioning role
  ansible/collections/ansible_collections/frameworks/infra/galaxy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/demo_assets/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/demo_assets/meta/argument_specs.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/demo_assets/tasks/main.yml
  ansible/playbooks/demo_assets.yml
  ansible/requirements.yml
Due: none

Document scheduled VOD roadmap
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/builders/analytics-api.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: none

Add dev managed stream fixture
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/validate.yml
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

Add cluster finalize command
  cli/cmd/cluster.go
  cli/cmd/cluster_finalize.go
  cli/cmd/cluster_finalize_test.go
  cli/cmd/cluster_provision.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go

Fix DVR push matching after Mist target expansion
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
Due: go

Fix edge view CORS header ownership
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
Due: go

Recover Periscope stream IDs from trigger payloads
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
Due: go

Harden Foghorn Quartermaster reporting
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/repos_node_test.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/redis_store_test.go
Due: go

Fix StreamCrafter compositor source toggles
  npm_studio/packages/core/src/core/SceneManager.ts
  npm_studio/packages/core/test/scene-manager.test.ts
  npm_studio/packages/react/src/components/StreamCrafter.tsx
  npm_studio/packages/react/src/hooks/useCompositor.ts
  npm_studio/packages/svelte/src/StreamCrafter.svelte
  npm_studio/packages/svelte/src/stores/compositor.ts
Due: frontend

Expose public infrastructure topology
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/middleware/graphql_allowlist.go
  api_gateway/internal/middleware/helpers_test.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/resolvers/analytics_access_scope_test.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/infrastructure_access.go
  api_gateway/internal/resolvers/orchestrators.go
  api_tenants/internal/bootstrap/clusters.go
  api_tenants/internal/bootstrap/desired_state.go
  api_tenants/internal/grpc/list_clusters_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/list_nodes_test.go
  api_tenants/internal/grpc/server.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/types.go
  cli/pkg/inventory/types.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/database/sql/migrations/quartermaster/v0.2.69/expand/001_cluster_public_topology.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/database/sql/seeds/demo/demo_data.sql
  pkg/graphql/operations/queries/GetNetworkStatus.gql
  pkg/graphql/schema.graphql
  pkg/models/infrastructure.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
  website_application/src/routes/infrastructure/+page.svelte
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/infrastructure/network/+page.svelte
  website_application/src/routes/nodes/+page.svelte
  website_marketing/src/components/marketing/network/useNetworkStatus.js
  website_marketing/src/components/pages/StatusPage.jsx
Due: go, frontend

Stabilize stream health list rendering
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: frontend

Fix Mist demo bootstrap paths
  ansible/collections/ansible_collections/frameworks/infra/roles/demo_assets/tasks/main.yml
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_protocols_test.go
  api_sidecar/internal/config/manager_streams_test.go
Due: go

Skip mesh tasks in upgrade all
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
Due: go

Set edge view CORS at route level
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
Due: go

Harden mist-native playback and telemetry DNS
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/handlers/billing_test.go
  api_balancing/internal/control/dtsc_uri_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_notify_origin_pull_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/triggers/processor.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
Due: go

Fix player playback option parity
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/create-player.test.ts
  npm_player/packages/core/test/frameworks-player.test.ts
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/test/usePlayerController.test.tsx
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/test/playerController.test.ts
  npm_player/packages/wc/src/components/fw-player.ts
  npm_player/packages/wc/src/controllers/player-controller-host.ts
  npm_player/packages/wc/test/player-controller-host.parity.test.ts
  website_marketing/src/components/pages/LandingPage.jsx
Due: frontend

Harden Postgres transaction retries
  api_balancing/internal/control/dvr_chapters_repo.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_billing/internal/grpc/billing_event_outbox.go
  api_control/internal/grpc/invalidation_outbox.go
  api_control/internal/grpc/service_event_outbox.go
  api_tenants/internal/grpc/navigator_outbox.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/service_event_outbox.go
  cli/pkg/provisioner/sql_executor.go
  pkg/database/retry.go
  pkg/database/retry_test.go
  pkg/datamigrate/handlers.go
  pkg/datamigrate/state.go
Due: go

correct player core version numbers
  npm_player/packages/core/package.json
Due: none

Fix managed stream HA retract ownership
  api_balancing/internal/control/managed_streams.go
  api_balancing/internal/control/managed_streams_test.go
Due: go

Forward player playback mode in React wrapper
  npm_player/README.md
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/react/src/components/DevModePanel.tsx
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/test/Player.test.tsx
  npm_player/packages/svelte/src/DevModePanel.svelte
  npm_player/packages/wc/src/components/fw-dev-mode-panel.ts
Due: frontend

Fix telemetry DNS service assignments
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_finalize.go
  cli/cmd/cluster_finalize_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Scope service assignment reconciliation by batch
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

Detect compose stacks before rollback
  cli/pkg/provisioner/chatwoot_role.go
  cli/pkg/provisioner/listmonk_role.go
Due: go
