Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

fix(media): recover authority placement after rollout
  api_balancing/internal/grpc/media_authority.go
  api_balancing/internal/grpc/media_authority_test.go
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_capability.go
  api_control/internal/grpc/media_authority_capability_realpg_test.go
  api_control/internal/grpc/media_authority_deadline_delivery.go
  api_control/internal/grpc/media_authority_deadline_delivery_realpg_test.go
  api_control/internal/grpc/media_authority_tenant_deadline_realpg_test.go
  api_control/internal/grpc/media_authority_tenant_placement.go
  api_control/internal/grpc/media_authority_tenant_placement_realpg_test.go
  api_control/internal/grpc/media_authority_tenant_placement_test.go
  api_control/internal/grpc/media_authority_test.go
  pkg/clients/foghorn/grpc_client.go
  pkg/proto/foghorn.proto
  pkg/proto/foghorn/foghorn.pb.go
  pkg/proto/foghorn/foghorn_grpc.pb.go
Due: go

feat(streams): expose managed source metadata
  api_balancing/internal/control/ingest.go
  api_balancing/internal/control/ingest_test.go
  api_balancing/internal/triggers/ingest_rejection_test.go
  api_balancing/internal/triggers/local_ingest_authority.go
  api_balancing/internal/triggers/local_media_authority_test.go
  api_balancing/internal/triggers/processor.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/routing_reads.sql.go
  api_control/internal/database/commodoredb/stream_config_rows.go
  api_control/internal/database/commodoredb/stream_lifecycle.sql.go
  api_control/internal/database/commodoredb/stream_reads.sql.go
  api_control/internal/database/queries/routing_reads.sql
  api_control/internal/database/queries/stream_lifecycle.sql
  api_control/internal/database/queries/stream_reads.sql
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_control/internal/grpc/stream_crud_handlers_test.go
  api_control/internal/grpc/stream_key_handlers_test.go
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
Due: go

test(streams): cover non-push ingest rejection
  api_balancing/internal/triggers/local_media_authority_test.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server_validation_test.go
Due: go

feat(api): expose managed stream sources safely
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/stream_source_mode_test.go
  api_gateway/internal/mcp/prompts/prompts.go
  api_gateway/internal/mcp/resources/streams.go
  api_gateway/internal/mcp/resources/streams_source_mode_test.go
  api_gateway/internal/mcp/tools/streams.go
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/ingest_mode_test.go
  api_gateway/internal/resolvers/streams.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/fragments/StreamCoreFields.gql
  pkg/graphql/operations/queries/GetStreamPlacementContext.gql
  pkg/graphql/schema.graphql
Due: go

feat(web): distinguish managed stream sources
  website_application/package.json
  website_application/src/lib/components/dashboard/PrimaryStreamCard.svelte
  website_application/src/lib/components/stream-details/CreateStreamModal.svelte
  website_application/src/lib/components/stream-details/OverviewTabPanel.svelte
  website_application/src/lib/components/stream-details/PullSourceClusterPicker.svelte
  website_application/src/lib/components/stream-details/StreamEditModal.svelte
  website_application/src/lib/components/stream-details/StreamSetupPanel.svelte
  website_application/src/lib/components/stream-details/StreamSourceCard.svelte
  website_application/src/lib/components/stream-details/index.ts
  website_application/src/lib/utils/pull-source.test.ts
  website_application/src/lib/utils/pull-source.ts
  website_application/src/routes/go-live/+page.svelte
  website_application/src/routes/streams/+page.svelte
  website_application/src/routes/streams/[id]/+page.svelte
  website_application/test/components/environment.ts
  website_application/test/components/stream-source-modes.test.ts
  website_application/vitest.components.config.ts
Due: frontend

feat(web): redesign media placement editor
  website_application/src/lib/components/placement/MediaPlacementEditor.svelte
  website_application/src/lib/components/placement/PlacementRollout.svelte
  website_application/src/lib/components/placement/PlacementRulesEditor.svelte
  website_application/src/lib/components/placement/PlacementSummary.svelte
  website_application/src/lib/placement/model.test.ts
  website_application/src/lib/placement/model.ts
  website_application/src/routes/account/placement/+page.svelte
  website_application/src/routes/streams/[id]/placement/+page.svelte
  website_application/test/browser/placement/README.md
  website_application/test/browser/placement/Showcase.svelte
  website_application/test/browser/placement/api.ts
  website_application/test/browser/placement/options.ts
  website_application/test/components/placement.test.ts
  website_application/vite.placement-fixture.config.ts
Due: frontend

fix(web): enforce standalone MapLibre workers
  packages/map-core/index.ts
  website_application/scripts/check-build-output.mjs
  website_marketing/scripts/check-prerender-output.mjs
Due: frontend

docs(streams): document managed source behavior
  docs/architecture/managed-streams-ha.md
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/blog/your-stream-your-edge.mdx
  website_docs/src/content/docs/builders/media-placement.mdx
  website_docs/src/content/docs/builders/streams.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
Due: none

chore(release): prepare v0.3.2
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
Due: go

test(commodore): update generated query census
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
Due: go

fix(cli): harden cluster state reconciliation
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  cli/cmd/cluster.go
  cli/cmd/cluster_apply.go
  cli/cmd/cluster_capability_doctor.go
  cli/cmd/cluster_diff.go
  cli/cmd/cluster_diff_pure_test.go
  cli/cmd/cluster_doctor_test.go
  cli/cmd/cluster_release_placement.go
  cli/cmd/cluster_release_test.go
  cli/cmd/cluster_releases.go
  cli/cmd/coverage_helpers_test.go
  cli/internal/readiness/control_plane.go
  cli/internal/readiness/readiness_test.go
  cli/pkg/detect/detector.go
  cli/pkg/detect/detector_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go

fix(media): preserve placement availability
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/balancer/placement_router_test.go
  api_balancing/internal/database/foghorndb/managed_stream_placement_outbox.sql.go
  api_balancing/internal/database/queries/managed_stream_placement_outbox.sql
  api_balancing/internal/federation/placement_discovery.go
  api_balancing/internal/federation/placement_discovery_test.go
  api_balancing/internal/federation/placement_observation_cache.go
  api_balancing/internal/federation/placement_observation_cache_test.go
  api_balancing/internal/federation/placement_receipts.go
  api_balancing/internal/federation/placement_receipts_test.go
  api_balancing/internal/managedplacementoutbox/outbox_test.go
  cli/internal/releases/catalog.yaml
  pkg/database/sql/migrations/foghorn/v0.3.3/contract/001_drop_managed_stream_placement_outbox.sql
  pkg/database/sql/migrations/foghorn/v0.3.3/expand/001_managed_stream_active_cluster_outbox.sql
  pkg/database/sql/migrations/foghorn/v0.3.3/postdeploy/001_copy_managed_stream_active_cluster_outbox.sql
  pkg/database/sql/schema/foghorn.sql
Due: go

fix(player): start Mist WebRTC without a hold
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/test/mist-webrtc-startup.test.ts
  npm_player/packages/core/test/mist-webrtc-track-selection.test.ts
  npm_player/packages/core/test/webrtc-scoring.test.ts
Due: frontend

docs(release): prepare v0.3.3
  docs/releases/v0.3.3.md
Due: none

fix(yugabyte): fail closed on partial master state
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/vars/main.yml
  cli/pkg/provisioner/yugabyte_recovery_contract_test.go
Due: go

feat(cli): verify Yugabyte master consensus
  cli/cmd/cluster.go
  cli/cmd/cluster_logs.go
  cli/cmd/cluster_logs_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/yugabyte_consensus.go
  cli/cmd/yugabyte_consensus_test.go
Due: go

docs(release): keep release notes on GitHub
  docs/releases/v0.3.3.md
  docs/standards/release-notes.md
Due: none

fix(release): hash webapp workspace dependencies
  .github/release-components.json
  docs/architecture/build-and-packaging.md
  tools/release-plan/plan_test.go
  tools/release-plan/types.go
  tools/release-plan/webapp.go
  tools/release-plan/webapp_test.go
Due: go

chore(release): prepare v0.3.4
  cli/internal/releases/catalog.yaml
Due: none

fix(release): validate migrations from shipped tag
  scripts/check-migration-version.sh
  scripts/check-migration-version.test.sh
Due: none

fix(media): separate buffer playability from health
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_live.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/placement_clock_ordering_test.go
  api_balancing/internal/federation/placement_configured_paths.go
  api_balancing/internal/federation/placement_live_paths.go
  api_balancing/internal/federation/placement_live_paths_test.go
  api_balancing/internal/federation/placement_media_paths_test.go
  api_balancing/internal/federation/placement_push_runtime_test.go
  api_balancing/internal/federation/placement_push_source_preview_test.go
  api_balancing/internal/federation/placement_registry_namespace_test.go
  api_balancing/internal/federation/placement_source_generation_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_peerchannel_handlers_test.go
  api_balancing/internal/federation/server_query_source_binding_test.go
  api_balancing/internal/federation/server_stream_ad_ram_test.go
  api_balancing/internal/federation/stream_advertisement.go
  api_balancing/internal/federation/stream_advertisement_test.go
  api_balancing/internal/grpc/media_placement_capacity_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/state/stream_observations.go
  api_balancing/internal/state/stream_observations_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_coverage_test.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/trigger_handlers_coverage_test.go
  api_balancing/internal/triggers/viewer_placement_test.go
  api_sidecar/internal/handlers/handlers_helpers_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  docs/architecture/stream-replication-topology.md
  docs/architecture/viewer-routing.md
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  website_docs/src/content/docs/operators/multi-cluster.mdx
Due: go

fix(test): keep two-cell edge proxies attached
  scripts/verify-two-cell-media.sh
Due: none

docs(database): consolidate executable contracts
  docs/rfcs/database-layer-strategy.md
  docs/standards/schema-migrations.md
Due: none

docs(media): retire completed relay RFCs
  docs/architecture/clips-dvr.md
  docs/architecture/module-map.md
  docs/architecture/processing-pipeline.md
  docs/rfcs/live-dvr-processing-plan.md
  docs/rfcs/vod-s3-optimization.md
Due: none

docs(media): refresh processing and storage RFCs
  docs/rfcs/cross-cluster-durable-replication-v1.md
  docs/rfcs/large-file-refactor.md
  docs/rfcs/processing-orchestration.md
  docs/rfcs/vod-upload-validation.md
Due: none

docs(security): consolidate transport trust guidance
  docs/architecture/edge-auth.md
  docs/architecture/tls.md
  docs/rfcs/grpc-tls-mesh.md
  docs/rfcs/internal-ca-intermediate-rotation.md
  docs/rfcs/network-security-capabilities.md
  docs/rfcs/token-authority.md
Due: none

docs(network): refine federation and peering roadmap
  docs/rfcs/dns-anycast.md
  docs/rfcs/federation-plane-pluggability.md
  docs/rfcs/nat-traversal.md
  docs/rfcs/network-egress-peering.md
  docs/rfcs/node-drain.md
  docs/rfcs/stream-replication.md
Due: none

docs(capacity): define reserve planning contract
  docs/rfcs/capacity-planning.md
Due: none

docs(settlement): align attribution RFCs with implementation
  docs/rfcs/federated-settlement-attribution.md
  docs/rfcs/referral-attribution-network-usage.md
Due: none

docs(features): refresh capability registry
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
Due: none

fix(player): keep media first in WebRTC offers
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/test/mist-webrtc-startup.test.ts
Due: frontend

chore(player): bump packages to 0.5.6
  npm_player/package.json
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
Due: none

fix(kafka): release blocked consumer rebalances
  pkg/kafka/consumer.go
  pkg/kafka/consumer_test.go
Due: go

fix(cli): check every service replica in doctor
  cli/cmd/cluster.go
  cli/cmd/cluster_doctor_test.go
Due: go

fix(cli): match Ansible env fingerprint ordering
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go

fix(release): declare v0.3.5
  cli/internal/releases/catalog.yaml
Due: none

fix(cli): scope derived telemetry environment
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go

fix(release): preflight platform tags
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  cli/internal/releases/catalog.yaml
  docs/standards/release-notes.md
  scripts/release-preflight.sh
Due: none

fix(federation): authorize configured source relays
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_accepted_pull.go
  api_balancing/internal/control/stream_registry_outbound.go
  api_balancing/internal/control/stream_registry_replication.go
  api_balancing/internal/control/stream_registry_replication_test.go
  api_balancing/internal/federation/origin_pull.go
  api_balancing/internal/federation/placement_bootstrap.go
  api_balancing/internal/federation/placement_configured_source_test.go
  api_balancing/internal/federation/placement_media_serve_runtime.go
  api_balancing/internal/federation/placement_media_source.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_notify_origin_pull_test.go
  api_balancing/internal/triggers/ingest_placement_test.go
  api_balancing/internal/triggers/prepared_source.go
  api_balancing/internal/triggers/prepared_source_test.go
  api_balancing/internal/triggers/viewer_placement.go
  docs/architecture/managed-streams-ha.md
  docs/architecture/media-placement-policy.md
  website_docs/src/content/docs/builders/media-placement.mdx
  website_docs/src/content/docs/operators/media-placement.mdx
Due: go

test(federation): prove policy-routed ingest media
  docker-compose.yml
  scripts/verify-two-cell-media.sh
Due: none
