Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

fix(mistserver): retire legacy systemd unit on edges
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/molecule/default/prepare.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/service.yml
Due: none

fix(yugabyte): provision private relayout paths for SSH operator
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  cli/pkg/provisioner/yugabyte_role.go
  cli/pkg/provisioner/yugabyte_role_test.go
Due: go

docs: link GraphQL reference and SDK guide in llms index
  docs/skills/llms.txt
Due: none

docs(sdk): align public audit and reference guidance
  docs/standards/graphql-deprecation.md
  scripts/sdkcontract/audit.go
  website_docs/public/llms-full.txt
Due: go

docs(agents): forbid agents from pushing or tagging
  AGENTS.md
  docs/standards/release-notes.md
Due: none

feat(graphql): mark internal and experimental schema fields
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  pkg/graphql/schema.graphql
Due: go

fix(tray): pin collation for Swift GraphQL generation
  scripts/generate-swift-gql.sh
Due: none

docs(sdk): document the public schema contract and restructure the reference by domain
  docs/platform-features.yaml
  docs/standards/graphql-deprecation.md
  npm_api/README.md
  sdk_go/README.md
  sdk_python/README.md
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/api-schema/access.mdx
  website_docs/src/content/docs/builders/api-schema/account.mdx
  website_docs/src/content/docs/builders/api-schema/analytics-types-a-r.mdx
  website_docs/src/content/docs/builders/api-schema/analytics-types-s-v.mdx
  website_docs/src/content/docs/builders/api-schema/analytics.mdx
  website_docs/src/content/docs/builders/api-schema/billing-types.mdx
  website_docs/src/content/docs/builders/api-schema/billing.mdx
  website_docs/src/content/docs/builders/api-schema/clusters-types.mdx
  website_docs/src/content/docs/builders/api-schema/clusters.mdx
  website_docs/src/content/docs/builders/api-schema/incidents.mdx
  website_docs/src/content/docs/builders/api-schema/index.mdx
  website_docs/src/content/docs/builders/api-schema/live.mdx
  website_docs/src/content/docs/builders/api-schema/media-types.mdx
  website_docs/src/content/docs/builders/api-schema/media.mdx
  website_docs/src/content/docs/builders/api-schema/mutations.mdx
  website_docs/src/content/docs/builders/api-schema/platform.mdx
  website_docs/src/content/docs/builders/api-schema/queries.mdx
  website_docs/src/content/docs/builders/api-schema/shared.mdx
  website_docs/src/content/docs/builders/api-schema/skipper.mdx
  website_docs/src/content/docs/builders/api-schema/streams.mdx
  website_docs/src/content/docs/builders/api-schema/subscriptions.mdx
  website_docs/src/content/docs/builders/api-schema/support.mdx
  website_docs/src/content/docs/builders/api-schema/types-a-f.mdx
  website_docs/src/content/docs/builders/api-schema/types-g-l.mdx
  website_docs/src/content/docs/builders/api-schema/types-m-r.mdx
  website_docs/src/content/docs/builders/api-schema/types-s-z.mdx
  website_docs/src/content/docs/builders/api-schema/webhooks.mdx
  website_docs/src/content/docs/builders/sdks.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
Due: none

chore(sdk): start the 0.3 release line
  npm_api/CHANGELOG.md
  npm_api/package.json
  npm_api/src/generated/manifest.ts
  npm_api/test/__snapshots__/publicApi.test.ts.snap
  npm_player/packages/core/CHANGELOG.md
  npm_player/packages/core/package.json
  npm_player/packages/react/CHANGELOG.md
  npm_player/packages/react/package.json
  npm_player/packages/svelte/CHANGELOG.md
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/CHANGELOG.md
  npm_player/packages/wc/package.json
  npm_studio/packages/core/CHANGELOG.md
  npm_studio/packages/core/package.json
  npm_studio/packages/react/CHANGELOG.md
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/CHANGELOG.md
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/CHANGELOG.md
  npm_studio/packages/wc/package.json
  pkg/graphql/public/majors/v0.json
  pkg/graphql/public/support.yaml
  sdk_go/manifest_gen.go
  sdk_python/src/livepeer_frameworks/_generated/manifest.py
Due: go, frontend

docs: regenerate llms-full index
  website_docs/public/llms-full.txt
Due: none

fix(sdk): strip trailing whitespace from generated output
  npm_api/codegen/select.mjs
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  scripts/sdkcontract/visibility.go
Due: go, frontend

fix(bridge): align complexity limit default and score every SDK operation
  .github/workflows/ci.yml
  api_gateway/graph/complexity.go
  api_gateway/graph/public_operations_complexity_test.go
  api_gateway/internal/appconfig/bridge.go
  cli/internal/configschema/config-schema.json
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go

fix(sdk): reject root __scalar and project select result types
  npm_api/README.md
  npm_api/codegen/select.mjs
  npm_api/src/generated/select/selectionTypes.ts
  npm_api/src/select-types.ts
  npm_api/src/select.ts
  npm_api/test/select.test.ts
Due: frontend

fix(sdkcontract): exempt experimental operations and compare input defaults
  docs/standards/graphql-deprecation.md
  npm_api/codegen/descriptions.mjs
  npm_api/test/generatedDocs.test.ts
  pkg/graphql/public/generated/targets.json
  scripts/sdkcontract/apicompat_test.go
  scripts/sdkcontract/compat.go
  scripts/sdkcontract/defaultops.go
  scripts/sdkcontract/lint.go
  scripts/sdkcontract/main.go
  scripts/sdkcontract/ops.go
  scripts/sdkcontract/reference.go
  scripts/sdkcontract/schemadiff.go
  scripts/sdkcontract/schemadiff_test.go
  scripts/sdkcontract/support.go
  sdk_go/tools/genclient/main.go
  sdk_go/tools/genclient/main_test.go
  sdk_go/tools/genclient/subscriptions.go
  sdk_go/tools/genclient/subscriptions_test.go
  sdk_python/codegen/forward_compat.py
  sdk_python/tests/test_codegen_docstrings.py
  website_docs/src/content/docs/builders/api-schema/index.mdx
Due: go, frontend

fix(sdkcontract): treat a new default on an optional input as breaking
  docs/standards/graphql-deprecation.md
  scripts/sdkcontract/schemadiff.go
  scripts/sdkcontract/schemadiff_test.go
Due: go

chore(sdk): retire the 0.1 and 0.2 lines
  pkg/graphql/public/support.yaml
  website_docs/src/content/docs/builders/sdks.mdx
Due: none

feat(marketing): show backend SDK snippets in the code preview
  website_marketing/src/components/pages/SdkCodePreview.jsx
Due: none

fix(sdk-python): generate the public graphql export list
  Makefile
  sdk_python/codegen/public_exports.py
  sdk_python/src/livepeer_frameworks/_generated/public_exports.py
  sdk_python/src/livepeer_frameworks/graphql.py
  sdk_python/tests/test_public_api.py
Due: none

feat(webapp): generate SDK snippets in the playground and link the SDKs
  website_application/src/lib/components/GraphQLExplorer.svelte
  website_application/src/lib/components/explorer/CodeExamplesPanel.svelte
  website_application/src/lib/graphql/services/explorer.ts
  website_application/src/lib/graphql/services/sdkSnippets.test.ts
  website_application/src/lib/graphql/services/sdkSnippets.ts
  website_application/src/routes/developer/api-keys/+page.svelte
  website_application/src/routes/developer/playground/+page.svelte
  website_application/src/routes/developer/signing-keys/+page.svelte
  website_application/src/routes/developer/webhooks/+page.svelte
Due: frontend

feat(billing): rate catalog storage in explicit GiB-months
  api_billing/internal/bootstrap/catalog/billing_tiers.yaml
  api_billing/internal/bootstrap/reconciler_test.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/rating/rate.go
  api_billing/internal/rating/rate_more_test.go
  api_billing/internal/rating/rate_test.go
  docs/architecture/analytics-pipeline.md
  docs/architecture/meter-contracts.md
  pkg/billing/units.go
  pkg/database/sql/seeds/demo/postgres/purser.sql
Due: go

feat(api): expose storage costs per GiB-month
  api_billing/internal/database/purserdb/billing_status.sql.go
  api_billing/internal/database/queries/billing_status.sql
  api_billing/internal/grpc/prepaid_balance_realpg_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_readpaths_more_test.go
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/mcp/resources/billing.go
  api_gateway/internal/mcp/resources/pricing_catalog_helpers_test.go
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/billing/storagecost/storagecost.go
  pkg/billing/storagecost/storagecost_test.go
  pkg/graphql/public/schema.public.graphql
  pkg/graphql/schema.graphql
  pkg/metabase/specs/periscope_cards.yaml
  pkg/proto/purser.proto
  pkg/proto/purser/purser.pb.go
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/builders/api-schema/media-types.mdx
  website_docs/src/content/docs/builders/api-schema/shared.mdx
  website_docs/src/content/docs/builders/billing.mdx
Due: go, frontend

build(pricing): generate marketing prices from Purser catalog
  .github/workflows/ci.yml
  Makefile
  scripts/pricingcatalog/go.mod
  scripts/pricingcatalog/go.sum
  scripts/pricingcatalog/main.go
  scripts/pricingcatalog/main_test.go
  website_marketing/src/data/pricing-catalog.json
Due: go

feat(marketing): add catalog-backed pricing calculator
  website_marketing/package.json
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/components/shared/SavingsCalculator.jsx
  website_marketing/src/lib/pricingEstimate.js
  website_marketing/src/lib/pricingEstimate.test.js
  website_marketing/src/styles/marketing/content.css
Due: none

chore(release): stop re-releasing dependents on SDK patch releases
  .changeset/config.json
Due: none

fix(sdk): gate playback and ingest by required operations
  npm_api/src/errors.ts
  npm_api/src/gatewayProbe.ts
  npm_api/test/__snapshots__/publicApi.test.ts.snap
  npm_api/test/gatewayProbe.test.ts
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/test/gateway-operation-gate.test.ts
  npm_player/packages/core/test/server-gate-conformance.test.ts
  npm_studio/packages/core/src/core/IngestClient.ts
  npm_studio/packages/core/test/ingest-operation-gate.test.ts
  npm_studio/packages/core/test/ingest-server-gate.test.ts
  sdk_go/errors.go
  sdk_python/src/livepeer_frameworks/errors.py
Due: go, frontend

feat(events): publish recording lifecycle and stream playback IDs
  api_analytics_ingest/internal/handlers/domain_events.go
  api_balancing/internal/artifactoutbox/facts.go
  api_balancing/internal/artifactoutbox/outbox.go
  api_balancing/internal/control/domain_events_realpg_test.go
  api_balancing/internal/control/dvr_finalize.go
  api_balancing/internal/control/dvr_finalize_test.go
  api_balancing/internal/control/ingest_session_reaper.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/repos_more_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/stream_lifecycle_events.go
  api_balancing/internal/database/foghorndb/dvr_finalize.sql.go
  api_balancing/internal/database/queries/dvr_finalize.sql
  api_balancing/internal/domainevents/domainevents.go
  api_balancing/internal/triggers/processor.go
  docs/architecture/service-events.md
  npm_api/src/generated/events.ts
  npm_api/src/generated/proto/events/public/v1/media.ts
  npm_api/src/generated/proto/events/public/v1/streams.ts
  pkg/events/registry_test.go
  pkg/proto/events/public/v1/media.pb.go
  pkg/proto/events/public/v1/media.proto
  pkg/proto/events/public/v1/streams.pb.go
  pkg/proto/events/public/v1/streams.proto
  sdk_conformance/webhooks.json
  sdk_go/events_gen.go
  sdk_python/src/livepeer_frameworks/_generated/events.py
  sdk_python/src/livepeer_frameworks/_generated/proto/frameworks/events/public/v1/__init__.py
  website_application/src/lib/library/artifact-events.ts
Due: go, frontend

feat(api): expose media import and playback policy controls
  Makefile
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/prompts.go
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  api_gateway/graph/routing_identity_test.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/viewer_protocol_test.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/clients/clientstest/clientstest_batch3_ext.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/tools/playback_access_dryrun.go
  api_gateway/internal/mcp/tools/playback_auth.go
  api_gateway/internal/mcp/tools/policy.go
  api_gateway/internal/mcp/tools/vod.go
  api_gateway/internal/resolvers/owner_audited_mutations_test.go
  api_gateway/internal/resolvers/playback_access_control.go
  api_gateway/internal/resolvers/playback_access_dryrun.go
  api_gateway/internal/resolvers/resolver.go
  api_gateway/internal/resolvers/viewer_protocol_test.go
  api_gateway/internal/resolvers/vod.go
  pkg/graphql/operations/fragments/PlaybackPolicyFields.gql
  pkg/graphql/operations/mutations/ImportVodAsset.gql
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/generated/fragments.graphql
  pkg/graphql/public/generated/targets.json
  pkg/graphql/public/majors/v0.json
  pkg/graphql/public/mutations/media.graphql
  pkg/graphql/public/schema.public.graphql
  pkg/graphql/schema.graphql
  scripts/eventsgql/main_test.go
Due: go

feat(sdk): generate media policy and VOD import clients
  app_mac/Sources/Gateway/GeneratedQueries.swift
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/manifest.ts
  npm_api/src/generated/select/schema.ts
  npm_api/src/generated/select/selectionTypes.ts
  npm_api/src/generated/select/types.ts
  npm_api/test/__snapshots__/publicApi.test.ts.snap
  sdk_conformance/forward_compat.json
  sdk_conformance/operations.json
  sdk_go/generated.go
  sdk_go/manifest_gen.go
  sdk_go/operation_calls_gen_test.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/__init__.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/async_client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/import_vod_asset.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/tenant_events.py
  sdk_python/src/livepeer_frameworks/_generated/manifest.py
  sdk_python/src/livepeer_frameworks/_generated/public_exports.py
Due: go, frontend

feat(web): add URL imports and playback access controls
  website_application/src/lib/components/stream-details/PlaybackAccessTestPanel.svelte
  website_application/src/lib/components/stream-details/PlaybackAuthTabPanel.svelte
  website_application/src/lib/features/registry.json
  website_application/src/lib/graphql/services/explorerCatalog.ts
  website_application/src/lib/stores/realtime.test.ts
  website_application/src/routes/library/+page.svelte
Due: frontend

docs: document Studio parity and media workflows
  docs/architecture/processing-pipeline.md
  docs/platform-features.yaml
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/blog/studio-parity.mdx
  website_docs/src/content/docs/builders/events.mdx
  website_docs/src/content/docs/builders/playback-access-control.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
Due: none

regen api/sdk stuff
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  pkg/graphql/schema.graphql
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  website_docs/src/content/docs/builders/api-schema/access.mdx
  website_docs/src/content/docs/builders/api-schema/index.mdx
  website_docs/src/content/docs/builders/api-schema/live.mdx
  website_docs/src/content/docs/builders/api-schema/media-types.mdx
  website_docs/src/content/docs/builders/api-schema/media.mdx
  website_docs/src/content/docs/builders/api-schema/shared.mdx
Due: go, frontend

tweak lefthook & pkg publish scripts
  lefthook.yml
  scripts/lint-staged-frontend.sh
  scripts/publish-packages.sh
Due: none

Fix Bosun provisioning
  api_webhooks/cmd/bosun/main.go
  api_webhooks/internal/appconfig/bosun.go
  api_webhooks/internal/validate/validate.go
  api_webhooks/internal/validate/validate_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_release.go
  cli/internal/configschema/config-schema.json
  docker-compose.yml
  docs/architecture/bosun.md
  pkg/topology/dependencies.go
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
