Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

webapp: 'public beta' -> 'beta'
  website_application/src/lib/components/BetaBadge.svelte
Due: frontend

webapp: fix stream page loading
  website_application/src/lib/route-ids.test.ts
  website_application/src/lib/route-ids.ts
  website_application/src/routes/streams/[id]/+page.svelte
Due: frontend

ansible: rm bootstrap.yaml on failure
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/tasks/main.yml
Due: none

set different health check for docker webapp
  website_application/Dockerfile
Due: none

fix webapp missing icons and unloading pages
  website_application/src/lib/components/stream-details/PushTargetsTabPanel.svelte
  website_application/src/lib/config.ts
  website_application/src/lib/iconUtils.ts
  website_application/src/lib/route-ids.test.ts
  website_application/src/lib/route-ids.ts
  website_application/src/routes/streams/+page.svelte
Due: frontend

fix seed data
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

do not force amd image for mist
  docker-compose.yml
Due: none

various player fixes
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/detector.ts
  npm_player/packages/core/test/detector.test.ts
  npm_player/packages/core/test/player-controller-idle-screen.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  npm_player/packages/core/test/webrtc-scoring.test.ts
  npm_player/packages/react/src/components/IdleScreen.tsx
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/test/IdleScreen.test.tsx
  npm_player/packages/react/test/usePlayerController.test.tsx
  npm_player/packages/svelte/src/IdleScreen.svelte
  npm_player/packages/svelte/src/LoadingScreen.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/svelte/test/idleScreen.test.ts
  npm_player/packages/svelte/test/playerController.test.ts
Due: frontend

update bundled mistserver config for latest features (like thumbvtt)
  infrastructure/mistserver.conf
Due: none

add test to periscope ingest
  api_analytics_ingest/internal/handlers/handlers_test.go
Due: go

fix attribution of media to be on the actual virtual media cluster, not the backing infra cluster
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_mist_trigger_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_gateway/internal/demo/generators.go
Due: go

more player tweaks
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/scorer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/SyncController.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/rendering/AudioWorkletRenderer.ts
  npm_player/packages/core/test/audio-worklet-renderer.test.ts
  npm_player/packages/core/test/player-controller-mute-state.test.ts
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/core/test/webcodecs-audio-selection.test.ts
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/test/usePlayerController.test.tsx
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/svelte/test/playerController.test.ts
Due: frontend

dev env nginx tweaks
  infrastructure/nginx/default.conf
Due: none

don't coalesce on advertise host for health tracking (breaks HA in dev env)
  api_tenants/internal/grpc/server.go
Due: go

expose more protocols when going through the gateway
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
Due: go

fix dev and chandler going to the right host
  website_application/src/lib/config.ts
Due: frontend

fix demo data for ha assignment
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

make sure to map thumbnail output between helsman-mistserver in docker
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  docker-compose.yml
Due: none

various player fixes
  npm_player/packages/core/src/core/MistControlChannel.ts
  npm_player/packages/core/src/core/MistSourceUrls.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/QualityLevels.ts
  npm_player/packages/core/src/core/StreamStateClient.ts
  npm_player/packages/core/src/core/index.ts
  npm_player/packages/core/src/index.ts
  npm_player/packages/core/src/players/MewsWsPlayer/index.ts
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/WebSocketController.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/types.ts
  npm_player/packages/core/test/__snapshots__/public-api-snapshot.test.ts.snap
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  npm_player/packages/react/src/components/PlayerControls.tsx
  npm_player/packages/svelte/src/PlayerControls.svelte
Due: frontend

enriched playback return from foghorn
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
Due: go

fix thumbnails s3 uploads & lint
  api_balancing/internal/control/server.go
  api_balancing/internal/handlers/handlers.go
Due: go

abstract diskcheck in helmsman to override during tests
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
Due: go

bunch of player tweaks and poster/spritesheet handling
  npm_player/packages/core/src/core/ChandlerAssetSource.ts
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/scorer.ts
  npm_player/packages/core/src/index.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/test/__snapshots__/public-api-snapshot.test.ts.snap
  npm_player/packages/core/test/chandler-asset-source.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/react/src/components/IdleScreen.tsx
  npm_player/packages/react/src/components/LoadingPoster.tsx
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/src/index.tsx
  npm_player/packages/react/test/LoadingPoster.test.tsx
  npm_player/packages/svelte/src/IdleScreen.svelte
  npm_player/packages/svelte/src/LoadingPoster.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/index.ts
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/wc/src/components/fw-idle-screen.ts
  npm_player/packages/wc/src/components/fw-loading-poster.ts
  npm_player/packages/wc/src/components/fw-player.ts
  npm_player/packages/wc/src/controllers/player-controller-host.ts
  npm_player/packages/wc/src/define.ts
  npm_player/packages/wc/src/iife-entry.ts
  npm_player/packages/wc/src/index.ts
Due: frontend

split stream-adjacent mist sessions from actual playback mist sessions
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go

fix id collision on webap render of stream analytics
  website_application/src/routes/streams/[id]/analytics/+page.svelte
Due: frontend

ansible ci tests fix (?)
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/molecule/default/molecule.yml
Due: none

bunch more player fixes related to the poster/thumbnails
  npm_player/packages/core/src/core/ChandlerAssetSource.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/ThumbnailSpriteManager.ts
  npm_player/packages/core/src/core/ThumbnailVttParser.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/test/player-controller-loading-poster.test.ts
  npm_player/packages/core/test/thumbnail-sprite-manager.test.ts
  npm_player/packages/core/test/thumbnail-vtt-parser.test.ts
  npm_player/packages/react/src/components/IdleScreen.tsx
  npm_player/packages/react/src/components/LoadingPoster.tsx
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/src/index.tsx
  npm_player/packages/react/test/LoadingPoster.test.tsx
  npm_player/packages/react/test/usePlayerController.test.tsx
  npm_player/packages/svelte/src/IdleScreen.svelte
  npm_player/packages/svelte/src/LoadingPoster.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/svelte/test/playerController.test.ts
  npm_player/packages/wc/src/components/fw-idle-screen.ts
  npm_player/packages/wc/src/components/fw-loading-poster.ts
  npm_player/packages/wc/src/components/fw-player.ts
  npm_player/packages/wc/src/controllers/player-controller-host.ts
  npm_player/packages/wc/src/index.ts
Due: frontend

invaldiate chandler cache once foghorn confirms upload to break 30d cache TTL & add explicit uri for foghorn cache invalide to chandler
  api_assets/README.md
  api_assets/cmd/chandler/main.go
  api_assets/internal/cache/lru.go
  api_assets/internal/cache/lru_test.go
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
  api_balancing/internal/control/chandler_base_test.go
  api_balancing/internal/control/server.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  config/env/base.env
  docker-compose.yml
  docs/architecture/thumbnails.md
  website_docs/src/content/docs/operators/deployment-manual.mdx
Due: go

fix gitops-backed mesh & runtime QM state reconciliation
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_mesh/internal/agent/static.go
Due: go

fix cert provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  api_balancing/internal/control/cert_refresh_test.go
  api_balancing/internal/control/server.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

fix test
  api_assets/internal/handlers/assets_test.go
Due: go

vmagent provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent.service.j2
Due: none

fix demo email
  api_gateway/internal/demo/generators.go
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go

ansible provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
Due: none

DNS overhaul - all Media/Edge related out of Cloudflare
  api_dns/README.md
  api_dns/cmd/navigator/main.go
  api_dns/go.mod
  api_dns/go.sum
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/cert_test.go
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_dns/internal/provider/bunny/client.go
  api_dns/internal/provider/bunny/client_test.go
  api_dns/internal/provider/bunny/config.go
  api_dns/internal/provider/bunny/types.go
  api_dns/internal/provider/cloudflare/README.md
  api_dns/internal/provider/cloudflare/types.go
  api_dns/internal/worker/dns_reconciler.go
  cli/cmd/dns.go
  cli/cmd/edge.go
  cli/pkg/inventory/types.go
  config/env/base.env
  config/skipper/faq/protocol-selection.md
  pkg/configgen/configgen_test.go
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
  pkg/servicedefs/servicedefs.go
  website_docs/src/content/docs/hybrid/edge-nodes.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_docs/src/content/docs/operators/dns.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/geodns.mdx
  website_docs/src/content/docs/streamers/playback-react.mdx
  website_docs/src/content/docs/streamers/playback-svelte.mdx
  website_docs/src/content/docs/streamers/playback-wc.mdx
  website_marketing/src/components/pages/SdkCodePreview.jsx
Due: go

foghorn: per-cluster Livepeer gateway resolution
  api_balancing/cmd/foghorn/main.go
  api_balancing/go.mod
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/triggers/metrics.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
Due: go

foghorn: HA fallback for Livepeer auth webhook
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
Due: go
