Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

ci(database): enforce generated and real-engine contracts
  .github/workflows/ci.yml
  Makefile
Due: none

docs(database): codify executable database contracts
  docs/rfcs/database-layer-strategy.md
  docs/standards/schema-migrations.md
Due: none

test(database): harden Docker harness readiness
  cli/pkg/provisioner/schema_squash_postgres_test.go
  pkg/testutil/dockerpg/dockerpg.go
  pkg/testutil/dockerpg/dockerpg_test.go
Due: go

test(database): verify Yugabyte smart-driver HA
  .github/workflows/ci.yml
  Makefile
  docs/architecture/database-ha.md
  pkg/database/dsn_contract_test.go
  pkg/database/yugabyte_ha_test.go
Due: go

refactor(navigator): adopt generated SQL repositories
  api_dns/internal/database/navigatordb/acme_accounts.sql.go
  api_dns/internal/database/navigatordb/certificates.sql.go
  api_dns/internal/database/navigatordb/db.go
  api_dns/internal/database/navigatordb/internal_pki.sql.go
  api_dns/internal/database/navigatordb/models.go
  api_dns/internal/database/navigatordb/querier.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/tenant_aliases.sql.go
  api_dns/internal/database/navigatordb/tenant_custom_domains.sql.go
  api_dns/internal/database/navigatordb/tls_bundles.sql.go
  api_dns/internal/database/queries/acme_accounts.sql
  api_dns/internal/database/queries/certificates.sql
  api_dns/internal/database/queries/internal_pki.sql
  api_dns/internal/database/queries/tenant_aliases.sql
  api_dns/internal/database/queries/tenant_custom_domains.sql
  api_dns/internal/database/queries/tls_bundles.sql
  api_dns/internal/store/store.go
  api_dns/internal/store/store_realpg_test.go
  api_dns/internal/store/tenant_alias.go
  api_dns/internal/store/tenant_custom_domain.go
  api_dns/sqlc.yaml
Due: go

test(database): extend Yugabyte service contracts
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  pkg/database/yugabyte_ha_test.go
Due: go

ci(database): collect real-engine contract coverage
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  scripts/run-go-contract-test.sh
Due: none

fix(pagination): preserve timestamp precision in cursors
  pkg/pagination/cursor.go
  pkg/pagination/cursor_test.go
Due: go

refactor(periscope): generate metering repositories
  api_analytics_query/go.mod
  api_analytics_query/internal/database/meteringdb/db.go
  api_analytics_query/internal/database/meteringdb/metering.sql.go
  api_analytics_query/internal/database/meteringdb/models.go
  api_analytics_query/internal/database/meteringdb/querier.go
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_analytics_query/internal/database/queries/metering.sql
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/scheduler/scheduler.go
  api_analytics_query/sqlc.yaml
Due: go

ci(database): enforce generated repository contracts
  .github/workflows/ci.yml
  Makefile
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
Due: go

test(database): support pinned Yugabyte contracts
  pkg/testutil/dockerpg/dockerpg.go
  pkg/testutil/dockerpg/dockerpg_test.go
Due: go

ci(database): enforce Quartermaster repository contracts
  .github/workflows/ci.yml
  Makefile
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
Due: go

refactor(periscope): centralize ClickHouse writers
  api_analytics_ingest/internal/database/periscopeingestdb/artifact_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/audit_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/core_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/final_fact_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/ledger_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/operational_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/orchestrator_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/session_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/stream_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/telemetry_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/writer.go
  api_analytics_ingest/internal/database/periscopeingestdb/writer_realclickhouse_test.go
  api_analytics_ingest/internal/handlers/clip_lifecycle_test.go
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
  api_analytics_ingest/internal/handlers/node_lifecycle_test.go
  api_analytics_ingest/internal/handlers/orchestrator_discovery_test.go
  api_analytics_ingest/internal/handlers/orchestrators.go
  api_analytics_ingest/internal/handlers/orchestrators_ingest_test.go
  api_analytics_ingest/internal/handlers/playback_qoe_test.go
  api_analytics_ingest/internal/handlers/stale_close.go
  api_analytics_ingest/internal/handlers/stale_close_test.go
  api_analytics_ingest/internal/handlers/storage_tenant_test.go
  api_analytics_ingest/internal/handlers/stream_buffer_test.go
  api_analytics_ingest/internal/handlers/stream_lifecycle_buffer_test.go
  api_analytics_ingest/internal/handlers/track_list_test.go
  api_analytics_ingest/internal/handlers/vod_lifecycle_test.go
  api_analytics_ingest/internal/handlers/writer_boundary_test.go
Due: go

ci(database): verify Periscope ClickHouse writers
  .github/workflows/ci.yml
  Makefile
Due: none

refactor(periscope): centralize ClickHouse query access
  api_analytics_query/go.mod
  api_analytics_query/internal/database/periscopequerydb/billing_queries.go
  api_analytics_query/internal/database/periscopequerydb/billing_queries_realclickhouse_test.go
  api_analytics_query/internal/database/periscopequerydb/query.go
  api_analytics_query/internal/database/periscopequerydb/query_boundary_test.go
  api_analytics_query/internal/grpc/orchestrators.go
  api_analytics_query/internal/grpc/query_pack_realclickhouse_test.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/handlers/billing.go
Due: go

ci(database): verify Periscope query contracts
  .github/workflows/ci.yml
  Makefile
Due: none

feat(metering): bill delayed facts exactly once
  api_analytics_ingest/internal/database/periscopeingestdb/audit_writers.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_query/internal/database/periscopequerydb/billing_queries.go
  api_analytics_query/internal/database/periscopequerydb/billing_queries_realclickhouse_test.go
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/handlers/billing_test.go
  docs/architecture/meter-contracts.md
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/expand/003_api_request_delivery_identity.sql
  pkg/database/sql/clickhouse/periscope.sql
Due: go

test(metering): verify real-engine billing chain
  api_analytics_ingest/internal/handlers/metering_chain_realclickhouse_test.go
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_analytics_query/internal/handlers/metering_chain_realengines_test.go
  docs/standards/schema-migrations.md
  pkg/testutil/dockerch/dockerch.go
Due: go

ci(metering): enforce real-engine contracts
  .github/workflows/ci.yml
  Makefile
Due: none

test(database): enforce Foghorn query contracts
  .github/workflows/ci.yml
  Makefile
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  api_balancing/internal/database/foghorndb/static_sql_boundary_test.go
Due: go

fix(redis): require explicit client topology
  api_balancing/internal/config/config_test.go
  cli/cmd/cluster_provision_test.go
  pkg/redis/client.go
  pkg/redis/client_validation_test.go
Due: go

test(foghorn): prove Valkey durability contracts
  .github/workflows/ci.yml
  Makefile
  api_balancing/internal/control/valkey_contract_test.go
  api_balancing/internal/federation/peer_manager_realpg_test.go
  api_balancing/internal/federation/valkey_contract_test.go
  api_balancing/internal/state/valkey_contract_test.go
  pkg/redis/client_test.go
  pkg/redis/sentinel_realvalkey_test.go
  pkg/testutil/dockervalkey/dockervalkey.go
Due: go

feat(docs): add article SEO contracts
  website_docs/astro.config.mjs
  website_docs/package.json
  website_docs/public/llms-full.txt
  website_docs/public/serve.json
  website_docs/scripts/check-seo-output.mjs
  website_docs/src/components/Head.astro
  website_docs/src/content/docs/blog/agent-native-access.mdx
  website_docs/src/content/docs/blog/agentic-audit-pipeline.mdx
  website_docs/src/content/docs/blog/dvr-clips-vod-pipeline.mdx
  website_docs/src/content/docs/blog/federation-went-live.mdx
  website_docs/src/content/docs/blog/frameworks-0-3-0.mdx
  website_docs/src/content/docs/blog/going-multi-region.mdx
  website_docs/src/content/docs/blog/live-playback-control-blips.mdx
  website_docs/src/content/docs/blog/public-gitops.mdx
  website_docs/src/content/docs/blog/skipper-launch.mdx
  website_docs/src/content/docs/blog/sovereign-mesh-pki.mdx
  website_docs/src/content/docs/blog/welcome.mdx
  website_docs/src/content/docs/builders/ingest.mdx
  website_docs/src/content/docs/builders/playback.mdx
Due: none

perf(marketing): defer heavy landing dependencies
  docs/skills/robots.txt
  packages/site-config/index.ts
  website_marketing/app/root.jsx
  website_marketing/app/routes/sitemap.xml.js
  website_marketing/public/serve.json
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/Navigation.jsx
  website_marketing/src/components/marketing/dashboards/GeoPanel.jsx
  website_marketing/src/components/marketing/index.js
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/styles/pages/landing.css
Due: frontend

test(redis): keep sentinel config container-writable
  pkg/redis/sentinel_realvalkey_test.go
Due: go

feat(database): enforce executable runtime contracts
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/internal/database/periscopeingestdb/writer.go
  api_analytics_query/cmd/periscope-metering/main.go
  api_analytics_query/cmd/periscope/main.go
  api_analytics_query/internal/database/periscopequerydb/query.go
  api_balancing/cmd/foghorn/main.go
  api_billing/cmd/purser/bootstrap.go
  api_billing/cmd/purser/main.go
  api_consultant/cmd/skipper/main.go
  api_control/cmd/commodore/bootstrap.go
  api_control/cmd/commodore/main.go
  api_dns/cmd/navigator/main.go
  api_tenants/cmd/quartermaster/bootstrap.go
  api_tenants/cmd/quartermaster/main.go
  cli/cmd/cluster.go
  cli/cmd/cluster_capability_doctor.go
  cli/cmd/cluster_capability_doctor_test.go
  pkg/database/capabilities.go
  pkg/database/capabilities_test.go
  pkg/database/clickhouse.go
  pkg/database/observability.go
  pkg/database/observability_test.go
  pkg/database/postgres.go
  pkg/go.mod
Due: go

feat(database): provision least-privilege runtime roles
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/schema.yml
  cli/cmd/cluster_catalog_failclosed_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/database_role_contract_test.go
  cli/pkg/provisioner/migrate_helpers.go
  cli/pkg/provisioner/migration_state_test.go
  cli/pkg/provisioner/schema_harness_images_test.go
  cli/pkg/provisioner/schema_helpers.go
  docs/architecture/database-ha.md
  docs/rfcs/database-layer-strategy.md
  docs/standards/schema-migrations.md
  infrastructure/postgres/init-service-databases.sh
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go

feat(billing): add bounded tenant admission status
  api_balancing/internal/grpc/server.go
  api_balancing/internal/triggers/billing_cache_policy_test.go
  api_balancing/internal/triggers/metrics.go
  api_balancing/internal/triggers/processor.go
  api_billing/internal/database/purserdb/billing_admission_contract_test.go
  api_billing/internal/database/purserdb/billing_status.sql.go
  api_billing/internal/database/purserdb/querier.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_billing/internal/database/queries/billing_status.sql
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_readpaths_more3_test.go
  api_billing/internal/grpc/tenant_admission_realpg_test.go
  api_control/internal/grpc/server.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/mcp/preflight/checks.go
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/ratelimit_test.go
  api_gateway/internal/middleware/viewer_x402.go
  api_tenants/internal/grpc/server.go
  docs/architecture/mist-trigger-contract.md
  pkg/clients/purser/grpc_client.go
  pkg/clients/purser/interface.go
  pkg/database/sql/migrations/purser/v0.3.0/expand/019_billing_status_allowance_indexes.notx.sql
  pkg/database/sql/schema/purser.sql
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/dns/dns.pb.go
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/purser.proto
  pkg/proto/purser/purser.pb.go
  pkg/proto/purser/purser_grpc.pb.go
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/shared/shared.pb.go
Due: go

test(database): prove cross-engine query portability
  .github/workflows/ci.yml
  Makefile
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_consultant/internal/database/skipperdb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  cli/pkg/provisioner/creation_command_ack_lease_test.go
  cli/pkg/provisioner/schema_squash_clickhouse_test.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/yugabyte_query_catalog_inventory_test.go
  docs/architecture/analytics-pipeline.md
  pkg/database/sql_portability_test.go
Due: go

feat(bridge): enforce telemetry attribution integrity
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/handlers/beacon_intake.go
  api_gateway/internal/handlers/beacon_metrics_test.go
  api_gateway/internal/handlers/playback_session_telemetry.go
  api_gateway/internal/handlers/playback_telemetry.go
  api_gateway/internal/resolvers/telemetry_token_test.go
  cli/cmd/cluster.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/credentials/generate.go
  cli/pkg/credentials/generate_test.go
  config/env/secrets.env.example
  docs/architecture/analytics-pipeline.md
  docs/standards/environment-configuration.md
  website_docs/src/content/docs/operators/external-services.mdx
Due: go

fix(docs): derive canonical URLs from configured origin
  website_docs/astro.config.mjs
  website_docs/scripts/check-seo-output.mjs
  website_docs/src/components/Head.astro
Due: none

docs: refresh generated agent reference
  website_docs/public/llms-full.txt
Due: none

chore(go): upgrade workspace to 1.27
  .github/workflows/ci.yml
  .go-version
  Makefile
  api_analytics_ingest/Dockerfile
  api_analytics_ingest/go.mod
  api_analytics_query/Dockerfile
  api_analytics_query/go.mod
  api_assets/Dockerfile
  api_assets/go.mod
  api_balancing/Dockerfile
  api_balancing/go.mod
  api_billing/Dockerfile
  api_billing/go.mod
  api_consultant/Dockerfile
  api_consultant/go.mod
  api_control/Dockerfile
  api_control/go.mod
  api_dns/Dockerfile
  api_dns/go.mod
  api_firehose/Dockerfile
  api_firehose/go.mod
  api_forms/Dockerfile
  api_forms/go.mod
  api_gateway/Dockerfile
  api_gateway/go.mod
  api_gateway/internal/resolvers/playback_access_control.go
  api_mesh/go.mod
  api_realtime/Dockerfile
  api_realtime/go.mod
  api_sidecar/Dockerfile
  api_sidecar/go.mod
  api_tenants/Dockerfile
  api_tenants/go.mod
  api_ticketing/Dockerfile
  api_ticketing/go.mod
  cli/go.mod
  pkg/go.mod
  scripts/env/go.mod
  scripts/registry/go.mod
  tools/release-plan/go.mod
Due: go

fix(cache): fence invalidation across shared loads
  pkg/cache/cache.go
  pkg/cache/cache_test.go
Due: go

fix(periscope): bound wait-for-ready RPC calls
  pkg/clients/periscope/grpc_client.go
  pkg/clients/periscope/timeout_interceptor_test.go
Due: go

fix(database): bound startup capability probes
  pkg/database/clickhouse.go
  pkg/database/clickhouse_test.go
  pkg/database/observability.go
  pkg/database/observability_test.go
Due: go

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
