Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

feat(foghorn): persist placement capability state
  api_balancing/internal/database/foghorndb/control_replicas.sql.go
  api_balancing/internal/database/foghorndb/control_replicas_realpg_test.go
  api_balancing/internal/database/foghorndb/media_authority.sql.go
  api_balancing/internal/database/foghorndb/placement_authority_realpg_test.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/control_replicas.sql
  api_balancing/internal/database/queries/media_authority.sql
Due: go

feat(foghorn): add placement capacity evaluator
  api_balancing/internal/balancer/balancer.go
  api_balancing/internal/balancer/balancer_test.go
  api_balancing/internal/balancer/placement_authority.go
  api_balancing/internal/balancer/placement_authority_test.go
  api_balancing/internal/balancer/placement_authority_unquoted_test.go
  api_balancing/internal/balancer/placement_capacity_observer.go
  api_balancing/internal/balancer/placement_capacity_observer_test.go
  api_balancing/internal/balancer/placement_capacity_preview_test.go
  api_balancing/internal/balancer/placement_evaluation_test.go
  api_balancing/internal/balancer/placement_inventory.go
  api_balancing/internal/balancer/placement_inventory_test.go
  api_balancing/internal/balancer/placement_observation.go
  api_balancing/internal/balancer/placement_observation_test.go
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/balancer/placement_router_test.go
  api_balancing/internal/balancer/score_remote_edges_test.go
  api_balancing/internal/balancer/shared_fanout.go
  api_balancing/internal/balancer/shared_fanout_test.go
Due: go

feat(foghorn): expose placement routing endpoints
  api_balancing/internal/grpc/federation_relay_rpc_coverage_test.go
  api_balancing/internal/grpc/ingest_endpoint.go
  api_balancing/internal/grpc/ingest_endpoint_test.go
  api_balancing/internal/grpc/ingest_placement_test.go
  api_balancing/internal/grpc/media_authority.go
  api_balancing/internal/grpc/media_authority_test.go
  api_balancing/internal/grpc/media_placement_capacity.go
  api_balancing/internal/grpc/media_placement_capacity_test.go
  api_balancing/internal/grpc/placement_preparers_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_origin_pull_test.go
  api_balancing/internal/grpc/viewer_endpoint_coverage_test.go
  api_balancing/internal/grpc/viewer_endpoint_happy_coverage_test.go
  api_balancing/internal/grpc/viewer_placement_test.go
  api_balancing/internal/handlers/admin_endpoints_coverage_test.go
  api_balancing/internal/handlers/authorized_mist_compatibility_test.go
  api_balancing/internal/handlers/balancing_commodore_coverage_test.go
  api_balancing/internal/handlers/fanout_singleflight.go
  api_balancing/internal/handlers/fanout_singleflight_test.go
  api_balancing/internal/handlers/federation_redirect_test.go
  api_balancing/internal/handlers/get_source_coverage_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/ingest_front_door.go
  api_balancing/internal/handlers/ingest_front_door_test.go
  api_balancing/internal/handlers/ingest_placement_test.go
  api_balancing/internal/handlers/ingest_ratelimit.go
  api_balancing/internal/handlers/internal_auth.go
  api_balancing/internal/handlers/protocol_geo_helpers_test.go
  api_balancing/internal/handlers/routing_identity_test.go
  api_balancing/internal/handlers/stream_balancing_coverage_test.go
  api_balancing/internal/handlers/stream_context_cache.go
  api_balancing/internal/handlers/stream_context_cache_test.go
  api_balancing/internal/handlers/stream_registry_debug.go
  api_balancing/internal/handlers/stream_registry_debug_test.go
  api_balancing/internal/handlers/viewer_credentials.go
  api_balancing/internal/handlers/viewer_credentials_test.go
  api_balancing/internal/handlers/viewer_placement.go
  api_balancing/internal/handlers/viewer_placement_http_test.go
  api_balancing/internal/handlers/viewer_placement_test.go
Due: go

feat(foghorn): wire placement runtime
  api_balancing/README.md
  api_balancing/cmd/foghorn/main.go
  api_balancing/cmd/foghorn/placement_bootstrap.go
  api_balancing/cmd/foghorn/placement_bootstrap_test.go
Due: go

feat(quartermaster): expose placement consent and inventory
  api_tenants/cmd/quartermaster/consent_review_config.go
  api_tenants/cmd/quartermaster/consent_review_config_test.go
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/grpc/bootstrap_edge_node_more_test.go
  api_tenants/internal/grpc/bootstrap_edge_node_test.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/get_tenant_entitlement_test.go
  api_tenants/internal/grpc/media_capacity_consent.go
  api_tenants/internal/grpc/media_capacity_consent_realpg_test.go
  api_tenants/internal/grpc/media_capacity_consent_test.go
  api_tenants/internal/grpc/media_placement_inventory.go
  api_tenants/internal/grpc/media_placement_inventory_test.go
  api_tenants/internal/grpc/peer_watch.go
  api_tenants/internal/grpc/peer_watch_test.go
  api_tenants/internal/grpc/server.go
Due: go

feat(clients): add media placement RPC adapters
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/ingest_protocol_test.go
  pkg/clients/commodore/interface.go
  pkg/clients/commodore/media_placement.go
  pkg/clients/decklog/client.go
  pkg/clients/decklog/viewer_telemetry_test.go
  pkg/clients/foghorn/grpc_client.go
  pkg/clients/foghorn/ingest_protocol_test.go
  pkg/clients/foghorn/media_placement_capacity.go
  pkg/clients/purser/commercial_quote_test.go
  pkg/clients/purser/grpc_client.go
  pkg/clients/purser/interface.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/clients/quartermaster/interface.go
Due: go

feat(graphql): expose media placement contracts
  pkg/graphql/operations/fragments/MediaCapacityConsentChangeFields.gql
  pkg/graphql/operations/fragments/MediaPlacementCandidateFields.gql
  pkg/graphql/operations/fragments/MediaPlacementChangeFields.gql
  pkg/graphql/operations/fragments/MediaPlacementErrorFields.gql
  pkg/graphql/operations/fragments/MediaPlacementGroupFields.gql
  pkg/graphql/operations/fragments/MediaPlacementRolloutFields.gql
  pkg/graphql/operations/fragments/MediaPlacementRulesFields.gql
  pkg/graphql/operations/fragments/MediaPlacementSelectorFields.gql
  pkg/graphql/operations/mutations/ApplyClusterMediaConsentChange.gql
  pkg/graphql/operations/mutations/ApplyMediaPlacementChange.gql
  pkg/graphql/operations/queries/GetClusterMediaConsent.gql
  pkg/graphql/operations/queries/GetClusterMediaConsentChange.gql
  pkg/graphql/operations/queries/GetMediaPlacementChange.gql
  pkg/graphql/operations/queries/GetMediaPlacementOptions.gql
  pkg/graphql/operations/queries/GetMediaPlacementPolicy.gql
  pkg/graphql/operations/queries/PreviewMediaPlacement.gql
  pkg/graphql/operations/queries/ResolveIngestDestination.gql
  pkg/graphql/operations/queries/ResolveViewerDestination.gql
  pkg/graphql/operations/queries/ReviewClusterMediaConsentChange.gql
  pkg/graphql/operations/queries/ReviewMediaPlacementChange.gql
  pkg/graphql/schema.graphql
Due: none

feat(gateway): implement media placement API
  api_gateway/graph/media_capacity_consent_test.go
  api_gateway/graph/media_placement_demo_test.go
  api_gateway/graph/media_placement_options_test.go
  api_gateway/graph/media_placement_preview_test.go
  api_gateway/graph/media_placement_test.go
  api_gateway/graph/playground_contract_test.go
  api_gateway/graph/routing_identity_test.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/viewer_protocol_test.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/clients/clientstest/clientstest_batch3_ext.go
  api_gateway/internal/clients/clientstest/clientstest_placement.go
  api_gateway/internal/resolvers/ingest_protocol_test.go
  api_gateway/internal/resolvers/media_capacity_consent.go
  api_gateway/internal/resolvers/media_placement.go
  api_gateway/internal/resolvers/media_placement_activation_test.go
  api_gateway/internal/resolvers/media_placement_demo_test.go
  api_gateway/internal/resolvers/media_placement_input.go
  api_gateway/internal/resolvers/media_placement_options.go
  api_gateway/internal/resolvers/media_placement_options_test.go
  api_gateway/internal/resolvers/media_placement_output.go
  api_gateway/internal/resolvers/media_placement_preview.go
  api_gateway/internal/resolvers/media_placement_preview_test.go
  api_gateway/internal/resolvers/media_placement_test.go
  api_gateway/internal/resolvers/resolver.go
  api_gateway/internal/resolvers/routing_identity.go
  api_gateway/internal/resolvers/routing_identity_test.go
  api_gateway/internal/resolvers/viewer_protocol.go
  api_gateway/internal/resolvers/viewer_protocol_test.go
Due: go

feat(gateway): add media placement tools
  api_gateway/internal/demo/media_placement.go
  api_gateway/internal/demo/media_placement_preview.go
  api_gateway/internal/demo/media_placement_test.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/media_placement.go
  api_gateway/internal/mcp/tools/media_placement_schema.go
  api_gateway/internal/mcp/tools/media_placement_test.go
  api_gateway/internal/mcp/tools/policy.go
Due: go

chore(graphql): refresh generated placement clients
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
Due: go

feat(player): support placement-aware viewer endpoints
  npm_player/README.md
  npm_player/packages/core/README.md
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/ViewerProtocol.ts
  npm_player/packages/core/src/index.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/create-player.test.ts
  npm_player/packages/core/test/gateway-placement.test.ts
  npm_player/packages/core/test/player-controller-placement.test.ts
  npm_player/packages/core/test/player-controller-runtime-options.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  npm_player/packages/core/test/player-manager-placement.test.ts
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/src/hooks/useViewerEndpoints.ts
  npm_player/packages/react/src/index.tsx
  npm_player/packages/react/test/usePlayerController.test.tsx
  npm_player/packages/react/test/useViewerEndpoints.test.tsx
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/svelte/src/stores/viewerEndpoints.ts
  npm_player/packages/svelte/test/player-placement-lifecycle.test.ts
  npm_player/packages/svelte/test/playerController.test.ts
  npm_player/packages/svelte/test/viewerEndpoints.test.ts
  npm_player/packages/svelte/vitest.config.ts
  npm_player/packages/test-contract/viewer-endpoint-fixtures.ts
  npm_player/packages/wc/src/components/fw-player.ts
  npm_player/packages/wc/src/controllers/player-controller-host.ts
  npm_player/packages/wc/test/fw-player.test.ts
  npm_player/packages/wc/test/player-controller-host.test.ts
Due: frontend

feat(studio): support placement-aware ingest destinations
  npm_studio/packages/core/README.md
  npm_studio/packages/core/src/core/IngestClient.ts
  npm_studio/packages/core/src/core/IngestControllerV2.ts
  npm_studio/packages/core/src/types.ts
  npm_studio/packages/core/test/ingest-client.test.ts
  npm_studio/packages/core/test/ingest-destination-resolution.test.ts
  npm_studio/packages/react/src/hooks/useIngestEndpoints.ts
  npm_studio/packages/react/test/useIngestEndpoints.test.tsx
  npm_studio/packages/svelte/src/StreamCrafter.svelte
  npm_studio/packages/svelte/src/stores/ingestEndpoints.ts
  npm_studio/packages/svelte/test/ingestEndpoints.test.ts
Due: frontend

feat(mist): add placement-aware media contracts
  pkg/mist/client.go
  pkg/mist/connection_play_test.go
  pkg/mist/ingest_endpoints.go
  pkg/mist/ingest_endpoints_realmist_test.go
  pkg/mist/ingest_endpoints_test.go
  pkg/mist/ingest_protocol.go
  pkg/mist/ingest_protocol_test.go
  pkg/mist/ingest_public_origin_test.go
  pkg/mist/managed_context_test.go
  pkg/mist/playback_endpoints.go
  pkg/mist/playback_endpoints_test.go
  pkg/mist/push_connector_realmist_test.go
  pkg/mist/push_rewrite_connector_test.go
  pkg/mist/source_admission_realmist_test.go
  pkg/mist/source_credential_realmist_test.go
  pkg/mist/testdata/Dockerfile.source-contract
  pkg/mist/testdata/placement-protocols.json
  pkg/mist/testdata/push-connector-hook.sh
  pkg/mist/testdata/push-connector.json
  pkg/mist/testdata/source-admission-hook.sh
  pkg/mist/testdata/source-admission.json
  pkg/mist/testdata/source-credential-hook.sh
  pkg/mist/testdata/source-credential.json
  pkg/mist/testdata/source-start-audit-hook.sh
  pkg/mist/testdata/viewer-credentials-hook.sh
  pkg/mist/testdata/viewer-credentials.json
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
  pkg/mist/viewer_credentials_realmist_test.go
  pkg/mist/viewer_protocol.go
  pkg/mist/viewer_protocol_test.go
  pkg/mist/viewer_telemetry.go
  pkg/mist/viewer_telemetry_test.go
Due: go

feat(helmsman): manage placement lifecycle
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_protocols_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_unmarked_segments_test.go
  api_sidecar/internal/control/managed_placement.go
  api_sidecar/internal/control/managed_placement_test.go
  api_sidecar/internal/control/managed_recovery_test.go
  api_sidecar/internal/control/managed_retirement_test.go
  api_sidecar/internal/control/managed_streams.go
  api_sidecar/internal/control/managed_streams_test.go
  api_sidecar/internal/handlers/connection_play.go
  api_sidecar/internal/handlers/connection_play_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/mist_admin_proxy_test.go
  api_sidecar/internal/handlers/play_rewrite_cache.go
  api_sidecar/internal/handlers/play_rewrite_cache_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/processing_test.go
  api_sidecar/internal/handlers/stream_process_observation.go
  api_sidecar/internal/handlers/stream_process_observation_test.go
  api_sidecar/internal/handlers/stream_ws.go
  api_sidecar/internal/handlers/stream_ws_test.go
  api_sidecar/internal/handlers/viewer_credential_logging_test.go
Due: go

fix(analytics): centralize viewer telemetry sanitization
  api_analytics_ingest/internal/handlers/handlers.go
  api_firehose/internal/grpc/server.go
Due: go

fix(mesh): retry ingress reload after certificate writes
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/ingress_reload_trigger_test.go
  api_mesh/internal/agent/tenant_alias_certs.go
Due: go

fix(skipper): reap abandoned crawl jobs
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/database/queries/crawl_jobs.sql
  api_consultant/internal/database/skipperdb/baselines.sql.go
  api_consultant/internal/database/skipperdb/conversations.sql.go
  api_consultant/internal/database/skipperdb/crawl_jobs.sql.go
  api_consultant/internal/database/skipperdb/db.go
  api_consultant/internal/database/skipperdb/knowledge.sql.go
  api_consultant/internal/database/skipperdb/metering.sql.go
  api_consultant/internal/database/skipperdb/models.go
  api_consultant/internal/database/skipperdb/page_cache.sql.go
  api_consultant/internal/database/skipperdb/querier.go
  api_consultant/internal/database/skipperdb/reports.sql.go
  api_consultant/internal/database/skipperdb/social_posts.sql.go
  api_consultant/internal/knowledge/admin.go
  api_consultant/internal/knowledge/crawl_reaper_realpg_test.go
Due: go

fix(migrations): scope completion to discovered targets
  pkg/datamigrate/handlers.go
  pkg/datamigrate/state.go
  pkg/datamigrate/state_scope_completion_test.go
  tools/release-plan/proto_layering_test.go
Due: go

feat(cli): provision capacity consent signer
  cli/cmd/cluster_capacity_consent_secrets_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_secrets.go
  cli/pkg/credentials/generate.go
  config/env/secrets.env.example
Due: go

docs(architecture): document media placement routing
  config/skipper/faq/cluster-discovery.md
  docs/architecture/analytics-pipeline.md
  docs/architecture/federation.md
  docs/architecture/foghorn-ha.md
  docs/architecture/media-authority.md
  docs/architecture/media-placement-policy.md
  docs/architecture/mist-trigger-contract.md
  docs/architecture/module-map.md
  docs/architecture/pull-streams.md
  docs/architecture/routing-events-attribution.md
  docs/architecture/stream-replication-topology.md
  docs/architecture/viewer-routing.md
  docs/platform-features.yaml
  docs/rfcs/placement-policy-engine.md
  docs/rfcs/stream-replication.md
  docs/standards/schema-migrations.md
  docs/standards/testing.md
Due: none

docs(website): publish media placement guidance
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/blog/frameworks-0-3-0.mdx
  website_docs/src/content/docs/blog/live-playback-control-blips.mdx
  website_docs/src/content/docs/blog/your-stream-your-edge.mdx
  website_docs/src/content/docs/builders/ingest.mdx
  website_docs/src/content/docs/builders/media-placement.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/media-placement.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
Due: none

chore(docs): refresh generated LLM reference
  website_docs/public/llms-full.txt
Due: none

test(media): add two-cell verification harness
  .github/workflows/ci.yml
  .gitignore
  Makefile
  docker-compose.yml
  infrastructure/mistserver.conf
  infrastructure/postgres/init-service-databases.sh
  infrastructure/two-cell/machine-id
  infrastructure/two-cell/mistserver-b.conf
  scripts/verify-mist-current-source.sh
  scripts/verify-two-cell-media.sh
Due: none

test(analytics): cover viewer telemetry redaction
  api_firehose/internal/grpc/viewer_telemetry_test.go
Due: go

test(web): provide session storage for placement tests
  website_application/src/lib/placement/session.test.ts
Due: frontend

style(docs): format MCP tool reference
  website_docs/src/content/docs/agents/mcp.mdx
Due: none

style(compose): normalize two-cell port formatting
  docker-compose.yml
Due: none

test(schema): align realpg query catalog guards
  api_consultant/internal/database/skipperdb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
Due: go

ci(frontend): generate Houdini stores before tests
  .github/workflows/ci.yml
Due: none

test(redis): stabilize sentinel failover discovery
  pkg/redis/sentinel_realvalkey_test.go
Due: go

fix(foghorn): retain connections per HA instance
  pkg/clients/foghorn/pool.go
  pkg/clients/foghorn/pool_instances_test.go
Due: go

fix(media): keep served virtual clusters routable
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/mediaauthority/reader.go
  api_balancing/internal/mediaauthority/reader_test.go
  api_balancing/internal/mediaauthority/store.go
Due: go

fix(demo): seed billable subscription state
  pkg/database/sql/seeds/demo/postgres/purser.sql
Due: none

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
