Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

fix(gitops): treat local release pins as authoritative
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/gitops/local_authority_test.go
Due: go

fix(cli): preserve remote command failure diagnostics
  cli/main.go
  cli/main_test.go
Due: go

build(yugabyte): pin release and contract engines to 2026.1.1.2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/goss.yaml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/verify.yml
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/store/store_realpg_test.go
  cli/pkg/provisioner/yugabyte_release_pin_test.go
  config/infrastructure.yaml
  config/schema-contract-engines.yaml
Due: go

docs(yugabyte): document relayout and ordered upgrade operations
  docs/architecture/database-ha.md
  docs/standards/schema-migrations.md
  website_docs/astro.config.mjs
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/yugabyte-layout.mdx
Due: none

fix(kafka): accept dash-prefixed KRaft cluster IDs
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/configure.yml
  cli/pkg/provisioner/architecture_guard_test.go
Due: go

fix(database): harden PostgreSQL and Yugabyte bootstrap verification
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/yugabyte_consensus.go
  cli/cmd/yugabyte_consensus_test.go
  cli/pkg/provisioner/postgres_role_test.go
Due: go

fix(cli): inspect WireGuard peers with required privileges
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_mesh_test.go
Due: go

fix(livepeer): avoid the Mist RTMP listener port
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
Due: go

fix(yugabyte): guard partial master state before restart handlers
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/state_guard.yml
  cli/pkg/provisioner/yugabyte_recovery_contract_test.go
Due: go

fix(provisioner): keep Yugabyte bootstrap nodes in one cohort
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
Due: go

fix(cli): allow cold infrastructure installs more time
  cli/cmd/cluster_provision.go
Due: go

feat(cli): allow an explicit provisioning data-migration gate override
  cli/cmd/cluster_provision.go
Due: go

feat(marketing): clarify the independent video cloud positioning
  packages/site-config/index.ts
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
Due: frontend

various fixes for greenfield provisioning & staging env
  api_balancing/internal/control/cert_refresh_test.go
  api_balancing/internal/control/server.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/worker/dns_reconciler.go
  api_dns/internal/worker/dns_reconciler_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
Due: go

fix(ansible): skip runtime convergence probes in check mode
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/main.yml
Due: none

fix(helmsman): retry checksum-verified artifact downloads
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
Due: none

fix(nginx): reconcile Privateer after creating ingress TLS directories
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/tls_placeholders.yml
Due: none

fix(telemetry): scrape Mist metrics on the controller port
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/vmagent-edge.yml.j2
  cli/internal/templates/edge.go
  cli/internal/templates/edge_test.go
Due: go

fix(cli): scope doctor capabilities to the target release
  cli/cmd/cluster.go
  cli/cmd/cluster_capability_doctor.go
  cli/cmd/cluster_capability_doctor_test.go
  pkg/database/capabilities.go
Due: go

fix(cli): resolve edge release targets against the selected manifest
  cli/cmd/cluster_releases.go
  cli/cmd/cluster_releases_test.go
Due: go

fix(cli): keep service-targeted provisioning scoped
  cli/cmd/cluster_provision.go
Due: go

feat(edge): support private routing and preserve enrolled telemetry
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-container.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/prepare.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  cli/cmd/edge.go
  cli/cmd/edge_seam_test.go
  cli/cmd/edge_service_parse_test.go
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/edge_role_test.go
  cli/pkg/provisioner/edge_test.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cluster-manifest.mdx
Due: go

fix(tooling): move pnpm build approvals and patches into workspace settings
  package.json
  pnpm-workspace.yaml
Due: none

fix(frontend): prepare SDK and generated stores for local CI tests
  Makefile
  package.json
Due: none

fix(dev): sync unpublished commits exactly and require Node 24
  docs/development/remote-development.md
  scripts/remote-dev.sh
Due: none

test(staging): add authenticated disposable-stream media smoke check
  scripts/staging-media-smoke.sh
  scripts/staging-media-smoke.test.mjs
Due: none

provisioning fixes
  app_mac/Sources/Gateway/GeneratedQueries.swift
  cli/pkg/provisioner/remote_dev_test.go
  website_docs/Dockerfile
Due: go

fix CI some more & speedup precommit hook
  .github/release-components.json
  lefthook.yml
  scripts/lint-staged-go.sh
Due: none

chore(sdk): start the 0.2 release line
  npm_api/CHANGELOG.md
  npm_api/package.json
  npm_api/src/generated/manifest.ts
  npm_api/test/__snapshots__/publicApi.test.ts.snap
  npm_player/packages/core/CHANGELOG.md
  npm_player/packages/core/package.json
  npm_player/packages/react/CHANGELOG.md
  npm_player/packages/react/package.json
  npm_player/packages/svelte/CHANGELOG.md
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/CHANGELOG.md
  npm_player/packages/wc/package.json
  npm_studio/packages/core/CHANGELOG.md
  npm_studio/packages/core/package.json
  npm_studio/packages/react/CHANGELOG.md
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/CHANGELOG.md
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/CHANGELOG.md
  npm_studio/packages/wc/package.json
  pkg/graphql/public/majors/v0.json
  pkg/graphql/public/support.yaml
  sdk_go/manifest_gen.go
  sdk_python/src/livepeer_frameworks/_generated/manifest.py
  website_docs/src/content/docs/builders/sdks.mdx
Due: go, frontend

fix(release): allow publishing from dirty worktrees
  scripts/publish-packages.sh
Due: none

fix(release): do not wait for registry visibility
  scripts/publish-packages.sh
Due: none

fix(cli): read data migration ledgers from owning schemas
  cli/pkg/provisioner/data_migration_state.go
  cli/pkg/provisioner/data_migration_state_test.go
Due: go

fix(mistserver): preserve controller config during provision
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/configure-linux.yml
Due: none

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
