Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

coverage:
  status:
    project:
      default:
        target: auto # don't drop overall coverage
        threshold: 5% # allow 5% wiggle room
        informational: true # don't block PRs yet (remove once coverage is established)
    patch:
      default:
        target: 50% # new code should have some coverage
        informational: true # don't block PRs yet

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true # only comment if coverage changed

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

Add Skipper chat handler and orchestrator
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/chat/handler.go
  api_skipper/internal/chat/orchestrator.go
  api_skipper/internal/config/config.go
Due: go

Skipper: add chat handler, SSE streaming & LLM orchestrator with diagnostic tools (#216)
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/chat/handler.go
  api_skipper/internal/chat/orchestrator.go
  api_skipper/internal/config/config.go
Due: go

Add Skipper heartbeat agent
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/heartbeat/agent.go
  api_skipper/internal/heartbeat/reporter.go
  api_skipper/internal/heartbeat/triggers.go
Due: go

Add skipper heartbeat notification delivery
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/notify/config.go
  api_skipper/internal/notify/email.go
  api_skipper/internal/notify/mcp.go
  api_skipper/internal/notify/notify.go
  api_skipper/internal/notify/preferences.go
  api_skipper/internal/notify/report.go
Due: go

Lookout trigger: do not block consumer on snapshot load errors
  api_skipper/internal/heartbeat/triggers.go
Due: go

Add Skipper heartbeat agent, triggers, and reporter (#217)
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/heartbeat/agent.go
  api_skipper/internal/heartbeat/reporter.go
  api_skipper/internal/heartbeat/triggers.go
Due: go

Skipper notify: fix SMTP From envelope + avoid cross-tenant MCP broadcast
  api_skipper/internal/notify/config.go
  api_skipper/internal/notify/mcp.go
  pkg/email/sender.go
Due: go

Add Skipper notification delivery (email + MCP) (#218)
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/notify/config.go
  api_skipper/internal/notify/email.go
  api_skipper/internal/notify/mcp.go
  api_skipper/internal/notify/notify.go
  api_skipper/internal/notify/preferences.go
  api_skipper/internal/notify/report.go
  pkg/email/sender.go
Due: go

remove hero override
  website_marketing/src/styles/pages/landing.css
Due: none

Add Skipper billing metering
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/chat/handler.go
  api_skipper/internal/chat/orchestrator.go
  api_skipper/internal/chat/search_web.go
  api_skipper/internal/config/config.go
  api_skipper/internal/metering/middleware.go
  api_skipper/internal/metering/publisher.go
  api_skipper/internal/metering/tracker.go
  pkg/database/sql/schema/skipper.sql
Due: go

Skipper billing: fix api_skipper go.mod/sum via tidy
  api_skipper/go.mod
  api_skipper/go.sum
Due: none

Add Skipper prompt and tool schemas
  api_skipper/internal/chat/prompts.go
  api_skipper/internal/chat/tools.go
Due: go

Add LLM provider library (OpenAI / Anthropic / Ollama) with SSE streaming and tests (#206)
  pkg/llm/anthropic.go
  pkg/llm/anthropic_test.go
  pkg/llm/config.go
  pkg/llm/ollama.go
  pkg/llm/ollama_test.go
  pkg/llm/openai.go
  pkg/llm/openai_test.go
  pkg/llm/provider.go
Due: go

Add provider-agnostic pkg/search with Tavily, Brave and SearXNG providers and tests (#205)
  pkg/search/brave.go
  pkg/search/brave_test.go
  pkg/search/config.go
  pkg/search/provider.go
  pkg/search/searxng.go
  pkg/search/searxng_test.go
  pkg/search/tavily.go
  pkg/search/tavily_test.go
Due: go

Skipper followups: avoid port clash + document env vars
  api_skipper/internal/config/config.go
  config/env/base.env
  config/env/secrets.env.example
  docker-compose.yml
Due: go

Mount Skipper schema in Docker Compose and add bootstrap `skipper.sql` (#208)
  docker-compose.yml
  pkg/database/sql/schema/skipper.sql
Due: none

Add Skipper knowledge base subsystem (pgvector store, embedder, crawler) (#211)
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/crawler_test.go
  api_skipper/internal/knowledge/embedder.go
  api_skipper/internal/knowledge/embedder_test.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
  pkg/llm/embeddings.go
Due: go

scaffold(api_skipper): add Skipper service bootstrap, config, Dockerfile, Makefile and compose wiring (#209)
  Makefile
  api_skipper/Dockerfile
  api_skipper/cmd/skipper/main.go
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/config/config.go
  docker-compose.yml
Due: go

Add Skipper chat widget components (Svelte) with SSE mock streaming (#210)
  website_application/src/lib/components/index.ts
  website_application/src/lib/components/skipper/SkipperChat.svelte
  website_application/src/lib/components/skipper/SkipperInput.svelte
  website_application/src/lib/components/skipper/SkipperMessage.svelte
  website_application/src/lib/components/skipper/index.ts
Due: frontend

api_skipper: add search_web tool wrapper and confidence helpers (#212)
  api_skipper/internal/chat/confidence.go
  api_skipper/internal/chat/search_web.go
Due: go

Remove Skipper conversation migrations for prelaunch (#213)
  api_skipper/internal/chat/conversations.go
Due: go

more skipper scaffolding
  .github/workflows/release.yml
  Makefile
  README.md
  api_skipper/Dockerfile
  api_skipper/internal/config/config.go
  config/env/base.env
  docker-compose.yml
  docs/architecture/skipper.md
Due: go

Add docs Skipper chat widget (docs-mode) with Svelte integration (#214)
  pnpm-lock.yaml
  prettier.config.js
  website_docs/astro.config.mjs
  website_docs/package.json
  website_docs/src/components/DocsPageFrame.astro
  website_docs/src/components/Hero.astro
  website_docs/src/components/skipper/DocsSkipperChat.svelte
  website_docs/src/components/skipper/SkipperInput.svelte
  website_docs/src/components/skipper/SkipperMessage.svelte
  website_docs/src/styles/custom.css
Due: frontend

Add Skipper billing metering, Kafka publisher, and access middleware (#219)
  api_skipper/cmd/skipper/main.go
  api_skipper/go.mod
  api_skipper/go.sum
  api_skipper/internal/chat/handler.go
  api_skipper/internal/chat/orchestrator.go
  api_skipper/internal/chat/search_web.go
  api_skipper/internal/config/config.go
  api_skipper/internal/metering/middleware.go
  api_skipper/internal/metering/publisher.go
  api_skipper/internal/metering/tracker.go
  pkg/database/sql/schema/skipper.sql
Due: go

Add Skipper knowledge admin API (crawl/pages/upload/sources) (#215)
  api_skipper/cmd/skipper/main.go
  api_skipper/internal/knowledge/admin.go
  api_skipper/internal/knowledge/crawler.go
  api_skipper/internal/knowledge/store.go
  api_skipper/internal/knowledge/store_test.go
Due: go

Skipper heartbeat: send notifications even if persistence fails
  api_skipper/internal/heartbeat/reporter.go
Due: go

fix ci
  npm_player/packages/core/vitest.config.ts
  npm_studio/packages/core/vitest.config.ts
  website_application/src/lib/components/skipper/SkipperMessage.svelte
Due: frontend

Skipper chat: accept cookie auth + send credentials from widgets
  pkg/auth/middleware.go
  website_application/src/lib/components/skipper/SkipperChat.svelte
  website_docs/src/components/skipper/DocsSkipperChat.svelte
Due: go, frontend

lint
  .prettierignore
  npm_player/playground/src/index.css
  package.json
  website_docs/src/styles/custom.css
  website_marketing/src/index.css
  website_marketing/src/styles/marketing/badges.css
  website_marketing/src/styles/marketing/buttons.css
  website_marketing/src/styles/marketing/code.css
  website_marketing/src/styles/marketing/comparison.css
  website_marketing/src/styles/marketing/content.css
  website_marketing/src/styles/marketing/cta.css
  website_marketing/src/styles/marketing/grid-seam.css
  website_marketing/src/styles/marketing/hero.css
  website_marketing/src/styles/marketing/icons.css
  website_marketing/src/styles/marketing/layout.css
  website_marketing/src/styles/marketing/navigation.css
  website_marketing/src/styles/marketing/partners.css
  website_marketing/src/styles/marketing/timeline.css
  website_marketing/src/styles/pages/about.css
  website_marketing/src/styles/pages/contact.css
  website_marketing/src/styles/pages/documentation.css
  website_marketing/src/styles/pages/landing.css
  website_marketing/src/styles/pages/pricing.css
Due: none

ClickHouse: parse tenant acquisition user_id as UUID
  api_analytics_ingest/internal/handlers/handlers.go
Due: go

tweaks
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/config/config.go
  api_gateway/internal/attribution/attribution.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/middleware/auth_request.go
  api_tenants/internal/grpc/server.go
  config/env/secrets.env.example
  docker-compose.yml
  docs/architecture/skipper.md
  docs/rfcs/referral-attribution-network-usage.md
  pkg/clients/commodore/grpc_client.go
  pkg/llm/config.go
  pkg/llm/config_test.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
Due: go
