Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

codecov.yml:

# Codecov configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

codecov:
  notify:
    # Wait for explicit send-notifications from CI rather than firing after
    # the first upload. Prevents premature status checks when both Go and
    # frontend jobs run, and avoids waiting forever when one is skipped.
    manual_trigger: true

coverage:
  status:
    default_rules:
      # When a flag's CI job is skipped (no relevant file changes), auto-pass
      # its status check instead of leaving it pending or using stale data.
      flag_coverage_not_uploaded_behavior: pass
    project:
      go:
        target: auto
        threshold: 5%
        flags:
          - go
        informational: true
      frontend:
        target: auto
        threshold: 5%
        flags:
          - frontend
        informational: true
    patch:
      go:
        target: 50%
        flags:
          - go
        informational: true
      frontend:
        target: 50%
        flags:
          - frontend
        informational: true

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  behavior: default
  require_changes: true
  show_carryforward_flags: true

flags:
  go:
    paths:
      - "**/*.go"
    carryforward: true
  frontend:
    paths:
      - "**/*.ts"
      - "**/*.tsx"
      - "**/*.svelte"
    carryforward: true

fix(foghorn): check marshal and owner lookup errors
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/processor.go
Due: go

build(make): run every ci job in verify-prepush
  AGENTS.md
  Makefile
  cli/pkg/provisioner/yugabyte_relayout_engine_test.go
Due: go

fix(edge): build the cpu edge image on the mist host contract ubuntu 24.04
  .github/workflows/release.yml
  edge/Dockerfile
Due: none

fix(scripts): keep full history and tags in remotedev slots
  scripts/remote-dev.sh
Due: none

build(make): run go targets over tracked modules only
  Makefile
Due: none

test(cli): give yugabyte fixture statements the test's own deadline
  cli/pkg/provisioner/yugabyte_relayout_engine_test.go
Due: go

fix(foghorn): stamp fwcid only on live viewer urls
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/viewer_placement.go
  api_balancing/internal/control/viewer_placement_test.go
Due: go

fix(stack): recreate edge proxies and require each edge public url
  scripts/stack/up.sh
Due: none

fix(stack): count replica failover lines instead of grep -q under pipefail
  scripts/stack/scenarios/16-remote-replica-down.sh
Due: none

fix(stack): allow the gateway no-orchestrator 503 for the streams it names
  scripts/stack/logcheck.sh
Due: none

fix(helmsman): close a process billing window when its final sample seals it
  api_sidecar/internal/control/process_billing_window.go
  api_sidecar/internal/control/process_billing_window_test.go
Due: go

build(make): give each yugabyte engine contract its own test binary and budget
  Makefile
Due: none

fix(playback): keep processing reads out of viewer sessions
  api_balancing/internal/triggers/processing_read_user_end_test.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/triggers.go
Due: go

fix(helmsman): keep mist stream info requests out of viewer sessions
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_baseline_test.go
  infrastructure/mistserver.conf
  infrastructure/two-cell/mistserver-b.conf
Due: go

build(lint): lint the player and studio roots with the workspace eslint
  package.json
  pnpm-lock.yaml
  scripts/lint-staged-frontend.sh
Due: none

feat(playback): issue one playback session per resolve and carry it as mist's tkn
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_helpers_test.go
  api_balancing/internal/control/viewer_placement.go
  api_balancing/internal/control/viewer_placement_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/playback_redirect_test.go
  api_balancing/internal/handlers/viewer_credentials_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/playback_auth.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_sidecar/internal/handlers/playback_grants_test.go
  api_sidecar/internal/playbackgrant/store.go
  api_sidecar/internal/playbackgrant/store_test.go
  docs/architecture/viewer-routing.md
  npm_player/packages/core/src/core/BootTracer.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  pkg/mist/viewer_session.go
  pkg/mist/viewer_session_test.go
  website_docs/src/content/docs/builders/media-placement.mdx
  website_docs/src/content/docs/builders/playback-access-control.mdx
Due: go, frontend

build(make): install frontend dependencies from the lockfile before the prepush jobs
  Makefile
Due: none

docs(player): name fwjwt as the default viewer jwt parameter
  npm_player/packages/core/src/types.ts
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback-svelte.mdx
  website_docs/src/content/docs/builders/playback-wc.mdx
Due: frontend

build(make): give each yugabyte schema contract its own test binary and budget
  Makefile
Due: none

fix(periscope): return health samples and stream events whose nullable fields are unset
  api_analytics_query/internal/grpc/nullable_scan_test.go
  api_analytics_query/internal/grpc/server.go
Due: go

fix(helmsman): judge stream health on original tracks only, as mist does
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/media_health_track_test.go
  api_sidecar/internal/handlers/poller.go
Due: go

test(cli): date seeded clickhouse backup facts inside the api_requests ttl
  cli/pkg/provisioner/database_backup_realdb_test.go
Due: go

fix(foghorn): bound the ingest placement lifetime from when admission returns
  api_balancing/internal/triggers/ingest_placement.go
  api_balancing/internal/triggers/ingest_placement_test.go
Due: go

fix(foghorn): never offer a relay destination that has no control connection
  api_balancing/internal/balancer/placement_observation.go
  api_balancing/internal/control/source_connection.go
  api_balancing/internal/federation/placement_bootstrap_test.go
  api_balancing/internal/federation/placement_configured_paths.go
  api_balancing/internal/federation/placement_configured_source_test.go
  api_balancing/internal/federation/placement_destination_connection_test.go
  api_balancing/internal/federation/placement_destination_fence_test.go
  api_balancing/internal/federation/placement_live_paths.go
  api_balancing/internal/federation/placement_live_paths_test.go
  api_balancing/internal/federation/placement_media_serve_runtime.go
  api_balancing/internal/federation/placement_push_runtime.go
  api_balancing/internal/federation/placement_push_runtime_test.go
  api_balancing/internal/federation/placement_source_reauthorization_test.go
Due: go

fix(chandler): answer readiness from a background object store probe
  api_assets/cmd/chandler/main.go
  api_assets/cmd/chandler/router_test.go
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
  docs/architecture/thumbnails.md
Due: go

fix(purser): keep the crypto deposit scanner idle until deposit addresses can exist
  api_billing/internal/appconfig/purser.go
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/crypto_scanner.go
  api_billing/internal/handlers/crypto_scanner_test.go
  cli/internal/configschema/config-schema.json
  docs/architecture/agent-access.md
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/operators/configuration-reference.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go

fix(ansible): give homeless become users a writable remote tmp
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  cli/pkg/provisioner/become_remote_tmp_test.go
Due: go

fix(skipper): scope heartbeat analytics reads by request tenant only
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/monitoring.go
  api_consultant/internal/heartbeat/periscope_scope_test.go
Due: go

fix(helmsman): apply device discovery and the bandwidth limit through mist's own api calls
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_mist_settings_test.go
  api_sidecar/internal/config/manager_protocols_test.go
  pkg/mist/client.go
  pkg/mist/client_test.go
Due: go

feat(recordings): continue the recording when a publisher resumes the same buffer
  Makefile
  api_balancing/internal/control/dvr_ingest_close_test.go
  api_balancing/internal/control/dvr_resume_realpg_test.go
  api_balancing/internal/control/retryable_tx_ingest_close_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/grpc_artifacts.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/server_ingest.sql.go
  api_balancing/internal/database/queries/grpc_artifacts.sql
  api_balancing/internal/database/queries/server_ingest.sql
  api_balancing/internal/grpc/server.go
  api_balancing/internal/triggers/active_ingest_release_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/trigger_handlers_coverage_test.go
Due: go

fix(analytics): rank samples without a known video height as unknown, never sd
  Makefile
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/stream_health_tier_realclickhouse_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/primary_video_metrics_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.11/expand/004_stream_health_5m_unknown_tier.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/mist/primary_video.go
  pkg/mist/primary_video_test.go
Due: go

test(cli): terminate sessions still attached to a yugabyte test database before dropping it
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
Due: go

test: start contract yugabyte without the yugabyted ui, like production
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_consultant/internal/database/skipperdb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/store/store_realpg_test.go
  api_incidents/internal/lookouttest/postgres.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_webhooks/internal/integration/harness_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/yugabyte_relayout_rehearsal_test.go
  pkg/database/yugabyte_ha_test.go
  scripts/lint-staged-go.sh
  scripts/run-yugabyte-contract-fixture.sh
Due: go

fix(storage): validate s3-compatible checksums only when required
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/s3_checksum_test.go
  api_balancing/internal/storage/s3_client.go
  api_balancing/internal/storage/s3_client_checksum_test.go
Due: go

fix(recordings): report a recording's duration as the span its segments cover
  Makefile
  api_balancing/internal/control/dvr_duration_realpg_test.go
  api_balancing/internal/database/foghorndb/dvr_finalize.sql.go
  api_balancing/internal/database/queries/dvr_finalize.sql
Due: go

fix(bridge): project storage cost only for callers allowed to read billing
  api_gateway/internal/resolvers/storage_cost.go
  api_gateway/internal/resolvers/storage_cost_test.go
Due: go

test(stack): check that a paid tier's stored clip projects its storage cost
  scripts/stack/scenarios/22-storage-cost.sh
Due: none

build(stack): build mist with the release buildtype
  scripts/stack/mist.Dockerfile
Due: none

test: separate the yugabyted ui flag from the next argument
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_consultant/internal/database/skipperdb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/store/store_realpg_test.go
  api_incidents/internal/lookouttest/postgres.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_webhooks/internal/integration/harness_test.go
  scripts/run-yugabyte-contract-fixture.sh
Due: go

feat(cli): operator commands to look up a tenant by email and assign its tier
  Makefile
  api_billing/internal/database/purserdb/grpc_subscription_management.sql.go
  api_billing/internal/database/purserdb/querier.go
  api_billing/internal/database/queries/grpc_subscription_management.sql
  api_billing/internal/grpc/admin_assign_tier.go
  api_billing/internal/grpc/admin_assign_tier_realpg_test.go
  api_billing/internal/grpc/admin_assign_tier_test.go
  api_billing/internal/grpc/api_token_authorization.go
  api_billing/internal/grpc/api_token_authorization_test.go
  api_control/internal/database/commodoredb/admin_users.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/queries/admin_users.sql
  api_control/internal/grpc/admin_users.go
  api_control/internal/grpc/admin_users_test.go
  cli/cmd/admin.go
  cli/cmd/admin_billing_operator.go
  cli/cmd/admin_billing_operator_test.go
  cli/cmd/admin_billing_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/purser/grpc_client.go
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/events/internal/v1/billing.proto
  pkg/proto/events/internalv1/billing.pb.go
  pkg/proto/purser.proto
  pkg/proto/purser/purser.pb.go
  pkg/proto/purser/purser_grpc.pb.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go
