Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

Add tray command parameter forms
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  cli/cmd/commands.go
  cli/cmd/commands_test.go
Due: go

Harden tray command metadata
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  cli/cmd/commands.go
  cli/cmd/commands_test.go
Due: go

Bridge tray confirmations to CLI flags
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  cli/cmd/commands.go
  cli/cmd/commands_test.go
Due: go

Prevent tray CLI stdin prompts
  app_mac/Sources/CLI/CLIRunner.swift
Due: none

Quote tray command display
  app_mac/Sources/CLI/ConfigBridge.swift
Due: none

Keep tray command forms scrollable
  app_mac/Sources/UI/DiagnosticsView.swift
Due: none

Add FrameWorks ops Grafana dashboard
  infrastructure/grafana/dashboards/frameworks-ops.json
Due: none

Add dashboard drift checks and Metabase sync
  Makefile
  cli/cmd/cluster.go
  cli/cmd/cluster_metabase.go
  cli/pkg/dashcheck/dashcheck_test.go
  cli/pkg/metabase/sync.go
  cli/pkg/metabase/sync_test.go
  infrastructure/metabase/periscope_cards.yaml
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go

Fix root command race in tests
  cli/cmd/root.go
Due: go

fix privateer service pki permissions
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

stabilize edge control reconciliation
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/state/stream_state.go
  api_dns/internal/store/store.go
  api_dns/internal/store/tenant_alias.go
  api_sidecar/internal/config/env.go
  api_sidecar/internal/config/env_test.go
  api_sidecar/internal/handlers/mist_admin_proxy.go
  api_sidecar/internal/handlers/mist_admin_session_test.go
  api_sidecar/internal/handlers/poller.go
  api_tenants/internal/grpc/bootstrap_edge_node_more_test.go
  api_tenants/internal/grpc/release_targets_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/edge_deploy.go
  cli/cmd/edge_deploy_test.go
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
  pkg/outbox/outbox.go
  pkg/outbox/outbox_test.go
  website_application/src/lib/components/nodes/NodeModePanel.svelte
Due: go, frontend

Bump protoc to 35
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation_grpc.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/foghorn_relay.pb.go
  pkg/proto/foghorn_relay_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
  pkg/proto/skipper.pb.go
  pkg/proto/skipper_grpc.pb.go
Due: go

Add auth handoff schema and proto
  pkg/database/sql/migrations/commodore/v0.2.62/expand/001_auth_authorization_codes.sql
  pkg/database/sql/migrations/commodore/v0.2.62/expand/002_auth_device_codes.sql
  pkg/database/sql/schema/commodore.sql
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
Due: go

Implement auth handoff backend
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_auth_handoff_test.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/database/sql/migrations/commodore/v0.2.62/expand/001_auth_authorization_codes.sql
  pkg/database/sql/migrations/commodore/v0.2.62/expand/002_auth_device_codes.sql
  pkg/database/sql/schema/commodore.sql
Due: go

Fix metabase sync lint
  cli/pkg/metabase/sync.go
Due: go

Fix quartermaster lint
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
Due: go

Add browser auth approval pages
  website_application/src/routes/+layout.svelte
  website_application/src/routes/authorize/+page.svelte
  website_application/src/routes/device/+page.svelte
  website_application/src/routes/login/+page.svelte
Due: frontend

Harden browser auth handoff
  website_application/src/routes/authorize/+page.svelte
  website_application/src/routes/device/+page.svelte
Due: frontend

Tidy auth return redirects
  website_application/src/routes/+layout.svelte
  website_application/src/routes/login/+page.svelte
Due: frontend

Add CLI device-code login
  cli/cmd/login.go
  cli/cmd/login_test.go
Due: go

Add tray browser login handoff
  app_mac/Sources/AppState.swift
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/UI/LoginView.swift
Due: none

Fix CLI login lint
  cli/cmd/login.go
Due: go

Harden native auth handoff flows
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_auth_handoff_test.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/UI/LoginView.swift
  cli/cmd/login.go
  cli/cmd/login_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  website_application/src/routes/device/+page.svelte
Due: go, frontend

harden privateer mesh sync provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
Due: go

Make official gateway the player default
  npm_player/README.md
  npm_player/packages/core/README.md
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/src/vanilla/index.ts
  npm_player/packages/core/test/gateway-client.test.ts
  npm_player/packages/react/README.md
  npm_player/packages/react/package.json
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/useViewerEndpoints.ts
  npm_player/packages/svelte/README.md
  npm_player/packages/svelte/package.json
  npm_player/packages/svelte/src/LoadingPoster.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/index.ts
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/svelte/src/stores/viewerEndpoints.ts
  npm_player/packages/wc/README.md
  npm_player/packages/wc/package.json
  npm_player/packages/wc/src/components/fw-player.ts
  npm_player/packages/wc/src/iife-entry.ts
  website_docs/src/content/docs/builders/integration-guide.mdx
  website_docs/src/content/docs/builders/playback-access-control.mdx
  website_docs/src/content/docs/builders/playback-advanced.mdx
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback-svelte.mdx
  website_docs/src/content/docs/builders/playback-theming.mdx
  website_docs/src/content/docs/builders/playback-vanilla.mdx
  website_docs/src/content/docs/builders/playback-wc.mdx
  website_docs/src/content/docs/builders/playback.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/streams.mdx
Due: frontend

retry edge release target reads
  api_tenants/internal/grpc/release_targets_test.go
  api_tenants/internal/grpc/server.go
Due: go

harden edge enrollment preregistration
  api_balancing/internal/control/server.go
  api_tenants/internal/grpc/bootstrap_tokens_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/edge.go
  cli/pkg/clients/bridge/client.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

fix foghorn external tls bundle selection
  api_balancing/internal/control/cert_refresh_test.go
  api_balancing/internal/control/server.go
Due: go

harden foghorn tls routing metadata
  api_balancing/internal/control/cert_refresh_test.go
  api_balancing/internal/control/server.go
Due: go

fix foghorn listener ownership
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_tls_mode_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_tenants/internal/grpc/bootstrap_tokens_test.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/node_owner_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  docker-compose.yml
  pkg/servicedefs/servicedefs.go
  pkg/servicedefs/servicedefs_test.go
Due: go

harden foghorn bridge boundary
  api_gateway/internal/resolvers/foghorn_boundary_test.go
  docs/architecture/edge-auth.md
  docs/architecture/edge-deployment.md
  docs/architecture/federation.md
  docs/architecture/foghorn-ha.md
  docs/architecture/tls.md
Due: go

Keep tray auth callback alive
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/UI/LoginView.swift
Due: none

Let tray loopback auth linger
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/UI/LoginView.swift
Due: none

fix smtp message headers
  api_billing/internal/handlers/email.go
  api_control/internal/grpc/server.go
  cli/pkg/provisioner/chatwoot_role.go
  cli/pkg/provisioner/chatwoot_role_test.go
  cli/pkg/provisioner/listmonk_role_test.go
  pkg/email/sender.go
  pkg/email/sender_test.go
Due: go

Fix native edge vmagent token flag rendering
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
  cli/pkg/provisioner/edge_test.go
Due: go

retry transient yugabyte schema mismatches
  api_analytics_query/internal/handlers/billing.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/orphan_cleanup.go
  api_tenants/internal/grpc/bootstrap_edge_node_more_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  pkg/database/retry.go
  pkg/database/retry_test.go
Due: go

harden mesh dns and yugabyte retries
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/control/dvr_segments_repo_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  pkg/database/retry.go
  pkg/database/retry_test.go
Due: go

Caddy overwrite cors headers
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
Due: go

Fix managed pull stream source resolution
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/pull_source_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go

Fix durable trigger delivery guarantees
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_mist_trigger_test.go
  api_balancing/internal/triggers/processor.go
  api_firehose/cmd/decklog/main.go
  api_firehose/internal/grpc/server.go
  api_firehose/internal/grpc/server_test.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/metrics.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/trigger_wal_admin.go
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_test.go
  docs/architecture/analytics-pipeline.md
  docs/architecture/trigger-durability.md
  infrastructure/grafana/dashboards/trigger-durability.json
  infrastructure/metabase/periscope_cards.yaml
  pkg/database/sql/clickhouse/periscope.sql
  pkg/mist/triggers.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
