Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

foghorn: storage_cluster_id schema + resolver/Chandler helper plumbing
  api_balancing/internal/control/chandler_base_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_artifact_audit_test.go
  api_balancing/internal/federation/server_prepare_test.go
  api_balancing/internal/storage/cluster_resolver.go
  api_balancing/internal/storage/cluster_resolver_test.go
  pkg/database/sql/migrations/foghorn/v0.2.27/expand/001_storage_cluster_id.sql
  pkg/database/sql/schema/foghorn.sql
Due: go

foghorn: MintStorageURLs RPC + PrepareArtifact redirect + VOD resolver
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_prepare_test.go
  api_balancing/internal/grpc/server.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation_grpc.pb.go
Due: go

foghorn: federated freeze/thumbnail mint + playback URL switch + storage_mint metric
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_mint_storage_test.go
  api_balancing/internal/handlers/handlers.go
Due: go

foghorn: federated mint correctness + tenant scoping
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_mint_storage_test.go
  api_balancing/internal/grpc/server.go
  pkg/database/sql/migrations/foghorn/v0.2.27/expand/001_storage_cluster_id.sql
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation_grpc.pb.go
Due: go

tweak player lead-in animation
  npm_player/packages/react/src/components/LoadingPoster.tsx
  npm_player/packages/react/test/LoadingPoster.test.tsx
  npm_player/packages/svelte/src/LoadingPoster.svelte
  npm_player/packages/wc/src/components/fw-loading-poster.ts
Due: frontend

tweak DNS pool mngmnt
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_dns/internal/provider/bunny/client.go
  api_dns/internal/provider/bunny/client_test.go
  api_dns/internal/worker/dns_reconciler.go
  pkg/servicedefs/servicedefs.go
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/dns.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/geodns.mdx
  website_docs/src/content/docs/operators/prerequisites.mdx
Due: go

fix cluster migrate context
  cli/cmd/cluster_migrate.go
Due: go

tweak listmonk CLI env handling
  cli/pkg/provisioner/listmonk_role.go
  cli/pkg/provisioner/listmonk_role_test.go
  pkg/servicedefs/servicedefs.go
  pkg/servicedefs/servicedefs_test.go
Due: go

fix trailing slash requirement (excluding it causing CORS errors)
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/middleware/graphql_allowlist.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  docs/architecture/agent-access.md
  docs/skills/SKILL.md
  docs/skills/did.json
  docs/skills/llms.txt
  docs/skills/mcp.json
  docs/skills/oauth-protected-resource.json
  docs/skills/skill.json
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
  pkg/server/server.go
  pkg/server/server_test.go
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/overview.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/agents/wallet-auth.mdx
Due: go

hopefully fix chatwoot/listmonk actually getting provisioned...
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/tasks/main.yml
Due: none

bundle skill files properly in non-docker dists
  .github/workflows/release.yml
  api_gateway/cmd/bridge/main.go
  api_gateway/cmd/bridge/main_test.go
  website_application/package.json
  website_docs/package.json
  website_marketing/package.json
Due: go

bind livepeer gateway http to 0.0.0.0 to for health checks
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
Due: go

fix sops enc key lookup
  cli/pkg/bootstrap/resolve.go
  cli/pkg/bootstrap/resolve_test.go
Due: go

more provisioning fixes
  api_tenants/internal/bootstrap/check.go
  api_tenants/internal/bootstrap/check_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
Due: go

wire up S3 deletion of expired/deleted assets
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/artifacts/cleanup.go
  api_balancing/internal/artifacts/cleanup_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_delete_storage_test.go
  api_balancing/internal/federation/server_mint_storage_test.go
  api_balancing/internal/federation/server_prepare_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/purge_deleted.go
  api_balancing/internal/jobs/purge_deleted_test.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation_grpc.pb.go
Due: go

i guess we need a separate postgres for chatwoot
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/templates/compose.yml.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/ports.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/provisioner/chatwoot_role.go
  cli/pkg/provisioner/chatwoot_role_test.go
  cli/pkg/provisioner/listmonk_role.go
  cli/pkg/provisioner/listmonk_role_test.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

fix privateer provision
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/tasks/secret.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/validate.yml
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  cli/pkg/provisioner/role_provisioner.go
  cli/pkg/provisioner/role_provisioner_test.go
  cli/pkg/provisioner/service_bootstrap_runner.go
Due: go

fix postgres provision
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/postgres_role_test.go
Due: go

whitelist docker gateway in postgres
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/defaults/main.yml
  cli/pkg/provisioner/postgres_role_test.go
Due: go

let quartermaster enrich gitops-seeded nodes with lat/lng lookup as well
  api_tenants/cmd/quartermaster/bootstrap.go
  api_tenants/internal/bootstrap/nodes.go
  api_tenants/internal/bootstrap/nodes_test.go
  api_tenants/internal/bootstrap/reconciler.go
Due: go

maybe fix chatwoot provision now?
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/templates/compose.yml.j2
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

fix lint
  api_tenants/internal/bootstrap/reconciler.go
Due: go

collect compose logs if provision fails
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
Due: none

more chatwoot - redis - postgres provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/postgres_role_test.go
Due: go

provision with a redis password or flip to insecure mode
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/instance.conf.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_redis_test.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/chatwoot_role.go
  cli/pkg/provisioner/chatwoot_role_test.go
  cli/pkg/provisioner/postgres_role_test.go
Due: go

more cli shared env loading fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/tasks/main.yml
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/shared_env.go
  cli/pkg/inventory/shared_env_test.go
Due: go

slightly smarter cleanup of stale cloudflare dns pools
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
Due: go

fix docs website
  docker-compose.yml
  pkg/configgen/configgen.go
  pkg/configgen/configgen_test.go
  website_docs/Dockerfile
  website_docs/env.example
  website_docs/src/components/DocsPageFrame.astro
  website_docs/src/components/Header.astro
  website_docs/src/components/MobileMenuFooter.astro
  website_docs/src/components/auth/DocsAuthPanel.svelte
  website_docs/src/content/docs/blog/agentic-audit-pipeline.mdx
  website_docs/src/lib/auth.ts
  website_docs/src/lib/graphql.ts
Due: go, frontend

change listnodes rpc
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_connections_infra_test.go
  api_tenants/internal/grpc/list_nodes_test.go
  api_tenants/internal/grpc/server.go
  pkg/graphql/operations/queries/GetNodesConnection.gql
  website_application/src/lib/components/charts/RoutingMap.svelte
Due: go, frontend

billing bootstrap tweaks
  api_billing/internal/bootstrap/desired_state.go
  api_billing/internal/bootstrap/orchestrator.go
  api_billing/internal/grpc/billing_status_test.go
  api_billing/internal/grpc/server.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/types.go
  cli/pkg/bootstrap/validate.go
  cli/pkg/bootstrap/validate_test.go
  docs/architecture/bootstrap-desired-state.md
Due: go

set listmonk public uri
  cli/pkg/provisioner/listmonk_role.go
  cli/pkg/provisioner/listmonk_role_test.go
Due: go

cli: try and force chatwoot onboarding if it got interrupted for some reason
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/templates/compose.yml.j2
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go

fix ingest uri derivation
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/infrastructure_streaming_config_test.go
Due: go

fix listmonk reconciliation if public uri changes (why do they put this in a DB...)
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/tasks/main.yml
  cli/pkg/provisioner/listmonk_role.go
  cli/pkg/provisioner/listmonk_role_test.go
Due: go

navigator: always sync lat/lng to Bunny DNS - even if there's only 1 node in the pool
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
Due: go

mod docs
  website_docs/astro.config.mjs
  website_docs/src/components/skipper/DocsSkipperChat.svelte
  website_docs/src/components/skipper/DocsSkipperToolResult.svelte
  website_docs/src/components/skipper/SkipperMessage.svelte
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/builders/encoder-setup.mdx
  website_docs/src/content/docs/builders/ingest-advanced.mdx
  website_docs/src/content/docs/builders/ingest-compositor.mdx
  website_docs/src/content/docs/builders/ingest-react.mdx
  website_docs/src/content/docs/builders/ingest-svelte.mdx
  website_docs/src/content/docs/builders/ingest-vanilla.mdx
  website_docs/src/content/docs/builders/ingest-wc.mdx
  website_docs/src/content/docs/builders/ingest.mdx
  website_docs/src/content/docs/builders/integration-guide.mdx
  website_docs/src/content/docs/builders/multistreaming.mdx
  website_docs/src/content/docs/builders/playback-advanced.mdx
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback-svelte.mdx
  website_docs/src/content/docs/builders/playback-theming.mdx
  website_docs/src/content/docs/builders/playback-vanilla.mdx
  website_docs/src/content/docs/builders/playback-wc.mdx
  website_docs/src/content/docs/builders/playback.mdx
  website_docs/src/content/docs/builders/quick-start.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/thumbnails-and-previews.mdx
  website_docs/src/content/docs/builders/troubleshooting.mdx
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/hybrid/edge-nodes.mdx
  website_docs/src/content/docs/hybrid/node-cli.mdx
  website_docs/src/content/docs/index.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/chatwoot-setup.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/listmonk-setup.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: frontend

tweak marketing site network map
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/spreadOverlap.js
  website_marketing/src/components/pages/About.jsx
Due: none

docs site skipper css tweak
  website_docs/src/styles/custom.css
Due: none

webapp tweaks
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/spreadOverlap.ts
  website_application/src/lib/components/dashboard/DynamicHints.svelte
  website_application/src/lib/components/infrastructure/NodeCard.svelte
  website_application/src/lib/components/stream-details/PlaybackTabPanel.svelte
  website_application/src/routes/+page.svelte
  website_application/src/routes/account/balance/+page.svelte
  website_application/src/routes/developer/sdks/+page.svelte
  website_application/src/routes/go-live/+page.svelte
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/nodes/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: frontend

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
