Repository Livepeer-FrameWorks/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: go, frontend

balancing: fallback artifact lookup when tenant_id NULL
  api_balancing/internal/control/playback.go
Due: go

foghorn: require tenant_id on artifacts
  api_balancing/internal/control/playback.go
  pkg/database/sql/schema/foghorn.sql
Due: go

fix(playback): unify /play errors and reuse resolved live data (#106)
  api_balancing/internal/control/playback.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  pkg/database/sql/schema/foghorn.sql
Due: go

Harden ingest normalization and service event guards
  api_balancing/internal/triggers/processor.go
  api_firehose/internal/grpc/server.go
Due: go

Harden billing enforcement caching
  api_balancing/internal/triggers/processor.go
  pkg/clients/commodore/grpc_client.go
Due: go

Improve playback failure diagnostics
  npm_player/packages/core/src/core/ErrorClassifier.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/svelte/src/stores/playerController.ts
Due: frontend

Harden billing enforcement cache handling (#108)
  api_balancing/internal/triggers/processor.go
  pkg/clients/commodore/grpc_client.go
Due: go

Improve playback diagnostics for blacklisted protocols (#109)
  npm_player/packages/core/src/core/ErrorClassifier.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/svelte/src/stores/playerController.ts
Due: frontend

Guard UsageTracker flush until service tenant ID is set
  api_gateway/internal/middleware/usage_tracker.go
Due: go

Fix player fallback combo handling
  npm_player/packages/core/src/core/PlayerManager.ts
Due: frontend

player: treat source URL change as selection change
  npm_player/packages/core/src/core/PlayerManager.ts
Due: frontend

Harden ingest normalization and service event guards (#107)
  api_balancing/internal/triggers/processor.go
  api_firehose/internal/grpc/server.go
  api_gateway/internal/middleware/usage_tracker.go
Due: go

Preserve stream source NodeID
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/state/stream_state.go
Due: go

Fix artifact lifecycle transitions
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
Due: go

Improve helmsman control stream resilience
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
Due: go

Fix clip/dvr lifecycle split handling
  api_gateway/graph/schema.resolvers.go
  docs/architecture/clips-dvr.md
  npm_player/pnpm-lock.yaml
  npm_studio/pnpm-lock.yaml
  pkg/graphql/schema.graphql
Due: go

Use player+protocol+URL combos for fallback and caching (#110)
  npm_player/packages/core/src/core/PlayerManager.ts
Due: frontend

balancing: preserve stream source fallback when inputs lag
  api_balancing/internal/control/server.go
  api_balancing/internal/handlers/root_page.go
Due: go

Preserve stream source NodeID and add deferred DVR stop registry with decklog emissions (#111)
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/state/stream_state.go
Due: go

Fix artifact lifecycle transitions and events (#112)
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
Due: go

Improve cold storage state reporting
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/storage_manager.go
Due: go

sidecar: avoid waiting on reconnect when stream already connected
  api_sidecar/internal/control/client.go
Due: go

Add explicit artifact type and defrost path sync
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/stream_state.go
  api_sidecar/internal/handlers/poller.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
Due: go

Remove audit plan file
  api_analytics_query/internal/grpc/server.go
  api_gateway/graph/helpers.go
  pkg/proto/periscope.proto
Due: go

Improve Helmsman control stream resilience (#113)
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
Due: go

chore: drop unrelated pnpm lockfile changes
  npm_player/pnpm-lock.yaml
  npm_studio/pnpm-lock.yaml
Due: none

Improve disk space handling for clips and DVR
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/storage/diskspace.go
  website_application/src/routes/streams/[id]/+page.svelte
Due: go, frontend

sidecar: don’t emit SYNCED on failed upload; fix nilerr
  api_sidecar/internal/handlers/storage_manager.go
Due: go

Improve cold storage state reporting and eviction failure handling (#115)
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/storage_manager.go
Due: go

bump gen
  pkg/proto/commodore.pb.go
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
Due: go

harden FOGHORN_DEFAULT_STORAGE_BASE
  README.md
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  config/env/base.env
Due: go

Fix heartbeat-based node staleness
  api_balancing/internal/control/server.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
Due: go

Fix storage snapshot accuracy (timestamps, hot/cold, in‑flight filtering, final size)
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_query/internal/grpc/server.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/storage_manager.go
Due: go

Improve retention docs and CLI duration parsing
  cli/cmd/admin.go
  cli/cmd/admin_test.go
  docs/architecture/clips-dvr.md
Due: go

Make content_type optional, document VOD, improve Commodore logging, remove plan file (#117)
  api_analytics_query/internal/grpc/server.go
  api_gateway/graph/helpers.go
  pkg/proto/periscope.proto
Due: go

Add explicit artifact types and sync defrost paths (#116)
  README.md
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/stream_state.go
  api_sidecar/internal/handlers/poller.go
  config/env/base.env
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go

Improve disk space guards for clips and DVR (#118)
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/storage/diskspace.go
  website_application/src/routes/streams/[id]/+page.svelte
Due: go, frontend

balancing: clear last heartbeat on disconnect to keep node stale
  api_balancing/internal/state/stream_state.go
Due: go

Path conditions:
  go: any of: **/*.go
  frontend: any of: **/*.ts, **/*.tsx, **/*.svelte
