Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

webapp: reduce clustersConnection complexity
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/queries/GetInfrastructureOverview.gql
Due: none

Skipper tweaks for tool usage & rendering output
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/orchestrator_integration_test.go
  api_consultant/internal/chat/prompts.go
  api_consultant/internal/chat/tools.go
  api_consultant/internal/webui/web/app.js
Due: go-fmt, go-lint, frontend-format, frontend-lint

lint
  api_balancing/internal/control/server.go
  api_balancing/internal/orchestrator/node_update.go
  api_sidecar/internal/updater/component.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/create_node_test.go
  api_tenants/internal/grpc/node_operations_test.go
  cli/cmd/cluster_releases.go
Due: go-fmt, go-lint

add privateer-powered basic node stats
  api_gateway/graph/live_node_snapshot.go
  api_gateway/graph/live_node_snapshot_test.go
  api_gateway/graph/schema.resolvers.go
  api_mesh/go.mod
  api_mesh/go.sum
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/snapshot.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  api_tenants/internal/grpc/update_node_status_test.go
  pkg/database/sql/migrations/quartermaster/v0.2.31/expand/002_node_resource_snapshot.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
Due: go-fmt, go-lint

docs migration guides etc
  website_docs/astro.config.mjs
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/migrate/generic.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/data-models.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_docs/src/content/docs/operators/skipper.mdx
Due: frontend-format

wire up clickhouse migrations
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/schema.yml
  cli/cmd/cluster_init.go
  cli/cmd/cluster_migrate.go
  cli/pkg/provisioner/clickhouse_role.go
  cli/pkg/provisioner/clickhouse_schema_helpers.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/migrate_clickhouse_test.go
  cli/pkg/provisioner/migrate_helpers.go
  cli/pkg/provisioner/migrate_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.31/expand/001_orchestrator_visibility.sql
  website_docs/src/content/docs/operators/clickhouse-migrations.mdx
Due: go-fmt, go-lint, frontend-format

make CI / lint happy (?) again
  .github/workflows/notify-go-livepeer-pkg-bump.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/tasks/main.yml
  api_analytics_query/internal/grpc/orchestrators.go
  api_balancing/internal/grpc/server_test.go
  api_balancing/internal/handlers/livepeer_auth.go
  api_gateway/internal/resolvers/infrastructure.go
  cli/cmd/cluster_init.go
  cli/cmd/cluster_migrate.go
Due: go-fmt, go-lint, frontend-format

stream pulling & lint
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/migrate.yml
  api_balancing/internal/balancer/balancer.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/resolver.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/pull_source_test.go
  api_balancing/internal/triggers/processor.go
  api_control/cmd/commodore/bootstrap.go
  api_control/internal/bootstrap/check.go
  api_control/internal/bootstrap/desired_state.go
  api_control/internal/bootstrap/pull_streams.go
  api_control/internal/bootstrap/pull_streams_test.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/config/manager.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/types.go
  docs/architecture/pull-streams.md
  packages/site-config/index.ts
  pkg/clients/commodore/grpc_client.go
  pkg/database/sql/migrations/commodore/v0.3.31/expand/002_pull_streams.sql
  pkg/database/sql/schema/commodore.sql
  pkg/graphql/operations/queries/GetOrchestratorsConnection.gql
  pkg/graphql/schema.graphql
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  pkg/pullsource/pullsource.go
  pkg/pullsource/pullsource_test.go
  website_application/src/lib/components/dashboard/OrchestratorSidePanel.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/config.js
Due: go-fmt, go-lint, frontend-format, frontend-lint

harden edge provisioning
  api_balancing/internal/orchestrator/phase_redrive_test.go
  api_balancing/internal/orchestrator/reconciler.go
  api_balancing/internal/orchestrator/reconciler_test.go
  api_tenants/internal/grpc/release_targets_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/context_check.go
  cli/cmd/context_check_test.go
Due: go-fmt, go-lint

harden node stats
  api_gateway/graph/live_node_snapshot.go
  api_gateway/graph/live_node_snapshot_test.go
  api_gateway/graph/schema.resolvers.go
  cli/cmd/cluster.go
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_geoip_test.go
  cli/cmd/cluster_init.go
  cli/cmd/cluster_manifest_guard_test.go
  cli/cmd/cluster_migrate.go
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/resolve.go
  cli/pkg/inventory/types.go
Due: go-fmt, go-lint

harden stream auth/pulling
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/triggers/metrics.go
  api_balancing/internal/triggers/playback_auth.go
  api_balancing/internal/triggers/playback_auth_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_control/cmd/commodore/bootstrap.go
  api_control/internal/bootstrap/check.go
  api_control/internal/bootstrap/pull_streams.go
  api_control/internal/bootstrap/pull_streams_test.go
  api_control/internal/grpc/invalidation_outbox.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/playback_access_control_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/signing_key_audit.go
  api_tenants/internal/bootstrap/clusters.go
  api_tenants/internal/bootstrap/desired_state.go
  api_tenants/internal/grpc/server.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/types.go
  cli/pkg/inventory/types.go
  docs/architecture/pull-streams.md
  pkg/cache/cache.go
  pkg/database/sql/migrations/commodore/v0.2.31/expand/001_playback_access_control.sql
  pkg/database/sql/migrations/commodore/v0.2.31/expand/002_pull_streams.sql
  pkg/database/sql/migrations/commodore/v0.2.31/expand/003_invalidation_outbox.sql
  pkg/database/sql/migrations/commodore/v0.2.31/expand/004_signing_key_audit.sql
  pkg/database/sql/migrations/quartermaster/v0.2.31/expand/003_cluster_allow_private_pull_sources.sql
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn.proto
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
  pkg/pullsource/pullsource.go
  pkg/pullsource/pullsource_test.go
Due: go-fmt, go-lint, frontend-format

docs cleanup
  website_docs/astro.config.mjs
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/encoder-setup.mdx
  website_docs/src/content/docs/builders/integration-guide.mdx
  website_docs/src/content/docs/builders/playback-access-control.mdx
  website_docs/src/content/docs/builders/playback-advanced.mdx
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback.mdx
  website_docs/src/content/docs/builders/pull-streams.mdx
  website_docs/src/content/docs/builders/quick-start.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/streams.mdx
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/hybrid/edge-nodes.mdx
  website_docs/src/content/docs/hybrid/node-cli.mdx
  website_docs/src/content/docs/hybrid/overview.mdx
  website_docs/src/content/docs/index.mdx
  website_docs/src/content/docs/migrate/generic.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/operators/ansible-provisioning.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/dns.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/geodns.mdx
  website_docs/src/content/docs/operators/mesh-bootstrap.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
  website_docs/src/content/docs/operators/operations.mdx
  website_docs/src/content/docs/operators/prerequisites.mdx
  website_docs/src/content/docs/operators/system-design.mdx
  website_docs/src/content/docs/operators/wireguard.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: frontend-format

sync the right dash/cmaf settings...
  api_sidecar/internal/config/manager.go
Due: go-fmt, go-lint

more stream pulling hardening
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_control/internal/bootstrap/pull_streams.go
  api_control/internal/bootstrap/pull_streams_test.go
  pkg/database/sql/migrations/commodore/v0.2.31/expand/005_ingest_mode_check.sql
  pkg/database/sql/migrations/commodore/v0.2.31/postdeploy/005_ingest_mode_check.sql
  pkg/database/sql/schema/commodore.sql
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
Due: go-fmt, go-lint

prevent token expiry & rotation from triggering the mechanism that detects access token MITM/sharing
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_auth_conversion_test.go
  pkg/database/sql/migrations/commodore/v0.2.31/expand/006_refresh_token_rotation_grace.sql
  pkg/database/sql/schema/commodore.sql
  website_application/src/lib/stores/auth.test.ts
  website_application/src/lib/stores/auth.ts
Due: go-fmt, go-lint, frontend-format, frontend-lint

detect & rotate on cert changes within a grpc server
  pkg/grpcutil/tls.go
  pkg/grpcutil/tls_test.go
Due: go-fmt, go-lint

lint
  pkg/grpcutil/tls_test.go
Due: go-fmt, go-lint

cli: clean up existing running services that are detected but no longer in the manifest
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint

harden provisioning spindown of (re)moved services
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

tweak studio migration guide
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
Due: frontend-format

more docs cleanup & add migration guides
  website_docs/astro.config.mjs
  website_docs/src/content/docs/builders/dvr-chapters.mdx
  website_docs/src/content/docs/builders/playback.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/streams.mdx
  website_docs/src/content/docs/index.mdx
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_docs/src/content/docs/operators/dvr.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: frontend-format

add `nomsgpack` flag to builds to skip a heavy dep's dep
  .github/workflows/release.yml
  Makefile
  api_analytics_ingest/Dockerfile
  api_analytics_query/Dockerfile
  api_assets/Dockerfile
  api_balancing/Dockerfile
  api_billing/Dockerfile
  api_consultant/Dockerfile
  api_control/Dockerfile
  api_dns/Dockerfile
  api_firehose/Dockerfile
  api_forms/Dockerfile
  api_gateway/Dockerfile
  api_realtime/Dockerfile
  api_sidecar/Dockerfile
  api_tenants/Dockerfile
  api_ticketing/Dockerfile
  scripts/coverage-report.sh
Due: frontend-format

fix flaky test
  api_sidecar/internal/control/client_send_test.go
  api_sidecar/internal/control/client_test.go
Due: go-fmt, go-lint

new mist config sync
  infrastructure/mistserver.conf
Due: none

webapp: missing icon
  website_application/src/lib/iconUtils.ts
Due: frontend-format, frontend-lint

commodore: fix query bug
  api_control/internal/grpc/server.go
Due: go-fmt, go-lint

put the DB migrations under the correct tag...
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.32/expand/001_orchestrator_visibility.sql
  pkg/database/sql/migrations/commodore/v0.2.32/expand/001_playback_access_control.sql
  pkg/database/sql/migrations/commodore/v0.2.32/expand/002_pull_streams.sql
  pkg/database/sql/migrations/commodore/v0.2.32/expand/003_invalidation_outbox.sql
  pkg/database/sql/migrations/commodore/v0.2.32/expand/004_signing_key_audit.sql
  pkg/database/sql/migrations/commodore/v0.2.32/expand/005_ingest_mode_check.sql
  pkg/database/sql/migrations/commodore/v0.2.32/expand/006_refresh_token_rotation_grace.sql
  pkg/database/sql/migrations/commodore/v0.2.32/postdeploy/005_ingest_mode_check.sql
  pkg/database/sql/migrations/foghorn/v0.2.32/contract/001_edge_update_state_contract.sql
  pkg/database/sql/migrations/foghorn/v0.2.32/expand/001_edge_update_state.sql
  pkg/database/sql/migrations/foghorn/v0.2.32/expand/002_dvr_segments.sql
  pkg/database/sql/migrations/foghorn/v0.2.32/expand/003_dvr_chapters.sql
  pkg/database/sql/migrations/quartermaster/v0.2.32/contract/001_edge_release_targets_contract.sql
  pkg/database/sql/migrations/quartermaster/v0.2.32/expand/001_edge_release_targets.sql
  pkg/database/sql/migrations/quartermaster/v0.2.32/expand/002_node_resource_snapshot.sql
  pkg/database/sql/migrations/quartermaster/v0.2.32/expand/003_cluster_allow_private_pull_sources.sql
Due: none

add binary to gitignore
  .gitignore
Due: none

Expand roadmap a bit.
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/roadmap.mdx
Due: frontend-format

set some basic release notes standards so we don't forget for future releases
  docs/standards/release-notes.md
Due: frontend-format

fix clickhouse migrate bug
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/migrate.yml
Due: frontend-format

Fix cluster provisioning release rollout issues
  .github/workflows/release.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  cli/cmd/cluster_init.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/detect/detector.go
  cli/pkg/detect/detector_test.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.33/expand/001_cluster_scoped_rollups.sql
Due: go-fmt, go-lint, frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
