Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

fix db seed oopsie
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

linter and codecov fixes
  .github/workflows/ci.yml
  Makefile
  README.md
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/handlers/cleanup.go
  npm_player/packages/core/test-results/junit.xml
  package.json
  pnpm-lock.yaml
  website_application/vite.config.js
Due: go-fmt, go-lint, frontend-format, frontend-lint

increase default complexity limit
  config/env/base.env
Due: none

pass correct env vars to listmonk
  docker-compose.yml
Due: frontend-format

Add RFC for better rate limiting 7 API 'budgets'
  docs/rfcs/complexity-aware-rate-limiting.md
Due: frontend-format

docs: clarify demo mode service events
  PLAN_docs_audit.md
  docs/architecture/service-events.md
Due: frontend-format

Harden tenant scoping for analytics
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/tenant.go
  pkg/clients/periscope/grpc_client.go
Due: go-fmt, go-lint

Use percent-based disk headroom for DVR
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/storage/diskspace.go
Due: go-fmt, go-lint

Align edge CLI docs and add forms build target
  Makefile
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/hybrid/node-cli.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_docs/src/content/docs/streamers/mcp.mdx
Due: frontend-format

Harden billing ingest idempotency
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

periscope client: enforce tenantID non-empty (defense-in-depth)
  pkg/clients/periscope/grpc_client.go
Due: go-fmt, go-lint

sidecar: make disk headroom checks robust (mkdir + statfs parent + better errors)
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/storage/diskspace.go
Due: go-fmt, go-lint

billing: skip poison usage Kafka messages instead of retry-looping
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

Harden tenant scoping for analytics (#76)
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/tenant.go
  pkg/clients/periscope/grpc_client.go
Due: go-fmt, go-lint

Use percent-based disk headroom for DVR (#77)
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/storage/diskspace.go
Due: go-fmt, go-lint

docs: fix Helmsman port protocol + ensure bin/ exists in build-bin instructions
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
Due: frontend-format

docs: align edge CLI examples, add Makefile `build-bin-forms`, and clarify Listmonk ports (#78)
  Makefile
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/hybrid/node-cli.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_docs/src/content/docs/streamers/mcp.mdx
Due: frontend-format

Harden billing usage ingestion and Periscope DLQ/duplicate-event metrics (#82)
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

billing: fix rows close leak, thread ctx w/ timeouts, validate rollup SQL args
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

billing jobs: close rows per-tenant, thread ctx/timeouts, harden rollup SQL (#84)
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

replace depr storage_gb with average_storage_gb, add a few RFC's, initial webapp tweaks
  api_billing/internal/grpc/server.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/resolvers/billing.go
  docs/rfcs/bulk-operations.md
  docs/rfcs/flow-automation.md
  docs/rfcs/parlor.md
  docs/rfcs/stream-balances.md
  pkg/database/sql/seeds/demo/demo_data.sql
  website_application/src/routes/analytics/+page.svelte
  website_application/src/routes/analytics/geographic/+page.server.ts
  website_application/src/routes/analytics/storage/+page.server.ts
  website_application/src/routes/analytics/transcoding/+page.server.ts
  website_application/src/routes/analytics/usage/+page.svelte
  website_application/src/routes/streams/[id]/analytics/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

fixes after rebase
  api_gateway/internal/resolvers/tenant.go
  lefthook.yml
Due: go-fmt, go-lint, frontend-format

Improve ingest error handling and session ordering
  api_analytics_ingest/internal/handlers/handlers.go
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

Fix VOD upload flow
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_gateway/internal/resolvers/vod.go
  website_application/src/routes/library/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

reconfigure dependabot & make tidy
  .github/dependabot.yml
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_analytics_query/go.mod
  api_analytics_query/go.sum
  api_balancing/go.mod
  api_balancing/go.sum
  api_billing/go.mod
  api_billing/go.sum
  api_control/go.mod
  api_control/go.sum
  api_dns/go.mod
  api_dns/go.sum
  api_firehose/go.mod
  api_firehose/go.sum
  api_forms/go.mod
  api_forms/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  api_realtime/go.mod
  api_realtime/go.sum
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_tenants/go.mod
  api_tenants/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
  cli/go.mod
  cli/go.sum
  scripts/env/go.mod
Due: frontend-format

gateway: map VOD gRPC status codes to GraphQL errors
  api_gateway/internal/resolvers/vod.go
Due: go-fmt, go-lint

Improve ingest error propagation and session ordering (#85)
  api_analytics_ingest/internal/handlers/handlers.go
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

Fix VOD upload flow guards and error handling (#86)
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_gateway/internal/resolvers/vod.go
  website_application/src/routes/library/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

suppress ServiceEvent emission in demo mode
  api_gateway/internal/middleware/usage_tracker.go
Due: go-fmt, go-lint

Fix defrost race handling
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/jobs/stale_defrost_cleanup.go
  pkg/database/sql/schema/foghorn.sql
Due: go-fmt, go-lint

Harden x402 settlement safety
  api_billing/internal/handlers/events.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_reconciler.go
Due: go-fmt, go-lint

Remove ingest disconnect cache
  api_analytics_query/internal/grpc/server.go
  api_balancing/internal/state/stream_state.go
Due: go-fmt, go-lint

balancing: fix stale defrost cleanup interval param
  api_balancing/internal/jobs/stale_defrost_cleanup.go
Due: go-fmt, go-lint

billing: avoid double-credit on late x402 settlement
  api_billing/internal/handlers/x402_reconciler.go
Due: go-fmt, go-lint
