Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix(demo): establish media storage after seeding
  Makefile
  docker-compose.yml
Due: frontend-format

test(mist): launch controller explicitly in protocol contract
  pkg/mist/ingest_endpoints_realmist_test.go
Due: go-fmt, go-lint

test(media): reset stale two-cell pull upstream
  scripts/verify-two-cell-media.sh
Due: none

test(media): add full lifecycle verification harness
  Makefile
  scripts/verify-media-lifecycle.sh
Due: none

fix(mist): use query syntax for push target options
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_manager_test.go
  api_sidecar/internal/control/dvr_mist_test.go
  api_sidecar/internal/control/dvr_recover_internal_name_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/client.go
Due: go-fmt, go-lint

feat(foghorn): mint processing source credentials
  api_balancing/internal/control/processing_source_credential.go
  api_balancing/internal/control/processing_source_credential_test.go
  api_balancing/internal/control/source_pull_capability.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_source_credential_test.go
Due: go-fmt, go-lint

feat(helmsman): present processing source credentials
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

fix(foghorn): admit authenticated processing source reads
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/viewer_placement.go
Due: go-fmt, go-lint

docs(media): define processing source admission
  docs/architecture/media-placement-policy.md
Due: frontend-format

test(media): wait for live clip coverage
  scripts/verify-media-lifecycle.sh
Due: none

fix edge image build
  edge/Dockerfile
Due: none

fix(player): preserve authorized fallback and media readiness UX
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/PlayerRegistry.ts
  npm_player/packages/core/src/core/QualityLevels.ts
  npm_player/packages/core/src/core/ThumbnailVttParser.ts
  npm_player/packages/core/src/core/mist/transports/signaling-transport.ts
  npm_player/packages/core/src/players/MewsWsPlayer/index.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/WebSocketController.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/player-controller-idle-screen.test.ts
  npm_player/packages/core/test/player-controller-placement.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  npm_player/packages/core/test/player-manager-placement.test.ts
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/test/Player.test.tsx
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/SeekBar.svelte
  npm_player/packages/svelte/test/player-placement-lifecycle.test.ts
  website_application/README.md
  website_application/src/lib/components/placement/MediaPlacementEditor.svelte
  website_application/src/lib/library/catalog-refresh.test.ts
  website_application/src/lib/library/catalog-refresh.ts
  website_application/src/lib/library/dvr-playback.test.ts
  website_application/src/lib/library/dvr-playback.ts
  website_application/src/lib/stores/theme.svelte.ts
  website_application/src/lib/utils/stream-helpers.test.ts
  website_application/src/lib/utils/track-display.test.ts
  website_application/src/lib/utils/track-display.ts
  website_application/src/routes/library/+page.svelte
  website_application/src/routes/login/+page.svelte
  website_application/src/routes/register/+page.svelte
  website_application/test/components/placement.test.ts
Due: frontend-format, frontend-lint

test(media): harden two-cell lifecycle validation and document contracts
  docker-compose.yml
  docs/architecture/clips-dvr.md
  docs/architecture/dvr-continuous-archive.md
  docs/architecture/processing-pipeline.md
  docs/architecture/viewer-routing.md
  docs/rfcs/placement-policy-engine.md
  infrastructure/two-cell/README.md
  infrastructure/two-cell/edge-a.conf
  infrastructure/two-cell/edge-b.conf
  scripts/verify-media-lifecycle.sh
  scripts/verify-two-cell-media.sh
  website_docs/src/content/docs/builders/storage-and-retention.mdx
  website_docs/src/content/docs/operators/media-placement.mdx
Due: frontend-format

fix(analytics): include overlapping rollup windows in stream summaries
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/stream_summary_range_test.go
  docs/architecture/analytics-pipeline.md
Due: go-fmt, go-lint, frontend-format

test(schema): account for DVR source route query
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
Due: go-fmt, go-lint

fix(ci): encode pkg bump commit messages
  .github/workflows/notify-go-livepeer-pkg-bump.yml
  Makefile
  scripts/ci/notify-go-livepeer-pkg-bump.test.mjs
Due: frontend-format

fix(ci): tolerate rewritten push ancestry
  Makefile
  scripts/check-migration-version.sh
  scripts/check-migration-version.test.sh
  scripts/ci/go-livepeer-pkg-impact.sh
Due: none

fix(release): validate assembled manifests
  .github/workflows/release.yml
  cli/cmd/release_manifest_validate.go
  cli/cmd/release_manifest_validate_test.go
  cli/cmd/root.go
  cli/pkg/gitops/fetcher.go
Due: go-fmt, go-lint, frontend-format

test(schema): isolate Yugabyte contract engines
  .github/workflows/ci.yml
  Makefile
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/seed.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/seed.yml
  cli/pkg/provisioner/architecture_guard_test.go
  cli/pkg/provisioner/migrate_helpers.go
  cli/pkg/provisioner/migration_state_test.go
  cli/pkg/provisioner/role_provisioner.go
  cli/pkg/provisioner/schema_harness_images_test.go
  cli/pkg/provisioner/schema_squash_harness_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/service_role_test.go
  cli/pkg/provisioner/yugabyte_query_catalog_inventory_test.go
  config/infrastructure.yaml
  config/schema-contract-engines.yaml
  docs/standards/schema-migrations.md
  pkg/database/yugabyte_ha_test.go
  pkg/testutil/dockerpg/dockerpg.go
  pkg/testutil/dockerpg/dockerpg_test.go
  scripts/run-yugabyte-contract-fixture.sh
Due: go-fmt, go-lint, frontend-format

feat(cli): reconcile release service placements
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_placement.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
Due: go-fmt, go-lint

fix(deploy): fail fast on permanent health errors
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/validate.yml
Due: frontend-format

fix(logbook): ship a canonical health endpoint
  .github/workflows/ci.yml
  cli/internal/services/catalog.yaml
  cli/internal/services/catalog_test.go
  docker-compose.yml
  pkg/servicedefs/servicedefs.go
  scripts/test-logbook-image-health.sh
  website_docs/Dockerfile
  website_docs/public/health/index.html
  website_docs/scripts/check-seo-output.mjs
Due: go-fmt, go-lint, frontend-format

fix(privateer): probe resolvectl during check mode
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/configure.yml
Due: frontend-format

docs(release): require complete operator instructions
  AGENTS.md
  docs/standards/release-notes.md
Due: frontend-format

docs(rfc): define durable placement policy engine
  docs/rfcs/placement-policy-engine.md
Due: frontend-format

docs: align product workflows and platform boundaries
  scripts/registry/main.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/builders/encoder-setup.mdx
  website_docs/src/content/docs/builders/integration-guide.mdx
  website_docs/src/content/docs/builders/multistreaming.mdx
  website_docs/src/content/docs/builders/playback-access-control.mdx
  website_docs/src/content/docs/builders/quick-start.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/index.mdx
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: go-fmt, go-lint, frontend-format

feat(web): add architecture figures to marketing pages
  website_marketing/app/root.jsx
  website_marketing/src/components/marketing/figures/DeploymentModes.jsx
  website_marketing/src/components/marketing/figures/Figure.jsx
  website_marketing/src/components/marketing/figures/FigureDefs.jsx
  website_marketing/src/components/marketing/figures/MultistreamFanout.jsx
  website_marketing/src/components/marketing/figures/index.js
  website_marketing/src/components/marketing/index.js
  website_marketing/src/components/marketing/layout/MarketingGridSplit.jsx
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/index.css
  website_marketing/src/styles/marketing/content.css
  website_marketing/src/styles/marketing/figures.css
  website_marketing/src/styles/marketing/layout.css
  website_marketing/src/styles/marketing/network.css
  website_marketing/src/styles/pages/landing.css
  website_marketing/src/styles/pages/pricing.css
Due: frontend-format, frontend-lint

fix(helmsman): satisfy production Ansible lint
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
Due: frontend-format

fix(commodore): keep encryption verification read-only
  api_control/internal/datamigrations/field_encryption.go
  api_control/internal/datamigrations/field_encryption_realpg_test.go
  api_control/internal/datamigrations/field_encryption_test.go
Due: go-fmt, go-lint

fix(quartermaster): scope identity migration gate
  Makefile
  api_tenants/internal/datamigrations/node_identity_keys.go
  api_tenants/internal/datamigrations/node_identity_keys_realpg_test.go
  api_tenants/internal/datamigrations/node_identity_keys_test.go
  docs/architecture/media-authority.md
  docs/architecture/node-enrollment.md
Due: go-fmt, go-lint, frontend-format

fix(cli): preserve detected service identity
  cli/pkg/detect/detector.go
  cli/pkg/detect/detector_test.go
Due: go-fmt, go-lint

fix(cli): run data migrations in service context
  cli/cmd/cluster_data_migrate.go
  cli/cmd/cluster_data_migrate_test.go
  cli/pkg/exec/service_exec.go
  cli/pkg/exec/service_exec_test.go
  cli/pkg/preflight/datamigrate.go
  cli/pkg/preflight/datamigrate_test.go
  pkg/datamigrate/datamigrate_more_test.go
  pkg/datamigrate/schema.go
  pkg/datamigrate/state.go
Due: go-fmt, go-lint

fix(cli): reconcile every service replica artifact
  cli/cmd/cluster_status.go
  cli/cmd/cluster_status_test.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
Due: go-fmt, go-lint

fix(cli): retain independent provision failures
  cli/cmd/cluster_provision.go
  cli/pkg/ansiblerun/executor.go
  cli/pkg/ansiblerun/executor_test.go
Due: go-fmt, go-lint

fix(privateer): wait for mesh DNS convergence
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/validate.yml
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(edge): honor Mist runtime package metadata
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/edge_test.go
Due: go-fmt, go-lint, frontend-format

fix(logbook): probe the static server root
  cli/internal/services/catalog.yaml
  docker-compose.yml
  pkg/servicedefs/servicedefs.go
  website_docs/Dockerfile
Due: go-fmt, go-lint, frontend-format

fix(web): bundle the MapLibre worker explicitly
  packages/map-core/index.ts
  website_application/eslint.config.js
  website_application/package.json
  website_application/scripts/check-build-output.mjs
  website_application/src/lib/components/charts/GeoView.svelte
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/marketing/dashboards/GeoPanel.jsx
  website_marketing/src/components/marketing/network/NetworkMap.jsx
Due: frontend-format, frontend-lint

chore(release): prepare v0.3.1
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
Due: go-fmt, go-lint, frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
