Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

tweak snippets
  website_marketing/src/components/pages/SdkCodePreview.jsx
Due: frontend-format, frontend-lint

bump some pkg
  package.json
  pnpm-lock.yaml
Due: frontend-format

fix worker imprt now?
  npm_studio/packages/core/src/core/EncoderManager.ts
  npm_studio/packages/core/src/core/SceneManager.ts
  npm_studio/packages/core/src/core/WhipClient.ts
Due: frontend-format, frontend-lint

more version bumps for dependabot
  api_consultant/go.mod
  api_consultant/go.sum
  npm_player/package.json
  npm_player/packages/react/package.json
  npm_player/playground/package.json
  npm_studio/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/react/rollup.config.js
  pnpm-lock.yaml
  website_application/package.json
  website_docs/package.json
  website_marketing/package.json
Due: frontend-format, frontend-lint

fix seed data
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
Due: none

fml i hate web worker bundling
  npm_studio/packages/core/workers/compositor.worker.js
  npm_studio/packages/core/workers/encoder.worker.js
  npm_studio/packages/core/workers/rtcTransform.worker.js
Due: frontend-format, frontend-lint

bump streamcrafter
  npm_studio/packages/wc/README.md
  npm_studio/packages/wc/package.json
Due: frontend-format

trustedproxy in cfg
  infrastructure/mistserver.conf
Due: none

skipper upgrades (embedding dims, chunker, some more shit)
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/metrics.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/orchestrator_integration_test.go
  api_consultant/internal/config/config.go
  api_consultant/internal/knowledge/contextual.go
  api_consultant/internal/knowledge/contextual_test.go
  api_consultant/internal/knowledge/crawler_test.go
  api_consultant/internal/knowledge/embedder.go
  api_consultant/internal/knowledge/embedder_test.go
  api_consultant/internal/knowledge/health.go
  api_consultant/internal/knowledge/metrics.go
  api_consultant/internal/knowledge/pagecache.go
  api_consultant/internal/knowledge/pagecache_test.go
  api_consultant/internal/knowledge/queue.go
  api_consultant/internal/knowledge/queue_test.go
  api_consultant/internal/knowledge/reranker.go
  api_consultant/internal/knowledge/reranker_test.go
  api_consultant/internal/knowledge/scheduler.go
  api_consultant/internal/knowledge/scheduler_test.go
  api_consultant/internal/knowledge/schema.go
  api_consultant/internal/knowledge/urlvalidation.go
  api_consultant/internal/skipper/hash.go
Due: go-fmt, go-lint

better self-register for control plane services
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_query/cmd/periscope/main.go
  api_balancing/internal/control/resolver.go
  api_billing/cmd/purser/main.go
  api_control/cmd/commodore/main.go
  api_firehose/cmd/decklog/main.go
  api_gateway/cmd/bridge/main.go
Due: go-fmt, go-lint

skipper tweaks
  config/env/secrets.env.example
  docs/architecture/skipper.md
  pkg/llm/anthropic.go
  pkg/llm/anthropic_test.go
  pkg/llm/embeddings.go
Due: go-fmt, go-lint, frontend-format

sensitive fields
  api_dns/cmd/navigator/main.go
  api_dns/internal/store/store.go
  api_dns/internal/store/store_test.go
  api_gateway/internal/middleware/hash.go
  api_gateway/internal/middleware/hash_test.go
Due: go-fmt, go-lint

add federation overviews to websites
  pnpm-lock.yaml
  website_application/src/lib/components/Sidebar.svelte
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/stream-details/PushTargetCreateModal.svelte
  website_application/src/lib/components/stream-details/PushTargetEditModal.svelte
  website_application/src/lib/components/stream-details/PushTargetsTabPanel.svelte
  website_application/src/lib/components/stream-details/index.ts
  website_application/src/lib/config.ts
  website_application/src/lib/navigation.test.ts
  website_application/src/lib/navigation.ts
  website_application/src/lib/route-ids.test.ts
  website_application/src/lib/route-ids.ts
  website_application/src/lib/stores/streaming-config.ts
  website_application/src/routes/+layout.svelte
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/routes/network/+page.svelte
  website_application/src/routes/streams/[id]/+page.svelte
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/geodns.mdx
  website_docs/src/content/docs/streamers/multistreaming.mdx
  website_marketing/env.example
  website_marketing/package.json
  website_marketing/src/components/marketing/index.js
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/index.js
  website_marketing/src/components/marketing/network/useNetworkStatus.js
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/index.css
  website_marketing/src/styles/marketing/network.css
Due: frontend-format, frontend-lint

expand CLI doctor / diagnose of Edge nodes
  cli/cmd/admin.go
  cli/cmd/cluster.go
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_restore.go
  cli/cmd/edge.go
  cli/cmd/edge_diagnose.go
  cli/pkg/health/clickhouse.go
  cli/pkg/mistdiag/mock_test.go
  cli/pkg/mistdiag/output.go
  cli/pkg/mistdiag/output_test.go
  cli/pkg/mistdiag/runner.go
  cli/pkg/mistdiag/runner_test.go
  cli/pkg/mistdiag/streams.go
  cli/pkg/mistdiag/streams_test.go
  cli/pkg/ssh/client.go
  cli/pkg/ssh/local.go
  cli/pkg/ssh/safepath.go
  cli/pkg/ssh/safepath_test.go
Due: go-fmt, go-lint

bump npm & ux tweaks
  npm_player/package.json
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/TimeFormat.ts
  npm_player/packages/core/src/core/index.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/MewsWsPlayer/index.ts
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  npm_player/packages/wc/src/components/fw-settings-menu.ts
  npm_player/playground/package.json
  npm_studio/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
  npm_studio/packages/wc/src/controllers/ingest-controller-host.ts
  website_application/package.json
Due: frontend-format, frontend-lint

bump pkg vers
  api_balancing/go.mod
  api_balancing/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  pnpm-lock.yaml
  website_application/package.json
  website_docs/package.json
  website_marketing/package.json
Due: frontend-format

move live catchup to correct place
  npm_player/packages/core/src/players/WebCodecsPlayer/SyncController.ts
Due: frontend-format, frontend-lint

docs changes
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/overview.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/streamers/ingest-advanced.mdx
  website_docs/src/content/docs/streamers/ingest-compositor.mdx
  website_docs/src/content/docs/streamers/ingest-vanilla.mdx
  website_docs/src/content/docs/streamers/ingest-wc.mdx
  website_docs/src/content/docs/streamers/integration-guide.mdx
  website_docs/src/content/docs/streamers/playback-theming.mdx
  website_docs/src/content/docs/streamers/playback-vanilla.mdx
  website_docs/src/content/docs/streamers/playback-wc.mdx
Due: frontend-format

fix demo env attribution
  api_consultant/internal/knowledge/scheduler.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

bump pkg some more
  pnpm-lock.yaml
Due: frontend-format

more pkg bumps
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_analytics_query/go.mod
  api_analytics_query/go.sum
  api_balancing/go.mod
  api_balancing/go.sum
  api_billing/go.mod
  api_billing/go.sum
  api_consultant/go.mod
  api_consultant/go.sum
  api_control/go.mod
  api_control/go.sum
  api_dns/go.mod
  api_dns/go.sum
  api_firehose/go.mod
  api_firehose/go.sum
  api_forms/go.mod
  api_forms/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  api_realtime/go.mod
  api_realtime/go.sum
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_tenants/go.mod
  api_tenants/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
  cli/go.mod
  cli/go.sum
  pkg/go.mod
  pkg/go.sum
  pnpm-lock.yaml
  scripts/env/go.mod
Due: frontend-format

make the CLI use distinct cluster ID's instead of 1 for all...
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/types.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/templates.go
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
Due: go-fmt, go-lint, frontend-format

drop `eslint-plugin-react` until they update for eslint 10
  pnpm-lock.yaml
  website_marketing/eslint.config.js
  website_marketing/package.json
Due: frontend-format, frontend-lint

fix lint/ci
  npm_player/packages/svelte/README.md
  npm_player/packages/wc/test/fw-settings-menu.test.ts
Due: frontend-format, frontend-lint

fix federation overview on webapp and marketing website
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/routes/analytics/audience/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/styles/marketing/network.css
Due: frontend-format, frontend-lint

fix tenant attribution for VPC's
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

no more `TSRIST` on mist config
  infrastructure/mistserver.conf
Due: none

CLI adjustments for multi-cluster
  cli/cmd/cluster_provision.go
  cli/cmd/services.go
  cli/internal/services/catalog.yaml
  cli/pkg/inventory/types.go
  cli/pkg/servicedefs/servicedefs.go
Due: go-fmt, go-lint, frontend-format

re-align demo data
  api_gateway/internal/demo/generators.go
  docker-compose.yml
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint, frontend-format

don't silent swallow err's
  api_gateway/internal/resolvers/analytics_connections.go
Due: go-fmt, go-lint

enable CGO for quartermaster
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
