Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Split oversized embedding batches
  api_consultant/internal/knowledge/embedder.go
  api_consultant/internal/knowledge/embedder_test.go
Due: go-fmt, go-lint

Expose edge bandwidth overrides
  api_sidecar/internal/config/env.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
Due: go-fmt, go-lint

Add edge manifest capacity controls
  cli/cmd/edge.go
  cli/cmd/edge_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/ansible_inventory.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/edge_test.go
  cli/pkg/provisioner/node_tuning_role.go
Due: go-fmt, go-lint

Harden native edge Ansible roles
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/validate.yml
Due: frontend-format

Constrain Kafka admin command heap
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/validate.yml
Due: frontend-format

Improve cluster diagnostics and migration checks
  cli/cmd/cluster.go
  cli/cmd/cluster_doctor_test.go
  cli/cmd/cluster_logs.go
  cli/cmd/cluster_migration_doctor.go
  cli/cmd/cluster_upgrade_gate.go
  cli/cmd/service_resolve.go
  cli/cmd/service_resolve_test.go
  cli/pkg/provisioner/migration_state.go
  cli/pkg/provisioner/migration_state_test.go
Due: go-fmt, go-lint

Document edge manifest capacity controls
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
Due: frontend-format

Harden internal gRPC client defaults
  api_billing/cmd/purser/main.go
  pkg/clients/foghorn/pool.go
  pkg/clients/foghorn/pool_test.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/clients/quartermaster/grpc_client_test.go
Due: go-fmt, go-lint

Register edge nodes through manifest Quartermaster access
  cli/cmd/edge.go
Due: go-fmt, go-lint

Treat Decklog as global DNS dependency
  cli/cmd/cluster_provision_test.go
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
Due: go-fmt, go-lint

fix edge manifest control-plane provisioning
  cli/cmd/edge.go
  cli/cmd/edge_deploy.go
  cli/pkg/provisioner/edge.go
  pkg/clients/quartermaster/grpc_client.go
Due: go-fmt, go-lint

support generic node tuning on arch linux
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/limits.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/sysctl.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/verify.yml
Due: frontend-format

render native mistserver bootstrap config
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/configure-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/templates/mistserver.conf.j2
Due: frontend-format

fix native edge caddy service paths
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
Due: frontend-format

fix lint issues in edge provisioning paths
  cli/cmd/edge.go
  cli/pkg/provisioner/ansible_inventory.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/migration_state.go
  pkg/clients/quartermaster/grpc_client.go
Due: go-fmt, go-lint

fix edge node readiness domains
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.docker.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.native.j2
  cli/cmd/edge.go
  cli/cmd/edge_test.go
  cli/internal/templates/edge/Caddyfile.tmpl
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
Due: go-fmt, go-lint

make edge provisioning idempotent over managed stack
  cli/cmd/edge.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
Due: go-fmt, go-lint

fix edge foghorn TLS bootstrap
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  cli/cmd/edge.go
  cli/cmd/edge_service_parse_test.go
Due: go-fmt, go-lint

fix internal TLS certificate writer race
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  api_mesh/internal/agent/agent.go
Due: go-fmt, go-lint, frontend-format

cover locked internal TLS deployment
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint

fix edge node DNS and readiness checks
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  cli/pkg/provisioner/edge.go
Due: go-fmt, go-lint

fix foghorn peer TLS server names
  pkg/clients/foghorn/pool.go
  pkg/clients/foghorn/pool_test.go
Due: go-fmt, go-lint

sanitize platform overview analytics floats
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_test.go
Due: go-fmt, go-lint

add cluster log snapshot diagnostics
  cli/cmd/cluster_logs.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

skip premature edge public TLS verification
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
Due: go-fmt, go-lint

mint enrollment tokens for edge registration
  cli/cmd/edge.go
  cli/cmd/edge_test.go
Due: go-fmt, go-lint

fix foghorn alias internal TLS env
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

fix edge ConfigSeed bootstrap verification
  api_balancing/internal/control/edge_telemetry_key_test.go
  api_balancing/internal/control/server.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
Due: go-fmt, go-lint

fix go service pki ansible lint
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
Due: frontend-format

retry transient postgres schema errors
  api_balancing/internal/artifactoutbox/outbox.go
  api_balancing/internal/control/dvr_chapters_repo.go
  api_tenants/internal/grpc/server.go
  pkg/database/retry.go
  pkg/database/retry_test.go
Due: go-fmt, go-lint

Align cluster DNS TLS bundles
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  api_balancing/internal/control/cert_refresh_test.go
  api_balancing/internal/control/server.go
  api_dns/README.md
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/cert_test.go
  api_dns/internal/worker/dns_reconciler.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_tls_test.go
  docs/architecture/edge-auth.md
  docs/architecture/federation.md
  docs/standards/environment-configuration.md
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint, frontend-format

Provision gateway telemetry via Decklog service DNS
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

fix media DNS health inputs
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_tenants/internal/grpc/create_node_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

fix foghorn public TLS verification
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  pkg/clients/foghorn/pool.go
  pkg/clients/foghorn/pool_test.go
Due: go-fmt, go-lint

fix edge telemetry EC key parsing
  api_balancing/internal/control/edge_telemetry_key_test.go
  api_balancing/internal/control/server.go
Due: go-fmt, go-lint

document media DNS TLS contract
  api_dns/README.md
  cli/cmd/cluster_diagnose.go
  docs/rfcs/grpc-tls-mesh.md
Due: go-fmt, go-lint, frontend-format

validate release webapp bundles
  .github/workflows/release.yml
Due: frontend-format

Fix GeoIP targeting for aliased gateway services
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_geoip_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
Due: go-fmt, go-lint

foghorn: serve internal and cluster TLS by SNI
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/cert_refresh_test.go
  api_balancing/internal/control/server.go
  docs/architecture/edge-auth.md
Due: go-fmt, go-lint, frontend-format

livepeer-gateway: pin decklog TLS server name
  cli/cmd/cluster_provision_test.go
  docs/architecture/orchestrator-visibility.md
Due: go-fmt, go-lint, frontend-format
