Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

looks like we forgot to add a readme and version file for Skipper
  api_consultant/README.md
  api_consultant/VERSION
Due: frontend-format

align CLI with gitops & release workflow
  .github/workflows/release.yml
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/provisioner/base.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/privateer.go
Due: go-fmt, go-lint, frontend-format

add `make format` alias
  Makefile
Due: none

cli 'channel' support
  cli/cmd/cluster.go
  cli/cmd/cluster_channel.go
  cli/cmd/cluster_status.go
  cli/cmd/cluster_upgrade.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/types.go
Due: go-fmt, go-lint

fix nightly mutation testing for player
  npm_player/packages/core/stryker.config.json
Due: frontend-format

add deckhand to CLI servicedefs
  cli/pkg/servicedefs/servicedefs.go
Due: go-fmt, go-lint

fix WHEP and Mist-WS-WebRTC control channels
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/MistControlChannel.ts
  npm_player/packages/core/src/core/MistSignaling.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerRegistry.ts
  npm_player/packages/core/src/core/SeekingUtils.ts
  npm_player/packages/core/src/core/index.ts
  npm_player/packages/core/src/core/scorer.ts
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/test/mist-control-channel.test.ts
  npm_player/packages/core/test/mist-signaling.test.ts
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/react/package.json
  npm_player/packages/react/src/components/PlayerControls.tsx
  npm_player/packages/svelte/package.json
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/PlayerControls.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/wc/package.json
  npm_player/packages/wc/src/components/fw-player-controls.ts
  npm_player/packages/wc/src/components/fw-volume-control.ts
Due: frontend-format, frontend-lint

add link to twitter
  config/env/base.env
  docker-compose.yml
  website_docs/astro.config.mjs
  website_docs/src/content/docs/operators/skipper.mdx
  website_marketing/env.example
  website_marketing/src/components/Footer.jsx
  website_marketing/src/config.js
Due: frontend-format, frontend-lint

let skipper draft social posts
  api_consultant/cmd/skipper/main.go
  api_consultant/go.mod
  api_consultant/internal/config/config.go
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/agent_integration_test.go
  api_consultant/internal/knowledge/scheduler.go
  api_consultant/internal/social/agent.go
  api_consultant/internal/social/collector.go
  api_consultant/internal/social/composer.go
  api_consultant/internal/social/detector.go
  api_consultant/internal/social/email.go
  api_consultant/internal/social/publisher.go
  api_consultant/internal/social/store.go
  api_consultant/internal/social/types.go
  config/env/base.env
  docs/architecture/skipper.md
  pkg/database/sql/schema/skipper.sql
Due: go-fmt, go-lint, frontend-format

make skipper less wasteful in heartbeats
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/agent_integration_test.go
  api_consultant/internal/heartbeat/infra_monitor.go
  api_consultant/internal/heartbeat/infra_monitor_test.go
  api_consultant/internal/social/detector.go
Due: go-fmt, go-lint

fix dev-env nginx false positive unhealthy
  infrastructure/nginx/default.conf
Due: none

make sure health checks also work over gRPC
  api_analytics_query/internal/grpc/server.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_billing/internal/grpc/server.go
  api_consultant/cmd/skipper/main.go
  api_control/internal/grpc/server.go
  api_dns/cmd/navigator/main.go
  api_firehose/internal/grpc/server.go
  api_realtime/cmd/signalman/main.go
  api_tenants/internal/grpc/server.go
  api_ticketing/cmd/deckhand/main.go
Due: go-fmt, go-lint

player fixes
  npm_player/packages/core/stryker.config.json
  npm_player/packages/core/test/audio-worklet-renderer.test.ts
  npm_player/packages/core/test/canvas-renderer.test.ts
  npm_player/packages/core/test/create-player.test.ts
  npm_player/packages/core/test/default-blueprints.test.ts
  npm_player/packages/core/test/frameworks-player.test.ts
  npm_player/packages/core/test/reactive-state.test.ts
  npm_player/packages/core/test/register-player.test.ts
  npm_player/packages/core/test/skin-registry.test.ts
  npm_player/packages/core/test/structure-builder.test.ts
  npm_player/packages/core/test/wasm-feature-detect.test.ts
  npm_player/packages/core/test/wasm-video-decoder.test.ts
Due: frontend-format, frontend-lint

lint fixes & report edge nodes foghorn->QM
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/cache.go
  api_balancing/internal/federation/cache_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_artifact_audit_test.go
  api_balancing/internal/federation/server_auth_test.go
  api_balancing/internal/federation/server_peerchannel_handlers_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/hdwallet.go
  api_billing/internal/handlers/hdwallet_test.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_test.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_conversion_test.go
  api_tenants/internal/grpc/bootstrap_infra_node_test.go
  api_tenants/internal/grpc/build_advertise_addr_test.go
  api_tenants/internal/grpc/create_bootstrap_token_test.go
  api_tenants/internal/grpc/create_node_test.go
  api_tenants/internal/grpc/discover_services_test.go
  api_tenants/internal/grpc/ensure_service_exists_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/node_operations_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster_grpc.pb.go
Due: go-fmt, go-lint

nginx provisioning & more tweaks
  api_ticketing/cmd/deckhand/main.go
  api_ticketing/internal/handlers/webhooks.go
  cli/cmd/cluster_provision.go
  cli/cmd/edge.go
  cli/pkg/ansible/executor.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/registry.go
  pkg/auth/auth_test.go
Due: go-fmt, go-lint

lint errors now 0
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/balancer/balancer.go
  api_balancing/internal/balancer/balancer_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_mist_trigger_test.go
  api_balancing/internal/control/server_tls_mode_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_enrich_cluster_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/x402.go
  cli/cmd/edge.go
  cli/cmd/edge_diagnose.go
  cli/cmd/services.go
  cli/internal/xexec/ssh.go
  cli/internal/xexec/xexec.go
  cli/pkg/detect/detector.go
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

pnpm upgrade 9->10
  npm_player/package.json
  npm_studio/package.json
  package.json
  pnpm-lock.yaml
  website_application/package.json
  website_docs/package.json
  website_marketing/package.json
Due: frontend-format

fix webapp pnpm 10 build
  website_application/Dockerfile
Due: none

more pnpm 10 migration fixes
  .npmrc
  pnpm-lock.yaml
  website_application/Dockerfile
  website_application/package.json
Due: frontend-format

studio lint fixes
  npm_studio/packages/svelte/src/StreamCrafter.svelte
  npm_studio/packages/svelte/src/components/AdvancedPanel.svelte
  npm_studio/packages/svelte/src/components/LayerList.svelte
  npm_studio/packages/svelte/src/components/SceneSwitcher.svelte
  npm_studio/packages/svelte/src/components/StudioActionBar.svelte
  npm_studio/packages/svelte/src/components/StudioMixer.svelte
  npm_studio/packages/svelte/src/components/StudioPreview.svelte
  npm_studio/packages/svelte/src/components/StudioSettings.svelte
  npm_studio/packages/svelte/src/components/StudioStatusBadge.svelte
  npm_studio/packages/svelte/src/context/StreamCrafterProvider.svelte
Due: frontend-format, frontend-lint

player lint fixes
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/controls/SettingsMenu.svelte
Due: frontend-format, frontend-lint

realign cluster/node types
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/state/stream_state.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/middleware/usage_tracker.go
  api_mesh/internal/agent/agent.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  cli/cmd/cluster_provision.go
  cli/cmd/edge.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/provisioner/privateer.go
  pkg/database/sql/seeds/demo/demo_data.sql
  pkg/graphql/operations/queries/GetMySubscriptions.gql
  pkg/models/infrastructure.go
Due: go-fmt, go-lint

hoist deps
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  cli/go.mod
  cli/go.sum
Due: none

webapp tweaks and fixes
  website_application/src/lib/components/PlaybackProtocols.svelte
  website_application/src/lib/components/Sidebar.svelte
  website_application/src/lib/components/charts/CountryChoropleth.svelte
  website_application/src/lib/components/dashboard/DynamicHints.svelte
  website_application/src/lib/components/explorer/ExplorerOverlay.svelte
  website_application/src/lib/components/skipper/SkipperConversationList.svelte
  website_application/src/lib/components/skipper/SkipperMessage.svelte
  website_application/src/lib/components/stream-details/PlaybackTabPanel.svelte
  website_application/src/lib/components/stream-details/StreamCard.svelte
  website_application/src/routes/account/balance/+page.svelte
  website_application/src/routes/go-live/+page.svelte
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/library/+page.svelte
  website_application/src/routes/nodes/+page.svelte
  website_application/src/routes/streams/+page.svelte
Due: frontend-format, frontend-lint

swap to GH App for gitops repo update
  .github/workflows/release.yml
Due: frontend-format

federation overview fixes
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/infrastructure/NodeCard.svelte
  website_application/src/lib/components/infrastructure/NodePerformanceTable.svelte
  website_application/src/lib/utils/infrastructure-data.test.ts
  website_application/src/lib/utils/infrastructure-data.ts
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/routes/nodes/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/useNetworkStatus.js
  website_marketing/src/styles/marketing/network.css
Due: frontend-format, frontend-lint

various tweaks
  api_analytics_query/internal/grpc/server.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/handlers/handlers.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/infrastructure.go
  api_tenants/internal/grpc/server.go
  docker-compose.yml
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint, frontend-format

missing operational_mode
  api_analytics_ingest/internal/handlers/handlers.go
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
Due: go-fmt, go-lint

set stream count per-node... and make sure to use the `stream_state_current` to get cluster-wide views
  api_analytics_query/internal/grpc/server.go
  api_sidecar/internal/handlers/poller.go
Due: go-fmt, go-lint

some more federation map tweaks
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_marketing/src/components/marketing/network/NetworkMap.jsx
Due: frontend-format, frontend-lint

fix lint & test
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
Due: go-fmt, go-lint

cp .npmrc
  website_docs/Dockerfile
  website_marketing/Dockerfile
Due: none

enhance CLI ux some more
  .github/workflows/release.yml
  cli/cmd/cluster_provision.go
  cli/cmd/config.go
  cli/cmd/edge.go
  cli/cmd/edge_deploy.go
  cli/cmd/root.go
  cli/cmd/update.go
  cli/go.mod
  cli/go.sum
  cli/internal/config/types.go
  cli/pkg/githubapp/client.go
  cli/pkg/inventory/parser.go
  cli/pkg/selfupdate/updater.go
  cli/pkg/selfupdate/updater_test.go
  scripts/install.sh
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/hybrid/node-cli.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/prerequisites.mdx
Due: go-fmt, go-lint, frontend-format

autosync Stripe billing tiers & pricing
  api_billing/cmd/purser/main.go
  api_billing/internal/stripe/client.go
Due: go-fmt, go-lint

CI changes for building ARM using a Mac runner - no more QEMU
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
Due: frontend-format
