Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Harden metered pricing validation
  api_billing/internal/billing/effective.go
  api_billing/internal/bootstrap/reconciler.go
  api_billing/internal/grpc/create_subscription_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/pricing/resolve.go
  api_billing/internal/pricing/resolve_test.go
  api_billing/internal/rating/rate.go
  api_billing/internal/rating/rate_test.go
  api_billing/internal/rating/types.go
  docs/architecture/bootstrap-desired-state.md
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint, frontend-format

Fix storage correction billing semantics
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/handlers/billing_test.go
  api_billing/internal/handlers/webhooks.go
  docs/architecture/meter-contracts.md
Due: go-fmt, go-lint, frontend-format

Use unlimited defaults for tenant clusters
  api_tenants/internal/grpc/foghorn_assignment_test.go
  api_tenants/internal/grpc/server.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

Fix canonical ClickHouse rollup state queries
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.64/contract/001_rollup_canonical_swap.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
Due: none

Fix metering lint errors
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_query/internal/handlers/billing.go
  api_billing/internal/grpc/server.go
  api_gateway/internal/demo/generators.go
Due: go-fmt, go-lint

Fix edge vmagent ansible lint
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
Due: frontend-format

Close ClickHouse ingest batches
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/orchestrators.go
  api_analytics_ingest/internal/handlers/stale_close.go
Due: go-fmt, go-lint

Fix local compose runtime errors
  api_analytics_query/internal/handlers/billing.go
  api_balancing/internal/control/server.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_gateway/internal/resolvers/orchestrators.go
  api_sidecar/internal/control/dvr_startup_reconcile.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/storage/presigned_client.go
  api_sidecar/internal/storage/presigned_client_test.go
  docker-compose.yml
Due: go-fmt, go-lint, frontend-format

Tighten marketing responsive layouts
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/ChangelogPage.jsx
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/components/pages/StatusPage.jsx
  website_marketing/src/styles/marketing/content.css
  website_marketing/src/styles/marketing/cta.css
  website_marketing/src/styles/pages/contact.css
  website_marketing/src/styles/pages/pricing.css
Due: frontend-format, frontend-lint

Compact API batch audit rows
  api_analytics_ingest/internal/handlers/handlers.go
Due: go-fmt, go-lint

Stabilize local compose runtime
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/cmd/periscope/main_test.go
  api_balancing/internal/control/server.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/storage/presigned_client.go
  api_sidecar/internal/storage/presigned_client_test.go
  docker-compose.yml
Due: go-fmt, go-lint, frontend-format

Teach Skipper Mist FPS and track semantics
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/orchestrator_test.go
  api_consultant/internal/chat/prompts.go
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/agent_integration_test.go
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/mcp/tools/qoe_test.go
  docs/architecture/skipper.md
  docs/standards/metrics.md
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.64/expand/003_ignore_unknown_fps_rollups.sql
  pkg/database/sql/clickhouse/periscope.sql
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Stabilize local node runtime registration
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
  api_gateway/internal/resolvers/node_mode.go
  api_gateway/internal/resolvers/node_mode_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/poller_test.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
  infrastructure/nginx/default.conf
  pkg/database/sql/seeds/demo/demo_data.sql
  website_application/src/lib/components/nodes/NodeModePanel.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Harden player gateway and compositor fallbacks
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/GatewayClient.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/types.ts
  npm_player/packages/core/test/gateway-client.test.ts
  npm_player/packages/core/test/webcodecs-lifecycle.test.ts
  npm_player/packages/core/test/webcodecs-worker-paths.test.ts
  npm_player/packages/react/src/hooks/useViewerEndpoints.ts
  npm_player/packages/svelte/src/stores/viewerEndpoints.ts
  npm_studio/packages/core/package.json
  npm_studio/packages/core/src/core/SceneManager.ts
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
Due: frontend-format, frontend-lint

Fix Periscope ingest retry lint
  api_analytics_ingest/cmd/periscope/main.go
Due: go-fmt, go-lint

Harden WebCodecs track startup handling
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/types.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/worker/decoder.worker.ts
  npm_player/packages/core/test/webcodecs-worker-paths.test.ts
Due: frontend-format, frontend-lint

Fix WebCodecs direct rendering pause handling
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
Due: frontend-format, frontend-lint

hopefully fix these webworker imports once and for all (but probably not)
  npm_player/packages/core/rollup.config.js
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/test/webcodecs-worker-paths.test.ts
Due: frontend-format, frontend-lint

fix commodore retries and email verification flow
  api_control/cmd/commodore/main.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_login_test.go
  api_control/internal/grpc/server_retry_test.go
  pkg/database/retry.go
  pkg/database/retry_test.go
  pkg/email/sender.go
  pkg/email/sender_test.go
  website_application/src/routes/login/+page.svelte
  website_application/src/routes/verify-email/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix stream current state closure
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  docs/architecture/analytics-pipeline.md
Due: go-fmt, go-lint, frontend-format

provision helmsman trigger wal
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
  docs/architecture/trigger-durability.md
Due: frontend-format

fix npm player controls packaging
  npm_player/packages/core/src/players/MistPlayer.ts
  npm_player/packages/core/test/mist-player-controls.test.ts
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
Due: frontend-format, frontend-lint

Deduplicate StreamCrafter live notifications
  website_application/src/routes/go-live/+page.svelte
Due: frontend-format, frontend-lint

Fix empty geographic distribution queries
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
Due: go-fmt, go-lint

harden finalized dtsh generation
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/relay_test.go
Due: go-fmt, go-lint

Use current sessions for geographic distribution
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
Due: go-fmt, go-lint

Implement event-driven edge DNS membership
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/state/node_dns.go
  api_balancing/internal/state/stream_state.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/dns.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/update_node_status_test.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/proto/dns.pb.go
  pkg/proto/dns.proto
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
Due: go-fmt, go-lint

Fix current viewer analytics gaps
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
Due: go-fmt, go-lint

Tighten CLI migration and lint checks
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_geoip_test.go
  cli/pkg/provisioner/edge_test.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/migrate_clickhouse_test.go
  cli/pkg/provisioner/service_bootstrap_runner_test.go
Due: go-fmt, go-lint

Recover DVR finalization jobs after restart
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_manager_test.go
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_test.go
Due: go-fmt, go-lint

Harden packaged player embeds
  npm_player/README.md
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/player-controller-loading-poster.test.ts
  npm_player/packages/core/test/player-manager.test.ts
  npm_player/packages/react/src/components/LoadingPoster.tsx
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/react/test/LoadingPoster.test.tsx
  npm_player/packages/svelte/src/LoadingPoster.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/test/loadingPoster.test.ts
  npm_player/packages/wc/README.md
  npm_player/packages/wc/src/components/fw-player.ts
  npm_player/packages/wc/src/controllers/player-controller-host.ts
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback-svelte.mdx
  website_docs/src/content/docs/builders/playback-vanilla.mdx
  website_docs/src/content/docs/builders/playback-wc.mdx
  website_docs/src/content/docs/builders/thumbnails-and-previews.mdx
Due: frontend-format, frontend-lint

Improve geo routing dashboard data
  pkg/geoip/geoip.go
  pkg/geoip/geoip_test.go
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/nodes/NodeModePanel.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Regenerate periscope proto
  pkg/proto/periscope.pb.go
Due: none

Fix unverified login redirect
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  website_application/src/lib/stores/auth.test.ts
  website_application/src/lib/stores/auth.ts
  website_application/src/routes/login/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix orchestrator vantage geo query aliases
  api_analytics_query/internal/grpc/orchestrators.go
  api_analytics_query/internal/grpc/server_test.go
Due: go-fmt, go-lint
