Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

correct docs website replacement vars
  website_docs/astro.config.mjs
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/migrate/mux.mdx
Due: frontend-format

Fix federation hourly null rollup
  api_analytics_ingest/internal/handlers/handlers_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.33/expand/002_federation_hourly_null_safe_rollup.sql
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

Accept typed edge manifests
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
Due: go-fmt, go-lint

Move pull stream events out of list queries
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/fragments/StreamCoreFields.gql
  pkg/graphql/operations/queries/GetStream.gql
  website_application/src/routes/streams/[id]/+page.svelte
Due: frontend-format, frontend-lint

Fix free-tier billing and skipper bootstrap
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/templates/generic-compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  api_billing/internal/bootstrap/catalog/billing_tiers.yaml
  api_billing/internal/bootstrap/reconciler_test.go
  api_billing/internal/grpc/billing_status_test.go
  api_billing/internal/grpc/get_subscription_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/pricing/resolve.go
  api_billing/internal/pricing/resolve_test.go
  api_billing/internal/rating/rate_test.go
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/agent_integration_test.go
  api_consultant/internal/heartbeat/contacts.go
  api_consultant/internal/heartbeat/infra_monitor.go
  api_consultant/internal/heartbeat/infra_monitor_test.go
  api_consultant/internal/heartbeat/reporter.go
  api_consultant/internal/knowledge/scheduler.go
  api_consultant/internal/knowledge/scheduler_test.go
  api_consultant/internal/notify/config.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_primary_user_test.go
  cli/cmd/cluster.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_bootstrap_defaults_test.go
  cli/cmd/cluster_skipper.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
  pkg/database/sql/seeds/demo/demo_data.sql
  pkg/models/billing.go
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

Handle Skipper text-only sources
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/orchestrator_test.go
  api_consultant/internal/chat/source_urls.go
  api_consultant/internal/webui/web/app.js
  website_application/src/lib/components/skipper/SkipperMessage.svelte
  website_application/src/routes/skipper/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Document enforced free tier limits
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_marketing/src/components/pages/Pricing.jsx
Due: frontend-format, frontend-lint

Fix durable x402 settlement recovery
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_reconciler.go
  api_billing/internal/handlers/x402_reconciler_test.go
  api_billing/internal/handlers/x402_test.go
  pkg/database/sql/migrations/purser/v0.2.33/expand/001_x402_settlement_intent.sql
  pkg/database/sql/schema/purser.sql
  pkg/proto/purser.pb.go
  pkg/proto/purser.proto
  pkg/proto/purser_grpc.pb.go
Due: go-fmt, go-lint

Pin proto gRPC generator to committed output
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  pkg/proto/Makefile
Due: frontend-format

Fix Mollie billing reconciliation
  api_billing/internal/grpc/billing_status_test.go
  api_billing/internal/grpc/get_subscription_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/downgrade_applier_test.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/handlers/mollie_webhook_test.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/mollie/client.go
  pkg/database/sql/migrations/purser/v0.2.33/expand/003_mollie_next_payment_date.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/004_card_payment_partial_index.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint

fix purser payment reconciliation deferrals
  api_billing/cmd/purser/main.go
  api_billing/internal/grpc/provider_compensation_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_prepaid_test.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/cluster_rating.go
  api_billing/internal/handlers/cluster_rating_test.go
  api_billing/internal/handlers/init.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/handlers/payment_reversals_test.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/mollie/client.go
  api_billing/internal/stripe/client.go
  pkg/database/sql/migrations/purser/v0.2.33/contract/001_drop_legacy_card_payment_pending_index.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/004_card_payment_partial_index.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/005_payment_provider_intents.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/006_webhook_events_extended.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/007_billing_payment_attempts.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/008_provider_payment_objects.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/009_payment_reversals.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/010_invoice_paid_lifecycle.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/011_balance_audit_topup_refund.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/012_subscription_intent_references.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/013_mollie_subscription_payment_observations.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/014_payment_reconciliation_views.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint

docs: clarify client-side media resolution
  docs/architecture/streamcrafter.md
  docs/architecture/viewer-routing.md
  website_docs/src/content/docs/builders/ingest-advanced.mdx
  website_docs/src/content/docs/builders/ingest-react.mdx
  website_docs/src/content/docs/builders/ingest-svelte.mdx
  website_docs/src/content/docs/builders/ingest-vanilla.mdx
  website_docs/src/content/docs/builders/ingest-wc.mdx
  website_docs/src/content/docs/builders/ingest.mdx
  website_docs/src/content/docs/builders/playback-advanced.mdx
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback-svelte.mdx
  website_docs/src/content/docs/builders/playback-vanilla.mdx
  website_docs/src/content/docs/builders/playback-wc.mdx
  website_docs/src/content/docs/builders/playback.mdx
Due: frontend-format

fix purser payment reconciliation audit gaps
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/handlers/payment_reversals_test.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/mollie/client.go
  api_billing/internal/stripe/client.go
  pkg/database/sql/migrations/purser/v0.2.33/expand/014_payment_reconciliation_views.sql
  pkg/database/sql/migrations/purser/v0.2.33/expand/015_operator_credit_clawback_reversal_links.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint

fix purser payment audit gaps
  api_billing/internal/grpc/provider_compensation_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/payment_reversals_test.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/webhooks_test.go
Due: go-fmt, go-lint

feat: support federated DVR chapter defrost
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/server.go
  api_control/internal/clusterurls/resolver.go
  api_control/internal/grpc/artifact_thumbnails.go
  api_control/internal/grpc/dvr_chapters.go
  pkg/clients/commodore/grpc_client.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation_grpc.pb.go
Due: go-fmt, go-lint

Batch client lifecycle analytics
  api_analytics_ingest/README.md
  api_analytics_ingest/internal/handlers/handlers.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/triggers/client_lifecycle_batcher.go
  api_balancing/internal/triggers/client_lifecycle_batcher_test.go
  api_balancing/internal/triggers/metrics.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_firehose/internal/grpc/server.go
  api_firehose/internal/grpc/server_test.go
  api_realtime/cmd/signalman/main.go
  api_realtime/cmd/signalman/main_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  docs/architecture/analytics-pipeline.md
  pkg/clients/decklog/client.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.34/expand/001_client_qoe_samples_event_id.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint, frontend-format

fix: harden media cluster projection paths
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/handlers/main.yml
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/grpc/server.go
  api_control/internal/clusterurls/resolver.go
  api_control/internal/grpc/artifact_thumbnails.go
  api_control/internal/grpc/server.go
  pkg/graphql/schema.graphql
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/shared.proto
Due: go-fmt, go-lint, frontend-format

fix: close multiregion audit gaps
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/mm2.properties.j2
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/testhelpers_test.go
  api_balancing/internal/policybundle/cache.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_utility_test.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/cert_test.go
  api_dns/internal/logic/custom_domain.go
  api_gateway/internal/mcp/resources/parity_test.go
  api_gateway/internal/resolvers/vod.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/navigator_outbox.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
Due: go-fmt, go-lint

Route subscriptions to origin Signalman
  api_gateway/internal/resolvers/resolver.go
  api_gateway/internal/resolvers/subscription_manager.go
  api_gateway/internal/resolvers/subscription_manager_failover_test.go
  api_realtime/cmd/signalman/main.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  pkg/kafka/consumer.go
Due: go-fmt, go-lint

Preserve analytics envelope headers
  pkg/kafka/events.go
  pkg/kafka/events_test.go
  pkg/kafka/producer.go
  pkg/kafka/producer_test.go
Due: go-fmt, go-lint

chore: trim analytics envelope comments
  pkg/kafka/events.go
  pkg/kafka/events_test.go
  pkg/kafka/producer.go
  pkg/kafka/producer_test.go
Due: go-fmt, go-lint

fix: harden kafka regional provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/templates/server.properties.j2
  api_billing/internal/grpc/create_subscription_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/kafka_role.go
  cli/pkg/provisioner/kafka_role_test.go
  docs/architecture/multiregion-kafka-mirrormaker.md
Due: go-fmt, go-lint, frontend-format

fix: harden MirrorMaker provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/kafka-mirrormaker.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/mm2.properties.j2
  ansible/playbooks/kafka_mirrormaker.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
  cli/pkg/provisioner/kafka_mirrormaker_role.go
  docs/architecture/multiregion-kafka-mirrormaker.md
Due: go-fmt, go-lint, frontend-format

fix: align edge host inventory schema
  cli/cmd/edge.go
  cli/cmd/edge_bootstrap.go
  cli/cmd/edge_deploy.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

swap proxy example endpoint
  website_marketing/env.example
Due: none

remove weirdly synced mist streams
  infrastructure/mistserver.conf
Due: none

Fix dev env stream sync and proxy startup issues
  api_balancing/cmd/foghorn/main.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  config/env/base.env
  infrastructure/nginx/default.conf
Due: go-fmt, go-lint

Update release notes authoring standard
  docs/standards/release-notes.md
Due: frontend-format

fix: unblock edge and worker path CI
  cli/cmd/edge.go
  npm_player/packages/core/package.json
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/core/src/core/EncoderManager.ts
  npm_studio/packages/core/src/core/SceneManager.ts
  npm_studio/packages/core/src/core/WhipClient.ts
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix Privateer service PKI ownership
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint, frontend-format

Document provisioned upgrade steps
  docs/standards/release-notes.md
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: frontend-format

fix: preserve privateer service cert setgid bit
  api_mesh/internal/agent/agent.go
Due: go-fmt, go-lint

Refresh apt cache before Privateer packages
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
Due: frontend-format
