Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix(helmsman): render formatted caddyfile
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
Due: go-fmt, go-lint

fix(helmsman): only manage MistControllers running as Helmsman's user
  api_sidecar/internal/updater/procctl_s6_signal_linux.go
  api_sidecar/internal/updater/procctl_s6_signal_linux_test.go
Due: go-fmt, go-lint

fix(helmsman): only manage own mist controllers
  api_sidecar/internal/updater/procctl_s6_signal_linux.go
  api_sidecar/internal/updater/procctl_s6_signal_linux_test.go
Due: go-fmt, go-lint

fix(helmsman): confirm a DVR stop when Mist reported the writer ended
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
Due: go-fmt, go-lint

fix(helmsman): confirm dvr stop on writer end
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
Due: go-fmt, go-lint

fix(federation): shorten preparation to current evidence
  api_balancing/internal/federation/placement_destination.go
  api_balancing/internal/federation/placement_destination_test.go
  api_balancing/internal/federation/placement_runtime.go
Due: go-fmt, go-lint

fix(federation): shorten a fresh preparation to current policy evidence
  api_balancing/internal/federation/placement_destination.go
  api_balancing/internal/federation/placement_destination_test.go
  api_balancing/internal/federation/placement_runtime.go
Due: go-fmt, go-lint

fix(billing): report Livepeer segments as h264 and canonical AV codecs
  api_analytics_query/internal/handlers/billing.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  pkg/mist/codec_names.go
  pkg/mist/codec_names_test.go
Due: go-fmt, go-lint

fix(billing): canonicalize transcode codec names
  api_analytics_query/internal/handlers/billing.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  pkg/mist/codec_names.go
  pkg/mist/codec_names_test.go
Due: go-fmt, go-lint

fix(helmsman): publish only written recording tracks
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_coverage.go
  api_sidecar/internal/handlers/processing_coverage_test.go
Due: go-fmt, go-lint

fix(helmsman): judge and publish only the tracks a recording wrote
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_coverage.go
  api_sidecar/internal/handlers/processing_coverage_test.go
Due: go-fmt, go-lint

fix(processing): exclude meta tracks from av transcodes
  api_billing/internal/bootstrap/catalog/billing_tiers.yaml
  api_gateway/internal/demo/generators.go
  pkg/database/sql/seeds/demo/postgres/purser.sql
  pkg/mist/processes.go
  pkg/mist/processes_test.go
  pkg/mist/purelogic_test.go
Due: go-fmt, go-lint, frontend-format

fix(processing): keep audio and video transcodes off meta tracks
  api_billing/internal/bootstrap/catalog/billing_tiers.yaml
  api_gateway/internal/demo/generators.go
  pkg/database/sql/seeds/demo/postgres/purser.sql
  pkg/mist/processes.go
  pkg/mist/processes_test.go
  pkg/mist/purelogic_test.go
Due: go-fmt, go-lint, frontend-format

fix(yugabyte): require avx2 capable hosts
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/preflight.yml
Due: frontend-format

fix(yugabyte): refuse hosts whose CPU cannot run pgvector
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/preflight.yml
Due: frontend-format

fix(helmsman): never take a rendition that names its source for the source
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

fix(helmsman): never treat a rendition as the source
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

feat(sdk): stream scopes and partial results
  .changeset/stream-metrics-operation.md
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/stream_metrics_scope_test.go
  npm_api/README.md
  npm_api/examples/quickstart.ts
  npm_api/src/client.ts
  npm_api/src/errors.ts
  npm_api/src/transport.ts
  npm_api/test/errors.test.ts
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/queries/streams.graphql
  pkg/graphql/public/support.yaml
  pkg/graphql/schema.graphql
  sdk_conformance/errors.json
  sdk_go/README.md
  sdk_go/client.go
  sdk_go/errors.go
  sdk_go/errors_test.go
  sdk_python/README.md
  sdk_python/examples/quickstart.py
  sdk_python/src/livepeer_frameworks/__init__.py
  sdk_python/src/livepeer_frameworks/_transport.py
  sdk_python/src/livepeer_frameworks/client.py
  sdk_python/src/livepeer_frameworks/errors.py
  sdk_python/tests/test_retry_errors.py
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/sdks.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

feat(sdk): stream operations need only streams scopes; partial results succeed
  .changeset/stream-metrics-operation.md
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/stream_metrics_scope_test.go
  npm_api/README.md
  npm_api/examples/quickstart.ts
  npm_api/src/client.ts
  npm_api/src/errors.ts
  npm_api/src/transport.ts
  npm_api/test/errors.test.ts
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/queries/streams.graphql
  pkg/graphql/public/support.yaml
  pkg/graphql/schema.graphql
  sdk_conformance/errors.json
  sdk_go/README.md
  sdk_go/client.go
  sdk_go/errors.go
  sdk_go/errors_test.go
  sdk_python/README.md
  sdk_python/examples/quickstart.py
  sdk_python/src/livepeer_frameworks/__init__.py
  sdk_python/src/livepeer_frameworks/_transport.py
  sdk_python/src/livepeer_frameworks/client.py
  sdk_python/src/livepeer_frameworks/errors.py
  sdk_python/tests/test_retry_errors.py
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/sdks.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(foghorn): keep the live broadcast when a peer has no Foghorn address
  api_balancing/internal/triggers/admission_peer_hints_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(foghorn): skip peers without foghorn address
  api_balancing/internal/triggers/admission_peer_hints_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(authority): log and alert on refresh delivery failures
  api_billing/internal/grpc/media_authority_refresh.go
  api_tenants/internal/grpc/media_authority_refresh.go
  pkg/grafana/rules/frameworks.yml
Due: go-fmt, go-lint, frontend-format

fix(authority): log refresh delivery failures and alert on repeated ones
  api_billing/internal/grpc/media_authority_refresh.go
  api_tenants/internal/grpc/media_authority_refresh.go
  pkg/grafana/rules/frameworks.yml
Due: go-fmt, go-lint, frontend-format

docs(events): document recording.ready playback id
  website_docs/src/content/docs/builders/events.mdx
Due: frontend-format

docs(events): name recording.ready as the event that carries a playback ID
  website_docs/src/content/docs/builders/events.mdx
Due: frontend-format

fix(foghorn): requeue jobs lost with their connection
  Makefile
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/jobs/node_job_inventory.go
  api_balancing/internal/jobs/node_job_inventory_realpg_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
Due: go-fmt, go-lint

fix(foghorn): requeue a job lost with the connection it was dispatched on
  Makefile
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/jobs/node_job_inventory.go
  api_balancing/internal/jobs/node_job_inventory_realpg_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
Due: go-fmt, go-lint

fix(api): scope stream reads and stream keys
  .changeset/stream-metrics-operation.md
  api_control/internal/grpc/server.go
  api_control/internal/grpc/stream_scope_test.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/stream_key_scope_test.go
  api_gateway/graph/stream_source_mode_test.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/policy.go
  api_gateway/internal/middleware/graphql.go
  api_gateway/internal/resolvers/stream_scope_test.go
  api_gateway/internal/resolvers/streams.go
  npm_api/README.md
  pkg/auth/permissions.go
  pkg/auth/permissions_test.go
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/mutations/streams.graphql
  pkg/graphql/public/queries/streams.graphql
  pkg/graphql/public/support.yaml
  pkg/graphql/schema.graphql
  sdk_go/README.md
  sdk_python/README.md
  website_application/src/routes/developer/api-keys/+page.svelte
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/sdks.mdx
  website_docs/src/content/docs/builders/streams.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(api): scope stream reads and treat stream keys as write credentials
  .changeset/stream-metrics-operation.md
  api_control/internal/grpc/server.go
  api_control/internal/grpc/stream_scope_test.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/graph/stream_key_scope_test.go
  api_gateway/graph/stream_source_mode_test.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/policy.go
  api_gateway/internal/middleware/graphql.go
  api_gateway/internal/resolvers/stream_scope_test.go
  api_gateway/internal/resolvers/streams.go
  npm_api/README.md
  pkg/auth/permissions.go
  pkg/auth/permissions_test.go
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/mutations/streams.graphql
  pkg/graphql/public/queries/streams.graphql
  pkg/graphql/public/support.yaml
  pkg/graphql/schema.graphql
  sdk_go/README.md
  sdk_python/README.md
  website_application/src/routes/developer/api-keys/+page.svelte
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/builders/api-reference.mdx
  website_docs/src/content/docs/builders/sdks.mdx
  website_docs/src/content/docs/builders/streams.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

build(graphql): generate all schema artifacts in graphql-all
  CONTRIBUTING.md
  Makefile
  scripts/sdkcontract/main.go
Due: go-fmt, go-lint, frontend-format

build(graphql): make graphql-all produce every schema-derived artifact
  CONTRIBUTING.md
  Makefile
  scripts/sdkcontract/main.go
Due: go-fmt, go-lint, frontend-format

test(sdk): update GetStream conformance fixture
  sdk_conformance/forward_compat.json
Due: frontend-format

test(sdk): drop metrics and streamKey from the GetStream conformance fixture
  sdk_conformance/forward_compat.json
Due: frontend-format

feat(sdk): return StreamWithKey on create and rotate
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/manifest.ts
  npm_api/test/__snapshots__/publicApi.test.ts.snap
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/majors/v0.json
  pkg/graphql/public/mutations/streams.graphql
  sdk_go/generated.go
  sdk_python/README.md
  sdk_python/examples/quickstart.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/__init__.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/async_client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/create_stream.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/refresh_stream_key.py
  sdk_python/src/livepeer_frameworks/_generated/public_exports.py
Due: go-fmt, go-lint, frontend-format, frontend-lint

feat(sdk): return a StreamWithKey from creating a stream or rotating its key
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/manifest.ts
  npm_api/test/__snapshots__/publicApi.test.ts.snap
  pkg/graphql/public/fragments/resources.graphql
  pkg/graphql/public/majors/v0.json
  pkg/graphql/public/mutations/streams.graphql
  sdk_go/generated.go
  sdk_python/README.md
  sdk_python/examples/quickstart.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/__init__.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/async_client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/client.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/create_stream.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/refresh_stream_key.py
  sdk_python/src/livepeer_frameworks/_generated/public_exports.py
Due: go-fmt, go-lint, frontend-format, frontend-lint

docs(sdk): mention StreamWithKey in changelog
  npm_api/CHANGELOG.md
Due: frontend-format

docs(sdk): name StreamWithKey in the 0.4.0 changelog
  npm_api/CHANGELOG.md
Due: frontend-format

build: run the CI migration release-state job in verify-prepush
  Makefile
Due: none

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
