Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Harden player fallback exclusions
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/test/player-manager.test.ts
Due: frontend-format, frontend-lint

Add tenant metadata to live playback
  api_balancing/internal/control/playback.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
Due: go-fmt, go-lint

balancing: restore DB fallback for artifact nodes + fix defrost error check
  api_balancing/internal/control/playback.go
Due: go-fmt, go-lint

rehydrate artifacts in memory only
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/state/stream_state.go
Due: go-fmt, go-lint

balancing: include geo fields in artifact node snapshot
  api_balancing/internal/state/stream_state.go
Due: go-fmt, go-lint

Simplify foghorn client trailer handling
  api_control/internal/grpc/server.go
  pkg/clients/foghorn/grpc_client.go
  pkg/grpcutil/propagate.go
Due: go-fmt, go-lint

balancing: use ctxkeys.KeyCapability for live playback LB
  api_balancing/internal/control/playback.go
Due: go-fmt, go-lint

rehydrate artifacts in memory only
  api_balancing/internal/control/playback.go
Due: go-fmt, go-lint

Fix StreamCrafter WHIP reconnection handling
  npm_studio/packages/core/src/core/IngestControllerV2.ts
  npm_studio/packages/core/src/core/WhipClient.ts
  npm_studio/packages/core/src/types.ts
Due: frontend-format, frontend-lint

fix: skip reconnect/error on intentional stop
  npm_studio/packages/core/src/core/IngestControllerV2.ts
Due: frontend-format, frontend-lint

Revert unintended pnpm lockfile updates
  api_balancing/internal/triggers/processor.go
  api_firehose/internal/grpc/server.go
Due: go-fmt, go-lint

studio: reset WHIP endpoint index at start of new session
  npm_studio/packages/core/src/core/IngestControllerV2.ts
Due: frontend-format, frontend-lint

balancing: add ingesterrors package
  api_balancing/internal/ingesterrors/ingest_errors.go
Due: go-fmt, go-lint

Remove vendored google protobuf stubs
  api_balancing/internal/control/server.go
  api_balancing/internal/triggers/ingest_errors.go
  api_balancing/internal/triggers/processor.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
Due: go-fmt, go-lint

balancing: avoid control/triggers import cycle for typed ingest errors
  api_balancing/internal/control/server.go
  api_balancing/internal/triggers/ingest_errors.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

Fix WHIP reconnection, cleanup, and fallback rotation in StreamCrafter (#103)
  npm_studio/packages/core/src/core/IngestControllerV2.ts
  npm_studio/packages/core/src/core/WhipClient.ts
  npm_studio/packages/core/src/types.ts
Due: frontend-format, frontend-lint

balancing: accept payload tenant_id before decklog send guard
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

Reject analytics without tenant_id and guard Decklog trigger sends (#104)
  api_balancing/internal/triggers/processor.go
  api_firehose/internal/grpc/server.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/control/server.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/poller.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
Due: go-fmt, go-lint

Improve GeoIP cache burst handling
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  pkg/cache/cache.go
  pkg/go.mod
Due: go-fmt, go-lint

cache: decouple singleflight loader ctx from first caller
  pkg/cache/cache.go
Due: go-fmt, go-lint

Return typed ingest errors in Mist trigger flow, regenerate protobufs, remove vendored google protos (#105)
  api_balancing/internal/control/server.go
  api_balancing/internal/ingesterrors/ingest_errors.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/poller.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint

Accept payload tenant IDs before Decklog guard
  api_balancing/internal/triggers/processor.go
  api_firehose/internal/grpc/server.go
Due: go-fmt, go-lint

cache: check singleflight.Do error (errcheck)
  pkg/cache/cache.go
Due: go-fmt, go-lint

cache: errcheck-safe singleflight result handling
  pkg/cache/cache.go
Due: go-fmt, go-lint

cli: go mod tidy (fix golangci-lint context loading)
  cli/go.mod
Due: none

Reduce GeoIP stampedes: singleflight + cache wiring (#102)
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  cli/go.mod
  pkg/cache/cache.go
  pkg/go.mod
Due: go-fmt, go-lint

fix(playback): unify /play errors and reuse resolved live data
  api_balancing/internal/control/playback.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
Due: go-fmt, go-lint
