Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

Harden mixed-version foghorn routing fallbacks
  api_balancing/internal/control/edge_provisioning_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_fanout_test.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/federation/server.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_fanout_test.go
Due: go-fmt, go-lint

Harden mixed-version cluster routing and relay compatibility paths (#323)
  api_balancing/internal/control/edge_provisioning_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/server.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_fanout_test.go
Due: go-fmt, go-lint

Harden active ingest cluster freshness and routing fallback
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  pkg/database/sql/schema/commodore.sql
Due: go-fmt, go-lint

tweaks
  pkg/database/sql/schema/commodore.sql
Due: none

Harden active ingest cluster freshness and clip routing fallback (#324)
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  pkg/database/sql/schema/commodore.sql
Due: go-fmt, go-lint

Add frontend GraphQL codegen drift check and explorer history typing
  Makefile
  scripts/check-frontend-codegen.sh
  website_application/src/lib/components/GraphQLExplorer.svelte
  website_application/src/lib/components/explorer/ExplorerOverlay.svelte
  website_application/src/lib/components/explorer/queryHistory.test.ts
  website_application/src/lib/components/explorer/queryHistory.ts
Due: frontend-format, frontend-lint

tweaks
  Makefile
  scripts/check-frontend-codegen.sh
  website_application/src/lib/components/explorer/ExplorerOverlay.svelte
Due: frontend-format, frontend-lint

Add frontend GraphQL codegen drift check and normalize explorer history types (#325)
  website_application/src/lib/components/GraphQLExplorer.svelte
  website_application/src/lib/components/explorer/ExplorerOverlay.svelte
  website_application/src/lib/components/explorer/queryHistory.test.ts
  website_application/src/lib/components/explorer/queryHistory.ts
Due: frontend-format, frontend-lint

Harden route matching and stream ID handling
  pkg/graphql/operations/queries/GetStreamAnalyticsSummary.gql
  website_application/src/lib/navigation.test.ts
  website_application/src/lib/navigation.ts
  website_application/src/lib/route-ids.test.ts
  website_application/src/lib/route-ids.ts
  website_application/src/routes/streams/[id]/+page.svelte
  website_application/src/routes/streams/[id]/analytics/+page.svelte
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: frontend-format, frontend-lint

tweaks
  website_application/src/routes/streams/[id]/+page.svelte
Due: frontend-format, frontend-lint

Route type safety and ID semantics correctness (#326)
  pkg/graphql/operations/queries/GetStreamAnalyticsSummary.gql
  website_application/src/lib/navigation.test.ts
  website_application/src/lib/navigation.ts
  website_application/src/lib/route-ids.test.ts
  website_application/src/lib/route-ids.ts
  website_application/src/routes/streams/[id]/+page.svelte
  website_application/src/routes/streams/[id]/analytics/+page.svelte
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: frontend-format, frontend-lint

Align EmptyState prop contract and add drift tests
  website_application/src/lib/components/EmptyState.svelte
  website_application/src/lib/components/empty-state-contract.test.ts
  website_application/src/lib/components/empty-state-contract.ts
Due: frontend-format, frontend-lint

Align EmptyState shared prop contract and add regression coverage (#327)
  website_application/src/lib/components/EmptyState.svelte
  website_application/src/lib/components/empty-state-contract.test.ts
  website_application/src/lib/components/empty-state-contract.ts
Due: frontend-format, frontend-lint

Harden origin cluster attribution during artifact migration and remote resolve
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_migrate_metadata_test.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
Due: go-fmt, go-lint

origin_cluster_id correctness across artifact lifecycle (#328)
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_migrate_metadata_test.go
Due: go-fmt, go-lint

Fix federation geo attribution and null-island filtering
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope.proto
  pkg/proto/periscope_grpc.pb.go
  website_application/src/routes/infrastructure/federation/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix federation geo attribution and null‑island filtering (#329)
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope.proto
  pkg/proto/periscope_grpc.pb.go
  website_application/src/routes/infrastructure/federation/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix federation ingest field mapping and zero-value semantics
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_gateway/internal/demo/generators.go
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

tweaks
  api_analytics_ingest/internal/handlers/handlers.go
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

Fix federation ingest completeness and optional numeric semantics (#330)
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_gateway/internal/demo/generators.go
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

Fix cross-cluster audience attribution flow bucketing
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  website_application/src/lib/analytics/routingFlows.test.ts
  website_application/src/lib/analytics/routingFlows.ts
  website_application/src/routes/analytics/audience/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

tweaks
  website_application/src/routes/analytics/audience/+page.svelte
Due: frontend-format, frontend-lint

Fix cross-cluster attribution drift in audience analytics (#331)
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  website_application/src/lib/analytics/routingFlows.test.ts
  website_application/src/lib/analytics/routingFlows.ts
  website_application/src/routes/analytics/audience/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix navigation route matching and add route hygiene tests
  website_application/src/lib/navigation.test.ts
  website_application/src/lib/navigation.ts
Due: frontend-format, frontend-lint

tweaks
  website_application/src/lib/navigation.ts
Due: frontend-format, frontend-lint

Fix navigation route hygiene for hidden/dynamic routes and add safety tests (#332)
  website_application/src/lib/navigation.test.ts
  website_application/src/lib/navigation.ts
Due: frontend-format, frontend-lint

Fix cluster-scoped infrastructure data filtering and geo enrichment
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_connections_infra_test.go
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

tweaks
  api_gateway/internal/resolvers/analytics_connections.go
Due: go-fmt, go-lint

Infrastructure cluster detail data correctness (#333)
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_connections_infra_test.go
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Harden node detail loading and instance churn rendering
  website_application/src/lib/utils/infrastructure-data.test.ts
  website_application/src/lib/utils/infrastructure-data.ts
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: frontend-format, frontend-lint

tweaks
  website_application/src/routes/nodes/[id]/+page.svelte
Due: frontend-format, frontend-lint

Harden node detail lifecycle and instance churn rendering (#334)
  website_application/src/lib/utils/infrastructure-data.test.ts
  website_application/src/lib/utils/infrastructure-data.ts
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: frontend-format, frontend-lint

fix npm script publish deps resolve
  npm_player/packages/wc/package.json
  npm_studio/packages/wc/package.json
  scripts/npm-publish.sh
Due: frontend-format

bump npm
  README.md
  npm_player/packages/core/package.json
  npm_player/packages/core/src/players/MistPlayer.ts
  npm_player/packages/wc/package.json
  npm_studio/packages/wc/package.json
  npm_studio/packages/wc/src/components/fw-sc-advanced.ts
  npm_studio/packages/wc/src/components/fw-streamcrafter.ts
  npm_studio/packages/wc/src/controllers/ingest-controller-host.ts
Due: frontend-format, frontend-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
