Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

test: share docker postgres harness
  pkg/testutil/dockerpg/dockerpg.go
Due: go-fmt, go-lint

chore(storage): add thumbnail ownership cutover wipe
  scripts/cutover-thumbnail-ownership-wipe.sh
  scripts/cutover-thumbnail-ownership-wipe.test.sh
Due: none

fix(topology): drop stale chandler foghorn dependency
  pkg/topology/dependencies.go
Due: go-fmt, go-lint

docs(storage): replace release manifest with cutover note
  MANIFEST_STORAGE_RELEASE_UNIT.md
  docs/architecture/thumbnails.md
  scripts/cutover-thumbnail-ownership-wipe.sh
Due: frontend-format

fix(ansible): use boolean molecule pull setting
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/molecule.yml
Due: frontend-format

feat(topology): route cluster authority through quartermaster
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_served_clusters_test.go
  api_control/internal/grpc/policy_bundle.go
  api_control/internal/grpc/policy_bundle_test.go
  api_control/internal/grpc/server.go
  api_tenants/internal/grpc/get_tenant_entitlement_test.go
  api_tenants/internal/grpc/list_service_cluster_assignments_test.go
  api_tenants/internal/grpc/server.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/clients/quartermaster/interface.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
Due: go-fmt, go-lint

fix(gateway): enforce websocket auth and client attribution
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/middleware/graphql_ws_auth.go
  api_gateway/internal/middleware/graphql_ws_auth_test.go
  api_gateway/internal/middleware/graphql_ws_ratelimit.go
  api_gateway/internal/middleware/graphql_ws_ratelimit_test.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/ratelimit_test.go
  api_gateway/internal/middleware/x402.go
  pkg/auth/api_tokens.go
  pkg/auth/api_tokens_test.go
  pkg/auth/middleware.go
  pkg/auth/middleware_test.go
  pkg/logging/redact.go
  pkg/logging/redact_test.go
  pkg/middleware/clientip.go
  pkg/middleware/clientip_test.go
  pkg/middleware/middleware.go
  pkg/middleware/middleware_test.go
Due: go-fmt, go-lint

fix(proxy): redact ingest credentials in edge logs
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/templates/Caddyfile.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/nginx.conf.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_db_alias_test.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  config/env/base.env
Due: go-fmt, go-lint

feat(proto): add ingest generation contracts
  pkg/go.mod
  pkg/go.sum
  pkg/proto/Makefile
  pkg/proto/cluster_peer/cluster_peer.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/common/common.pb.go
  pkg/proto/deckhand/deckhand.pb.go
  pkg/proto/dns/dns.pb.go
  pkg/proto/foghorn/foghorn.pb.go
  pkg/proto/foghorn_control/foghorn_control.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
  pkg/proto/foghorn_relay.proto
  pkg/proto/foghorn_relay/foghorn_relay.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/ipc/ipc_grpc.pb.go
  pkg/proto/metering_contract/metering_contract.pb.go
  pkg/proto/periscope/periscope.pb.go
  pkg/proto/purser/purser.pb.go
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/shared.proto
  pkg/proto/shared/gqlgen_extensions.go
  pkg/proto/shared/shared.pb.go
  pkg/proto/signalman/signalman.pb.go
  pkg/proto/skipper/skipper.pb.go
  pkg/proto/tenant_limits/tenant_limits.pb.go
  pkg/proto/x402/x402.pb.go
Due: go-fmt, go-lint

feat(gateway): expose ingest endpoint placement details
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/resolvers/streams_clips_dvr_resolver_test.go
  pkg/graphql/schema.graphql
Due: go-fmt, go-lint, frontend-format

fix(tooling): support macos bash in migration guard
  scripts/check-migration-version.sh
Due: none

feat(commodore): own active ingest placement claims
  api_control/go.mod
  api_control/go.sum
  api_control/internal/grpc/active_ingest_claim_realpg_test.go
  api_control/internal/grpc/active_ingest_placement_test.go
  api_control/internal/grpc/entitlement_purser_failure_test.go
  api_control/internal/grpc/ingest_cluster_authority_test.go
  api_control/internal/grpc/pull_source_events.go
  api_control/internal/grpc/pull_source_events_test.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/route_build_collapse_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_utility_test.go
  api_control/internal/grpc/server_validation_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/grpc_client_test.go
  pkg/clients/commodore/interface.go
  pkg/clients/commodore/timeout_interceptor_test.go
  pkg/database/sql/migrations/commodore/v0.3.0/expand/020_active_ingest_claim_id.sql
  pkg/database/sql/schema/commodore.sql
  pkg/streamident/ingest_lease.go
Due: go-fmt, go-lint

feat(helmsman): fence ingest generation commands
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_handlers_test.go
  api_sidecar/internal/control/client_push_targets_test.go
  api_sidecar/internal/control/client_test.go
  api_sidecar/internal/control/drain_handler_test.go
  api_sidecar/internal/control/dvr_absence_evidence_test.go
  api_sidecar/internal/control/dvr_lookup_by_internal_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_manager_test.go
  api_sidecar/internal/control/dvr_mist_test.go
  api_sidecar/internal/control/dvr_recover_internal_name_test.go
  api_sidecar/internal/control/dvr_update_source_test.go
  api_sidecar/internal/control/ingest_generation_store_test.go
  api_sidecar/internal/control/pure_helpers_test.go
  api_sidecar/internal/control/push_activation_idempotency_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_helpers_test.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/leases_init.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_dvr_rebuild_test.go
  api_sidecar/internal/handlers/poller_dvr_upgrade_test.go
  api_sidecar/internal/handlers/push_rewrite_identity_test.go
  api_sidecar/internal/leases/global.go
  api_sidecar/internal/leases/global_cleanup_test.go
  api_sidecar/internal/leases/leases.go
  api_sidecar/internal/leases/leases_test.go
  api_sidecar/internal/leases/testsupport_test.go
  api_sidecar/internal/storage/ingest_generation_store.go
  api_sidecar/internal/storage/ingest_generation_store_test.go
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_test.go
Due: go-fmt, go-lint

fix(periscope): reject credential-bearing push events
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/contract/001_stream_event_log_drop_stream_key.sql
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

fix(quartermaster): preserve runtime node enrollment
  api_tenants/internal/grpc/create_node_test.go
  api_tenants/internal/grpc/server.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

fix(clients): bound decklog load balancing sends
  pkg/clients/decklog/client.go
  pkg/x402/mocks_test.go
  pkg/x402/settlement.go
  pkg/x402/settlement_test.go
Due: go-fmt, go-lint

chore(tooling): align protobuf generator and module tidy
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  Makefile
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_analytics_query/go.mod
  api_analytics_query/go.sum
  api_assets/go.mod
  api_assets/go.sum
  api_billing/go.mod
  api_billing/go.sum
  api_consultant/go.mod
  api_consultant/go.sum
  api_dns/go.mod
  api_dns/go.sum
  api_firehose/go.mod
  api_firehose/go.sum
  api_forms/go.mod
  api_forms/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  api_realtime/go.mod
  api_realtime/go.sum
  api_tenants/go.mod
  api_tenants/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
  cli/go.mod
  cli/go.sum
Due: frontend-format

docs(forms): document listmonk api credentials
  api_forms/env.example
Due: none

docs(skipper): clarify shared ingest routing
  config/skipper/faq/cluster-discovery.md
  config/skipper/faq/protocol-selection.md
  config/skipper/faq/self-hosted-setup.md
Due: frontend-format

docs(features): mark storage descriptor foundation shipped
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
Due: frontend-format

docs(architecture): refresh ingest and federation contracts
  docs/architecture/analytics-pipeline.md
  docs/architecture/cluster-rollout.md
  docs/architecture/edge-auth.md
  docs/architecture/edge-deployment.md
  docs/architecture/federation.md
  docs/architecture/foghorn-ha.md
  docs/architecture/module-map.md
  docs/architecture/stream-replication-topology.md
  docs/architecture/streamcrafter.md
  docs/architecture/viewer-routing.md
  docs/rfcs/federated-settlement-attribution.md
  docs/rfcs/federation-plane-pluggability.md
  docs/rfcs/placement-policy-engine.md
  docs/rfcs/service-identity-and-cluster-binding.md
Due: frontend-format

docs(website): publish ingest front door guidance
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/blog/frameworks-0-3-0.mdx
  website_docs/src/content/docs/builders/encoder-setup.mdx
  website_docs/src/content/docs/builders/ingest-advanced.mdx
  website_docs/src/content/docs/builders/ingest-react.mdx
  website_docs/src/content/docs/builders/ingest-svelte.mdx
  website_docs/src/content/docs/builders/ingest-wc.mdx
  website_docs/src/content/docs/builders/ingest.mdx
  website_docs/src/content/docs/builders/integration-guide.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: frontend-format

bump CI protoc version
  .github/workflows/ci.yml
Due: frontend-format

fix(analytics): dedupe stale session anomalies
  api_analytics_ingest/internal/handlers/stale_close.go
  api_analytics_ingest/internal/handlers/stale_close_test.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/postdeploy/001_anomaly_dedupe.sql
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint

fix(storage): reconcile catalog artifact lifecycle
  api_balancing/internal/control/freeze_permission_handler_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/repos_more_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/identity/identity.go
  api_balancing/internal/identity/identity_test.go
  api_balancing/internal/state/stream_state.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_freeze_test.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

fix(skipper): route local crawls through internal origins
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/config/config.go
  api_consultant/internal/config/config_test.go
  api_consultant/internal/knowledge/crawler.go
  api_consultant/internal/knowledge/crawler_test.go
  docker-compose.yml
  website_docs/src/content/docs/operators/skipper.mdx
Due: go-fmt, go-lint, frontend-format

build(proto): make code generation reproducible with buf
  .github/workflows/ci.yml
  Makefile
  pkg/proto/Makefile
  pkg/proto/buf.gen.yaml
  pkg/proto/buf.yaml
  pkg/proto/cluster_peer/cluster_peer.pb.go
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/common/common.pb.go
  pkg/proto/deckhand/deckhand.pb.go
  pkg/proto/deckhand/deckhand_grpc.pb.go
  pkg/proto/dns/dns.pb.go
  pkg/proto/dns/dns_grpc.pb.go
  pkg/proto/foghorn/foghorn.pb.go
  pkg/proto/foghorn/foghorn_grpc.pb.go
  pkg/proto/foghorn_control/foghorn_control.pb.go
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
  pkg/proto/foghorn_federation/foghorn_federation_grpc.pb.go
  pkg/proto/foghorn_relay/foghorn_relay.pb.go
  pkg/proto/foghorn_relay/foghorn_relay_grpc.pb.go
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/ipc/ipc_grpc.pb.go
  pkg/proto/metering_contract/metering_contract.pb.go
  pkg/proto/periscope/periscope.pb.go
  pkg/proto/periscope/periscope_grpc.pb.go
  pkg/proto/purser/purser.pb.go
  pkg/proto/purser/purser_grpc.pb.go
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
  pkg/proto/shared/shared.pb.go
  pkg/proto/shared/shared_grpc.pb.go
  pkg/proto/signalman/signalman.pb.go
  pkg/proto/signalman/signalman_grpc.pb.go
  pkg/proto/skipper/skipper.pb.go
  pkg/proto/skipper/skipper_grpc.pb.go
  pkg/proto/tenant_limits/tenant_limits.pb.go
  pkg/proto/x402/x402.pb.go
Due: frontend-format

fix(webapp): coalesce auth revalidation events
  website_application/src/lib/auth/revalidation.test.ts
  website_application/src/lib/auth/revalidation.ts
  website_application/src/routes/+layout.svelte
Due: frontend-format, frontend-lint

fix(docs): coordinate shared authentication state
  pnpm-lock.yaml
  website_docs/package.json
  website_docs/src/components/auth/DocsAuthButton.svelte
  website_docs/src/lib/auth.test.ts
  website_docs/src/lib/auth.ts
Due: frontend-format, frontend-lint

feat(proto): define explicit Mist trigger outcomes
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: none

feat(proto): report unavailable billing authority
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
Due: none

fix(billing): fail closed when authority is unavailable
  api_balancing/internal/grpc/server.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_tenants/internal/grpc/retry_test.go
  api_tenants/internal/grpc/server.go
  pkg/cache/cache.go
Due: go-fmt, go-lint

fix(media): make Mist trigger outcomes explicit
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_mist_trigger_test.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/config/triggers_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/handlers_lifecycle_triggers_test.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/push_rewrite_identity_test.go
  infrastructure/README.md
  infrastructure/mistserver.conf
  pkg/mist/triggers.go
Due: go-fmt, go-lint, frontend-format

docs(media): define the Mist trigger contract
  docs/architecture/foghorn-ha.md
  docs/architecture/mist-trigger-contract.md
  docs/architecture/service-event-producer-audit.md
  docs/architecture/stream-replication-topology.md
  docs/architecture/trigger-durability.md
Due: frontend-format

docs(website): explain playback control resilience
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/blog/live-playback-control-blips.mdx
Due: frontend-format

build(migrations): enforce release state and upgrade convergence
  .github/workflows/ci.yml
  Makefile
  cli/cmd/cluster_migrate.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/migrate_test.go
  cli/pkg/provisioner/schema_squash_clickhouse_test.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
  cli/pkg/provisioner/schema_tagged_upgrade_test.go
  scripts/check-migration-version.sh
  scripts/check-migration-version.test.sh
Due: go-fmt, go-lint, frontend-format

docs(migrations): define pending release lifecycle
  AGENTS.md
  docs/architecture/analytics-pipeline.md
  docs/architecture/thumbnails.md
  docs/standards/schema-migrations.md
Due: frontend-format

fix(mist): normalize trigger configuration and buffer health
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/triggers_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
