Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix(foghorn): never send a routing decision that resolved to no stream or artifact, so a probe of an unknown stream key stops counting as a dropped load_balancing event in Periscope
  api_balancing/internal/handlers/routing_event_queue.go
  api_balancing/internal/handlers/routing_event_queue_test.go
  api_balancing/internal/handlers/routing_identity_test.go
Due: go-fmt, go-lint

fix(bosun): refuse a nonexistent webhook host as invalid input, report a resolver failure as retryable rather than an outage, and fail a destination-policy refusal at once with its reason
  api_gateway/internal/resolvers/webhooks.go
  api_webhooks/internal/delivery/delivery_test.go
  api_webhooks/internal/delivery/http.go
  api_webhooks/internal/grpcserver/server.go
  api_webhooks/internal/grpcserver/server_test.go
  api_webhooks/internal/integration/pipeline_realpg_test.go
  api_webhooks/internal/ledger/deliveries.go
  api_webhooks/internal/validate/validate.go
  api_webhooks/internal/validate/validate_test.go
  docs/architecture/bosun.md
  pkg/graphql/schema.graphql
  pkg/proto/bosun.proto
  pkg/proto/bosun/bosun.pb.go
  pkg/restream/policy.go
  pkg/restream/policy_test.go
  pkg/restream/webhook.go
  pkg/restream/webhook_test.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/builders/webhooks.mdx
Due: go-fmt, go-lint, frontend-format

fix(foghorn): forward a stream buffer or track list report only when its stream resolved to a stream_id or artifact_hash, so Periscope never drops one for missing content identity
  api_balancing/internal/triggers/processing_stream_buffer_test.go
  api_balancing/internal/triggers/processing_track_list_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(decklog): acknowledge a declared-unrouted MistTrigger payload without publishing it, so an older Foghorn still forwarding push_input_close logs no error during a mixed-version rollout
  api_firehose/internal/grpc/server.go
  api_firehose/internal/grpc/server_test.go
  docs/architecture/analytics-pipeline.md
  docs/architecture/decklog.md
  pkg/analyticsevents/analyticsevents.go
Due: go-fmt, go-lint, frontend-format

test(stack): fail logcheck on any periscope-ingest unknown-type skip, dropped event or handler error
  scripts/stack/logcheck.sh
Due: none

fix(bridge): classify resolver-made authorization, identity, and input refusals as client faults so they log at info with a public code
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/errors/errors.go
  api_gateway/internal/errors/errors_test.go
  api_gateway/internal/loaders/loaders.go
  api_gateway/internal/middleware/graphql.go
  api_gateway/internal/resolvers/admin.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_helpers.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/capabilities.go
  api_gateway/internal/resolvers/client_refusal_test.go
  api_gateway/internal/resolvers/dvr_chapters.go
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/infrastructure_access.go
  api_gateway/internal/resolvers/platform_admin.go
  api_gateway/internal/resolvers/push_targets.go
  api_gateway/internal/resolvers/vod.go
  api_gateway/internal/resolvers/webhooks.go
Due: go-fmt, go-lint

fix(bridge): log each resolver error once, from the presenter when returned and through the shared code-based level when handled, so downstream client faults no longer log at error
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/errors/errors.go
  api_gateway/internal/middleware/graphql.go
  api_gateway/internal/resolvers/admin.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/auth.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/client_refusal_test.go
  api_gateway/internal/resolvers/developer.go
  api_gateway/internal/resolvers/dvr_chapters.go
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/media_retention.go
  api_gateway/internal/resolvers/messaging.go
  api_gateway/internal/resolvers/mist_admin_session.go
  api_gateway/internal/resolvers/node_mode.go
  api_gateway/internal/resolvers/platform_admin.go
  api_gateway/internal/resolvers/playback_access_control.go
  api_gateway/internal/resolvers/playback_access_dryrun.go
  api_gateway/internal/resolvers/pull_source_events.go
  api_gateway/internal/resolvers/push_targets.go
  api_gateway/internal/resolvers/storage_artifacts.go
  api_gateway/internal/resolvers/streams.go
  api_gateway/internal/resolvers/subscriptions.go
  api_gateway/internal/resolvers/tenant_events.go
  api_gateway/internal/resolvers/vod.go
Due: go-fmt, go-lint

fix(webapp): label internal and permanent blocked_destination webhook failures to match the delivery contract
  website_application/src/lib/webhooks.test.ts
  website_application/src/lib/webhooks.ts
Due: frontend-format, frontend-lint

fix(webapp): type the verify-email and reset-password test page URLs as resolved pathnames so svelte-check passes
  website_application/test/components/auth-email-verification.test.ts
Due: frontend-format, frontend-lint

feat(cli): check in cluster doctor and diagnose kafka that every MirrorMaker2 worker serves its internal REST server and logged no task reconfiguration failure
  cli/cmd/cluster.go
  cli/cmd/cluster_diagnose.go
  cli/cmd/kafka_mirror_workers.go
  cli/cmd/kafka_mirror_workers_test.go
Due: go-fmt, go-lint

ci(frontend): type-check the webapp, player, and StreamCrafter packages in Frontend lint and lint-frontend
  .github/workflows/ci.yml
  Makefile
Due: frontend-format

feat(cli): fail diagnose dns when resolved's global DNS scope points at a loopback resolver while Privateer has no upstream, without mistaking wg0's loopback link server for a global one
  cli/cmd/privateer_dns_scope.go
Due: go-fmt, go-lint

test(helmsman): give TestHandleActivatePushTargets its own restream registry, so a repeated run no longer finds the higher target revision its previous run installed for the same stream names
  api_sidecar/internal/control/client_push_targets_test.go
Due: go-fmt, go-lint

fix(helmsman): run the DVR initial push confirmation windows on the manager's clock and wait, so a test drives them on a test clock instead of racing the scheduler against a five-millisecond window
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_recover_internal_name_test.go
Due: go-fmt, go-lint

chore(graphql): regenerate the gateway, SDKs and API reference for the webhook url and delivery error descriptions
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/fragments.py
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  website_docs/src/content/docs/builders/api-schema/webhooks.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

test(stack): hold the reconnect's queued close by pausing Foghorn and reconnect once the WAL holds it, so scenario 15 exercises the PUSH_REWRITE ordering on every run
  scripts/stack/lib.sh
  scripts/stack/scenarios/15-reconnect-ordering.sh
Due: none

fix(ansible): give Ansible's SSH keepalives, so a multiplexed connection whose flow was dropped fails and is retried instead of hanging a release apply until its twenty-minute precheck deadline
  ansible/ansible.cfg
  cli/pkg/provisioner/compose_stack_pull_contract_test.go
Due: go-fmt, go-lint

fix(cli): run every ssh and scp call on its own connection with keepalives, so an operator's shared ControlMaster with a dropped flow can no longer hang release commands
  cli/pkg/ssh/client_test.go
  cli/pkg/ssh/options.go
Due: go-fmt, go-lint

fix(stack): read the Livepeer refusal allowlists after every service's log in logcheck, so a session_ended 403 whose Foghorn refusal lands while the check runs no longer fails it
  Makefile
  scripts/stack/logcheck.sh
  scripts/stack/test_logcheck.sh
Due: none

fix(commodore): reject blank JWT allowed kids at policy save and compile a stored blank kid to deny instead of widening it to every active key
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_access_source.go
  api_control/internal/grpc/media_authority_access_test.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/playback_jwt_keys_test.go
  api_gateway/internal/mcp/tools/playback_auth.go
  pkg/graphql/schema.graphql
  website_docs/src/content/docs/builders/playback-access-control.mdx
Due: go-fmt, go-lint, frontend-format

test(bosun): prove destination-policy refusals extend the failure streak and auto-disable the endpoint only once the streak is five days old
  Makefile
  api_webhooks/internal/integration/ledger_realpg_test.go
  docs/architecture/bosun.md
Due: go-fmt, go-lint, frontend-format

chore(graphql): regenerate the gateway, SDKs, public schema and API reference for the blank allowedKids rule
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  website_docs/src/content/docs/builders/api-schema/access.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(ansible): remove downloaded install archives and /tmp extraction dirs in an always block after each install
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/alertmanager.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/victoriametrics.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmalert.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  cli/pkg/provisioner/role_install_temp_cleanup_test.go
Due: go-fmt, go-lint, frontend-format

fix(ansible): move the extracted service binary into place instead of copying it and remove install sentinels of earlier pins
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  cli/pkg/provisioner/install_dir_leftovers_test.go
Due: go-fmt, go-lint, frontend-format

fix(clickhouse): override the doubled part_log and query_thread_log partition keys so system.part_log flushes stop failing and flooding the error log
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(edge): apply the node_baseline journald cap on standalone edge hosts
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/main.yml
  cli/pkg/provisioner/node_baseline_test.go
Due: go-fmt, go-lint, frontend-format

fix(cli): resolve YugabyteDB clients for backups, the ledger doctor, the post-expand report and the media-authority diagnose from the selected release
  cli/cmd/cluster_diagnose_media_authority.go
  cli/cmd/cluster_ledger_doctor.go
  cli/cmd/cluster_release_post_expand_report.go
  cli/cmd/cluster_snapshot.go
  cli/pkg/provisioner/database_backup.go
  cli/pkg/provisioner/yugabyte_client_resolution_test.go
Due: go-fmt, go-lint

fix(yugabyte): remove superseded engine releases and the pre-release in-place tree once no process or unit uses them
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/files/yugabyte-prune-releases.sh
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  cli/pkg/provisioner/yugabyte_release_prune_test.go
Due: go-fmt, go-lint, frontend-format

fix(ansible): run the install archive cleanup on every pass so archives earlier runs left in /tmp are removed and reported under --check
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/alertmanager.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/victoriametrics.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmalert.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  cli/pkg/provisioner/role_install_temp_cleanup_test.go
Due: go-fmt, go-lint, frontend-format

fix(releases): require CLI v0.3.11-rc23 for v0.3.11 so no older CLI backs up YugabyteDB from the in-place tree rc23 removes
  cli/cmd/release_metadata_test.go
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
  docs/architecture/build-and-packaging.md
Due: go-fmt, go-lint, frontend-format

fix(helmsman): download the artifact once per pin and detect a replaced binary from its install receipt so an apply with nothing to change changes nothing
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  cli/pkg/provisioner/install_dir_leftovers_test.go
Due: go-fmt, go-lint, frontend-format

test(privateer): give the Molecule scenario the mesh identity, seed DNS, pinned version and resolved/udev host it needs to converge
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/molecule/default/prepare.yml
Due: frontend-format

fix(edge): stop resetting the PKI and certificate directories to 0755 on every run and refresh apt in the Molecule scenario
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/prepare.yml
  cli/pkg/provisioner/install_dir_leftovers_test.go
Due: go-fmt, go-lint, frontend-format

fix(clickhouse): drop the openSSL block through a config.d drop-in instead of editing the rendered config.xml so an unchanged apply no longer restarts ClickHouse
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(navigator): run the tenant alias worker with public DNS records disabled so alias teardowns and label retirements complete without provider calls
  .github/workflows/ci.yml
  Makefile
  api_dns/cmd/navigator/main.go
  api_dns/internal/worker/tenant_alias_worker.go
  api_dns/internal/worker/tenant_alias_worker_realpg_test.go
  api_dns/internal/worker/tenant_alias_worker_test.go
  website_docs/src/content/docs/operators/dns.mdx
Due: go-fmt, go-lint, frontend-format

fix(ansible): decide Privateer and Go service reinstalls by artifact identity instead of the version label so a carried artifact is not reinstalled and restarted on every release apply
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  cli/pkg/provisioner/install_dir_leftovers_test.go
Due: go-fmt, go-lint, frontend-format

fix(bridge): ping idle graphql-transport-ws connections so proxies stop closing them at their idle timeout
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/middleware/graphql_ws_init.go
  api_gateway/internal/middleware/graphql_ws_init_test.go
Due: go-fmt, go-lint

fix(helmsman): remove install sentinels of earlier pins and keep only the current pin's
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/molecule/default/prepare.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  cli/pkg/provisioner/install_dir_leftovers_test.go
Due: go-fmt, go-lint, frontend-format

fix(purser): read billing document PDF streams by their /Length so a compressed stream ending in a line feed is not truncated by the test parser
  api_billing/internal/grpc/billing_document_pdf_test.go
  api_billing/internal/grpc/billing_document_render_test.go
Due: go-fmt, go-lint

fix(clickhouse): route idealista.clickhouse config notifications to the role's restart handler so one apply restarts ClickHouse once
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go-fmt, go-lint, frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
