Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

feat(analytics): provision platform activity datasource
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/clickhouse_role.go
  cli/pkg/provisioner/clickhouse_role_test.go
  config/env/secrets.env.example
  docker-compose.yml
  infrastructure/clickhouse/users.xml
  infrastructure/metabase/activity_cards.yaml
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.95/expand/001_tenant_dim_dictionary_datetime_default.sql
  pkg/database/sql/clickhouse/periscope.sql
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

feat(web): add platform admin console
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/queries/GetPlatformClusters.gql
  pkg/graphql/operations/queries/GetPlatformTenantBilling.gql
  pkg/graphql/operations/queries/GetPlatformTenantContent.gql
  pkg/graphql/operations/queries/GetPlatformTenantOverview.gql
  pkg/graphql/operations/queries/GetPlatformTenants.gql
  website_application/src/lib/components/Sidebar.svelte
  website_application/src/lib/navigation.ts
  website_application/src/routes/admin/+page.svelte
  website_application/src/routes/admin/clusters/+page.svelte
  website_application/src/routes/admin/tenants/[id]/+page.svelte
Due: frontend-format, frontend-lint

fix edge reprovision idempotence
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-docker.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/templates/helmsman.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  api_balancing/internal/control/pending_disconnect_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/pending_reconnect.go
  api_balancing/internal/state/pending_reconnect_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/restart_announce_test.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/announce.go
  api_sidecar/internal/control/client.go
  cli/cmd/edge.go
  cli/internal/templates/edge.go
  cli/internal/templates/edge/.edge.env.tmpl
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/internal/templates/edge_parity_test.go
  cli/internal/templates/edge_test.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_enrollment_test.go
  cli/pkg/provisioner/edge_role.go
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/hybrid/edge-nodes.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

feat: embed observability sync assets
  cli/cmd/cluster.go
  cli/cmd/cluster_grafana.go
  cli/cmd/cluster_metabase.go
  cli/pkg/dashcheck/dashcheck_test.go
  cli/pkg/grafana/sync.go
  cli/pkg/grafana/sync_test.go
  cli/pkg/metabase/sync.go
  cli/pkg/metabase/sync_test.go
  infrastructure/grafana/dashboards/data-pipeline.json
  infrastructure/grafana/dashboards/frameworks-ops.json
  infrastructure/grafana/dashboards/infrastructure-resources.json
  infrastructure/grafana/dashboards/player-experience.json
  infrastructure/grafana/dashboards/service-health.json
  infrastructure/grafana/dashboards/storage-serving.json
  infrastructure/grafana/dashboards/trigger-durability.json
  infrastructure/grafana/provisioning/dashboards/dashboards.yml
  infrastructure/grafana/provisioning/datasources/datasources.yml
  pkg/grafana/dashboards/frameworks-ops.json
  pkg/grafana/embed.go
  pkg/metabase/embed.go
  pkg/metabase/specs/activity_cards.yaml
  pkg/metabase/specs/periscope_cards.yaml
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

fix cluster provision precheck recovery
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/service.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_pure_test.go
Due: go-fmt, go-lint, frontend-format

fix clickhouse migration default validation
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/migrate.yml
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/migrate_clickhouse_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.94/expand/001_tenant_dim_dictionary.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.95/expand/001_tenant_dim_dictionary_datetime_default.sql
Due: go-fmt, go-lint, frontend-format

fix cluster seed release metadata
  cli/cmd/cluster_seed.go
  cli/pkg/provisioner/seed_helpers_test.go
  pkg/database/sql/embed.go
Due: go-fmt, go-lint

fix(helmsman): keep approved play rewrites during control outages
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/play_rewrite_cache.go
Due: go-fmt, go-lint

fix(foghorn): stale-serve live play rewrites
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/resolver.go
  api_balancing/internal/control/resolver_test.go
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_redis_sync.go
  api_balancing/internal/control/stream_registry_redis_test.go
  api_balancing/internal/control/stream_registry_stale_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  docs/architecture/foghorn-ha.md
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
Due: go-fmt, go-lint, frontend-format

fix(helmsman): harden Mist rewrite fallbacks
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_protocols_test.go
  api_sidecar/internal/config/triggers_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/play_rewrite_cache.go
  api_sidecar/internal/handlers/play_rewrite_cache_test.go
Due: go-fmt, go-lint

feat(web): add favicons and SEO guards
  .gitignore
  npm_player/playground/index.html
  npm_player/playground/public/apple-touch-icon.png
  npm_player/playground/public/favicon-192.png
  npm_player/playground/public/favicon-48.png
  npm_player/playground/public/favicon-512.png
  npm_player/playground/public/favicon-96.png
  npm_player/playground/public/favicon.ico
  npm_player/playground/public/site.webmanifest
  website_application/src/app.html
  website_application/static/apple-touch-icon.png
  website_application/static/favicon-192.png
  website_application/static/favicon-48.png
  website_application/static/favicon-512.png
  website_application/static/favicon-96.png
  website_application/static/favicon.ico
  website_application/static/site.webmanifest
  website_docs/astro.config.mjs
  website_docs/public/apple-touch-icon.png
  website_docs/public/favicon-192.png
  website_docs/public/favicon-48.png
  website_docs/public/favicon-512.png
  website_docs/public/favicon-96.png
  website_docs/public/favicon.ico
  website_docs/public/site.webmanifest
  website_marketing/app/root.jsx
  website_marketing/public/apple-touch-icon.png
  website_marketing/public/favicon-192.png
  website_marketing/public/favicon-48.png
  website_marketing/public/favicon-512.png
  website_marketing/public/favicon-96.png
  website_marketing/public/favicon.ico
  website_marketing/public/serve.json
  website_marketing/public/site.webmanifest
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/pages/AupPage.jsx
  website_marketing/src/components/pages/PrivacyPage.jsx
  website_marketing/src/components/pages/StatusPage.jsx
  website_marketing/src/components/pages/TermsPage.jsx
Due: frontend-format, frontend-lint

schema: guard folded migration baseline
  AGENTS.md
  Makefile
  cli/cmd/cluster_migrate.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/migrate_baseline_floor_test.go
  cli/pkg/provisioner/migrate_helpers.go
  cli/pkg/provisioner/migration_floor_guard.go
  cli/pkg/provisioner/migration_state_test.go
  cli/pkg/provisioner/schema_squash_clickhouse_test.go
  cli/pkg/provisioner/schema_squash_harness_test.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
  docs/standards/schema-migrations.md
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/foghorn.sql
  pkg/database/sql/schema/navigator.sql
  pkg/database/sql/schema/purser.sql
  pkg/database/sql/schema/quartermaster.sql
Due: go-fmt, go-lint, frontend-format

clickhouse: add data migration CLI
  cli/cmd/cluster.go
  cli/cmd/cluster_clickhouse_migrate.go
  cli/cmd/cluster_clickhouse_migrate_test.go
  cli/pkg/provisioner/clickhouse_migration_catalog.go
  cli/pkg/provisioner/clickhouse_migration_catalog_test.go
  cli/pkg/provisioner/clickhouse_migration_sql.go
  cli/pkg/provisioner/clickhouse_migration_sql_test.go
  cli/pkg/provisioner/sql_executor.go
  cli/pkg/provisioner/sql_executor_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

auth: harden activation and refresh handling
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  website_application/src/lib/auth/errors.test.ts
  website_application/src/lib/auth/errors.ts
  website_application/src/lib/auth/refresh.test.ts
  website_application/src/lib/auth/refresh.ts
  website_application/src/lib/authAPI.test.ts
  website_application/src/lib/authAPI.ts
  website_application/src/routes/login/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

mist: disable device discovery by default
  api_sidecar/internal/config/manager.go
  infrastructure/mistserver.conf
Due: go-fmt, go-lint

webapp: consolidate analytics charts
  website_application/src/lib/components/charts/BootTtfTrendChart.svelte
  website_application/src/lib/components/charts/BootWaterfall.svelte
  website_application/src/lib/components/charts/BreakdownChart.svelte
  website_application/src/lib/components/charts/BufferHealthHistogram.svelte
  website_application/src/lib/components/charts/CodecDistributionChart.svelte
  website_application/src/lib/components/charts/CountryChoropleth.svelte
  website_application/src/lib/components/charts/CountryDistributionChart.svelte
  website_application/src/lib/components/charts/CountryTrendChart.svelte
  website_application/src/lib/components/charts/GeoHeatmap.svelte
  website_application/src/lib/components/charts/GeoView.svelte
  website_application/src/lib/components/charts/HealthTrendChart.svelte
  website_application/src/lib/components/charts/QualityTierChart.svelte
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/SessionQoeTrendChart.svelte
  website_application/src/lib/components/charts/StorageBreakdownChart.svelte
  website_application/src/lib/components/charts/StorageTrendChart.svelte
  website_application/src/lib/components/charts/TrendChart.svelte
  website_application/src/lib/components/charts/ViewerTrendChart.svelte
  website_application/src/lib/components/charts/VodRetentionChart.svelte
  website_application/src/lib/components/charts/theme.ts
  website_application/src/lib/components/dashboard/OrchestratorSidePanel.svelte
  website_application/src/lib/components/shared/DashboardMetricCard.svelte
  website_application/src/lib/components/stream-details/OverviewTabPanel.svelte
  website_application/src/routes/+page.svelte
  website_application/src/routes/account/storage/+page.svelte
  website_application/src/routes/analytics/audience/+page.svelte
  website_application/src/routes/analytics/player-experience/+page.svelte
  website_application/src/routes/analytics/usage/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/routes/streams/[id]/analytics/+page.svelte
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: frontend-format, frontend-lint

docs: document BYOC roadmap levels
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
  website_application/src/routes/developer/features/+page.svelte
  website_docs/src/content/docs/roadmap.mdx
Due: frontend-format, frontend-lint

marketing: add analytics product page
  packages/site-config/index.ts
  pnpm-lock.yaml
  website_marketing/app/routes.js
  website_marketing/app/routes/analytics.jsx
  website_marketing/package.json
  website_marketing/react-router.config.js
  website_marketing/src/components/Navigation.jsx
  website_marketing/src/components/marketing/dashboards/BarBreakdown.jsx
  website_marketing/src/components/marketing/dashboards/BootWaterfall.jsx
  website_marketing/src/components/marketing/dashboards/DashboardFrame.jsx
  website_marketing/src/components/marketing/dashboards/GeoPanel.jsx
  website_marketing/src/components/marketing/dashboards/RetentionCurve.jsx
  website_marketing/src/components/marketing/dashboards/StatRow.jsx
  website_marketing/src/components/marketing/dashboards/TrendChart.jsx
  website_marketing/src/components/marketing/dashboards/fixtures.js
  website_marketing/src/components/marketing/dashboards/index.js
  website_marketing/src/components/marketing/index.js
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/Analytics.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/components/shared/SovereigntyNote.jsx
  website_marketing/src/index.css
  website_marketing/src/styles/marketing/dashboards.css
  website_marketing/src/styles/marketing/hero.css
  website_marketing/src/styles/pages/analytics.css
Due: frontend-format, frontend-lint

SEO tweaks
  docs/skills/llms.txt
  packages/site-config/index.ts
  scripts/copy-agent-files.sh
  website_docs/astro.config.mjs
  website_docs/public/llms-full.txt
  website_docs/public/og-card.png
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/generic.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/marketing/content/MarketingSlabHeader.jsx
  website_marketing/src/components/marketing/features/MarketingFeatureCard.jsx
  website_marketing/src/components/marketing/misc/IconList.jsx
  website_marketing/src/components/marketing/skipper/AgentPipelineStrip.jsx
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/pages/Analytics.jsx
  website_marketing/src/components/pages/Contact.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/styles/pages/about.css
Due: frontend-format, frontend-lint

unbreak my `ansible-lint`
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
Due: frontend-format

fix(media): keep offline lifecycle source-scoped
  api_analytics_ingest/internal/handlers/stale_close.go
  api_analytics_ingest/internal/handlers/stale_close_test.go
  api_analytics_ingest/internal/handlers/stream_lifecycle_buffer_test.go
  api_balancing/README.md
  api_balancing/internal/control/live_playback_coverage_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/stream_registry_admission.go
  api_balancing/internal/control/stream_registry_admission_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/source_resolution_coverage_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_balancing/internal/triggers/relay_url.go
  api_balancing/internal/triggers/stream_end_source_inactive_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
Due: go-fmt, go-lint, frontend-format

fix(gateway): canonicalize playback ids for public tools
  api_control/internal/grpc/ingest_finalize_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_pure_helpers_test.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/clips.go
  api_gateway/internal/mcp/tools/dvr.go
  api_gateway/internal/mcp/tools/id_helpers.go
  api_gateway/internal/mcp/tools/normalize_playback_test.go
  api_gateway/internal/mcp/tools/playback.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/ratelimit_test.go
  pkg/ctxkeys/keys.go
  pkg/x402/mocks_test.go
  pkg/x402/settlement.go
  pkg/x402/settlement_test.go
Due: go-fmt, go-lint

fix(dns): reconcile apex aliases and monitors
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_dns/internal/provider/cloudflare/client.go
Due: go-fmt, go-lint

feat(docs): expand platform feature registry
  docs/platform-features.yaml
  scripts/registry/main.go
  website_application/src/lib/features/index.ts
  website_application/src/lib/features/registry.json
  website_application/src/routes/developer/features/+page.svelte
  website_application/src/routes/developer/features/[slug]/+page.svelte
  website_docs/src/content/docs/platform/feature-matrix.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

chore(proto): refresh generated headers
  pkg/proto/cluster_peer/cluster_peer.pb.go
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/common/common.pb.go
  pkg/proto/deckhand/deckhand.pb.go
  pkg/proto/deckhand/deckhand_grpc.pb.go
  pkg/proto/dns/dns.pb.go
  pkg/proto/dns/dns_grpc.pb.go
  pkg/proto/foghorn/foghorn.pb.go
  pkg/proto/foghorn/foghorn_grpc.pb.go
  pkg/proto/foghorn_control/foghorn_control.pb.go
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
  pkg/proto/foghorn_federation/foghorn_federation_grpc.pb.go
  pkg/proto/foghorn_relay/foghorn_relay.pb.go
  pkg/proto/foghorn_relay/foghorn_relay_grpc.pb.go
  pkg/proto/ipc/ipc_grpc.pb.go
  pkg/proto/metering_contract/metering_contract.pb.go
  pkg/proto/periscope/periscope.pb.go
  pkg/proto/periscope/periscope_grpc.pb.go
  pkg/proto/purser/purser.pb.go
  pkg/proto/purser/purser_grpc.pb.go
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
  pkg/proto/shared/shared.pb.go
  pkg/proto/signalman/signalman.pb.go
  pkg/proto/signalman/signalman_grpc.pb.go
  pkg/proto/skipper/skipper.pb.go
  pkg/proto/skipper/skipper_grpc.pb.go
  pkg/proto/tenant_limits/tenant_limits.pb.go
  pkg/proto/x402/x402.pb.go
Due: none

fix(database): bind jsonb values as text under pgx
  api_balancing/internal/artifactoutbox/outbox.go
  api_billing/internal/bootstrap/catalog.go
  api_billing/internal/bootstrap/cluster_pricing.go
  api_billing/internal/bootstrap/reconciler.go
  api_billing/internal/grpc/billing_event_outbox.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/events.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/x402.go
  api_consultant/internal/chat/conversations.go
  api_consultant/internal/heartbeat/store.go
  api_consultant/internal/knowledge/store.go
  api_consultant/internal/social/store.go
  api_control/internal/grpc/invalidation_outbox.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/service_event_outbox.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/service_event_outbox.go
  docs/architecture/database-ha.md
  pkg/database/json.go
  pkg/database/pgx_integration_test.go
  pkg/models/billing.go
Due: go-fmt, go-lint, frontend-format

fix(dev): align local database and Mist config
  docker-compose.yml
  infrastructure/mistserver.conf
Due: frontend-format

chore(go): refresh module checksums
  api_analytics_ingest/go.sum
  api_assets/go.sum
  api_control/go.sum
  api_dns/go.sum
  api_firehose/go.sum
  api_forms/go.sum
  api_realtime/go.sum
  api_ticketing/go.sum
Due: none

docs(storage): capture artifact authority architecture
  AGENTS.md
  MANIFEST_STORAGE_RELEASE_UNIT.md
  README.md
  docs/architecture/clickhouse-conventions.md
  docs/architecture/clips-dvr.md
  docs/architecture/creation-saga.md
  docs/architecture/decklog.md
  docs/architecture/dvr-continuous-archive.md
  docs/architecture/edge-storage-leases.md
  docs/architecture/federation.md
  docs/architecture/foghorn-ha.md
  docs/architecture/processing-pipeline.md
  docs/architecture/service-events.md
  docs/architecture/stream-replication-topology.md
  docs/architecture/thumbnails.md
  docs/architecture/trigger-durability.md
  docs/rfcs/storage-s3.md
  website_docs/src/content/docs/builders/clips.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/storage-and-retention.mdx
  website_docs/src/content/docs/builders/thumbnails-and-previews.mdx
Due: frontend-format

db(foghorn): add artifact authority migrations
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/001_artifact_node_copy_version.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/002_artifact_tracks.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/003_artifact_catalog_projection.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/004_outbox_retry_backoff.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/005_catalog_projection_backoff.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/006_node_artifact_report_watermark.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/007_sync_attempt_identity.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/008_dtsh_sync_attempt_identity.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/009_dvr_start_dispatch_and_vod_processes.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/010_vod_completion_descriptor.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/011_artifact_creation_commands.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/012_creation_command_expiry_index.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/013_creation_command_consumed_at.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/014_creation_command_terminal_gc_index.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/015_sync_object_descriptor.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/016_terminal_sync_identity_contract.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/017_durable_backend_local_attribution.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/019_active_object_key.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/021_billing_attribution_cursor.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/022_active_object_key_backfill_cursor.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/023_freeze_publication_ledger.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/024_freeze_publication_ledger_cursor.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/025_chapter_finalize_node_binding.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/026_chapter_finalize_node_lifecycle_check.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/expand/027_thumbnail_publication.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/postdeploy/001_terminal_sync_identity_validate.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/postdeploy/002_durable_backend_local_backfill.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/postdeploy/003_active_object_key_backfill.sql
  pkg/database/sql/migrations/foghorn/v0.2.97/postdeploy/004_chapter_finalize_node_validate.sql
  pkg/database/sql/schema/foghorn.sql
Due: none

db(commodore): add artifact catalog migrations
  pkg/database/sql/migrations/commodore/v0.2.33/expand/006_artifact_thumbnail_projection.sql
  pkg/database/sql/migrations/commodore/v0.2.97/contract/001_dvr_chapter_playback_index_realign.sql
  pkg/database/sql/migrations/commodore/v0.2.97/contract/002_creation_intent_ack_index_realign.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/001_artifact_catalog_media_metadata.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/002_artifact_catalog_lifecycle.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/003_artifact_catalog_playback_ready.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/004_dvr_chapter_playback_parent.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/005_artifact_catalog_error_message.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/006_artifact_catalog_tombstone.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/008_artifact_creation_intents.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/009_creation_intent_lease.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/010_creation_intent_command_ack.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/011_creation_intent_ack_backoff.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/012_creation_intent_ack_lease.sql
  pkg/database/sql/migrations/commodore/v0.2.97/expand/013_creation_intent_ack_lease_token.sql
  pkg/database/sql/migrations/commodore/v0.2.97/postdeploy/001_creation_intent_constraints.sql
Due: none

db(periscope): add artifact placement projection
  pkg/database/clickhouse.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.97/contract/001_artifact_state_current_placement.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.97/expand/001_artifact_node_copy.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.97/expand/002_artifact_events_event_id.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.97/expand/003_artifact_state_current_local_copy.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.97/expand/004_artifact_events_deduped_view.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.97/postdeploy/001_artifact_state_current_ms_resolution.sql
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
Due: go-fmt, go-lint

test(cli): cover storage migration provisioning
  cli/cmd/cluster.go
  cli/cmd/cluster_logs.go
  cli/cmd/cluster_logs_test.go
  cli/pkg/dashcheck/dashcheck_test.go
  cli/pkg/provisioner/artifact_events_deduped_view_test.go
  cli/pkg/provisioner/artifact_playback_index_upgrade_test.go
  cli/pkg/provisioner/clickhouse_migration_catalog.go
  cli/pkg/provisioner/clickhouse_role_test.go
  cli/pkg/provisioner/creation_command_ack_lease_test.go
  cli/pkg/provisioner/creation_command_cas_test.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
Due: go-fmt, go-lint

fix(chandler): serve active asset versions
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
