Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix mac ci?
  scripts/ci/setup-signing-keychain.sh
Due: none

bunch of cli fixes
  cli/pkg/ansible/distro_packages.go
  cli/pkg/ansible/distro_packages_test.go
  cli/pkg/ansible/playbook.go
  cli/pkg/ansible/playbook_test.go
  cli/pkg/ansible/tasks.go
  cli/pkg/ansible/tasks_test.go
  cli/pkg/provisioner/artifacts.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/chatwoot.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/clickhouse_test.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/goss_validate.go
  cli/pkg/provisioner/goss_validate_test.go
  cli/pkg/provisioner/kafka.go
  cli/pkg/provisioner/listmonk.go
  cli/pkg/provisioner/livepeer_gateway.go
  cli/pkg/provisioner/livepeer_signer.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/postgres.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/redis.go
  cli/pkg/provisioner/validate_playbook.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/provisioner/yugabyte_test.go
  cli/pkg/provisioner/zookeeper.go
Due: go-fmt, go-lint

rm some dead code
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_preflight.go
  cli/cmd/cluster_preflight_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_restore.go
  cli/cmd/cluster_secrets_test.go
  cli/pkg/gitops/fetcher_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

fix ansible CI
  .github/workflows/ansible.yml
  Makefile
  ansible/collections/ansible_collections/frameworks/infra/molecule/prepare-apt.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/molecule/default/converge.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/molecule/default/molecule.yml
Due: frontend-format

consolidate key derivation on wgtypes
  api_mesh/go.mod
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_mesh/internal/agent/static.go
  cli/go.mod
  cli/internal/mesh/validate.go
  pkg/mesh/alloc_test.go
Due: go-fmt, go-lint

CLI wg: typed runtime config, parse at agent boundary
  api_mesh/go.mod
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_mesh/internal/agent/static.go
  api_mesh/internal/wireguard/config.go
  api_mesh/internal/wireguard/config_test.go
  api_mesh/internal/wireguard/linux.go
  api_mesh/internal/wireguard/policy.go
  api_mesh/internal/wireguard/policy_test.go
  api_mesh/internal/wireguard/types.go
Due: go-fmt, go-lint

replace wg setconf with wgctrl.Client.ConfigureDevice
  api_mesh/go.mod
  api_mesh/go.sum
  api_mesh/internal/wireguard/config.go
  api_mesh/internal/wireguard/config_test.go
  api_mesh/internal/wireguard/linux.go
  api_mesh/internal/wireguard/linux_test.go
  api_mesh/internal/wireguard/testhelpers_test.go
  api_mesh/internal/wireguard/types.go
Due: go-fmt, go-lint

netlink swap
  api_mesh/go.mod
  api_mesh/go.sum
  api_mesh/internal/wireguard/linux.go
  api_mesh/internal/wireguard/netlink_test.go
  api_mesh/internal/wireguard/policy.go
  api_mesh/internal/wireguard/policy_test.go
Due: go-fmt, go-lint

pkg/mesh/wgpolicy extraction, some more cleanup + debugging commands
  api_mesh/cmd/privateer/main.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_mesh/internal/wireguard/linux.go
  api_mesh/internal/wireguard/policy.go
  api_mesh/internal/wireguard/types.go
  api_tenants/internal/grpc/create_node_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/node_operations_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  cli/cmd/mesh.go
  cli/cmd/mesh_doctor.go
  cli/cmd/mesh_doctor_test.go
  cli/cmd/mesh_wg_audit.go
  cli/cmd/mesh_wg_audit_test.go
  pkg/database/sql/schema/quartermaster.sql
  pkg/mesh/wgpolicy/wgpolicy.go
  pkg/mesh/wgpolicy/wgpolicy_test.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
Due: go-fmt, go-lint

fix ansible ci this time?
  ansible/collections/ansible_collections/frameworks/infra/molecule/prepare-apt.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/validate.yml
Due: frontend-format

gate homebrew releases to stable only (non -RC)
  .github/workflows/release.yml
Due: frontend-format

Fix SOPS rule matching for staged hosts encryption
  cli/internal/mesh/sops.go
  cli/pkg/sops/decrypt.go
  cli/pkg/sops/encrypt.go
  cli/pkg/sops/encrypt_test.go
  cli/pkg/sops/keys.go
Due: go-fmt, go-lint

cli: more reverse proxy fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/tasks/secret.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/reload_unit.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/tls_placeholders.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks-nginx-reload.path.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks-nginx-reload.service.j2
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/internal/mesh/manifest.go
  cli/pkg/provisioner/artifact_resolver.go
  cli/pkg/provisioner/caddy_role.go
  cli/pkg/provisioner/nginx_role.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  cli/pkg/provisioner/service_role.go
  pkg/ingress/bundle.go
  pkg/ingress/bundle_test.go
Due: go-fmt, go-lint, frontend-format

fix ansible CI (again)
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
Due: frontend-format

provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/service.yml
  api_mesh/cmd/privateer/main.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/wireguard/linux.go
  api_mesh/internal/wireguard/linux_test.go
  api_mesh/internal/wireguard/netlink_test.go
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/privateer_role.go
  cli/pkg/provisioner/service_role.go
Due: go-fmt, go-lint, frontend-format

version check for non-cli binaries + hook it up for CLI provsioning checks
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/vars/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/vars/main.yml
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_query/cmd/periscope/main.go
  api_assets/cmd/chandler/main.go
  api_balancing/cmd/foghorn/main.go
  api_billing/cmd/purser/main.go
  api_consultant/cmd/skipper/main.go
  api_control/cmd/commodore/main.go
  api_dns/cmd/navigator/main.go
  api_firehose/cmd/decklog/main.go
  api_forms/cmd/steward/main.go
  api_gateway/cmd/bridge/main.go
  api_mesh/cmd/privateer/main.go
  api_realtime/cmd/signalman/main.go
  api_sidecar/cmd/helmsman/main.go
  api_tenants/cmd/quartermaster/main.go
  api_ticketing/cmd/deckhand/main.go
  cli/cmd/cluster_provision.go
  pkg/version/cli.go
  pkg/version/cli_test.go
Due: go-fmt, go-lint, frontend-format

various provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/cleanup.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/instance.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/instance.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/vars/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/migrate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/seed.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/master.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/tserver.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/vars/main.yml
  cli/cmd/cluster_init.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/redis_role.go
  cli/pkg/provisioner/role_provisioner.go
  cli/pkg/provisioner/schema_helpers.go
  cli/pkg/provisioner/schema_helpers_test.go
  cli/pkg/provisioner/types.go
  cli/pkg/provisioner/yugabyte_role.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/database/sql/schema/skipper.sql
  pkg/grpcutil/tls.go
  pkg/grpcutil/tls_test.go
Due: go-fmt, go-lint, frontend-format

cli ssh tunnel support
  cli/cmd/cluster.go
  cli/cmd/cluster_init.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_remoteaccess.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_status.go
  cli/internal/readiness/control_plane.go
  cli/pkg/remoteaccess/session.go
  cli/pkg/remoteaccess/session_test.go
  cli/pkg/ssh/tunnel.go
  cli/pkg/ssh/tunnel_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/purser/grpc_client.go
  pkg/grpcutil/tls.go
Due: go-fmt, go-lint

Add bootstrap desired-state schema renderer
  cli/cmd/cluster_provision.go
  cli/pkg/bootstrap/load.go
  cli/pkg/bootstrap/load_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/resolve.go
  cli/pkg/bootstrap/resolve_test.go
  cli/pkg/bootstrap/types.go
  cli/pkg/bootstrap/validate.go
  cli/pkg/bootstrap/validate_test.go
  cli/pkg/clusterderive/clusterderive.go
  cli/pkg/inventory/types.go
  docs/architecture/bootstrap-desired-state.md
Due: go-fmt, go-lint, frontend-format

Run control-plane bootstrap through Ansible
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/tasks/main.yml
  ansible/playbooks/service_bootstrap.yml
  api_billing/cmd/purser/bootstrap.go
  api_billing/internal/bootstrap/customer_billing.go
  api_billing/internal/bootstrap/orchestrator.go
  api_control/internal/bootstrap/dbtx.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_bootstrap.go
  cli/cmd/cluster_provision_remoteaccess.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/provisioner/pg_common.go
  cli/pkg/provisioner/service_bootstrap_runner.go
  cli/pkg/provisioner/service_bootstrap_runner_test.go
  docs/architecture/bootstrap-desired-state.md
  pkg/database/sql/embed.go
  pkg/database/sql/seeds/static/purser_tiers.sql
Due: go-fmt, go-lint, frontend-format

swap periscope ingest dockerfile to http health check
  api_analytics_ingest/Dockerfile
Due: none

Carry livepeer-gateway wallet_address through the rendered bootstrap
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_bootstrap.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/validate.go
  docs/architecture/bootstrap-desired-state.md
Due: go-fmt, go-lint, frontend-format

Per-root SANs for auto wildcard TLS bundles
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/clusterderive/clusterderive.go
  cli/pkg/clusterderive/clusterderive_test.go
Due: go-fmt, go-lint

make sure chatwoot & listmonk get their env
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint

ansible lint
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/tasks/main.yml
Due: frontend-format

fix db seed
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/schema.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/schema.yml
  docker-compose.yml
  pkg/database/sql/migrations/v0.2.11/001_bootstrap_tenant_aliases.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: frontend-format

more provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/tasks/main.yml
  api_dns/cmd/navigator/main.go
  api_dns/internal/worker/renewal.go
  api_dns/internal/worker/renewal_test.go
  api_tenants/internal/bootstrap/nodes.go
  api_tenants/internal/bootstrap/nodes_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/bootstrap/validate.go
  cli/pkg/bootstrap/validate_test.go
  config/env/base.env
  docs/architecture/bootstrap-desired-state.md
  pkg/servicedefs/servicedefs.go
  pkg/servicedefs/servicedefs_test.go
Due: go-fmt, go-lint, frontend-format

foghorn: make sure to bootstrap, even when the optional Redis backing is disabled...
  api_balancing/cmd/foghorn/main.go
Due: go-fmt, go-lint

cli: provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/meta/main.yml
  cli/pkg/provisioner/clickhouse_role.go
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go-fmt, go-lint, frontend-format

make sure we have the right deps (we built a QSV dep in the cpu-only build for Livepeer)
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint, frontend-format

edge provisioning fixes
  .github/workflows/release.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/configure-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/templates/mistserver.plist.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/templates/mistserver.service.j2
  cli/internal/templates/edge.go
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/edge_test.go
Due: go-fmt, go-lint, frontend-format

ansible speedups for tasks that are already fine
  .gitignore
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/_probe_client.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/preflight.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/service.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/zookeeper/tasks/service.yml
  ansible/playbooks/clickhouse.yml
  ansible/playbooks/compose_stack.yml
  ansible/playbooks/go_service.yml
  ansible/playbooks/kafka.yml
  ansible/playbooks/postgres.yml
  ansible/playbooks/redis.yml
  ansible/playbooks/yugabyte.yml
  ansible/playbooks/zookeeper.yml
Due: frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
