Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix(ansible): leave /etc/frameworks ownership to the frameworks service roles so chatwoot and redis stop flipping it to root on every apply
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/tasks/secret.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  cli/pkg/provisioner/etc_frameworks_ownership_test.go
Due: go-fmt, go-lint, frontend-format

fix(helmsman): give relay responses a per-write deadline so slow artifact streams outlive the listener's 30 s WriteTimeout
  api_sidecar/internal/relay/server.go
  api_sidecar/internal/relay/write_deadline_test.go
Due: go-fmt, go-lint

fix(helmsman): record cold block first-body-byte latency, warn past half of Mist's read timeout, and name the failed phase in cold-fetch errors
  api_sidecar/go.mod
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/first_body_byte_test.go
  api_sidecar/internal/relay/metrics.go
  pkg/grafana/dashboards/frameworks-ops.json
Due: go-fmt, go-lint, frontend-format

fix(foghorn): resolve the owner of hash-only storage and DVR lifecycle reports through the identity facade so evictions of deleted artifacts reach Decklog with the tenant from the artifact tombstone
  .github/workflows/ci.yml
  Makefile
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/stream_registry_artifacts.go
  api_balancing/internal/triggers/deleted_artifact_storage_lifecycle_realpg_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint, frontend-format

test(provisioner): upgrade the yugabyte role from the shipped tag before commodore expand 006's release so the DML-then-DDL proof survives tagging that release
  cli/pkg/provisioner/yugabyte_role_schema_engine_test.go
Due: go-fmt, go-lint

fix(ansible): wait for PONG after a Redis restart instead of failing on the LOADING reply, and pass the password in REDISCLI_AUTH so a failed PING shows its reply
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/validate.yml
  cli/pkg/provisioner/redis_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(cli): read an existing Yugabyte service database without tables as uninitialized instead of failing the probe on the empty presence row that ysqlsh prints as no row
  cli/pkg/provisioner/service_database_bootstrap.go
  cli/pkg/provisioner/service_database_bootstrap_test.go
Due: go-fmt, go-lint

test(provisioner): expect the non-empty presence value from the real-PostgreSQL service database probe
  cli/pkg/provisioner/service_database_probe_postgres_test.go
Due: go-fmt, go-lint

fix(helmsman): let the TLS server name be the control connection's authority so dialing a resolved Foghorn instance by hostname is no longer refused by gRPC
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/endpoints_tls_test.go
Due: go-fmt, go-lint

feat(cli): add edge provision --no-drain to apply a media-restarting change in place on a node whose sessions cannot move elsewhere
  cli/cmd/edge.go
  cli/cmd/edge_rollout.go
  cli/cmd/edge_rollout_test.go
Due: go-fmt, go-lint

chore(release): declare v0.3.12 in the release catalog
  cli/internal/releases/catalog.yaml
Due: frontend-format

fix(cli): bind edge provision --no-drain per command instead of to a package variable that parallel command-tree tests race on
  cli/cmd/edge.go
  cli/cmd/edge_rollout.go
  cli/cmd/edge_rollout_test.go
Due: go-fmt, go-lint

fix(grpc): keep the Helmsman control stream alive and build every gRPC server through grpcutil.NewServer with shared keepalive policy
  api_analytics_query/internal/grpc/server.go
  api_balancing/internal/control/server.go
  api_billing/internal/grpc/server.go
  api_consultant/cmd/skipper/main.go
  api_control/internal/grpc/server.go
  api_dns/cmd/navigator/main.go
  api_firehose/internal/grpc/server.go
  api_incidents/cmd/lookout/main.go
  api_realtime/cmd/signalman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/endpoints.go
  api_sidecar/internal/control/endpoints_keepalive_test.go
  api_tenants/internal/grpc/server.go
  api_ticketing/cmd/deckhand/main.go
  api_webhooks/cmd/bosun/main.go
  docs/architecture/multiregion.md
  pkg/grpcutil/keepalive.go
  pkg/grpcutil/keepalive_test.go
  pkg/grpcutil/replicas.go
Due: go-fmt, go-lint, frontend-format

fix(platform): jitter database retries, replay outbox claims in one layer, and coalesce Commodore Foghorn discovery, Navigator sweeps and Foghorn dispatch retries
  Makefile
  api_balancing/internal/database/foghorndb/processing_jobs.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/processing_jobs.sql
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_lock_delay_test.go
  api_balancing/internal/jobs/artifact_reconciler_lock_retry_test.go
  api_balancing/internal/jobs/dispatchers_coverage_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_defer_test.go
  api_balancing/internal/jobs/processing_dispatcher_dispatch_test.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_balancing/internal/jobs/reconcilers_coverage_test.go
  api_control/internal/grpc/foghorn_discovery_cache_test.go
  api_control/internal/grpc/foghorn_discovery_forget_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/stream_cleanup_outbox.go
  api_control/internal/grpc/stream_cleanup_settle_retry_test.go
  api_dns/internal/worker/dns_reconciler.go
  api_dns/internal/worker/physical_sweep_test.go
  api_dns/internal/worker/sweep_coalescer.go
  api_dns/internal/worker/sweep_coalescer_test.go
  api_incidents/internal/incidents/ownership.go
  api_incidents/internal/notify/claim_retry_realpg_test.go
  api_incidents/internal/notify/store.go
  api_webhooks/internal/delivery/worker.go
  api_webhooks/internal/integration/claim_lock_realpg_test.go
  api_webhooks/internal/ledger/deliveries.go
  api_webhooks/internal/ledger/notifications.go
  docs/architecture/bosun.md
  docs/architecture/lookout.md
  pkg/database/retry.go
  pkg/database/retry_test.go
  pkg/events/outbox/outbox.go
  pkg/outbox/outbox.go
  pkg/outbox/outbox_test.go
  pkg/periodic/ticker.go
  pkg/periodic/ticker_test.go
Due: go-fmt, go-lint, frontend-format

fix(database): retire pool connections on jittered lifetimes, bound runtime-role sessions, and poll session locks without recycling Commodore's pool
  Makefile
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/vars/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/vars/main.yml
  api_control/cmd/commodore/main.go
  api_control/internal/grpc/account_email_outbox.go
  api_control/internal/grpc/invalidation_outbox.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_retry_test.go
  api_control/internal/grpc/service_event_outbox.go
  api_control/internal/grpc/stream_cleanup_outbox.go
  cli/pkg/provisioner/yugabyte_role_schema_engine_test.go
  docs/architecture/database-ha.md
  pkg/database/pool_realpg_test.go
  pkg/database/pool_test.go
  pkg/database/postgres.go
  pkg/database/session_lock.go
  pkg/database/session_lock_realpg_test.go
  pkg/database/session_lock_test.go
  pkg/database/yugabyte_conn_warmth_test.go
  pkg/database/yugabyte_ha_test.go
Due: go-fmt, go-lint, frontend-format

fix(commodore): claim media authority deliveries without full-history scans, observe queues off the delivery tick, and spread worker schedules with pkg/periodic
  Makefile
  api_control/internal/database/commodoredb/media_authority.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/queries/media_authority.sql
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_deadline_claim_load_realpg_test.go
  api_control/internal/grpc/media_authority_deadline_delivery.go
  api_control/internal/grpc/media_authority_deadline_poll_test.go
  api_control/internal/grpc/media_authority_obligations.go
  api_control/internal/grpc/media_placement_activation.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/worker_schedule.go
  api_control/internal/grpc/worker_schedule_test.go
  docs/architecture/media-authority.md
  docs/architecture/media-placement-policy.md
  website_docs/src/content/docs/operators/deployment.mdx
Due: go-fmt, go-lint, frontend-format

fix(navigator): never publish an empty DNS answer, hold membership with hysteresis and serialize reconciles, and read Quartermaster healthy nodes from one consistent query
  Makefile
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_membership.go
  api_dns/internal/logic/dns_membership_test.go
  api_dns/internal/logic/dns_test.go
  api_tenants/internal/database/quartermasterdb/healthy_service_nodes_realpg_test.go
  api_tenants/internal/database/quartermasterdb/node_list_adapter.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  website_docs/src/content/docs/operators/dns.mdx
Due: go-fmt, go-lint, frontend-format

fix(quartermaster): skip unchanged health and liveness writes within their refresh bound and cache Purser tenant admission for ValidateTenant
  .github/workflows/ci.yml
  Makefile
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/database/quartermasterdb/cluster_membership.sql.go
  api_tenants/internal/database/quartermasterdb/health_poller.sql.go
  api_tenants/internal/database/quartermasterdb/querier.go
  api_tenants/internal/database/quartermasterdb/report_alive_adapter.go
  api_tenants/internal/database/queries/cluster_membership.sql
  api_tenants/internal/database/queries/health_poller.sql
  api_tenants/internal/grpc/discover_services_gateway_probe_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/peer_watch.go
  api_tenants/internal/grpc/peer_watch_test.go
  api_tenants/internal/grpc/report_alive_writes_realpg_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/tenant_admission_cache.go
  api_tenants/internal/grpc/tenant_admission_cache_test.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  api_tenants/internal/handlers/probe_discovered_test.go
Due: go-fmt, go-lint, frontend-format

fix(purser): compare tenant admission status as bpchar and serve the last good admission when the billing read fails
  api_billing/internal/database/purserdb/billing_status.sql.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_billing/internal/database/queries/billing_status.sql
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/tenant_admission_last_good.go
  api_billing/internal/grpc/tenant_admission_last_good_test.go
Due: go-fmt, go-lint

fix(bridge): keep public-topology clusters on the public read path and read Periscope orchestrators without the caller's tenant identity
  api_gateway/internal/resolvers/analytics_access_scope_test.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_orch_resolver_test.go
  api_gateway/internal/resolvers/network_status_access_test.go
  api_gateway/internal/resolvers/orchestrators.go
Due: go-fmt, go-lint

fix(bridge): back the tenant cache with pkg/cache and stop a stale-while-revalidate reader from starting a second refresh after one already landed
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/tenant_cache_billing_test.go
  api_gateway/internal/middleware/tenant_cache_stampede_test.go
  pkg/cache/cache.go
  pkg/cache/cache_test.go
Due: go-fmt, go-lint

fix(foghorn): drain staging cleanup in bounded batches that delete each prefix's objects in bulk
  Makefile
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/staging_cleanup.sql.go
  api_balancing/internal/database/queries/staging_cleanup.sql
  api_balancing/internal/jobs/staging_cleanup.go
  api_balancing/internal/jobs/staging_cleanup_concurrency_realpg_test.go
  api_balancing/internal/jobs/staging_cleanup_test.go
  api_balancing/internal/jobs/stale_freeze_cleanup.go
  api_balancing/internal/storage/s3_client.go
  api_balancing/internal/storage/s3_client_coverage_test.go
Due: go-fmt, go-lint

feat(foghorn): report node update status over ListNodeUpdateStatus for cluster edges rollout and release apply, and fence update warmup across Helmsman reconnects
  api_balancing/internal/control/server.go
  api_balancing/internal/control/update_warmup_fence_test.go
  api_balancing/internal/database/foghorndb/node_updates.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/node_updates.sql
  api_balancing/internal/grpc/node_update_status.go
  api_balancing/internal/grpc/node_update_status_test.go
  api_balancing/internal/orchestrator/helmsman_reconnect_test.go
  api_balancing/internal/orchestrator/node_update.go
  api_balancing/internal/orchestrator/reconciler.go
  cli/cmd/cluster.go
  cli/cmd/cluster_edges_rollout.go
  cli/cmd/cluster_edges_rollout_test.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_label_test.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/types.go
  pkg/clients/foghorn/grpc_client.go
  pkg/proto/foghorn.proto
  pkg/proto/foghorn/foghorn.pb.go
  pkg/proto/foghorn/foghorn_grpc.pb.go
  pkg/proto/foghorn_control.proto
  pkg/proto/foghorn_control/foghorn_control.pb.go
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(make): accept SERVICE=foghorn-jobs in verify-yugabyte-service for the Foghorn jobs Yugabyte contracts
  Makefile
Due: none

fix(cli): decide edge provision drains from pending Mist and Caddy restarts, wait for the control stream, and run edge prechecks concurrently
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/configure-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/configure-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/service.yml
  cli/cmd/edge.go
  cli/cmd/edge_rollout.go
  cli/cmd/edge_rollout_routability_test.go
  cli/cmd/edge_rollout_test.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_inspect.go
  cli/pkg/provisioner/edge_pending_restart_test.go
  cli/pkg/provisioner/mistserver_environment_test.go
  cli/pkg/provisioner/mistserver_role_test.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(ansible): restart ClickHouse without blocking on the start job so systemd's automatic restart can recover a failed start, then wait until it answers queries
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/side_effect.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/_restart_server.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/restart.yml
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(cli): stream cluster doctor results with bounded concurrency, batch the Yugabyte layout probe per host, and drop the SSH pool's liveness ping
  cli/cmd/cluster.go
  cli/cmd/cluster_doctor_runner.go
  cli/cmd/cluster_doctor_stream_test.go
  cli/cmd/cluster_yugabyte_relayout.go
  cli/cmd/edge_config_version.go
  cli/cmd/yugabyte_layout_doctor.go
  cli/cmd/yugabyte_layout_doctor_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/yugabyte_layout.go
  cli/pkg/provisioner/yugabyte_local_batch.go
  cli/pkg/provisioner/yugabyte_local_batch_test.go
  cli/pkg/ssh/client.go
  cli/pkg/ssh/pool.go
  cli/pkg/ssh/pool_test.go
Due: go-fmt, go-lint

test(cli): follow the Mist API account from the composed env content into the owner-only render task
  cli/internal/templates/mist_credentials_test.go
Due: go-fmt, go-lint

test(stack): add scenario 30 for edge control TLS to a resolved Foghorn and drive scenario 09 node lifecycle through auto-update
  docker-compose.stack.yml
  docs/development/remote-development.md
  scripts/stack/common.sh
  scripts/stack/endpoints.sh
  scripts/stack/foghorn-control-tls.conf.template
  scripts/stack/scenarios/09-node-lifecycle.sh
  scripts/stack/scenarios/30-edge-control-tls.sh
  scripts/stack/up.sh
Due: frontend-format

chore(release): declare v0.3.13 in the release catalog
  cli/internal/releases/catalog.yaml
Due: frontend-format

Reduce playback authority round trips and close regional routing gaps
  Makefile
  api_balancing/internal/database/foghorndb/media_authority.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/media_authority.sql
  api_balancing/internal/mediaauthority/reader.go
  api_balancing/internal/mediaauthority/readpair_realpg_test.go
  api_balancing/internal/triggers/local_authority_fetch_test.go
  api_balancing/internal/triggers/local_media_authority.go
  api_balancing/internal/triggers/local_media_authority_test.go
  api_balancing/internal/triggers/playback_grant_test.go
  cli/cmd/cluster_ledger_doctor.go
  cli/cmd/database_deployments.go
  cli/cmd/database_deployments_test.go
  docs/architecture/database-ha.md
Due: go-fmt, go-lint, frontend-format

Bound staging cleanup audit to measured early-stop scans
  scripts/explainaudit/budget.json
Due: frontend-format

Distinguish shared outbox engine check from service contracts
  Makefile
Due: none

Wait for every replica before the placement stability window
  scripts/stack/scenarios/01-placement.sh
Due: none

Synchronize doctor progress test after result delivery
  cli/cmd/cluster_doctor_stream_test.go
Due: go-fmt, go-lint

Verify playback lookup scale and document duplicate-miss budget
  Makefile
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  docs/architecture/database-ha.md
  scripts/explainaudit/budget.json
Due: go-fmt, go-lint, frontend-format

Keep daily analytics contract fixtures correct across UTC midnight
  api_analytics_query/internal/grpc/restream_dashboard_realclickhouse_test.go
Due: go-fmt, go-lint

fix(helmsman): delete durable control-outbox rows only when Foghorn acknowledges them, negotiated per connection so older Foghorns keep heartbeat confirmation
  api_balancing/internal/control/durable_delivery.go
  api_balancing/internal/control/durable_delivery_test.go
  api_balancing/internal/control/dvr_segments_handlers.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_control_stream_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/durable_delivery.go
  api_sidecar/internal/control/durable_delivery_test.go
  api_sidecar/internal/control/endpoints.go
  api_sidecar/internal/control/endpoints_durable_ack_test.go
  docs/architecture/trigger-durability.md
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go-fmt, go-lint, frontend-format

feat(cli): add cluster yugabyte compact to compact tombstone-bloated tables through yb-admin one table at a time with progress and a dry run
  Makefile
  cli/cmd/cluster_yugabyte_compact.go
  cli/cmd/cluster_yugabyte_compact_test.go
  cli/cmd/cluster_yugabyte_relayout.go
  cli/pkg/provisioner/yugabyte_compact.go
  cli/pkg/provisioner/yugabyte_compact_engine_test.go
  cli/pkg/provisioner/yugabyte_compact_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/yugabyte-layout.mdx
Due: go-fmt, go-lint, frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
