Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

feat(billing): persist entitlement and authority state
  api_billing/go.mod
  api_billing/internal/bootstrap/bootstrap_tier_catalog_realpg_test.go
  api_billing/internal/bootstrap/catalog.go
  api_billing/internal/bootstrap/catalog/billing_tiers.yaml
  api_billing/internal/bootstrap/overlay.go
  api_billing/internal/bootstrap/overlay_merge_test.go
  api_billing/internal/bootstrap/reconciler.go
  api_billing/internal/bootstrap/reconciler_test.go
  api_billing/internal/database/purserdb/media_authority.sql.go
  api_billing/internal/database/purserdb/querier.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_billing/internal/database/purserdb/tier_access.sql.go
  api_billing/internal/database/purserdb/tier_access_contract_test.go
  api_billing/internal/database/queries/media_authority.sql
  api_billing/internal/database/queries/tier_access.sql
  api_billing/internal/tieraccess/reconcile.go
  api_billing/internal/tieraccess/reconcile_test.go
  api_billing/internal/tieraccess/sweep.go
  api_billing/internal/tieraccess/sweep_test.go
  api_billing/internal/tieraccess/tieraccess_realpg_test.go
  pkg/database/sql/migrations/purser/v0.3.0/expand/024_dns_entitlement_catalog_defaults.sql
  pkg/database/sql/migrations/purser/v0.3.0/expand/025_delegated_jwt_replays.sql
  pkg/database/sql/migrations/purser/v0.3.0/expand/026_media_authority_refresh_pending_since.sql
  pkg/database/sql/migrations/purser/v0.3.0/expand/027_reseed_delivery_meter_dimensions.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint, frontend-format

feat(purser): enforce billing and settlement authority
  api_billing/cmd/purser/bootstrap.go
  api_billing/cmd/purser/main.go
  api_billing/internal/grpc/api_token_authorization.go
  api_billing/internal/grpc/api_token_authorization_test.go
  api_billing/internal/grpc/cluster_subscription_authority_test.go
  api_billing/internal/grpc/media_authority_refresh.go
  api_billing/internal/grpc/media_authority_refresh_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_writepaths_more_test.go
  api_billing/internal/grpc/server_writepaths_test.go
  api_billing/internal/grpc/service_only_authorization_test.go
  api_billing/internal/grpc/subscription_lifecycle_realpg_test.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/downgrade_applier_test.go
  api_billing/internal/handlers/init.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_pure_test.go
  api_billing/internal/handlers/operational_guards_realpg_test.go
  api_billing/internal/handlers/threshold.go
  api_billing/internal/handlers/threshold_test.go
Due: go-fmt, go-lint

feat(restream): secure target persistence and encryption
  api_control/internal/database/commodoredb/api_tokens.sql.go
  api_control/internal/database/commodoredb/field_encryption_suppression_realpg_test.go
  api_control/internal/database/commodoredb/push_targets.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/queries/api_tokens.sql
  api_control/internal/database/queries/push_targets.sql
  api_control/internal/datamigrations/dvr_playback_authority.go
  api_control/internal/datamigrations/field_encryption.go
  api_control/internal/datamigrations/field_encryption_realpg_test.go
  api_control/internal/datamigrations/field_encryption_test.go
  pkg/crypto/fieldcrypt.go
  pkg/crypto/fieldcrypt_test.go
  pkg/database/sql/migrations/commodore/v0.3.0/expand/005_restream_constraints.sql
  pkg/database/sql/migrations/commodore/v0.3.0/expand/006_restream_authority_suppression.sql
  pkg/database/sql/migrations/commodore/v0.3.0/expand/007_delegated_jwt_replays.sql
  pkg/database/sql/migrations/commodore/v0.3.0/expand/008_push_target_reason_code.sql
  pkg/database/sql/migrations/commodore/v0.3.0/expand/009_api_token_default_scope.sql
  pkg/database/sql/migrations/commodore/v0.3.0/postdeploy/001_normalize_restream_constraints.sql
  pkg/database/sql/migrations/commodore/v0.3.0/postdeploy/002_install_validate_restream_constraints.sql
  pkg/database/sql/schema/commodore.sql
  pkg/restream/platform.go
  pkg/restream/platform_test.go
  pkg/restream/policy.go
  pkg/restream/policy_test.go
  pkg/restream/uri.go
  pkg/restream/uri_test.go
Due: go-fmt, go-lint

feat(commodore): secure media and restream control
  api_control/cmd/commodore/bootstrap.go
  api_control/cmd/commodore/bootstrap_keyring_test.go
  api_control/cmd/commodore/main.go
  api_control/internal/grpc/active_ingest_claim_realpg_test.go
  api_control/internal/grpc/active_ingest_placement_test.go
  api_control/internal/grpc/api_token_handlers_test.go
  api_control/internal/grpc/api_tokens_realpg_test.go
  api_control/internal/grpc/dvr_chapter_playback_test.go
  api_control/internal/grpc/entitlement_purser_failure_test.go
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_test.go
  api_control/internal/grpc/media_retention.go
  api_control/internal/grpc/media_retention_set_test.go
  api_control/internal/grpc/mint_chapter_playback_test.go
  api_control/internal/grpc/mist_admin_session_test.go
  api_control/internal/grpc/node_authorization_test.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/playback_access_control_test.go
  api_control/internal/grpc/playback_policy_resolve_test.go
  api_control/internal/grpc/pull_source_entitlement_test.go
  api_control/internal/grpc/push_target_handlers_test.go
  api_control/internal/grpc/push_target_mask_test.go
  api_control/internal/grpc/register_artifact_test.go
  api_control/internal/grpc/resolve_active_cluster_test.go
  api_control/internal/grpc/route_build_collapse_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_pure_helpers_test.go
  api_control/internal/grpc/server_utility_test.go
  api_control/internal/grpc/server_validation_test.go
  api_control/internal/grpc/stream_crud_handlers_test.go
  api_control/internal/grpc/tenant_fanout_test.go
  api_control/internal/grpc/tenant_primary_user_test.go
Due: go-fmt, go-lint

feat(foghorn): persist durable ingest and restream effects
  api_balancing/internal/database/foghorndb/ingest_admission_effects.sql.go
  api_balancing/internal/database/foghorndb/ingest_offline_effects.sql.go
  api_balancing/internal/database/foghorndb/push_target_status_outbox.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/restream_rearm_contract_test.go
  api_balancing/internal/database/queries/ingest_admission_effects.sql
  api_balancing/internal/database/queries/ingest_offline_effects.sql
  api_balancing/internal/database/queries/push_target_status_outbox.sql
  pkg/database/sql/migrations/foghorn/v0.3.0/contract/005_rebuild_offline_terminal_index.sql
  pkg/database/sql/migrations/foghorn/v0.3.0/expand/016_restream_reconciliation.sql
  pkg/database/sql/migrations/foghorn/v0.3.0/postdeploy/007_validate_restream_constraints.sql
  pkg/database/sql/schema/foghorn.sql
Due: go-fmt, go-lint

feat(helmsman): reconcile enrollment and restream state
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/go.sum
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_enrollment_test.go
  api_sidecar/internal/control/client_push_targets_test.go
  api_sidecar/internal/control/enrollment_state.go
  api_sidecar/internal/control/metrics.go
  api_sidecar/internal/control/restream_registry.go
  api_sidecar/internal/control/restream_registry_test.go
  api_sidecar/internal/edgeseed/seed.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/handlers_lifecycle_triggers_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  pkg/mist/client.go
  pkg/mist/client_test.go
  pkg/mist/push_status.go
  pkg/mist/push_status_test.go
  pkg/mist/triggers.go
Due: go-fmt, go-lint

feat(analytics): define delivery facts and ledger contracts
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/contract/008_delivery_dashboard_rollups.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/contract/009_ledger_tombstone_rollups.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/contract/010_bound_tenant_usage_daily.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/contract/011_refresh_delivery_rollups.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/expand/007_restream_delivery_metering.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/postdeploy/001_backfill_delivery_usage.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/postdeploy/002_backfill_stream_analytics_end_day.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/postdeploy/003_materialize_delivery_usage_indexes.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/migrations/periscope/v0.3.0/expand/002_delegated_jwt_replays.sql
  pkg/database/sql/schema/periscope.sql
  pkg/testutil/dockerch/dockerch.go
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
Due: go-fmt, go-lint

feat(periscope): ingest durable delivery facts
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_analytics_ingest/internal/database/periscopeingestdb/final_fact_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/ledger_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/writer_realclickhouse_test.go
  api_analytics_ingest/internal/handlers/divergence_test.go
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/ledger_leases.go
  api_analytics_ingest/internal/handlers/ledger_leases_test.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
  api_analytics_ingest/internal/handlers/metering_chain_realclickhouse_test.go
  api_analytics_ingest/internal/handlers/stale_close.go
  api_analytics_ingest/internal/handlers/stale_close_test.go
  api_firehose/go.sum
  api_firehose/internal/grpc/server.go
  api_firehose/internal/grpc/server_test.go
Due: go-fmt, go-lint

feat(periscope): query and rate delivery usage
  api_analytics_query/README.md
  api_analytics_query/cmd/periscope-metering/main.go
  api_analytics_query/cmd/periscope/main.go
  api_analytics_query/go.mod
  api_analytics_query/internal/database/periscopequerydb/billing_queries.go
  api_analytics_query/internal/database/periscopequerydb/billing_queries_realclickhouse_test.go
  api_analytics_query/internal/grpc/api_token_authorization.go
  api_analytics_query/internal/grpc/api_token_authorization_test.go
  api_analytics_query/internal/grpc/query_pack_realclickhouse_test.go
  api_analytics_query/internal/grpc/restream_dashboard_realclickhouse_test.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/server_test.go
  api_analytics_query/internal/grpc/stream_analytics_daily_test.go
  api_analytics_query/internal/grpc/tenant_activity_test.go
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/handlers/billing_divergence_test.go
  api_analytics_query/internal/handlers/billing_test.go
  api_analytics_query/internal/handlers/metering_chain_realengines_test.go
  api_analytics_query/internal/scheduler/scheduler.go
Due: go-fmt, go-lint, frontend-format

feat(realtime): publish stream change invalidations
  api_realtime/cmd/signalman/main.go
  api_realtime/cmd/signalman/main_test.go
  api_realtime/go.sum
Due: go-fmt, go-lint

feat(edge): provision enrolled ONNX runtime variants
  .github/workflows/release.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/templates/mistserver.service.j2
  api_sidecar/internal/updater/component.go
  api_sidecar/internal/updater/component_test.go
  cli/cmd/edge.go
  cli/cmd/edge_deploy.go
  cli/internal/templates/edge.go
  cli/internal/templates/edge/.edge.env.tmpl
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/internal/templates/edge_parity_test.go
  cli/internal/templates/edge_test.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/manifest_strict_test.go
  cli/pkg/gitops/types.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_onnx.go
  cli/pkg/provisioner/edge_onnx_test.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/edge_test.go
  config/env/base.env
  config/env/secrets.env.example
  docker-compose.yml
  edge/Dockerfile
  edge/rootfs/etc/s6-overlay/s6-rc.d/credential-scrubber/dependencies.d/init-seed
  edge/rootfs/etc/s6-overlay/s6-rc.d/credential-scrubber/run
  edge/rootfs/etc/s6-overlay/s6-rc.d/credential-scrubber/type
  edge/rootfs/etc/s6-overlay/s6-rc.d/mistserver/run
  edge/rootfs/etc/s6-overlay/s6-rc.d/user/contents.d/credential-scrubber
  edge/stage-dist.sh
  tools/release-plan/types.go
Due: go-fmt, go-lint, frontend-format

fix(cli): preserve operator auth across admin RPCs
  api_consultant/cmd/skipper/main.go
  cli/cmd/admin.go
  cli/cmd/admin_timeout_contract_test.go
  cli/cmd/admin_tokens_test.go
  cli/cmd/cluster_nodes.go
  cli/cmd/crypto_sweep.go
Due: go-fmt, go-lint

fix(provision): resolve catalog database ownership
  cli/cmd/cluster_catalog_failclosed_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_db_alias_test.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

fix(releases): bound and validate edge synchronization
  cli/cmd/cluster_releases.go
  cli/cmd/cluster_releases_test.go
Due: go-fmt, go-lint

fix(migrations): enforce verified contract transitions
  cli/internal/releases/catalog.yaml
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/migrate_test.go
  pkg/datamigrate/handlers.go
  pkg/datamigrate/handlers_test.go
Due: go-fmt, go-lint, frontend-format

test(database): isolate ephemeral engine fixtures
  pkg/testutil/dockerpg/dockerpg.go
  pkg/testutil/dockerpg/dockerpg_test.go
  scripts/run-yugabyte-contract-fixture.sh
Due: go-fmt, go-lint

test(schema): extend release contract coverage
  Makefile
  cli/cmd/cluster_snapshot.go
  cli/pkg/provisioner/clickhouse_migration_catalog.go
  cli/pkg/provisioner/schema_squash_clickhouse_test.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  pkg/database/capabilities.go
  pkg/database/capabilities_test.go
Due: go-fmt, go-lint

feat(web): reconcile live push target status
  website_application/src/lib/components/stream-details/PushTargetsTabPanel.svelte
  website_application/src/lib/utils/push-target-events.test.ts
  website_application/src/lib/utils/push-target-events.ts
  website_application/src/routes/streams/[id]/+page.svelte
Due: frontend-format, frontend-lint

fix(web): gate infrastructure views by operator role
  website_application/src/lib/utils/infrastructure-access.test.ts
  website_application/src/lib/utils/infrastructure-access.ts
  website_application/src/routes/infrastructure/+page.svelte
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/nodes/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: frontend-format, frontend-lint

feat(web): configure scoped developer tokens
  website_application/src/lib/graphql/services/explorer.ts
  website_application/src/lib/graphql/services/explorerCatalog.ts
  website_application/src/lib/graphql/services/gqlParser.ts
  website_application/src/routes/developer/api-keys/+page.svelte
Due: frontend-format, frontend-lint

feat(observability): alert on authority convergence
  docs/standards/metrics.md
  infrastructure/prometheus/rules/frameworks.yml
Due: frontend-format

docs(auth): define scoped agent and operator access
  docs/architecture/agent-access.md
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/builders/storage-and-retention.mdx
  website_docs/src/content/docs/builders/wallet-and-crypto.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: frontend-format

docs(analytics): define canonical delivery metering
  docs/architecture/analytics-pipeline.md
  docs/architecture/clickhouse-conventions.md
  docs/architecture/cross-cluster-billing.md
  docs/architecture/decklog.md
  docs/architecture/finalized-fact-tables.md
  docs/architecture/meter-contracts.md
  website_docs/src/content/docs/builders/billing.mdx
Due: frontend-format

docs(restream): specify durable delivery lifecycle
  docs/architecture/mist-trigger-contract.md
  docs/architecture/multistreaming.md
  docs/architecture/trigger-durability.md
  docs/standards/environment-configuration.md
  website_docs/src/content/docs/builders/multistreaming.mdx
Due: frontend-format

docs(edge): define enrollment and federation authority
  docs/architecture/edge-auth.md
  docs/architecture/federation.md
  docs/architecture/navigator-aliases.md
  docs/architecture/node-enrollment.md
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/operators/dns.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
  website_docs/src/content/docs/operators/selfhosted-edge-rollout.mdx
Due: frontend-format

docs(upgrades): specify 0.3 migration gates
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: frontend-format

docs(playback): clarify managed gateway endpoints
  website_docs/src/content/docs/builders/playback-advanced.mdx
  website_docs/src/content/docs/builders/playback-react.mdx
  website_docs/src/content/docs/builders/playback-svelte.mdx
  website_docs/src/content/docs/builders/playback-vanilla.mdx
  website_docs/src/content/docs/builders/playback-wc.mdx
Due: frontend-format

docs(product): define managed edge ownership boundary
  README.md
  docs/architecture/sovereign-strategy.md
  docs/platform-features.yaml
  docs/skills/llms.txt
  website_application/src/lib/features/registry.json
Due: frontend-format

docs(platform): publish managed edge operating model
  website_docs/src/content/docs/hybrid/overview.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/platform/platform-capabilities.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: frontend-format

docs(migration): align provider transition guidance
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/generic.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/livepeer-studio.mdx
  website_docs/src/content/docs/migrate/mistserver.mdx
  website_docs/src/content/docs/migrate/mux.mdx
Due: frontend-format

docs(blog): correct provider trust boundary
  website_docs/src/content/docs/blog/frameworks-0-3-0.mdx
  website_docs/src/content/docs/blog/public-gitops.mdx
  website_docs/src/content/docs/blog/sovereign-mesh-pki.mdx
  website_docs/src/content/docs/operators/skipper.mdx
Due: frontend-format

docs(index): refresh consolidated LLM reference
  website_docs/public/llms-full.txt
Due: none

chore(go): synchronize shared test checksums
  api_assets/go.sum
  api_forms/go.sum
  api_mesh/go.sum
  api_ticketing/go.sum
Due: none

feat(proto): define media placement transport contracts
  pkg/proto/Makefile
  pkg/proto/cluster_peer.proto
  pkg/proto/cluster_peer/cluster_peer.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/foghorn.proto
  pkg/proto/foghorn/foghorn.pb.go
  pkg/proto/foghorn/foghorn_grpc.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
  pkg/proto/foghorn_federation/foghorn_federation_grpc.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/media_authority.proto
  pkg/proto/media_authority/media_authority.pb.go
  pkg/proto/media_placement.proto
  pkg/proto/media_placement/media_placement.pb.go
  pkg/proto/purser.proto
  pkg/proto/purser/purser.pb.go
  pkg/proto/purser/purser_grpc.pb.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
  pkg/proto/shared.proto
  pkg/proto/shared/shared.pb.go
Due: none

feat(schema): add media placement state and consent
  pkg/database/capabilities.go
  pkg/database/sql/migrations/commodore/v0.3.0/expand/010_media_placement.sql
  pkg/database/sql/migrations/commodore/v0.3.0/expand/011_media_cell_placement_capabilities.sql
  pkg/database/sql/migrations/foghorn/v0.3.0/expand/017_control_replicas.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/expand/011_media_capacity_consent.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/postdeploy/004_validate_media_capacity_consent.sql
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/foghorn.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/database/sql/seeds/demo/postgres/commodore.sql
  pkg/database/sql/seeds/demo/postgres/quartermaster.sql
  pkg/database/sql/seeds/demo/postgres/two-cell/quartermaster.sql
Due: go-fmt, go-lint

feat(commodore): persist media placement state
  api_control/internal/database/commodoredb/account_recovery_wallets.sql.go
  api_control/internal/database/commodoredb/account_sessions.sql.go
  api_control/internal/database/commodoredb/api_tokens.sql.go
  api_control/internal/database/commodoredb/artifact_catalog.sql.go
  api_control/internal/database/commodoredb/artifact_creation_intents.sql.go
  api_control/internal/database/commodoredb/artifact_resolution.sql.go
  api_control/internal/database/commodoredb/artifact_runtime.sql.go
  api_control/internal/database/commodoredb/bootstrap_accounts.sql.go
  api_control/internal/database/commodoredb/bootstrap_mist_native.sql.go
  api_control/internal/database/commodoredb/bootstrap_pull_streams.sql.go
  api_control/internal/database/commodoredb/chapter_registry.sql.go
  api_control/internal/database/commodoredb/db.go
  api_control/internal/database/commodoredb/dvr_registry.sql.go
  api_control/internal/database/commodoredb/identifier_resolution.sql.go
  api_control/internal/database/commodoredb/ingest_admission.sql.go
  api_control/internal/database/commodoredb/invalidation_outbox.sql.go
  api_control/internal/database/commodoredb/managed_streams.sql.go
  api_control/internal/database/commodoredb/media_authority.sql.go
  api_control/internal/database/commodoredb/media_placement.sql.go
  api_control/internal/database/commodoredb/media_retention.sql.go
  api_control/internal/database/commodoredb/models.go
  api_control/internal/database/commodoredb/native_authorization.sql.go
  api_control/internal/database/commodoredb/playback_policy.sql.go
  api_control/internal/database/commodoredb/pull_source_events.sql.go
  api_control/internal/database/commodoredb/push_targets.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/routing_reads.sql.go
  api_control/internal/database/commodoredb/service_event_outbox.sql.go
  api_control/internal/database/commodoredb/signing_keys.sql.go
  api_control/internal/database/commodoredb/stream_cleanup_outbox.sql.go
  api_control/internal/database/commodoredb/stream_lifecycle.sql.go
  api_control/internal/database/commodoredb/stream_placement.sql.go
  api_control/internal/database/commodoredb/stream_reads.sql.go
  api_control/internal/database/commodoredb/tenant_users.sql.go
  api_control/internal/database/commodoredb/vod_runtime.sql.go
  api_control/internal/database/queries/media_authority.sql
  api_control/internal/database/queries/media_placement.sql
  api_control/internal/database/queries/stream_reads.sql
Due: go-fmt, go-lint

feat(quartermaster): manage media capacity consent
  api_tenants/internal/database/quartermasterdb/alias_repairs.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_clusters.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_enrollment_adapter.go
  api_tenants/internal/database/quartermasterdb/bootstrap_ingress.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_nodes.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_services.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_tenants.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_access.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_lifecycle.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_membership.sql.go
  api_tenants/internal/database/quartermasterdb/db.go
  api_tenants/internal/database/quartermasterdb/durable_outboxes.sql.go
  api_tenants/internal/database/quartermasterdb/entity_reads.sql.go
  api_tenants/internal/database/quartermasterdb/health_poller.sql.go
  api_tenants/internal/database/quartermasterdb/media_authority.sql.go
  api_tenants/internal/database/quartermasterdb/media_capacity_consent.sql.go
  api_tenants/internal/database/quartermasterdb/media_capacity_consent_realpg_test.go
  api_tenants/internal/database/quartermasterdb/media_capacity_consent_store.go
  api_tenants/internal/database/quartermasterdb/media_capacity_consent_store_test.go
  api_tenants/internal/database/quartermasterdb/media_placement_inventory.sql.go
  api_tenants/internal/database/quartermasterdb/media_placement_inventory_realpg_test.go
  api_tenants/internal/database/quartermasterdb/models.go
  api_tenants/internal/database/quartermasterdb/node_lifecycle.sql.go
  api_tenants/internal/database/quartermasterdb/node_ownership.sql.go
  api_tenants/internal/database/quartermasterdb/peer_control_cell_realpg_test.go
  api_tenants/internal/database/quartermasterdb/querier.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/runtime_entrypoints.sql.go
  api_tenants/internal/database/quartermasterdb/service_bootstrap.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_lifecycle.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_reads.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_routing.sql.go
  api_tenants/internal/database/queries/cluster_access.sql
  api_tenants/internal/database/queries/cluster_membership.sql
  api_tenants/internal/database/queries/media_capacity_consent.sql
  api_tenants/internal/database/queries/media_placement_inventory.sql
Due: go-fmt, go-lint
