Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix ci
  npm_player/packages/core/package.json
  npm_player/packages/react/vitest.config.ts
  npm_player/packages/svelte/vitest.config.ts
  npm_studio/packages/core/package.json
  npm_studio/packages/react/vitest.config.ts
  npm_studio/packages/svelte/vitest.config.ts
Due: frontend-format, frontend-lint

tweak npm imports
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  website_marketing/vite.config.js
Due: frontend-format, frontend-lint

fix lint
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/handler_test.go
  api_consultant/internal/chat/hyde.go
  api_consultant/internal/chat/hyde_test.go
  api_consultant/internal/chat/query_rewriter.go
  api_consultant/internal/chat/summarizer.go
  api_consultant/internal/knowledge/admin.go
  api_consultant/internal/knowledge/contextual.go
  api_consultant/internal/knowledge/crawler_test.go
  api_consultant/internal/knowledge/renderer.go
  api_consultant/internal/knowledge/scheduler_test.go
  api_consultant/internal/knowledge/urlvalidation.go
  api_consultant/internal/webui/web/index.html
  api_consultant/internal/webui/web/style.css
  api_gateway/internal/resolvers/skipper.go
  pkg/graphql/schema.graphql
  pkg/llm/anthropic.go
  pkg/llm/openai.go
  pkg/llm/provider_test.go
  website_docs/src/components/Header.astro
  website_docs/src/components/ThemeProvider.astro
  website_docs/src/styles/custom.css
  website_marketing/src/styles/marketing/skipper.css
Due: go-fmt, go-lint

Harden Skipper auth and payload handling
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/resolvers/skipper.go
  api_gateway/internal/resolvers/skipper_test.go
Due: go-fmt, go-lint

Harden crawler rendering and cache metadata
  api_consultant/internal/knowledge/admin.go
  api_consultant/internal/knowledge/crawler.go
  api_consultant/internal/knowledge/crawler_test.go
  api_consultant/internal/knowledge/renderer.go
  api_consultant/internal/knowledge/urlvalidation.go
  api_consultant/internal/knowledge/urlvalidation_test.go
Due: go-fmt, go-lint

expand rerankers
  pkg/llm/reranker.go
  pkg/llm/reranker_test.go
  website_docs/src/content/docs/operators/skipper.mdx
Due: go-fmt, go-lint, frontend-format

Gateway auth: normalize COOKIE_DOMAIN for x402 cookies
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
Due: go-fmt, go-lint

Renderer SSRF: validate script subresources
  api_consultant/internal/knowledge/renderer.go
Due: go-fmt, go-lint

Harden Skipper auth cookies and payload sanitization (#223)
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/resolvers/skipper.go
  api_gateway/internal/resolvers/skipper_test.go
Due: go-fmt, go-lint

Harden crawler renderer, add SSRF-safe URL validation and HEAD metadata (#224)
  api_consultant/internal/knowledge/admin.go
  api_consultant/internal/knowledge/crawler.go
  api_consultant/internal/knowledge/crawler_test.go
  api_consultant/internal/knowledge/renderer.go
  api_consultant/internal/knowledge/urlvalidation.go
  api_consultant/internal/knowledge/urlvalidation_test.go
Due: go-fmt, go-lint

don't expose agent primitives - expose only the abstracted video_consultant
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/mcpclient/client.go
  api_consultant/internal/mcpspoke/server.go
  api_consultant/internal/mcpspoke/server_test.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/mcp/skipper_client.go
  api_gateway/internal/mcp/tools/skipper.go
  api_gateway/internal/mcp/tools/skipper_test.go
  docs/architecture/agent-access.md
  docs/skills/skill.json
  docs/skills/skill.md
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/skipper.mdx
  website_docs/src/content/docs/blog/skipper-launch.mdx
  website_docs/src/content/docs/operators/skipper.mdx
Due: go-fmt, go-lint, frontend-format

Harden skipper chat auth and prompt handling
  PLAN_SKIPPER_CHAT_SAFETY_REMEDIATION.md
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/handler_test.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/prompt_utils.go
  pkg/middleware/grpc.go
  pkg/middleware/grpc_test.go
Due: go-fmt, go-lint, frontend-format

Improve service event observability for Skipper and usage tracking
  api_analytics_ingest/internal/handlers/handlers.go
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/triggers.go
  api_consultant/internal/skipper/decklog_adapter.go
  api_consultant/internal/skipper/decklog_adapter_test.go
  api_consultant/internal/skipper/hash.go
  api_consultant/internal/skipper/hooks.go
  api_gateway/internal/middleware/usage_tracker.go
  api_gateway/internal/middleware/usage_tracker_test.go
Due: go-fmt, go-lint

Improve MCP tool availability and metering retries
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/orchestrator_test.go
  api_consultant/internal/metering/tracker.go
  api_consultant/internal/metering/tracker_test.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/skipper_client.go
Due: go-fmt, go-lint

Skipper chat: drop PLAN file + fix api_consultant lint
  PLAN_SKIPPER_CHAT_SAFETY_REMEDIATION.md
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/handler_test.go
Due: go-fmt, go-lint, frontend-format

Harden Skipper chat auth and prompt handling (#225)
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/handler_test.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/prompt_utils.go
  pkg/middleware/grpc.go
  pkg/middleware/grpc_test.go
Due: go-fmt, go-lint

Heartbeat: make usage logging best-effort
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/triggers.go
Due: go-fmt, go-lint

Metering: avoid double-counting on partial persist failures
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/orchestrator_test.go
  api_consultant/internal/metering/tracker.go
Due: go-fmt, go-lint

Hide unavailable Skipper tools, add docs-mode tool filtering, and make metering persistence retryable (#227)
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/orchestrator_test.go
  api_consultant/internal/metering/tracker.go
  api_consultant/internal/metering/tracker_test.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/skipper_client.go
Due: go-fmt, go-lint

Codex-generated pull request (#226)
  api_analytics_ingest/internal/handlers/handlers.go
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/heartbeat/agent.go
  api_consultant/internal/heartbeat/triggers.go
  api_consultant/internal/skipper/decklog_adapter.go
  api_consultant/internal/skipper/decklog_adapter_test.go
  api_consultant/internal/skipper/hash.go
  api_consultant/internal/skipper/hooks.go
  api_gateway/internal/middleware/usage_tracker.go
  api_gateway/internal/middleware/usage_tracker_test.go
Due: go-fmt, go-lint

uppercase
  docs/skills/SKILL.md
Due: frontend-format

Fix attribution propagation and sanitize URLs
  api_control/internal/grpc/server.go
  api_gateway/internal/attribution/attribution.go
  api_gateway/internal/attribution/attribution_test.go
  docs/audits/bundle-28b.md
Due: go-fmt, go-lint, frontend-format

Improve upgrade rollback and provisioner safety
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/pkg/provisioner/base.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/flexible_test.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/types.go
Due: go-fmt, go-lint

Fix SSH pool staleness and TOFU locking
  cli/pkg/ssh/client.go
  cli/pkg/ssh/client_test.go
  cli/pkg/ssh/pool.go
  cli/pkg/ssh/pool_test.go
Due: go-fmt, go-lint

Improve service registry coherence
  cli/cmd/cluster_diagnose.go
  cli/cmd/cluster_provision.go
  cli/internal/services/catalog_test.go
  cli/pkg/detect/detector.go
  cli/pkg/health/tcp.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/ports.go
  cli/pkg/inventory/ports_test.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/zookeeper.go
  cli/pkg/servicedefs/servicedefs.go
Due: go-fmt, go-lint

Attribution: preserve relative landing page path
  api_gateway/internal/attribution/attribution.go
  api_gateway/internal/attribution/attribution_test.go
Due: go-fmt, go-lint

Privateer: normalize dns_port metadata type
  cli/cmd/cluster_upgrade.go
  cli/pkg/provisioner/privateer.go
Due: go-fmt, go-lint

Delete docs/audits/bundle-28b.md
  docs/audits/bundle-28b.md
Due: frontend-format

SSH: avoid keepalive goroutine leaks on timeout
  cli/pkg/ssh/client.go
  cli/pkg/ssh/client_test.go
Due: go-fmt, go-lint

Sanitize attribution URLs and forward registration attribution to Quartermaster (#228)
  api_control/internal/grpc/server.go
  api_gateway/internal/attribution/attribution.go
  api_gateway/internal/attribution/attribution_test.go
Due: go-fmt, go-lint

CLI lint: IPv6-safe hostport + context-aware TCP dial
  cli/pkg/health/tcp.go
  cli/pkg/provisioner/zookeeper.go
Due: go-fmt, go-lint

Improve GitOps manifest cache handling
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/gitops/types.go
Due: go-fmt, go-lint

Improve upgrade rollback safety and provisioner idempotency (#229)
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/pkg/provisioner/base.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/flexible_test.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/types.go
Due: go-fmt, go-lint

Improve SSH pool health checks and TOFU locking (#230)
  cli/pkg/ssh/client.go
  cli/pkg/ssh/client_test.go
  cli/pkg/ssh/pool.go
  cli/pkg/ssh/pool_test.go
Due: go-fmt, go-lint

Codex-generated pull request (#231)
  cli/cmd/cluster_diagnose.go
  cli/cmd/cluster_provision.go
  cli/internal/services/catalog_test.go
  cli/pkg/detect/detector.go
  cli/pkg/health/tcp.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/ports.go
  cli/pkg/inventory/ports_test.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/zookeeper.go
  cli/pkg/servicedefs/servicedefs.go
Due: go-fmt, go-lint

GitOps cache: fix govet shadow
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
Due: go-fmt, go-lint

Improve GitOps manifest cache robustness (#232)
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/gitops/types.go
Due: go-fmt, go-lint

test(balancing): expand virtual viewer state coverage
  api_balancing/internal/state/stream_state_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
