Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

various fixes
  cli/cmd/cluster_provision.go
  cli/cmd/edge.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
  cli/pkg/provisioner/templates.go
  cli/pkg/selfupdate/updater.go
  website_docs/src/content/docs/hybrid/connecting.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/prerequisites.mdx
Due: go-fmt, go-lint, frontend-format

add PKG target
  .github/workflows/release.yml
  cli/cmd/edge.go
  cli/internal/preflight/preflight.go
  scripts/macos-pkg/Distribution.xml
  scripts/macos-pkg/build-pkg.sh
  scripts/macos-pkg/postinstall.sh
  scripts/macos-pkg/preinstall.sh
  scripts/macos-pkg/uninstall.sh
Due: go-fmt, go-lint, frontend-format

add some more internal docs
  docs/architecture/build-and-packaging.md
  docs/architecture/edge-deployment.md
Due: frontend-format

rm depr intel mac build target
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  docs/architecture/build-and-packaging.md
  website_docs/src/content/docs/operators/prerequisites.mdx
Due: frontend-format

helmsman api for ez cli/tray debugging
  api_balancing/internal/control/server.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/edge_api.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint

tweak CLI ci
  .github/workflows/release.yml
Due: frontend-format

fix lint
  cli/pkg/githubapp/client.go
  cli/pkg/provisioner/edge.go
Due: go-fmt, go-lint

add RFC for better JWT hardening
  docs/rfcs/token-authority.md
Due: frontend-format

missing pkg stuff
  scripts/macos-pkg/build-pkg.sh
  scripts/macos-pkg/conclusion.html
  scripts/macos-pkg/postinstall.sh
  scripts/macos-pkg/preinstall.sh
  scripts/macos-pkg/uninstall.sh
  scripts/macos-pkg/welcome.html
Due: none

WIP tray icon for Mac
  .github/workflows/release.yml
  app_mac/.gitignore
  app_mac/Assets.xcassets/AppIcon.appiconset/Contents.json
  app_mac/Assets.xcassets/Contents.json
  app_mac/FrameWorks.entitlements
  app_mac/Info.plist
  app_mac/Makefile
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/AppState.swift
  app_mac/Sources/Edge/EdgeClient.swift
  app_mac/Sources/Edge/EdgePoller.swift
  app_mac/Sources/Edge/ServiceManager.swift
  app_mac/Sources/Gateway/AnalyticsService.swift
  app_mac/Sources/Gateway/AuthService.swift
  app_mac/Sources/Gateway/ClusterService.swift
  app_mac/Sources/Gateway/GatewayClient.swift
  app_mac/Sources/Gateway/KeychainHelper.swift
  app_mac/Sources/Gateway/Models.swift
  app_mac/Sources/Gateway/SkipperService.swift
  app_mac/Sources/Gateway/StreamService.swift
  app_mac/Sources/MCP/MCPRouter.swift
  app_mac/Sources/MCP/MCPServer.swift
  app_mac/Sources/UI/DashboardView.swift
  app_mac/Sources/UI/EdgeStatusView.swift
  app_mac/Sources/UI/LoginView.swift
  app_mac/Sources/UI/MenuBuilder.swift
  app_mac/Sources/UI/PanelManager.swift
  app_mac/Sources/UI/SettingsView.swift
  app_mac/Sources/UI/SkipperChatView.swift
  app_mac/Sources/UI/StreamListView.swift
  app_mac/Sources/UI/Theme.swift
  app_mac/Sources/main.swift
  app_mac/project.yml
Due: frontend-format

fixes for tray
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/AppState.swift
  app_mac/Sources/Edge/ServiceManager.swift
  app_mac/Sources/UI/EdgeStatusView.swift
  app_mac/Sources/UI/SettingsView.swift
  cli/cmd/edge.go
  cli/cmd/edge_deploy.go
  cli/pkg/provisioner/edge.go
  scripts/macos-pkg/conclusion.html
  scripts/macos-pkg/postinstall.sh
  scripts/macos-pkg/preinstall.sh
  scripts/macos-pkg/uninstall.sh
  scripts/macos-pkg/welcome.html
Due: go-fmt, go-lint

mac app fixes
  app_mac/Assets.xcassets/AccentColor.colorset/Contents.json
  app_mac/Assets.xcassets/AppIcon.appiconset/Contents.json
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_1024x1024.png
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_16x16.png
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  app_mac/Assets.xcassets/AppIcon.appiconset/icon_64x64.png
  app_mac/Assets.xcassets/StatusIcon.imageset/Contents.json
  app_mac/Assets.xcassets/StatusIcon.imageset/statusicon.png
  app_mac/Info.plist
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/UI/PanelManager.swift
  app_mac/project.yml
  brand/frameworks-logomark-mask.png
  brand/frameworks-vertical-lockup-mask.png
  cli/pkg/provisioner/edge.go
  cli/pkg/selfupdate/updater_test.go
  npm_player/packages/wc/src/styles/shared-styles.ts
  scripts/macos-pkg/conclusion.html
  scripts/macos-pkg/welcome.html
Due: go-fmt, go-lint, frontend-format, frontend-lint

sync thumbvtt protocol
  api_sidecar/internal/config/manager.go
Due: go-fmt, go-lint

tweak mac app for edge management
  .github/workflows/release.yml
  Makefile
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/AppState.swift
  app_mac/Sources/Edge/EdgeClient.swift
  app_mac/Sources/Gateway/ClusterService.swift
  app_mac/Sources/Gateway/GeneratedQueries.swift
  app_mac/Sources/Gateway/Models.swift
  app_mac/Sources/MCP/MCPProtocol.swift
  app_mac/Sources/MCP/MCPResources.swift
  app_mac/Sources/MCP/MCPRouter.swift
  app_mac/Sources/MCP/MCPServer.swift
  app_mac/project.yml
  cli/pkg/provisioner/edge.go
  pkg/graphql/operations/fragments/NodeListFields.gql
  scripts/generate-swift-gql.sh
Due: go-fmt, go-lint, frontend-format

thumbnails in player
  api_sidecar/internal/config/manager.go
  docs/architecture/npm-player.md
  docs/architecture/thumbnails.md
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/ThumbnailSpriteManager.ts
  npm_player/packages/core/src/core/detector.ts
  npm_player/packages/core/src/core/index.ts
  npm_player/packages/core/src/styles/player.css
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/components/PlayerControls.tsx
  npm_player/packages/react/src/components/SeekBar.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/PlayerControls.svelte
  npm_player/packages/svelte/src/SeekBar.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/wc/src/components/fw-player-controls.ts
  npm_player/packages/wc/src/components/fw-seek-bar.ts
  npm_player/packages/wc/src/controllers/player-controller-host.ts
  website_docs/src/content/docs/streamers/playback-advanced.mdx
  website_docs/src/content/docs/streamers/playback-react.mdx
  website_docs/src/content/docs/streamers/playback-svelte.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

build fixes for arm build on selfhosted runner
  .github/workflows/release.yml
Due: frontend-format

player fixes for spritesheet
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/ThumbnailSpriteManager.ts
Due: frontend-format, frontend-lint

SOPS + age Encryption for GitOps Secrets
  Makefile
  cli/cmd/cluster_provision.go
  cli/go.mod
  cli/go.sum
  cli/pkg/sops/decrypt.go
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

add chandler service for bucket of assets like avatars, thumbnails, spiresheets, etc
  .github/workflows/release.yml
  .gitignore
  Makefile
  README.md
  api_assets/Dockerfile
  api_assets/cmd/chandler/main.go
  api_assets/go.mod
  api_assets/go.sum
  api_assets/internal/cache/lru.go
  api_assets/internal/handlers/assets.go
  cli/internal/services/catalog.yaml
  config/env/base.env
  docker-compose.yml
  infrastructure/nginx/default.conf
Due: go-fmt, go-lint, frontend-format

tweak Chandler microservice (assets & buckets)
  api_assets/cmd/chandler/main.go
  api_assets/internal/cache/lru.go
  api_assets/internal/handlers/assets.go
  website_docs/src/assets/diagrams/Microservices_Architecture.afdesign
  website_docs/src/assets/diagrams/Microservices_Architecture.png
  website_docs/src/assets/diagrams/Microservices_Architecture.svg
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
Due: go-fmt, go-lint, frontend-format

tweak mac tray app
  app_mac/Sources/AppDelegate.swift
  app_mac/Sources/AppState.swift
  app_mac/Sources/CLI/CLIRunner.swift
  app_mac/Sources/CLI/ConfigBridge.swift
  app_mac/Sources/Gateway/GeneratedQueries.swift
  app_mac/Sources/UI/ContextPickerView.swift
  app_mac/Sources/UI/DashboardView.swift
  app_mac/Sources/UI/DiagnosticsView.swift
  app_mac/Sources/UI/EdgeStatusView.swift
  app_mac/Sources/UI/PanelManager.swift
  app_mac/Sources/UI/ProvisionView.swift
  app_mac/Sources/UI/SettingsView.swift
Due: none

foghorn: proper processing pipeline
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/vod_pipeline.go
  api_balancing/internal/jobs/job_router.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

bump versions
  api_analytics_query/VERSION
  api_assets/README.md
  api_assets/VERSION
  api_balancing/VERSION
  api_billing/VERSION
  api_consultant/VERSION
  api_control/VERSION
  api_dns/VERSION
  api_firehose/VERSION
  api_forms/VERSION
  api_gateway/VERSION
  api_mesh/VERSION
  api_realtime/VERSION
  api_sidecar/VERSION
  api_tenants/VERSION
  api_ticketing/VERSION
  npm_player/package.json
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  npm_player/playground/package.json
  npm_studio/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
  website_application/package.json
  website_docs/package.json
  website_marketing/package.json
Due: frontend-format

enhance doc
  website_docs/src/content/docs/operators/external-services.mdx
Due: frontend-format

display tumbnails on streams page
  website_application/src/routes/streams/+page.svelte
Due: frontend-format, frontend-lint

fix swift gql to adhere to lint style
  scripts/generate-swift-gql.sh
Due: none

enhance wire with thumbnail and processing messages
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/foghorn_relay.pb.go
  pkg/proto/foghorn_relay.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
  pkg/proto/shared.pb.go
  pkg/proto/shared.proto
Due: none

expose thumbnailUrl in gateway
  pkg/graphql/operations/fragments/StreamCoreFields.gql
  pkg/graphql/schema.graphql
Due: none

processing handling in sidecar
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/storage_manager.go
Due: go-fmt, go-lint

CLI add yugabytesdb support for prod deployments
  cli/cmd/cluster_init.go
  cli/cmd/cluster_provision.go
  cli/cmd/context.go
  cli/cmd/dns.go
  cli/cmd/edge.go
  cli/cmd/mesh.go
  cli/internal/config/types.go
  cli/internal/preflight/preflight.go
  cli/pkg/ansible/playbook.go
  cli/pkg/credentials/generate.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/postgres.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/yugabyte.go
  config/env/secrets.env.example
  infrastructure/clickhouse/users.xml
Due: go-fmt, go-lint

tweak doc
  docs/architecture/thumbnails.md
Due: frontend-format

missing thumbnail/processing table fields
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/foghorn.sql
Due: none

UpdateStreamThumbnail commodore client call
  pkg/clients/commodore/grpc_client.go
Due: go-fmt, go-lint

CI tweaks
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  scripts/macos-pkg/build-pkg.sh
Due: frontend-format

various fixes for foghorn-helmsman artefact lifecycle handling/tracking.
  api_analytics_ingest/internal/handlers/handlers.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
  api_balancing/internal/grpc/relay_server_test.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/stale_freeze_cleanup.go
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/storage/s3_client.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/storage_manager.go
  pkg/database/sql/clickhouse/periscope.sql
  pkg/proto/foghorn_relay.pb.go
  pkg/proto/foghorn_relay.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint

tests for Foghorn side of artefact/registry/processing
  api_balancing/internal/control/repos_artifact_test.go
  api_balancing/internal/control/server_defrost_complete_test.go
  api_balancing/internal/control/server_freeze_complete_test.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/control/server_sync_complete_test.go
  api_balancing/internal/control/testhelpers_artifact_test.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/stale_defrost_cleanup_test.go
  api_balancing/internal/jobs/stale_freeze_cleanup_test.go
  api_balancing/internal/jobs/testhelpers_test.go
  api_balancing/internal/state/cache_artifact_test.go
  api_balancing/internal/state/stream_state_artifact_test.go
  api_balancing/internal/storage/s3_client_parse_test.go
Due: go-fmt, go-lint

changes for unified gitops repo with SOPS
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  cli/pkg/sops/decrypt.go
  cli/pkg/sops/decrypt_test.go
  docs/rfcs/RFC_vault_secrets_management.md
  docs/rfcs/service-identity-and-cluster-binding.md
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format
