Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

test(database): inspect embedded runtime SQL
  pkg/database/sql_portability_test.go
Due: go-fmt, go-lint

perf(commodore): make stream-key identity checks narrow
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
Due: go-fmt, go-lint

fix(foghorn): harden media admission authority
  api_balancing/internal/control/resolver.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/viewer_endpoint_happy_coverage_test.go
  api_balancing/internal/handlers/balancing_commodore_coverage_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/stream_balancing_arms_coverage_test.go
  api_balancing/internal/handlers/x402_helpers.go
  api_balancing/internal/triggers/billing_cache_policy_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  docs/architecture/mist-trigger-contract.md
Due: go-fmt, go-lint, frontend-format

fix(bridge): bound authority loads and telemetry outcomes
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/datafetcher/fetcher.go
  api_gateway/internal/datafetcher/fetcher_test.go
  api_gateway/internal/handlers/beacon_intake.go
  api_gateway/internal/handlers/beacon_metrics_test.go
  api_gateway/internal/handlers/playback_session_telemetry.go
  api_gateway/internal/handlers/playback_telemetry.go
  api_gateway/internal/resolvers/resolver.go
Due: go-fmt, go-lint

feat(database): separate runtime role credentials
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  cli/cmd/cluster_init.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/credentials/generate.go
  cli/pkg/credentials/generate_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/postgres_role_test.go
  cli/pkg/provisioner/schema_helpers.go
  cli/pkg/provisioner/yugabyte_role.go
  cli/pkg/provisioner/yugabyte_role_test.go
  config/env/secrets.env.example
  docs/architecture/database-ha.md
  docs/standards/schema-migrations.md
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

docs: refresh generated agent reference
  website_docs/public/llms-full.txt
Due: none

feat(platform): add cluster authority security contracts
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/credentials/generate.go
  cli/pkg/credentials/generate_test.go
  cli/pkg/inventory/ports.go
  cli/pkg/inventory/ports_test.go
  config/env/secrets.env.example
  docker-compose.yml
  pkg/auth/cluster_access_proof.go
  pkg/auth/cluster_access_proof_test.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/clients/quartermaster/interface.go
  pkg/ctxkeys/keys.go
  pkg/proto/cluster_peer.proto
  pkg/proto/cluster_peer/cluster_peer.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/purser.proto
  pkg/proto/purser/purser.pb.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
  pkg/servicedefs/auxiliary_ports_test.go
  pkg/servicedefs/servicedefs.go
Due: go-fmt, go-lint, frontend-format

feat(quartermaster): enforce proof-bound cluster access
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/database/quartermasterdb/alias_repairs.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_tenants.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_access.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_access_authority_test.go
  api_tenants/internal/database/quartermasterdb/cluster_membership.sql.go
  api_tenants/internal/database/quartermasterdb/marketplace_adapter.go
  api_tenants/internal/database/quartermasterdb/marketplace_adapter_test.go
  api_tenants/internal/database/quartermasterdb/private_cluster_adapter.go
  api_tenants/internal/database/quartermasterdb/querier.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/tenant_lifecycle.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_reads.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_routing.sql.go
  api_tenants/internal/database/queries/alias_repairs.sql
  api_tenants/internal/database/queries/bootstrap_tenants.sql
  api_tenants/internal/database/queries/cluster_access.sql
  api_tenants/internal/database/queries/cluster_membership.sql
  api_tenants/internal/database/queries/tenant_lifecycle.sql
  api_tenants/internal/database/queries/tenant_reads.sql
  api_tenants/internal/database/queries/tenant_routing.sql
  api_tenants/internal/datamigrations/cluster_access_provenance.go
  api_tenants/internal/datamigrations/cluster_access_provenance_test.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/cluster_subscription_auth_test.go
  api_tenants/internal/grpc/get_tenant_entitlement_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_catalog_failclosed_test.go
  cli/go.mod
  cli/go.sum
  cli/internal/releases/catalog.yaml
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  pkg/database/sql/migrations/quartermaster/v0.3.0/contract/001_cluster_access_expiry_timestamptz.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/contract/002_referral_code_expiry_timestamptz.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/expand/002_cluster_access_provenance.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/postdeploy/001_validate_cluster_access_provenance.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/database/sql/seeds/demo/postgres/quartermaster.sql
Due: go-fmt, go-lint, frontend-format

feat(purser): own commercial cluster access
  api_billing/cmd/purser/main.go
  api_billing/internal/database/purserdb/billing_status.sql.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_billing/internal/database/queries/billing_status.sql
  api_billing/internal/grpc/cluster_subscription_authority_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_readpaths_more3_test.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/cluster_subscription_revocation_test.go
  api_billing/internal/handlers/init.go
  api_billing/internal/handlers/webhooks.go
  pkg/database/sql/migrations/purser/v0.3.0/expand/001_dimensioned_usage_reports.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint

feat(commodore): route from effective cluster grants
  api_control/internal/grpc/entitlement_purser_failure_test.go
  api_control/internal/grpc/policy_bundle.go
  api_control/internal/grpc/policy_bundle_test.go
  api_control/internal/grpc/route_build_collapse_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_utility_test.go
Due: go-fmt, go-lint

feat(gateway): route marketplace access through billing
  api_gateway/internal/mcp/tools/infrastructure.go
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/infrastructure_mutations_test.go
  website_application/src/lib/utils/clusterSubscription.test.ts
  website_application/src/lib/utils/clusterSubscription.ts
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/infrastructure/marketplace/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(foghorn): enforce serving authority and isolate routes
  api_balancing/cmd/foghorn/http_routes_test.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/balancer/balancer.go
  api_balancing/internal/balancer/balancer_test.go
  api_balancing/internal/control/artifact_playback_test.go
  api_balancing/internal/control/balancer_capability.go
  api_balancing/internal/control/balancer_capability_test.go
  api_balancing/internal/control/cluster_access.go
  api_balancing/internal/control/cluster_access_test.go
  api_balancing/internal/control/freeze_authz.go
  api_balancing/internal/control/live_playback_coverage_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_helpers_test.go
  api_balancing/internal/control/relay_resolve.go
  api_balancing/internal/control/relay_resolve_test.go
  api_balancing/internal/control/resolver.go
  api_balancing/internal/control/resolver_deep_coverage_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/server_auth_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/viewer_endpoint_happy_coverage_test.go
  api_balancing/internal/handlers/authorized_mist_compatibility_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/internal_auth.go
  api_balancing/internal/handlers/stream_balancing_arms_coverage_test.go
  api_balancing/internal/handlers/stream_balancing_coverage_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_balancing/internal/triggers/trigger_handlers_coverage_test.go
  pkg/middleware/grpc.go
  pkg/middleware/middleware_more_test.go
  pkg/server/server.go
Due: go-fmt, go-lint

feat(helmsman): isolate management capability handling
  README.md
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/defaults/main.yml
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/cmd/helmsman/main_test.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_protocols_test.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/control/client.go
  cli/cmd/edge.go
  cli/internal/templates/edge/.edge.env.tmpl
Due: go-fmt, go-lint, frontend-format

docs: define cluster access security boundaries
  docs/architecture/billing-tier-provisioning.md
  docs/architecture/cluster-access-security.md
  docs/architecture/cross-cluster-billing.md
  docs/architecture/foghorn-ha.md
  docs/architecture/marketplace.md
  docs/rfcs/federated-settlement-attribution.md
  docs/standards/environment-configuration.md
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
Due: frontend-format

feat(authority): publish tenant and billing inputs
  api_billing/internal/database/purserdb/media_authority.sql.go
  api_billing/internal/database/purserdb/querier.go
  api_billing/internal/database/queries/media_authority.sql
  api_billing/internal/grpc/media_authority_refresh.go
  api_billing/internal/grpc/media_authority_refresh_test.go
  api_billing/internal/grpc/server.go
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/database/quartermasterdb/alias_repairs.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_enrollment_adapter.go
  api_tenants/internal/database/quartermasterdb/cluster_access.sql.go
  api_tenants/internal/database/quartermasterdb/durable_outboxes.sql.go
  api_tenants/internal/database/quartermasterdb/media_authority.sql.go
  api_tenants/internal/database/quartermasterdb/node_enrollment_adapter.go
  api_tenants/internal/database/quartermasterdb/querier.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/tenant_routing.sql.go
  api_tenants/internal/database/queries/alias_repairs.sql
  api_tenants/internal/database/queries/cluster_access.sql
  api_tenants/internal/database/queries/durable_outboxes.sql
  api_tenants/internal/database/queries/media_authority.sql
  api_tenants/internal/database/queries/tenant_routing.sql
  api_tenants/internal/grpc/bootstrap_cluster_access_test.go
  api_tenants/internal/grpc/bootstrap_edge_node_more_test.go
  api_tenants/internal/grpc/bootstrap_edge_node_test.go
  api_tenants/internal/grpc/bootstrap_tokens_test.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/get_tenant_entitlement_test.go
  api_tenants/internal/grpc/media_authority_refresh.go
  api_tenants/internal/grpc/media_authority_refresh_test.go
  api_tenants/internal/grpc/navigator_alias_backstop.go
  api_tenants/internal/grpc/navigator_alias_outbox.go
  api_tenants/internal/grpc/navigator_alias_outbox_claim_test.go
  api_tenants/internal/grpc/navigator_alias_outbox_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
  api_tenants/internal/grpc/node_fingerprint_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

feat(commodore): compile signed media authority
  api_control/cmd/commodore/bootstrap.go
  api_control/cmd/commodore/main.go
  api_control/go.mod
  api_control/internal/database/commodoredb/artifact_resolution.sql.go
  api_control/internal/database/commodoredb/chapter_registry.sql.go
  api_control/internal/database/commodoredb/dvr_registry.sql.go
  api_control/internal/database/commodoredb/ingest_admission.sql.go
  api_control/internal/database/commodoredb/media_authority.sql.go
  api_control/internal/database/commodoredb/placement_batch.go
  api_control/internal/database/commodoredb/playback_policy.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/vod_runtime.sql.go
  api_control/internal/database/queries/artifact_resolution.sql
  api_control/internal/database/queries/chapter_registry.sql
  api_control/internal/database/queries/dvr_registry.sql
  api_control/internal/database/queries/ingest_admission.sql
  api_control/internal/database/queries/media_authority.sql
  api_control/internal/database/queries/playback_policy.sql
  api_control/internal/database/queries/vod_runtime.sql
  api_control/internal/grpc/active_ingest_claim_realpg_test.go
  api_control/internal/grpc/active_ingest_placement_test.go
  api_control/internal/grpc/catalog_tombstone_test.go
  api_control/internal/grpc/dvr_chapter_playback_test.go
  api_control/internal/grpc/ingest_cluster_authority_test.go
  api_control/internal/grpc/invalidation_outbox.go
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_test.go
  api_control/internal/grpc/mint_chapter_playback_test.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/playback_access_control_test.go
  api_control/internal/grpc/playback_policy_realpg_test.go
  api_control/internal/grpc/policy_bundle.go
  api_control/internal/grpc/policy_bundle_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_retry_test.go
  api_control/internal/grpc/server_utility_test.go
  api_control/internal/grpc/server_validation_test.go
Due: go-fmt, go-lint

feat(navigator): fence tenant authority delivery
  api_dns/cmd/navigator/config_seed_ack_test.go
  api_dns/cmd/navigator/main.go
  api_dns/go.mod
  api_dns/internal/database/navigatordb/acme_accounts.sql.go
  api_dns/internal/database/navigatordb/certificates.sql.go
  api_dns/internal/database/navigatordb/issuance_leases.sql.go
  api_dns/internal/database/navigatordb/models.go
  api_dns/internal/database/navigatordb/querier.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/tenant_aliases.sql.go
  api_dns/internal/database/navigatordb/tenant_custom_domains.sql.go
  api_dns/internal/database/navigatordb/tls_bundles.sql.go
  api_dns/internal/database/queries/acme_accounts.sql
  api_dns/internal/database/queries/certificates.sql
  api_dns/internal/database/queries/issuance_leases.sql
  api_dns/internal/database/queries/tenant_aliases.sql
  api_dns/internal/database/queries/tenant_custom_domains.sql
  api_dns/internal/database/queries/tls_bundles.sql
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/cert_test.go
  api_dns/internal/logic/custom_domain.go
  api_dns/internal/logic/tenant_alias.go
  api_dns/internal/store/custom_domain_authority_test.go
  api_dns/internal/store/store.go
  api_dns/internal/store/store_realpg_test.go
  api_dns/internal/store/store_test.go
  api_dns/internal/store/tenant_alias.go
  api_dns/internal/store/tenant_alias_test.go
  api_dns/internal/store/tenant_custom_domain.go
  api_dns/internal/worker/renewal.go
  api_dns/internal/worker/renewal_test.go
  api_dns/internal/worker/tenant_alias_worker.go
  api_dns/internal/worker/tenant_alias_worker_test.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/tenant_alias_certs.go
Due: go-fmt, go-lint

feat(cli): provision media authority material
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-container.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/edge.env.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-darwin.yml
  cli/cmd/cluster.go
  cli/cmd/cluster_apply.go
  cli/cmd/cluster_control_plane.go
  cli/cmd/cluster_diff.go
  cli/cmd/cluster_finalize.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_redis_test.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_restart.go
  cli/cmd/cluster_secrets.go
  cli/cmd/cluster_secrets_test.go
  cli/cmd/cluster_shared_env_test.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/release_metadata_test.go
  cli/go.mod
  cli/internal/templates/edge/.edge.env.tmpl
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/internal/templates/edge_parity_test.go
  cli/pkg/credentials/generate.go
  cli/pkg/credentials/generate_test.go
  config/env/base.env
  config/env/secrets.env.example
  docker-compose.yml
  edge/Dockerfile
Due: go-fmt, go-lint, frontend-format

test(purser): validate provider settlement evidence
  api_billing/internal/database/purserdb/checkout.sql.go
  api_billing/internal/database/purserdb/querier.go
  api_billing/internal/database/purserdb/webhooks.sql.go
  api_billing/internal/database/queries/checkout.sql
  api_billing/internal/database/queries/webhooks.sql
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/operational_guards_realpg_test.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/webhooks_test.go
Due: go-fmt, go-lint

fix(purser): fence billing outbox delivery
  api_billing/internal/database/purserdb/billing_event_outbox.sql.go
  api_billing/internal/database/purserdb/querier.go
  api_billing/internal/database/queries/billing_event_outbox.sql
  api_billing/internal/grpc/billing_event_outbox.go
  api_billing/internal/grpc/billing_event_outbox_realpg_test.go
  api_billing/internal/grpc/billing_event_outbox_test.go
  api_billing/internal/grpc/create_subscription_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/crypto_reorg_test.go
  api_billing/internal/handlers/events.go
  api_billing/internal/handlers/webhooks_invoice_paid_test.go
  api_billing/internal/handlers/webhooks_test.go
  pkg/database/sql/migrations/purser/v0.3.0/expand/022_billing_event_outbox_fencing.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint

test(redis): harden Sentinel failover contract
  pkg/redis/sentinel_realvalkey_test.go
Due: go-fmt, go-lint

test(purser): cover money and audit workflows
  api_billing/internal/grpc/billing_documents_money_test.go
  api_billing/internal/grpc/create_payment_money_test.go
  api_billing/internal/grpc/crypto_sweep_money_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/money_audit_pure_test.go
  api_billing/internal/mollie/client_money_contract_test.go
  api_billing/internal/stripe/checkout_money_contract_test.go
Due: go-fmt, go-lint

feat(graphql): expose topology analytics
  api_gateway/Makefile
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  api_gateway/graph/graph_helpers_test.go
  api_gateway/graph/model/stream_event.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/clients/clientstest/clientstest_periscope_analytics.go
  api_gateway/internal/demo/generators.go
  api_gateway/internal/demo/generators_test.go
  api_gateway/internal/loaders/loaders.go
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/resolvers/analytics_access_scope_test.go
  api_gateway/internal/resolvers/analytics_conn_a_resolver_test.go
  api_gateway/internal/resolvers/analytics_conn_b_resolver_test.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/analytics_reads_resolver_test.go
  api_gateway/internal/resolvers/connection_event_mapping.go
  api_gateway/internal/resolvers/event_mapping_extra_test.go
  api_gateway/internal/resolvers/network_status_access_test.go
  api_gateway/internal/resolvers/processing_event_mapping.go
  api_gateway/internal/resolvers/routing_event_mapping.go
  api_gateway/internal/resolvers/routing_event_mapping_test.go
  api_gateway/internal/resolvers/storage_event_mapping.go
  api_gateway/internal/resolvers/stream_event_mapping.go
  api_gateway/internal/resolvers/stream_event_mapping_test.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/queries/GetClusterWorkload.gql
  pkg/graphql/operations/queries/GetConnectionEvents.gql
  pkg/graphql/operations/queries/GetFederationEvents.gql
  pkg/graphql/operations/queries/GetRoutingEvents.gql
  pkg/graphql/operations/queries/GetRoutingEventsDetailed.gql
  pkg/graphql/operations/queries/GetUsageRecords.gql
  pkg/graphql/schema.graphql
Due: go-fmt, go-lint, frontend-format

feat(web): share MapLibre runtime maps
  packages/map-core/index.ts
  packages/map-core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/render-public-runtime-config.mjs
  scripts/render-public-runtime-config.test.mjs
  website_application/Dockerfile
  website_application/eslint.config.js
  website_application/package.json
  website_application/src/app.html
  website_application/src/lib/components/charts/GeoView.svelte
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_application/src/lib/components/charts/spreadOverlap.ts
  website_application/src/lib/map-core.test.ts
  website_application/src/routes/analytics/audience/+page.svelte
  website_application/src/routes/analytics/usage/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/types/leaflet-heat-module.d.ts
  website_application/src/types/leaflet.heat.d.ts
  website_application/static/runtime-config.js
  website_application/vite.config.js
  website_marketing/Dockerfile
  website_marketing/app/root.jsx
  website_marketing/package.json
  website_marketing/public/runtime-config.js
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/marketing/dashboards/GeoPanel.jsx
  website_marketing/src/components/marketing/dashboards/fixtures.js
  website_marketing/src/components/marketing/network/NetworkMap.jsx
  website_marketing/src/components/marketing/network/spreadOverlap.js
  website_marketing/src/styles/marketing/dashboards.css
  website_marketing/src/styles/marketing/network.css
  website_marketing/vite.config.js
Due: frontend-format, frontend-lint

test(database): isolate Yugabyte contract suites
  .github/workflows/ci.yml
  Makefile
  api_analytics_query/internal/database/meteringdb/query_catalog_realpg_test.go
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_consultant/internal/database/skipperdb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/store/store_realpg_test.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  cli/pkg/provisioner/yugabyte_query_catalog_inventory_test.go
  docs/standards/schema-migrations.md
  pkg/testutil/dockerpg/dockerpg.go
  pkg/testutil/dockerpg/dockerpg_test.go
  scripts/run-yugabyte-contract-fixture.sh
Due: go-fmt, go-lint, frontend-format

feat(analytics): accelerate and correlate stream telemetry
  api_analytics_ingest/internal/database/periscopeingestdb/core_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/stream_writers.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/stream_buffer_test.go
  api_analytics_ingest/internal/handlers/stream_lifecycle_buffer_test.go
  api_analytics_query/internal/grpc/qoe_test.go
  api_analytics_query/internal/grpc/query_pack_realclickhouse_test.go
  api_analytics_query/internal/grpc/server.go
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_test.go
  api_sidecar/internal/handlers/edge_api.go
  api_sidecar/internal/handlers/edge_api_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/poller_dvr_rebuild_test.go
  api_sidecar/internal/handlers/stream_ws.go
  api_sidecar/internal/handlers/stream_ws_test.go
  api_sidecar/internal/leases/leases.go
  api_sidecar/internal/leases/leases_test.go
  api_sidecar/internal/leases/testsupport_test.go
  docs/architecture/analytics-pipeline.md
  docs/standards/metrics.md
  pkg/clients/periscope/grpc_client.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/expand/005_stream_health_keepaway.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.0/expand/006_viewer_connection_client_session.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/mist/client.go
  pkg/mist/client_test.go
  pkg/mist/purelogic_test.go
  pkg/proto/periscope.proto
  pkg/proto/periscope/periscope.pb.go
  pkg/proto/periscope/periscope_grpc.pb.go
  website_docs/src/content/docs/operators/architecture.mdx
Due: go-fmt, go-lint, frontend-format

feat(contracts): define 0.3 authority and delivery APIs
  api_gateway/graph/demo_schema_sweep_test.go
  api_gateway/graph/generated/generated.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/fragments/PushTargetFields.gql
  pkg/graphql/schema.graphql
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
  pkg/proto/signalman.proto
  pkg/proto/signalman/signalman.pb.go
Due: go-fmt, go-lint

feat(security): enforce delegated RPC authorization
  pkg/auth/auth_test.go
  pkg/auth/jwt.go
  pkg/auth/middleware.go
  pkg/auth/middleware_test.go
  pkg/auth/mist_admin_session.go
  pkg/auth/mist_admin_session_test.go
  pkg/authz/authz.go
  pkg/authz/authz_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/grpc_client_more_test.go
  pkg/clients/commodore/grpc_client_test.go
  pkg/clients/commodore/interface.go
  pkg/clients/deckhand/grpc_client.go
  pkg/clients/decklog/client.go
  pkg/clients/decklog/client_more_test.go
  pkg/clients/delegated_jwt.go
  pkg/clients/delegated_jwt_test.go
  pkg/clients/foghorn/grpc_client.go
  pkg/clients/foghorn/grpc_client_test.go
  pkg/clients/navigator/client.go
  pkg/clients/periscope/grpc_client.go
  pkg/clients/periscope/grpc_client_test.go
  pkg/clients/purser/grpc_client.go
  pkg/clients/purser/grpc_client_auth_test.go
  pkg/clients/purser/timeout_interceptor_test.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/clients/quartermaster/grpc_client_test.go
  pkg/clients/quartermaster/interface.go
  pkg/clients/quartermaster/timeout_interceptor_test.go
  pkg/clients/signalman/grpc_client.go
  pkg/clients/skipper/grpc_client.go
  pkg/ctxkeys/keys.go
  pkg/middleware/grpc.go
  pkg/middleware/grpc_replay_test.go
  pkg/middleware/grpc_test.go
Due: go-fmt, go-lint

feat(tenants): persist billing entitlements and node identity
  api_tenants/internal/database/quartermasterdb/alias_repairs.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_tenants.sql.go
  api_tenants/internal/database/quartermasterdb/bootstrap_tenants_contract_test.go
  api_tenants/internal/database/quartermasterdb/cluster_access.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_lifecycle.sql.go
  api_tenants/internal/database/quartermasterdb/cluster_list_adapter.go
  api_tenants/internal/database/quartermasterdb/cluster_list_adapter_test.go
  api_tenants/internal/database/quartermasterdb/durable_outboxes.sql.go
  api_tenants/internal/database/quartermasterdb/node_enrollment_adapter.go
  api_tenants/internal/database/quartermasterdb/node_list_adapter.go
  api_tenants/internal/database/quartermasterdb/querier.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/tenant_lifecycle.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_list_adapter.go
  api_tenants/internal/database/quartermasterdb/tenant_reads.sql.go
  api_tenants/internal/database/quartermasterdb/tenant_routing.sql.go
  api_tenants/internal/database/queries/alias_repairs.sql
  api_tenants/internal/database/queries/bootstrap_tenants.sql
  api_tenants/internal/database/queries/cluster_access.sql
  api_tenants/internal/database/queries/cluster_lifecycle.sql
  api_tenants/internal/database/queries/durable_outboxes.sql
  api_tenants/internal/database/queries/tenant_lifecycle.sql
  api_tenants/internal/database/queries/tenant_reads.sql
  api_tenants/internal/database/queries/tenant_routing.sql
  api_tenants/internal/datamigrations/cluster_access_provenance.go
  api_tenants/internal/datamigrations/cluster_access_provenance_test.go
  api_tenants/internal/datamigrations/node_identity_keys.go
  api_tenants/internal/datamigrations/node_identity_keys_test.go
  api_tenants/internal/datamigrations/tenant_dns_entitlements.go
  api_tenants/internal/datamigrations/tenant_dns_entitlements_realpg_test.go
  api_tenants/internal/datamigrations/tenant_dns_entitlements_test.go
  pkg/billingentitlements/contract.go
  pkg/database/sql/migrations/quartermaster/v0.3.0/expand/008_tenant_dns_entitlements.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/expand/009_delegated_jwt_replays.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/expand/010_tenant_billing_entitlement_default.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/database/sql/seeds/demo/postgres/quartermaster.sql
  pkg/models/tenants.go
  pkg/models/tenants_test.go
Due: go-fmt, go-lint

feat(quartermaster): enforce tenant and cluster authority
  api_tenants/cmd/quartermaster/main.go
  api_tenants/cmd/quartermaster/purser_client_config_test.go
  api_tenants/internal/grpc/alias_eligibility.go
  api_tenants/internal/grpc/alias_eligibility_test.go
  api_tenants/internal/grpc/billing_entitlements_realpg_test.go
  api_tenants/internal/grpc/billing_entitlements_test.go
  api_tenants/internal/grpc/bootstrap_cluster_access_test.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/bootstrap_tokens_test.go
  api_tenants/internal/grpc/cluster_lifecycle_authorization_test.go
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/cluster_subscription_auth_test.go
  api_tenants/internal/grpc/create_bootstrap_token_test.go
  api_tenants/internal/grpc/create_node_test.go
  api_tenants/internal/grpc/discover_services_test.go
  api_tenants/internal/grpc/foghorn_assignment_test.go
  api_tenants/internal/grpc/get_tenant_entitlement_test.go
  api_tenants/internal/grpc/list_clusters_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/list_nodes_test.go
  api_tenants/internal/grpc/member_reads_test.go
  api_tenants/internal/grpc/navigator_alias_backstop.go
  api_tenants/internal/grpc/navigator_alias_outbox.go
  api_tenants/internal/grpc/navigator_alias_outbox_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
  api_tenants/internal/grpc/navigator_outbox.go
  api_tenants/internal/grpc/node_fingerprint_test.go
  api_tenants/internal/grpc/node_operations_test.go
  api_tenants/internal/grpc/node_owner_test.go
  api_tenants/internal/grpc/privileged_rpc_authorization_test.go
  api_tenants/internal/grpc/retry_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  api_tenants/internal/grpc/tenants_by_cluster_test.go
  api_tenants/internal/grpc/update_node_status_test.go
Due: go-fmt, go-lint

feat(navigator): reconcile entitlement-owned domains
  api_dns/cmd/navigator/config_seed_ack_test.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/custom_domain.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
