Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

add `DISCORD_GUILD_ID` support
  packages/site-config/index.ts
  website_application/src/lib/components/DiscordBadge.svelte
  website_application/src/lib/components/Sidebar.svelte
  website_docs/astro.config.mjs
  website_docs/src/components/DiscordBadge.svelte
  website_docs/src/components/Header.astro
  website_docs/src/components/MobileMenuFooter.astro
  website_marketing/src/components/DiscordBadge.jsx
  website_marketing/src/components/Footer.jsx
  website_marketing/src/components/pages/Contact.jsx
Due: frontend-format, frontend-lint

replace 'coming soon' page with actual error handlers/pages
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/templates.go
  infrastructure/nginx/default.conf
  pkg/maintenance/maintenance.html
Due: go-fmt, go-lint

lint fixes
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_consultant/cmd/skipper/main.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/internal_ca.go
  api_dns/internal/logic/internal_ca_test.go
  api_mesh/cmd/privateer/main.go
  api_realtime/cmd/signalman/main.go
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/grpc/server.go
  api_ticketing/cmd/deckhand/main.go
  cli/cmd/cluster_provision.go
  cli/cmd/edge.go
  cli/pkg/provisioner/caddy_ingress_sync.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/ingress_sync.go
  cli/pkg/provisioner/kafka.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/observability.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/templates.go
  pkg/configgen/configgen.go
  pkg/mist/client.go
Due: go-fmt, go-lint

(major) dep bump
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_consultant/internal/mcpspoke/server_test.go
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  npm_player/playground/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
  pnpm-lock.yaml
  website_application/package.json
  website_application/postcss.config.js
  website_application/vite.config.js
  website_docs/package.json
  website_marketing/package.json
Due: go-fmt, go-lint, frontend-format, frontend-lint

final dep bumps
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/playground/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  package.json
  pnpm-lock.yaml
  website_application/package.json
  website_docs/package.json
  website_marketing/package.json
Due: frontend-format

update make targets for upgrading deps & finding outdated deps
  Makefile
Due: none

leftover env var cleanup
  api_forms/env.example
  config/env/base.env
  docker-compose.yml
  website_application/README.md
  website_application/env.example
  website_application/src/lib/graphql/services/explorer.ts
  website_application/vite.config.js
  website_docs/src/content/docs/operators/deployment-manual.mdx
  website_marketing/Dockerfile
  website_marketing/env.example
  website_marketing/src/components/marketing/skipper/SkipperConversationPreview.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/config.js
  website_marketing/vite.config.js
Due: frontend-format, frontend-lint

rm types that are now available in `TS 6`
  npm_studio/packages/core/src/global.d.ts
  npm_studio/packages/core/src/workers/rtcTransform.worker.ts
Due: frontend-format, frontend-lint

replace removed GH icon with code icon
  website_application/src/lib/iconUtils.ts
  website_application/src/routes/developer/sdks/+page.svelte
Due: frontend-format, frontend-lint

fix pnpm 10 build
  .npmrc
  npm_player/packages/core/rollup.config.js
  npm_player/packages/react/rollup.config.js
  npm_player/packages/wc/rollup.config.js
  npm_studio/packages/core/rollup.config.js
  npm_studio/packages/react/rollup.config.js
  npm_studio/packages/wc/rollup.config.js
  pnpm-workspace.yaml
  website_application/Dockerfile
  website_docs/Dockerfile
  website_marketing/Dockerfile
Due: frontend-format, frontend-lint

bump npm
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
Due: frontend-format

prevent go version drift & bump to `1.26.2` while at it
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/mutation-nightly.yml
  .github/workflows/release.yml
  .go-version
  api_analytics_ingest/Dockerfile
  api_analytics_ingest/go.mod
  api_analytics_query/Dockerfile
  api_analytics_query/go.mod
  api_assets/Dockerfile
  api_assets/go.mod
  api_balancing/Dockerfile
  api_balancing/go.mod
  api_billing/Dockerfile
  api_billing/go.mod
  api_consultant/Dockerfile
  api_consultant/go.mod
  api_control/Dockerfile
  api_control/go.mod
  api_dns/Dockerfile
  api_dns/go.mod
  api_firehose/Dockerfile
  api_firehose/go.mod
  api_forms/Dockerfile
  api_forms/go.mod
  api_gateway/Dockerfile
  api_gateway/go.mod
  api_mesh/go.mod
  api_realtime/Dockerfile
  api_realtime/go.mod
  api_sidecar/Dockerfile
  api_sidecar/go.mod
  api_tenants/Dockerfile
  api_tenants/go.mod
  api_ticketing/Dockerfile
  api_ticketing/go.mod
  cli/go.mod
  pkg/go.mod
  scripts/env/go.mod
Due: frontend-format

ignore generated `shared-styles.ts` for formatting
  .prettierignore
  npm_player/packages/wc/src/styles/shared-styles.ts
  npm_studio/packages/wc/src/styles/shared-styles.ts
Due: frontend-format, frontend-lint

enhance cluster provisionin
  api_control/internal/grpc/server.go
  api_tenants/internal/grpc/server.go
  cli/cmd/admin.go
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/types.go
  pkg/clients/commodore/grpc_client.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
Due: go-fmt, go-lint, frontend-format

update Kafka, phase out Zookeeper
  cli/cmd/cluster_provision.go
  cli/pkg/ansible/playbook.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/provisioner/kafka.go
  config/infrastructure.yaml
  docker-compose.yml
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
Due: go-fmt, go-lint, frontend-format

redundant kafka controller provisioning
  cli/cmd/cluster.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/cmd/cluster_provision_redis_test.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/pkg/ansible/playbook.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/ports.go
  cli/pkg/inventory/types.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/types.go
  cli/pkg/provisioner/kafka.go
  cli/pkg/provisioner/registry.go
  config/infrastructure.yaml
  website_docs/src/content/docs/operators/cluster-manifest.mdx
Due: go-fmt, go-lint, frontend-format

harden provisioning paths
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/ports.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/ingress_sync.go
  cli/pkg/provisioner/livepeer_gateway.go
  cli/pkg/provisioner/livepeer_signer.go
  cli/pkg/provisioner/mock_runner_test.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/observability.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/privateer_test.go
  cli/pkg/provisioner/redis.go
  cli/pkg/provisioner/redis_test.go
  cli/pkg/provisioner/sql_executor.go
  cli/pkg/provisioner/sql_executor_test.go
  cli/pkg/provisioner/zookeeper.go
  pkg/database/sql/schema/listmonk.sql
Due: go-fmt, go-lint

harden provisioning some more
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_query/cmd/periscope/main.go
  api_analytics_query/internal/handlers/billing.go
  api_assets/cmd/chandler/main.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/grpc/server.go
  api_billing/cmd/purser/main.go
  api_consultant/cmd/skipper/main.go
  api_control/cmd/commodore/main.go
  api_dns/cmd/navigator/main.go
  api_firehose/cmd/decklog/main.go
  api_gateway/internal/clients/clients.go
  api_gateway/internal/resolvers/subscription_manager.go
  api_mesh/cmd/privateer/main.go
  api_realtime/cmd/signalman/main.go
  api_sidecar/internal/config/env.go
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/handlers/poller.go
  api_ticketing/cmd/deckhand/main.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/cmd/cluster_provision_test.go
  cli/go.mod
  cli/pkg/credentials/generate.go
  cli/pkg/inventory/parser.go
  cli/pkg/provisioner/caddy_ingress_sync.go
  cli/pkg/provisioner/ingress_sync.go
  cli/pkg/provisioner/livepeer_gateway.go
  cli/pkg/provisioner/livepeer_signer.go
  cli/pkg/provisioner/postgres.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/system/dns.go
  docker-compose.yml
Due: go-fmt, go-lint, frontend-format

finalize/optimize CI workflows
  .github/release-components.json
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/mutation-nightly.yml
  .github/workflows/release.yml
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/selfupdate/updater.go
  cli/pkg/selfupdate/updater_test.go
  docs/architecture/build-and-packaging.md
  scripts/ci/cleanup-signing-keychain.sh
  scripts/ci/setup-signing-keychain.sh
  scripts/install.sh
  scripts/macos-pkg/build-pkg.sh
Due: go-fmt, go-lint, frontend-format

finalize/optimize CI workflows
  .github/actions/setup-node-pnpm/action.yml
  .github/release-components.json
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/mutation-nightly.yml
  .github/workflows/release.yml
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/selfupdate/updater.go
  cli/pkg/selfupdate/updater_test.go
  docs/architecture/build-and-packaging.md
  scripts/ci/cleanup-signing-keychain.sh
  scripts/ci/setup-signing-keychain.sh
  scripts/install.sh
  scripts/macos-pkg/build-pkg.sh
Due: go-fmt, go-lint, frontend-format

makefile cleanup
  Makefile
Due: none

cli: fix (?) remote ssh commmands
  cli/cmd/cluster_geoip.go
  cli/pkg/ssh/client.go
  cli/pkg/ssh/client_test.go
Due: go-fmt, go-lint

improve cli doctor commands
  cli/cmd/cluster.go
  cli/cmd/cluster_doctor_cmd_test.go
  cli/cmd/cluster_doctor_test.go
  cli/cmd/cluster_preflight.go
  cli/cmd/cluster_preflight_test.go
  cli/cmd/cluster_status.go
  cli/cmd/cluster_status_fallback_test.go
  cli/cmd/context_remember.go
  cli/cmd/context_remember_test.go
  cli/cmd/edge.go
  cli/cmd/edge_deploy_test.go
  cli/cmd/edge_service_parse_test.go
  cli/cmd/menu_test.go
  cli/internal/readiness/edge.go
  cli/internal/readiness/edge_stream_test.go
  cli/internal/readiness/readiness.go
  cli/internal/readiness/readiness_test.go
  cli/internal/ux/context.go
  cli/internal/ux/error.go
  cli/internal/ux/nextsteps.go
  cli/internal/ux/ux_test.go
Due: go-fmt, go-lint

fix cli (remote) repo resolve
  cli/cmd/cluster.go
  cli/cmd/cluster_preflight.go
  cli/cmd/cluster_preflight_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_redis_test.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_status.go
  cli/cmd/cluster_upgrade.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/gitops_fetch.go
  cli/pkg/provisioner/livepeer_gateway.go
  cli/pkg/provisioner/livepeer_signer.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/observability.go
  cli/pkg/provisioner/privateer.go
Due: go-fmt, go-lint

fix cli provision race condition
  cli/pkg/ansible/playbook.go
  cli/pkg/orchestrator/dependency.go
  cli/pkg/orchestrator/dependency_test.go
  cli/pkg/orchestrator/types.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/provisioner/zookeeper.go
  cli/pkg/ssh/client.go
Due: go-fmt, go-lint

lint fix
  cli/pkg/ansible/playbook.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/fetcher_test.go
  cli/pkg/orchestrator/dependency.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/zookeeper.go
Due: go-fmt, go-lint

CLI deployment drift checking
  cli/cmd/cluster.go
  cli/cmd/cluster_drift.go
  cli/cmd/cluster_drift_config.go
  cli/cmd/cluster_drift_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_dryrun.go
  cli/cmd/cluster_provision_dryrun_test.go
  cli/cmd/edge.go
  cli/cmd/edge_drift.go
  cli/cmd/edge_drift_test.go
  cli/cmd/exitcode.go
  cli/internal/compare/compare.go
  cli/internal/compare/compare_test.go
  cli/internal/compare/runner.go
  cli/internal/compare/runner_test.go
  cli/internal/templates/edge.go
  cli/internal/templates/edge_test.go
  cli/main.go
  cli/pkg/ansible/playbook.go
  cli/pkg/artifacts/env.go
  cli/pkg/artifacts/env_test.go
  cli/pkg/artifacts/types.go
  cli/pkg/artifacts/types_test.go
  cli/pkg/provisioner/artifacts.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/edge_artifacts.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/meta.go
  cli/pkg/provisioner/observability.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/provisioner/redis.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/provisioner/zookeeper.go
Due: go-fmt, go-lint

cli pkg dep install fixes
  cli/pkg/ansible/install_snippets.go
  cli/pkg/ansible/install_snippets_test.go
  cli/pkg/ansible/playbook.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/provisioner/zookeeper.go
Due: go-fmt, go-lint

cli: better pinning of external artefacts for provisioning
  cli/cmd/cluster_provision.go
  cli/pkg/ansible/download_snippets.go
  cli/pkg/ansible/download_snippets_test.go
  cli/pkg/ansible/playbook.go
  cli/pkg/gitops/types.go
  cli/pkg/provisioner/artifact_resolver.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/kafka.go
  cli/pkg/provisioner/observability.go
  cli/pkg/provisioner/postgres.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/provisioner/yugabyte_test.go
  cli/pkg/provisioner/zookeeper.go
  config/infrastructure.yaml
Due: go-fmt, go-lint, frontend-format

add make targets to test a specific service
  Makefile
Due: none

better version number handling/insertion
  .github/workflows/release.yml
  Makefile
  api_forms/Dockerfile
  api_ticketing/Dockerfile
  cli/VERSION
Due: frontend-format

improve tarball handling & dep version matching
  cli/pkg/ansible/install_snippets.go
  cli/pkg/ansible/install_snippets_test.go
  cli/pkg/ansible/playbook.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/yugabyte.go
  cli/pkg/provisioner/zookeeper.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
