Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Cover billing reconciliation edge cases
  api_billing/internal/stripe/client_test.go
  api_billing/internal/tieraccess/reconcile.go
  api_billing/internal/tieraccess/reconcile_test.go
Due: go-fmt, go-lint

Add outbox and geo regression tests
  api_balancing/internal/artifactoutbox/outbox_test.go
  api_balancing/internal/geo/bucket_test.go
  pkg/geoip/bucket_test.go
  pkg/geoip/cached_lookup_test.go
Due: go-fmt, go-lint

Map live metadata seeks to Mist timeline
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/SeekingUtils.ts
  npm_player/packages/core/test/__snapshots__/public-api-snapshot.test.ts.snap
  npm_player/packages/core/test/seeking-utils.test.ts
Due: frontend-format, frontend-lint

Validate Livepeer renditions by requested height
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

Anchor metadata seeks on socket range
  npm_player/packages/core/src/core/MetaTrackManager.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/test/meta-track-manager.test.ts
Due: frontend-format, frontend-lint

Cover backend pure logic invariants
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/jobs/chapter_finalization_queue_test.go
  api_balancing/internal/jobs/job_router_test.go
  api_balancing/internal/orchestrator/rollout_purelogic_test.go
  pkg/mist/purelogic_test.go
  pkg/turnstile/validator_test.go
Due: go-fmt, go-lint

Cover Stripe billing edge cases
  api_billing/internal/handlers/payment_status_test.go
  api_billing/internal/stripe/meter_flusher.go
  api_billing/internal/stripe/meter_flusher_test.go
Due: go-fmt, go-lint

Guard GeoIP event field enrichment
  pkg/geoip/applygeofields_test.go
  pkg/geoip/geoip.go
Due: go-fmt, go-lint

Ignore local Playwright CLI captures
  .gitignore
Due: none

Treat B-frame WebRTC streams as audio-only
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/detector.ts
  npm_player/packages/core/test/detector.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
Due: frontend-format, frontend-lint

Avoid partial fMP4 appends in VideoJS
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

Stabilize DASH and CMAF player fallback
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
Due: frontend-format, frontend-lint

Harden packaged player startup fallback
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

Keep wrapped player seek ranges native
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

Use native MSE live durations in wrapped players
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

Harden processing fallback teardown
  api_sidecar/internal/dtsh/validate_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
  api_sidecar/internal/storage/trigger_wal_test.go
  pkg/mist/client.go
  pkg/mist/client_test.go
Due: go-fmt, go-lint

Propagate upload sizes in relay resolves
  api_balancing/internal/control/relay_resolve.go
  api_balancing/internal/control/relay_resolve_test.go
Due: go-fmt, go-lint

Fix telemetry retention and runtime snapshots
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
  api_analytics_query/internal/grpc/player_experience_timeseries_test.go
  api_analytics_query/internal/grpc/server.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/control/trigger_forwarder_test.go
  api_sidecar/internal/handlers/trigger_wal_admin.go
  cli/cmd/cluster_logs.go
  cli/cmd/cluster_logs_test.go
  npm_player/packages/react/src/hooks/useViewerEndpoints.ts
  npm_player/packages/svelte/src/stores/viewerEndpoints.ts
  pkg/database/sql/clickhouse/periscope.sql
  pkg/graphql/operations/fragments/PlaybackMetadataFields.gql
Due: go-fmt, go-lint, frontend-format, frontend-lint

Add service invariant regression tests
  api_balancing/internal/control/trigger_classify_test.go
  api_balancing/internal/triggers/operational_mode_test.go
  api_consultant/internal/diagnostics/format_report_test.go
  api_consultant/internal/knowledge/ssrf_allowlist_test.go
  api_consultant/internal/notify/preferences_test.go
  api_consultant/internal/skipper/resolve_auth_type_test.go
  api_control/internal/bootstrap/accounts_validate_test.go
  api_control/internal/grpc/invalidation_outbox_claim_test.go
  api_control/internal/grpc/playback_policy_resolve_test.go
  api_sidecar/internal/leases/dvr_paths_test.go
  api_sidecar/internal/leases/streamname_test.go
  api_sidecar/internal/updater/checksum_test.go
  api_tenants/internal/bootstrap/validators_test.go
  api_tenants/internal/grpc/navigator_alias_outbox_claim_test.go
Due: go-fmt, go-lint

Require explicit seek hint opt-in
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/test/player-interface.test.ts
Due: frontend-format, frontend-lint

fix lint
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
Due: go-fmt, go-lint

Fix HLS startup readiness and recovery
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/hls-js-player.test.ts
Due: frontend-format, frontend-lint

Align wrapper lifecycle with controller state
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/player-controller-cold-boot.test.ts
Due: frontend-format, frontend-lint

Stabilize adaptive player live-edge handling
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

Centralize durable Mist trigger registration
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_mist_trigger_test.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go-fmt, go-lint

Fix processing output track selection
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

Fix native Helmsman install permissions
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/templates/helmsman.service.j2
  api_sidecar/internal/config/manager.go
Due: go-fmt, go-lint, frontend-format

Fix stream runtime FINAL alias order
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
Due: go-fmt, go-lint

Route processing by class and select complete artifact tracks
  api_balancing/internal/balancer/balancer_test.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/jobs/chapter_finalization_queue_test.go
  api_balancing/internal/jobs/job_router.go
  api_balancing/internal/jobs/job_router_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_dispatch_test.go
  api_balancing/internal/jobs/processing_dispatcher_hls_test.go
  api_balancing/internal/jobs/processing_dispatcher_recovery_test.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_balancing/internal/state/cluster_load_test.go
  api_balancing/internal/state/processing_classes_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_artifact_test.go
  api_balancing/internal/state/stream_state_bandwidth_test.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_allowance_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_clip.go
  api_sidecar/internal/handlers/processing_count_test.go
  api_sidecar/internal/handlers/processing_selector.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
  pkg/mist/triggers_test.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go-fmt, go-lint

Add coverage for billing and analytics edge cases
  api_analytics_ingest/internal/handlers/api_request_batch_audit_test.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
  api_analytics_ingest/internal/handlers/stale_close_test.go
  api_analytics_ingest/internal/handlers/storage_tenant_test.go
  api_analytics_ingest/internal/handlers/stream_lifecycle_buffer_test.go
  api_analytics_query/internal/handlers/billing_divergence_test.go
  api_billing/internal/handlers/jobs_credit_tx_test.go
  api_billing/internal/handlers/jobs_prepaid_micro_test.go
  api_billing/internal/handlers/jobs_pure_test.go
  api_billing/internal/handlers/prepaid_usage_currency_test.go
  api_billing/internal/handlers/webhooks_money_test.go
  api_control/internal/grpc/policy_target_test.go
  api_control/internal/grpc/service_event_outbox_claim_test.go
  api_gateway/internal/resolvers/artifact_storage_state_test.go
  api_gateway/internal/resolvers/billing_aggregates_test.go
  api_gateway/internal/resolvers/billing_connection_guard_test.go
Due: go-fmt, go-lint

Display typed stream track metadata
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/track_list_decode.go
  api_analytics_query/internal/grpc/track_list_decode_test.go
  pkg/graphql/operations/fragments/StreamMetricsListFields.gql
  website_application/src/lib/components/dashboard/PrimaryStreamCard.svelte
  website_application/src/lib/components/stream-details/OverviewTabPanel.svelte
  website_application/src/lib/components/stream-details/StreamCard.svelte
  website_application/src/lib/utils/track-display.test.ts
  website_application/src/lib/utils/track-display.ts
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

chore: sync generated GraphQL queries
  app_mac/Sources/Gateway/GeneratedQueries.swift
Due: none

fix webapp stream metric type boundaries
  website_application/src/lib/components/ClipModal.svelte
  website_application/src/lib/components/cards/NodeCard.svelte
  website_application/src/lib/components/cards/StreamCard.svelte
  website_application/src/lib/components/dashboard/PrimaryStreamCard.svelte
  website_application/src/lib/components/infrastructure/NodeCard.svelte
  website_application/src/lib/components/stream-details/OverviewTabPanel.svelte
  website_application/src/lib/components/stream-details/StreamCard.svelte
  website_application/src/lib/utils/stream-metrics-display.test.ts
  website_application/src/lib/utils/stream-metrics-display.ts
  website_application/src/routes/+page.svelte
Due: frontend-format, frontend-lint

Stabilize DASH and CMAF wrapper startup
  npm_player/packages/core/src/core/ErrorClassifier.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/error-classifier.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/player-manager.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

Wait for processing tracks before publishing
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_paths_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_clip.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

Expand stream routing and DVR state coverage
  api_balancing/internal/control/dvr_chapter_generator_test.go
  api_balancing/internal/control/dvr_finalize_test.go
  api_balancing/internal/grpc/server_helpers_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/playback_redirect_test.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/handlers/routing_helpers_test.go
  api_balancing/internal/state/extract_tracks_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/state/virtual_viewer_stats_test.go
Due: go-fmt, go-lint

Harden billing settlement helpers
  api_billing/internal/bootstrap/equality_test.go
  api_billing/internal/bootstrap/overlay_merge_test.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_abi_test.go
  api_billing/internal/handlers/x402_reconciler.go
  pkg/billing/currency_test.go
Due: go-fmt, go-lint

Use scalar-free GraphQL complexity limits
  api_gateway/cmd/bridge/main.go
  api_gateway/graph/complexity.go
  api_gateway/graph/complexity_extension.go
  api_gateway/graph/complexity_test.go
  api_gateway/internal/resolvers/streams.go
Due: go-fmt, go-lint

Add backend edge-case coverage
  api_analytics_query/internal/grpc/player_experience_timeseries_test.go
  api_analytics_query/internal/grpc/server.go
  pkg/auth/jwt_es256_unverified_test.go
  pkg/datamigrate/preflight_test.go
  pkg/mesh/alloc_test.go
  pkg/servicedefs/servicedefs_test.go
Due: go-fmt, go-lint

Polish application UI copy and metrics
  website_application/src/lib/components/charts/VodRetentionAssetPicker.svelte
  website_application/src/routes/+page.svelte
  website_application/src/routes/analytics/player-experience/+page.svelte
  website_application/src/routes/analytics/usage/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/routes/library/+page.svelte
  website_application/src/routes/messages/+page.svelte
  website_application/src/routes/streams/+page.svelte
  website_application/src/routes/streams/[id]/analytics/+page.svelte
  website_application/src/routes/streams/[id]/health/+page.svelte
Due: frontend-format, frontend-lint
