Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

make a dent in new stricter golang linter results
  api_analytics_query/internal/handlers/datetime_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_billing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/dns.go
  api_gateway/internal/mcp/tools/billing.go
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/resolver.go
  api_mesh/internal/wireguard/linux.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/storage_manager.go
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_restore.go
  cli/cmd/context.go
  cli/cmd/edge.go
  cli/pkg/ansible/inventory.go
  cli/pkg/orchestrator/dependency.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/privateer.go
  pkg/clients/failsafe.go
  pkg/clients/retry.go
  pkg/clients/retry_test.go
Due: go-fmt, go-lint

make a dent in new stricter golang linter results
  api_analytics_query/cmd/periscope/main.go
  api_analytics_query/internal/handlers/datetime_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_billing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/dns.go
  api_gateway/internal/mcp/tools/billing.go
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/resolvers/analytics.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/resolver.go
  api_mesh/internal/wireguard/linux.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/storage_manager.go
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_restore.go
  cli/cmd/context.go
  cli/cmd/edge.go
  cli/pkg/ansible/inventory.go
  cli/pkg/orchestrator/dependency.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/provisioner/privateer.go
  pkg/clients/failsafe.go
  pkg/clients/retry.go
  pkg/clients/retry_test.go
Due: go-fmt, go-lint

add nolint's for expected warnings
  api_balancing/internal/control/repos.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/gaswallet.go
  api_billing/internal/handlers/hdwallet.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_reconciler.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/storage_manager.go
  api_tenants/internal/grpc/server.go
  cli/pkg/detect/detector.go
Due: go-fmt, go-lint

tackle a bunch more linter warnings
  api_analytics_query/internal/grpc/server.go
  api_balancing/internal/control/server.go
  api_billing/internal/grpc/server.go
  api_billing/internal/mollie/client.go
  api_control/internal/grpc/server.go
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/dns.go
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/usage_tracker.go
  api_gateway/internal/resolvers/infrastructure.go
  api_mesh/internal/dns/server.go
  api_mesh/internal/wireguard/linux.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/storage_manager.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_restore.go
  cli/pkg/provisioner/kafka.go
  cli/pkg/ssh/client.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/failsafe_grpc.go
  pkg/clients/signalman/grpc_client.go
  pkg/testutil/websocket_mock.go
Due: go-fmt, go-lint

country code validation
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/x402.go
  api_gateway/internal/mcp/tools/account.go
  pkg/countries/countries.go
  website_application/Dockerfile
  website_application/src/routes/settings/+page.svelte
  website_docs/Dockerfile
  website_marketing/Dockerfile
Due: go-fmt, go-lint, frontend-format, frontend-lint

ignore agent plants/reports
  .gitignore
Due: none

make seed data 7d
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
Due: none

tweak agents instructions
  AGENTS.md
Due: frontend-format

fix player controls
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/styles/player.css
  npm_player/packages/react/package.json
  npm_player/packages/react/src/components/PlayerControls.tsx
  npm_player/packages/react/src/ui/slider.tsx
  npm_player/packages/svelte/package.json
  npm_player/packages/svelte/src/PlayerControls.svelte
  npm_player/packages/svelte/src/ui/Slider.svelte
Due: frontend-format, frontend-lint

Webapp tweaks
  website_application/src/lib/components/dashboard/DynamicHints.svelte
  website_application/src/lib/components/dashboard/LiveStreamHealthCards.svelte
  website_application/src/lib/components/dashboard/ServiceStatusList.svelte
  website_application/src/lib/iconUtils.ts
  website_application/src/routes/+page.svelte
  website_application/src/routes/account/billing/+page.svelte
  website_application/src/routes/developer/sdks/+page.svelte
Due: frontend-format, frontend-lint

enable playground to work from remote machines as well
  npm_player/playground/vite.config.ts
Due: frontend-format, frontend-lint

add volume scroll to player & fix player lint
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/react/src/components/DvdLogo.tsx
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/components/PlayerControls.tsx
  npm_player/packages/react/src/components/PlayerErrorBoundary.tsx
  npm_player/packages/svelte/src/PlayerControls.svelte
  package.json
  pnpm-lock.yaml
Due: frontend-format, frontend-lint

fix deckhand auth
  api_ticketing/cmd/deckhand/main.go
  docker-compose.yml
Due: go-fmt, go-lint, frontend-format

npm_player: better error handling
  npm_player/packages/core/src/core/ErrorClassifier.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/PlayerRegistry.ts
  npm_player/packages/core/src/index.ts
  npm_player/packages/react/src/components/Player.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
Due: frontend-format, frontend-lint

linter fixes
  npm_player/packages/svelte/src/DevModePanel.svelte
  npm_player/packages/svelte/src/Icons.svelte
  npm_player/packages/svelte/src/IdleScreen.svelte
  npm_player/packages/svelte/src/LoadingScreen.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/PlayerControls.svelte
  npm_player/packages/svelte/src/SeekBar.svelte
  npm_player/packages/svelte/src/StreamStateOverlay.svelte
  npm_player/packages/svelte/src/stores/viewerEndpoints.ts
  npm_player/packages/svelte/src/ui/Badge.svelte
  npm_player/packages/svelte/src/ui/Button.svelte
  npm_player/packages/svelte/src/ui/context-menu/ContextMenuCheckboxItem.svelte
  npm_player/packages/svelte/src/ui/context-menu/ContextMenuRadioItem.svelte
  npm_studio/packages/core/src/core/IngestControllerV2.ts
  npm_studio/packages/core/src/workers/compositor.worker.ts
  npm_studio/packages/svelte/src/components/AdvancedPanel.svelte
  npm_studio/packages/svelte/src/stores/audioLevels.svelte.ts
  npm_studio/packages/svelte/src/stores/devices.svelte.ts
  npm_studio/packages/svelte/src/stores/screenCapture.svelte.ts
  npm_studio/packages/svelte/src/stores/streamStats.svelte.ts
  website_application/eslint.config.js
  website_application/src/lib/components/stream-details/ArtefactsTabPanel.svelte
  website_application/src/lib/components/stream-details/HealthSidebar.svelte
  website_application/src/lib/components/stream-details/StreamSetupPanel.svelte
  website_application/src/routes/+page.svelte
  website_application/src/routes/developer/sdks/+page.svelte
  website_application/src/types/leaflet.heat.d.ts
Due: frontend-format, frontend-lint

bump & more lint fixes
  api_analytics_query/go.mod
  api_analytics_query/go.sum
  api_analytics_query/internal/grpc/server.go
  api_billing/cmd/purser/main.go
  api_billing/go.mod
  api_billing/go.sum
  api_billing/internal/handlers/init.go
  api_dns/go.mod
  api_dns/go.sum
  api_dns/internal/logic/dns.go
Due: go-fmt, go-lint

go mod tidy
  api_analytics_ingest/go.mod
  api_analytics_ingest/go.sum
  api_balancing/go.mod
  api_balancing/go.sum
  api_control/go.mod
  api_control/go.sum
  api_firehose/go.mod
  api_firehose/go.sum
  api_forms/go.mod
  api_forms/go.sum
  api_gateway/go.mod
  api_gateway/go.sum
  api_mesh/go.mod
  api_mesh/go.sum
  api_realtime/go.mod
  api_realtime/go.sum
  api_sidecar/go.mod
  api_sidecar/go.sum
  api_tenants/go.mod
  api_tenants/go.sum
  api_ticketing/go.mod
  api_ticketing/go.sum
  cli/go.mod
  cli/go.sum
Due: none

Add vitest harness + coverage artifacts
  .github/workflows/ci.yml
  npm_player/packages/core/package.json
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/core/vitest.config.ts
  npm_studio/packages/core/package.json
  npm_studio/packages/core/test/event-emitter.test.ts
  npm_studio/packages/core/test/reconnection-manager.test.ts
  npm_studio/packages/core/test/whip-client.test.ts
  npm_studio/packages/core/vitest.config.ts
  package.json
  pnpm-lock.yaml
Due: frontend-format, frontend-lint

full CI coverage
  .github/workflows/ci.yml
  Makefile
  npm_player/packages/react/package.json
  npm_player/packages/react/test/setup.test.tsx
  npm_player/packages/react/vitest.config.ts
  npm_player/packages/svelte/package.json
  npm_player/packages/svelte/test/setup.test.ts
  npm_player/packages/svelte/vitest.config.ts
  npm_studio/packages/react/package.json
  npm_studio/packages/react/test/setup.test.tsx
  npm_studio/packages/react/vitest.config.ts
  npm_studio/packages/svelte/package.json
  npm_studio/packages/svelte/test/setup.test.ts
  npm_studio/packages/svelte/vitest.config.ts
  pnpm-lock.yaml
  website_application/package.json
  website_application/test/setup.test.ts
  website_application/vitest.config.ts
Due: frontend-format, frontend-lint

fix minor CI failures
  .github/workflows/ci.yml
  npm_player/packages/core/src/styles/player.css
  npm_studio/packages/core/vitest.config.ts
Due: frontend-format, frontend-lint

npx -> pnpm 😮‍💨
  .github/workflows/ci.yml
Due: frontend-format

Test harness + code coverage artifacts (vitest) (#60)
  .github/workflows/ci.yml
  Makefile
  npm_player/packages/core/package.json
  npm_player/packages/core/src/styles/player.css
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/core/vitest.config.ts
  npm_player/packages/react/package.json
  npm_player/packages/react/test/setup.test.tsx
  npm_player/packages/react/vitest.config.ts
  npm_player/packages/svelte/package.json
  npm_player/packages/svelte/test/setup.test.ts
  npm_player/packages/svelte/vitest.config.ts
  npm_studio/packages/core/package.json
  npm_studio/packages/core/test/event-emitter.test.ts
  npm_studio/packages/core/test/reconnection-manager.test.ts
  npm_studio/packages/core/test/whip-client.test.ts
  npm_studio/packages/core/vitest.config.ts
  npm_studio/packages/react/package.json
  npm_studio/packages/react/test/setup.test.tsx
  npm_studio/packages/react/vitest.config.ts
  npm_studio/packages/svelte/package.json
  npm_studio/packages/svelte/test/setup.test.ts
  npm_studio/packages/svelte/vitest.config.ts
  package.json
  pnpm-lock.yaml
  website_application/package.json
  website_application/test/setup.test.ts
  website_application/vitest.config.ts
Due: frontend-format, frontend-lint

CI on master branch, depr dev branches
  .github/workflows/ci.yml
Due: frontend-format

Enable codecov
  .github/workflows/ci.yml
  README.md
  codecov.yml
Due: frontend-format

Add manual 'force' button for CI
  .github/workflows/ci.yml
Due: frontend-format

Add codecov secret
  .github/workflows/ci.yml
Due: frontend-format

codecov bundle & test analytics
  .github/workflows/ci.yml
  Makefile
  npm_player/packages/core/rollup.config.js
  npm_player/packages/core/test-results/junit.xml
  npm_player/packages/core/vitest.config.ts
  npm_player/packages/react/rollup.config.js
  npm_player/packages/react/vitest.config.ts
  npm_player/packages/svelte/vitest.config.ts
  npm_studio/packages/core/rollup.config.js
  npm_studio/packages/core/vitest.config.ts
  npm_studio/packages/react/rollup.config.js
  npm_studio/packages/react/vitest.config.ts
  npm_studio/packages/svelte/vitest.config.ts
  package.json
  pnpm-lock.yaml
  website_application/vite.config.js
  website_application/vitest.config.ts
  website_docs/astro.config.mjs
  website_marketing/vite.config.js
Due: frontend-format, frontend-lint

don't minimize player-react
  npm_player/packages/react/rollup.config.js
Due: frontend-format, frontend-lint

codecov/test-results-action@v1 -> codecov/codecov-action@v5
  .github/workflows/ci.yml
Due: frontend-format

stop bundling SDK's
  npm_player/packages/core/package.json
  npm_player/packages/core/rollup.config.js
  npm_player/packages/core/tsconfig.json
  npm_player/packages/react/package.json
  npm_player/packages/react/rollup.config.js
  npm_player/packages/react/tsconfig.json
  npm_studio/packages/core/package.json
  npm_studio/packages/core/rollup.config.js
  npm_studio/packages/core/tsconfig.json
  npm_studio/packages/react/package.json
  npm_studio/packages/react/rollup.config.js
  npm_studio/packages/react/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: frontend-format, frontend-lint

fix ci codecov test tracking
  .github/workflows/ci.yml
  .gitignore
  Makefile
Due: frontend-format

fix(webapp): import formatNumber in OverviewTabPanel
  website_application/src/lib/components/stream-details/OverviewTabPanel.svelte
Due: frontend-format, frontend-lint

fix(webapp): import formatNumber in OverviewTabPanel (#69)
  website_application/src/lib/components/stream-details/OverviewTabPanel.svelte
Due: frontend-format, frontend-lint

ci: add CI passed gate for branch protection
  .github/workflows/ci.yml
Due: frontend-format

ci: fix CI passed gate when all jobs skipped
  .github/workflows/ci.yml
Due: frontend-format

ci: add CI passed gate for branch protection (#70)
  .github/workflows/ci.yml
Due: frontend-format

fixes to vod/dvr/clipping artefacts
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/storage_usage.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/jobs/orphan_cleanup.go
  api_balancing/internal/jobs/retention.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/processor.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/storage_manager.go
  docs/architecture/clips-dvr.md
  docs/rfcs/vod-upload-validation.md
  infrastructure/demo-recordings/dvr/5eedfeed-11fe-ca57-feed-11feca570001/fedcba98765432109876543210fedcba/fedcba98765432109876543210fedcba.m3u8
  infrastructure/demo-recordings/dvr/5eedfeed-11fe-ca57-feed-11feca570001/fedcba98765432109876543210fedcba/segments/segment_0.ts
  infrastructure/demo-recordings/dvr/5eedfeed-11fe-ca57-feed-11feca570001/fedcba98765432109876543210fedcba/segments/segment_1.ts
  pkg/database/sql/schema/foghorn.sql
  pkg/database/sql/seeds/demo/demo_data.sql
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint, frontend-format, frontend-lint

GraphQL Complexity Fix
  api_gateway/cmd/bridge/main.go
  api_gateway/graph/complexity.go
  pkg/graphql/operations/queries/GetAPIUsageConnection.gql
  pkg/graphql/operations/queries/GetBalanceTransactions.gql
Due: go-fmt, go-lint
