Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

fix(edge): reload Mist updates in place
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/handlers/main.yml
  api_balancing/internal/orchestrator/node_update.go
  api_balancing/internal/orchestrator/phase_redrive_test.go
  api_balancing/internal/orchestrator/reconciler.go
  api_balancing/internal/orchestrator/reconciler_test.go
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/node_mode_sync_test.go
  api_balancing/internal/state/operational_mode_test.go
  api_balancing/internal/state/rehydrate_coverage_test.go
  api_balancing/internal/state/stream_state.go
  api_sidecar/internal/edgeseed/seed.go
  api_sidecar/internal/updater/component.go
  api_sidecar/internal/updater/component_fs_more_test.go
  api_sidecar/internal/updater/component_fs_test.go
  api_sidecar/internal/updater/component_swap_darwin.go
  api_sidecar/internal/updater/component_swap_linux.go
  api_sidecar/internal/updater/component_swap_other.go
  api_sidecar/internal/updater/component_test.go
  api_sidecar/internal/updater/procctl_launchd.go
  api_sidecar/internal/updater/procctl_mist_reload_linux.go
  api_sidecar/internal/updater/procctl_mist_reload_other.go
  api_sidecar/internal/updater/procctl_s6.go
  api_sidecar/internal/updater/procctl_s6_signal_linux.go
  api_sidecar/internal/updater/procctl_s6_signal_linux_test.go
  api_sidecar/internal/updater/procctl_systemd.go
  cli/cmd/edge.go
  cli/cmd/edge_test.go
  docs/architecture/edge-deployment.md
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

fix(cli): make cluster diff authoritative
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/vars/main.yml
  cli/cmd/cluster_apply.go
  cli/cmd/cluster_diff.go
  cli/cmd/cluster_diff_pure_test.go
  cli/pkg/ansiblerun/outputer.go
  cli/pkg/ansiblerun/outputer_test.go
  cli/pkg/provisioner/architecture_guard_test.go
  cli/pkg/provisioner/role_provisioner.go
  cli/pkg/provisioner/types.go
Due: go-fmt, go-lint, frontend-format

fix(billing): normalize prepaid balance currencies
  Makefile
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/operational_guards_realpg_test.go
  api_billing/internal/handlers/prepaid_currency_migration_realpg_test.go
  cli/internal/releases/catalog.yaml
  pkg/database/sql/migrations/purser/v0.3.7/contract/001_prepaid_balance_currency_iso.sql
  pkg/database/sql/migrations/purser/v0.3.7/postdeploy/001_merge_prepaid_balance_currency_case.sql
  pkg/database/sql/schema/purser.sql
Due: go-fmt, go-lint, frontend-format

docs(vod): design edge-terminated uploads
  docs/rfcs/edge-terminated-vod-upload.md
  docs/rfcs/vod-upload-validation.md
Due: frontend-format

feat(marketing): tell unified streaming platform story
  website_marketing/scripts/check-prerender-output.mjs
  website_marketing/src/components/Navigation.jsx
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/StreamJourney.jsx
  website_marketing/src/styles/pages/landing.css
Due: frontend-format, frontend-lint

fix(helmsman): satisfy Mist reload lint contract
  api_sidecar/internal/updater/procctl_s6_signal_linux.go
  api_sidecar/internal/updater/procctl_s6_signal_linux_test.go
Due: go-fmt, go-lint

fix(provisioner): run binary normalization with bash
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  cli/pkg/provisioner/architecture_guard_test.go
Due: go-fmt, go-lint, frontend-format

chore(release): target multiregion closure at v0.3.8
  api_control/internal/placementpolicy/pull_source_pins_migration.go
  api_dns/internal/database/navigatordb/query_catalog_realpg_test.go
  api_dns/internal/store/store_realpg_test.go
  cli/cmd/cluster_migrate_databases_test.go
  docs/architecture/lookout.md
  docs/architecture/media-placement-policy.md
  pkg/database/sql/migrations/navigator/v0.3.8/expand/001_custom_domain_single_lifecycle.sql
  pkg/database/sql/migrations/navigator/v0.3.8/postdeploy/001_delete_custom_domain_exact_certificates.sql
  pkg/database/sql/migrations/quartermaster/v0.3.8/expand/001_cluster_control_cell_reassignment.sql
  pkg/database/sql/migrations/quartermaster/v0.3.8/expand/002_service_event_outbox_scope_and_lease_token.sql
  pkg/database/sql/migrations/quartermaster/v0.3.8/postdeploy/001_validate_cluster_control_cell_reassignment_state.sql
  pkg/database/sql/migrations/quartermaster/v0.3.8/postdeploy/002_validate_service_event_outbox_scope.sql
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(platform): preserve node policy after rebase
  api_balancing/internal/federation/placement_media_paths_test.go
  api_balancing/internal/federation/placement_media_serve_runtime.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(release): unblock first-time service convergence
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/install.yml
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/pkg/ansiblerun/executor.go
  cli/pkg/ansiblerun/executor_test.go
  cli/pkg/provisioner/kafka_mirrormaker_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(observability): preserve vmalert rule templates
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmalert.yml
  cli/pkg/provisioner/prometheus_stack_role.go
  cli/pkg/provisioner/prometheus_stack_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(playback): restore Mist protocol authority
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/control/viewer_placement.go
  api_balancing/internal/control/viewer_placement_test.go
  api_balancing/internal/federation/placement_media_serve_runtime.go
  api_balancing/internal/federation/placement_outputs.go
  api_balancing/internal/federation/placement_push_runtime.go
  api_balancing/internal/federation/placement_transport.go
  api_balancing/internal/grpc/placement_preparers_test.go
  api_balancing/internal/grpc/viewer_endpoint_happy_coverage_test.go
  api_balancing/internal/grpc/viewer_placement_test.go
  api_balancing/internal/handlers/viewer_credentials_test.go
  api_balancing/internal/handlers/viewer_placement_http_test.go
  api_balancing/internal/handlers/viewer_placement_test.go
  docs/architecture/media-placement-policy.md
  npm_player/README.md
  npm_player/package.json
  npm_player/packages/core/README.md
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/test/player-controller-placement.test.ts
  npm_player/packages/core/test/player-controller-stream-info.test.ts
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  pkg/graphql/schema.graphql
  pkg/mist/playback_endpoints.go
  pkg/mist/playback_endpoints_test.go
  pkg/proto/media_placement.proto
  pkg/proto/media_placement/media_placement.pb.go
  pkg/proto/shared.proto
  pkg/proto/shared/shared.pb.go
  website_docs/src/content/docs/builders/media-placement.mdx
  website_docs/src/content/docs/operators/media-placement.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(billing): classify crypto scanner failures
  api_billing/cmd/purser/main.go
  api_billing/internal/handlers/crypto_scanner.go
  api_billing/internal/handlers/crypto_scanner_test.go
Due: go-fmt, go-lint

fix(observability): make incident alerts actionable
  api_incidents/internal/database/lookoutdb/incidents.sql.go
  api_incidents/internal/database/queries/incidents.sql
  api_incidents/internal/incidents/alertmanager.go
  api_incidents/internal/incidents/ingest.go
  api_incidents/internal/incidents/service_realpg_test.go
  api_incidents/internal/incidents/unit_test.go
  api_incidents/internal/notify/dispatcher_test.go
  api_incidents/internal/notify/messages.go
  pkg/grafana/rules/frameworks.yml
Due: go-fmt, go-lint, frontend-format

fix(web): expose incident detail actions
  website_application/src/lib/components/incidents/IncidentTable.svelte
  website_application/test/components/incidents.test.ts
Due: frontend-format, frontend-lint

docs(release): clarify managed migration steps
  docs/standards/release-notes.md
Due: frontend-format

chore(release): declare v0.3.9
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
Due: go-fmt, go-lint, frontend-format

feat(steward): emit operator activity events
  api_firehose/internal/grpc/platform_service_event_test.go
  api_forms/README.md
  api_forms/cmd/steward/main.go
  api_forms/env.example
  api_forms/go.mod
  api_forms/internal/handlers/activity.go
  api_forms/internal/handlers/contact.go
  api_forms/internal/handlers/contact_test.go
  api_forms/internal/handlers/interfaces.go
  api_forms/internal/handlers/subscribe.go
  api_forms/internal/handlers/subscribe_test.go
  docker-compose.yml
  docs/architecture/service-events.md
  docs/architecture/steward.md
  pkg/clients/decklog/client.go
  pkg/clients/decklog/interface.go
  pkg/serviceevents/scope.go
  pkg/serviceevents/scope_test.go
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
Due: go-fmt, go-lint, frontend-format

feat(lookout): add operator activity outbox
  api_incidents/internal/database/lookoutdb/activity_outbox.sql.go
  api_incidents/internal/database/lookoutdb/querier.go
  api_incidents/internal/database/queries/activity_outbox.sql
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
  pkg/database/capabilities.go
  pkg/database/sql/migrations/lookout/v0.3.10/expand/001_operator_activity_outbox.sql
  pkg/database/sql/schema/lookout.sql
Due: go-fmt, go-lint, frontend-format

feat(lookout): deliver operator activity notifications
  Makefile
  api_incidents/README.md
  api_incidents/cmd/lookout/main.go
  api_incidents/internal/config/config.go
  api_incidents/internal/incidents/metrics.go
  api_incidents/internal/notify/activity.go
  api_incidents/internal/notify/activity_test.go
  api_incidents/internal/notify/outbox_realpg_test.go
  api_incidents/internal/notify/retention.go
  api_incidents/internal/ownership/consumer.go
  docs/architecture/lookout.md
  website_docs/src/content/docs/operators/alerting.mdx
Due: go-fmt, go-lint, frontend-format

fix(release): align lookout migration with v0.3.9
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
  pkg/database/sql/migrations/lookout/v0.3.9/expand/001_operator_activity_outbox.sql
Due: go-fmt, go-lint, frontend-format

fix(ops): stabilize production health recovery
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/templates/Caddyfile.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  api_billing/internal/handlers/crypto_scanner.go
  api_billing/internal/handlers/crypto_scanner_test.go
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/handlers/trigger_wal_admin.go
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_test.go
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_tenants/internal/database/quartermasterdb/report_alive_adapter.go
  api_tenants/internal/database/quartermasterdb/report_alive_adapter_test.go
  api_tenants/internal/database/quartermasterdb/service_registry_adapter.go
  api_tenants/internal/grpc/list_service_instances_by_type_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
  cli/cmd/cluster_diagnose.go
  cli/cmd/cluster_diagnose_test.go
  cli/cmd/cluster_drift.go
  cli/cmd/cluster_drift_test.go
  cli/cmd/dns.go
  cli/cmd/dns_seam_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/detect/detector.go
  cli/pkg/detect/detector_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  docs/architecture/multiregion.md
  docs/architecture/trigger-durability.md
  pkg/kafka/consumer.go
  pkg/kafka/consumer_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/dns.mdx
Due: go-fmt, go-lint, frontend-format

fix(authority): bound and index delivery queues
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_control/internal/database/commodoredb/media_authority.sql.go
  api_control/internal/database/commodoredb/querier.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/queries/media_authority.sql
  api_control/internal/grpc/media_authority.go
  api_control/internal/grpc/media_authority_delivery_yugabyte_test.go
  api_control/internal/grpc/media_authority_retention_realpg_test.go
  api_control/internal/grpc/server.go
  cli/internal/releases/catalog.yaml
  cli/internal/releases/loader_test.go
  docs/architecture/lookout.md
  docs/architecture/media-authority.md
  docs/architecture/media-placement-policy.md
  pkg/database/sql/migrations/commodore/v0.3.10/contract/001_drop_hash_sharded_media_authority_queue_indexes.sql
  pkg/database/sql/migrations/commodore/v0.3.10/expand/001_media_authority_queue_indexes.notx.sql
  pkg/database/sql/migrations/commodore/v0.3.10/postdeploy/001_validate_media_authority_queue_indexes.sql
  pkg/database/sql/migrations/purser/v0.3.10/contract/001_drop_hash_sharded_media_authority_queue_index.sql
  pkg/database/sql/migrations/purser/v0.3.10/expand/001_subscription_authority_noop_guard.sql
  pkg/database/sql/migrations/purser/v0.3.10/expand/002_media_authority_queue_index.notx.sql
  pkg/database/sql/migrations/purser/v0.3.10/postdeploy/001_validate_media_authority_queue_index.sql
  pkg/database/sql/migrations/quartermaster/v0.3.10/contract/001_drop_hash_sharded_media_authority_queue_index.sql
  pkg/database/sql/migrations/quartermaster/v0.3.10/expand/001_media_authority_queue_index.notx.sql
  pkg/database/sql/migrations/quartermaster/v0.3.10/postdeploy/001_validate_media_authority_queue_index.sql
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/purser.sql
  pkg/database/sql/schema/quartermaster.sql
  website_docs/src/content/docs/operators/deployment.mdx
Due: go-fmt, go-lint, frontend-format

correct compose
  docker-compose.yml
Due: frontend-format

tweak rfcs
  docs/rfcs/live-commerce.md
  docs/rfcs/parlor.md
Due: frontend-format

feat(dev): add remote build workspaces
  CONTRIBUTING.md
  cli/pkg/provisioner/remote_dev_test.go
  docs/development/remote-development.md
  scripts/remote-dev.sh
Due: go-fmt, go-lint, frontend-format

docs: update operator guides and architecture
  docs/architecture/build-and-packaging.md
  docs/architecture/cluster-rollout.md
  docs/architecture/edge-deployment.md
  docs/rfcs/frameworks-edge-gateway.md
  website_docs/public/llms-full.txt
  website_docs/src/assets/diagrams/Microservices_Architecture.afdesign
  website_docs/src/assets/diagrams/Microservices_Architecture.png
  website_docs/src/assets/diagrams/Microservices_Architecture.svg
  website_docs/src/content/docs/operators/alerting.mdx
  website_docs/src/content/docs/operators/ansible-provisioning.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/dns.mdx
  website_docs/src/content/docs/operators/prerequisites.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: frontend-format

fix(cli): publish GeoIP databases through sudo
  cli/cmd/cluster_geoip.go
  cli/cmd/cluster_geoip_test.go
Due: go-fmt, go-lint

fix(database): expose replay-safe transaction outcomes and hooks
  pkg/database/retry.go
  pkg/database/retry_test.go
Due: go-fmt, go-lint

fix(build): anchor lint baseline paths in linked worktrees
  Makefile
Due: none

fix(foghorn): replay authority and media lifecycle transactions safely
  api_balancing/internal/artifactoutbox/outbox.go
  api_balancing/internal/control/cross_cluster_artifact.go
  api_balancing/internal/control/dvr_chapter_finalize_hook.go
  api_balancing/internal/control/dvr_chapters_repo.go
  api_balancing/internal/control/dvr_finalize.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/control/ingest_admission_effects.go
  api_balancing/internal/control/ingest_admission_effects_encryption_test.go
  api_balancing/internal/control/ingest_offline_effects.go
  api_balancing/internal/control/ingest_session_reaper.go
  api_balancing/internal/control/node_admission.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/retryable_tx_effects_test.go
  api_balancing/internal/control/retryable_tx_ingest_close_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/thumbnail_cleanup_saga.go
  api_balancing/internal/control/thumbnail_publication.go
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  api_balancing/internal/grpc/media_retention.go
  api_balancing/internal/grpc/rpc_handlers_coverage_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/retention.go
  api_balancing/internal/jobs/stale_freeze_cleanup.go
  api_balancing/internal/jobs/stream_cleanup.go
  api_balancing/internal/mediaauthority/collection.go
  api_balancing/internal/mediaauthority/reader.go
  api_balancing/internal/mediaauthority/retryable_tx_test.go
  api_balancing/internal/mediaauthority/store.go
Due: go-fmt, go-lint

fix(purser): make billing and settlement transactions replay-safe
  api_billing/cmd/purser/bootstrap.go
  api_billing/internal/database/purserdb/query_catalog_realpg_test.go
  api_billing/internal/grpc/change_billing_tier_test.go
  api_billing/internal/grpc/crypto_sweep.go
  api_billing/internal/grpc/retryable_tx_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/crypto_reorg.go
  api_billing/internal/handlers/crypto_scanner.go
  api_billing/internal/handlers/hdwallet.go
  api_billing/internal/handlers/invoice_email_outbox.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_invoice_replay_realpg_test.go
  api_billing/internal/handlers/livepeer_deposit.go
  api_billing/internal/handlers/provider_webhook_inbox.go
  api_billing/internal/handlers/rating_inputs.go
  api_billing/internal/handlers/retryable_tx_test.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_reconciler.go
Due: go-fmt, go-lint

fix(commodore): replay mutations without duplicating external effects
  api_control/cmd/commodore/bootstrap.go
  api_control/go.mod
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/grpc/artifact_creation_intents.go
  api_control/internal/grpc/artifact_thumbnails.go
  api_control/internal/grpc/auth_handlers_test.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/retryable_tx_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_auth_conversion_test.go
  api_control/internal/grpc/stream_crud_handlers_test.go
  api_control/internal/grpc/stream_source_location.go
Due: go-fmt, go-lint

fix(quartermaster): replay control-plane transactions safely
  api_tenants/cmd/quartermaster/bootstrap.go
  api_tenants/cmd/quartermaster/bootstrap_test.go
  api_tenants/go.mod
  api_tenants/internal/database/quartermasterdb/query_catalog_realpg_test.go
  api_tenants/internal/grpc/billing_entitlements_test.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/navigator_alias_backstop.go
  api_tenants/internal/grpc/retryable_tx_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

fix(skipper): replay knowledge and metering transactions
  api_consultant/internal/chat/conversations.go
  api_consultant/internal/database/skipperdb/query_catalog_realpg_test.go
  api_consultant/internal/diagnostics/baselines.go
  api_consultant/internal/knowledge/pagecache.go
  api_consultant/internal/knowledge/store.go
  api_consultant/internal/metering/retryable_tx_test.go
  api_consultant/internal/metering/tracker.go
Due: go-fmt, go-lint

fix(lookout): replay notification persistence transactions
  api_incidents/internal/lookouttest/postgres.go
  api_incidents/internal/notify/activity.go
  api_incidents/internal/notify/store.go
Due: go-fmt, go-lint
