Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Delete PLAN_TEST_COVERAGE.md
  PLAN_TEST_COVERAGE.md
Due: frontend-format

tweakerino
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_billing/go.mod
  api_control/go.mod
Due: go-fmt, go-lint

Add request contexts to Stripe and Mollie payment HTTP calls (#173)
  api_balancing/internal/control/repos.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_billing/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  cli/cmd/context_check.go
  cli/cmd/edge.go
Due: go-fmt, go-lint

Resolve shadowing in batch 1 modules
  .golangci.yml
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/jobs/purge_deleted.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/storage/presigned_client.go
  api_tenants/internal/handlers/poller.go
  cli/cmd/admin.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_restore.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/config_env.go
  cli/cmd/context_check.go
  cli/cmd/edge.go
  cli/cmd/services.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/provisioner/flexible.go
  cli/pkg/ssh/client.go
  pkg/clients/navigator/client.go
  pkg/configgen/configgen.go
  pkg/email/sender.go
  pkg/testutil/websocket_mock.go
  pkg/x402/settlement.go
Due: go-fmt, go-lint, frontend-format

final tweaks
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/handlers/datetime_test.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/root_page.go
  api_balancing/internal/jobs/orphan_cleanup.go
  api_balancing/internal/jobs/purge_deleted.go
  api_billing/cmd/purser/main.go
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/hdwallet.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/threshold.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_reconciler.go
  api_control/internal/grpc/server.go
  api_gateway/graph/helpers.go
  api_gateway/graph/schema.resolvers.go
  api_mesh/internal/wireguard/linux.go
  api_sidecar/internal/control/client.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_ticketing/internal/chatwoot/client.go
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_restore.go
  cli/cmd/edge.go
  cli/pkg/detect/detector.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/privateer.go
  pkg/clients/listmonk/client.go
  pkg/clients/navigator/client.go
  pkg/dvr/utils_test.go
Due: go-fmt, go-lint, frontend-format

tweaks
  api_tenants/internal/handlers/poller.go
Due: go-fmt, go-lint

tweaks
  pkg/clients/navigator/client.go
Due: go-fmt, go-lint

dns: fix govet shadow regressions
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/dns.go
Due: go-fmt, go-lint

tweaks
  docs/rfcs/agent-edge-access.md
  docs/rfcs/agent-skill-system/references/moltbook/heartbeat.md
  docs/rfcs/agent-skill-system/references/moltbook/messaging.md
  docs/rfcs/agent-skill-system/references/moltbook/skill.json
  docs/rfcs/agent-skill-system/references/moltbook/skill.md
  docs/rfcs/agent-skill-system/references/retake-tv/retake-realtime-chat-skill.md
  docs/rfcs/agent-skill-system/references/retake-tv/skill.json
  docs/rfcs/agent-skill-system/references/retake-tv/skill.md
Due: frontend-format

Fallback to runtime skill file locations
  api_gateway/Dockerfile
  api_gateway/cmd/bridge/main.go
  docs/architecture/agent-access.md
  docs/rfcs/agent-edge-access.md
  docs/skills/skill.json
  docs/skills/skill.md
  website_application/Dockerfile
  website_docs/Dockerfile
  website_docs/src/content/docs/streamers/mcp.mdx
  website_marketing/Dockerfile
Due: go-fmt, go-lint, frontend-format

add mcp.json
  api_gateway/Dockerfile
  api_gateway/cmd/bridge/main.go
  docs/skills/mcp.json
  website_application/Dockerfile
  website_docs/Dockerfile
  website_marketing/Dockerfile
Due: go-fmt, go-lint, frontend-format

add more agent files
  api_gateway/Dockerfile
  api_gateway/cmd/bridge/main.go
  docs/skills/did.json
  docs/skills/llms.txt
  docs/skills/robots.txt
  docs/skills/security.txt
  website_application/Dockerfile
  website_docs/Dockerfile
  website_marketing/Dockerfile
  website_marketing/public/sitemap.xml
Due: go-fmt, go-lint, frontend-format

tweak codeql and security
  .github/workflows/codeql.yml
  SECURITY.md
Due: frontend-format

bump npm packages
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
Due: frontend-format

tweak release CI
  .github/workflows/release.yml
Due: frontend-format

dedicated agents page
  docs/architecture/agent-access.md
  website_docs/astro.config.mjs
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/overview.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/agents/wallet-auth.mdx
Due: frontend-format

fix docs inaccuracies
  api_gateway/internal/mcp/resources/knowledge.go
  docs/architecture/agent-access.md
  website_docs/src/content/docs/agents/mcp.mdx
Due: go-fmt, go-lint, frontend-format

patch codecov pkg for proper svelte bundling tracking
  package.json
  patches/@codecov__sveltekit-plugin.patch
  pnpm-lock.yaml
Due: frontend-format

mod mutation workflow
  .github/workflows/mutation-nightly.yml
Due: frontend-format

add dist badges for webapp
  README.md
Due: frontend-format

tweak hot artefact mapping
  api_balancing/internal/control/repos.go
Due: go-fmt, go-lint

fixes
  api_balancing/internal/control/repos.go
  api_gateway/Dockerfile
  api_gateway/cmd/bridge/main.go
  api_gateway/graph/complexity.go
  api_gateway/graph/complexity_test.go
  api_gateway/internal/mcp/mcperrors/errors_test.go
  docker-compose.yml
  docs/architecture/agent-access.md
  docs/skills/heartbeat.md
  docs/skills/skill.md
  pkg/graphql/operations/fragments/StreamMetricsListFields.gql
  pkg/graphql/operations/queries/GetStreamsConnection.gql
  pkg/middleware/middleware.go
  website_application/Dockerfile
  website_application/src/routes/+page.svelte
  website_application/src/routes/analytics/+page.svelte
  website_application/src/routes/developer/sdks/+page.svelte
  website_application/src/routes/streams/+page.svelte
  website_docs/Dockerfile
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/index.mdx
  website_marketing/Dockerfile
  website_marketing/src/components/pages/LandingPage.jsx
  website_marketing/src/components/pages/Pricing.jsx
  website_marketing/src/components/pages/SdkCodePreview.jsx
Due: go-fmt, go-lint, frontend-format, frontend-lint

test: add high-value unit coverage
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_query/internal/grpc/server_test.go
  api_balancing/internal/control/defrost_errors_test.go
  api_balancing/internal/control/defrost_helpers_test.go
  api_balancing/internal/handlers/x402_helpers_test.go
  api_gateway/internal/middleware/auth_request_test.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/middleware/ratelimit_test.go
  pkg/auth/middleware_test.go
  pkg/auth/wallet_test.go
  pkg/x402/x402_test.go
Due: go-fmt, go-lint

pkg: silence staticcheck on grpc.DialContext fail-fast dial
  pkg/clients/navigator/client.go
Due: go-fmt, go-lint

Fix govet shadow and staticcheck in wireguard + cli
  api_mesh/internal/wireguard/linux.go
  cli/internal/services/interactive.go
  cli/pkg/provisioner/caddy.go
Due: go-fmt, go-lint

Fix clip context lookup timeout usage
  api_balancing/internal/control/server.go
  api_balancing/internal/handlers/handlers.go
  api_mesh/internal/wireguard/linux.go
  cli/pkg/health/clickhouse.go
  cli/pkg/health/postgres.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/control/server.go
  api_gateway/cmd/bridge/main.go
  website_application/src/routes/nodes/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Add context-aware DB queries and execs in balancing, handlers and health checks (#187)
  api_balancing/internal/control/server.go
  api_balancing/internal/handlers/handlers.go
  api_gateway/cmd/bridge/main.go
  api_mesh/internal/wireguard/linux.go
  cli/internal/services/interactive.go
  cli/pkg/health/clickhouse.go
  cli/pkg/health/postgres.go
  cli/pkg/provisioner/caddy.go
  website_application/src/routes/nodes/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

test: add high-value unit coverage for auth, x402, middleware, analytics, and balancing (#188)
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_query/internal/grpc/server_test.go
  api_balancing/internal/control/defrost_errors_test.go
  api_balancing/internal/control/defrost_helpers_test.go
  api_balancing/internal/handlers/x402_helpers_test.go
  api_gateway/internal/middleware/auth_request_test.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/middleware/ratelimit_test.go
  pkg/auth/middleware_test.go
  pkg/auth/wallet_test.go
  pkg/clients/navigator/client.go
  pkg/x402/x402_test.go
Due: go-fmt, go-lint

lower pages for charts
  website_application/src/routes/analytics/audience/+page.svelte
  website_application/src/routes/analytics/usage/+page.svelte
Due: frontend-format, frontend-lint

fixes
  README.md
  api_analytics_query/internal/grpc/server.go
  pnpm-lock.yaml
  website_application/src/routes/analytics/usage/+page.svelte
  website_application/src/routes/infrastructure/+page.svelte
  website_application/src/routes/library/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

tweak MCP-consltant RFC (now Skipper microservice)
  docs/rfcs/lookout.md
  docs/rfcs/mcp-consultant.md
  docs/rfcs/mcp-consultant/mcp-consultant.md
  docs/rfcs/mcp-consultant/references/industry-aiops.md
  docs/rfcs/mcp-consultant/references/market-gap.md
  docs/rfcs/mcp-consultant/references/mcp-production-patterns.md
  docs/rfcs/mcp-consultant/references/openclaw-heartbeat.md
  docs/rfcs/mcp-consultant/references/qoe-and-remediation.md
  docs/rfcs/mcp-consultant/references/video-streaming-ai.md
  website_docs/src/assets/diagrams/Microservices_Architecture.afdesign
  website_docs/src/assets/diagrams/Microservices_Architecture.png
  website_docs/src/assets/diagrams/Microservices_Architecture.svg
Due: frontend-format

rm old agent-skill-system RFC references
  docs/rfcs/agent-skill-system/references/moltbook/heartbeat.md
  docs/rfcs/agent-skill-system/references/moltbook/messaging.md
  docs/rfcs/agent-skill-system/references/moltbook/skill.json
  docs/rfcs/agent-skill-system/references/moltbook/skill.md
  docs/rfcs/agent-skill-system/references/retake-tv/retake-realtime-chat-skill.md
  docs/rfcs/agent-skill-system/references/retake-tv/skill.json
  docs/rfcs/agent-skill-system/references/retake-tv/skill.md
Due: frontend-format

reorder codeql actions
  .github/workflows/codeql.yml
Due: frontend-format
