Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

more helmsman-foghorn-deps integration tests + required interface abstractions
  api_balancing/internal/federation/server_prepare_test.go
  api_balancing/internal/state/triple_write_test.go
  api_sidecar/internal/control/client_handlers_test.go
  api_sidecar/internal/control/dvr_manager_test.go
  api_sidecar/internal/handlers/cleanup_test.go
  api_sidecar/internal/handlers/processing_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_freeze_test.go
  api_sidecar/internal/handlers/storage_manager_parse_test.go
Due: go-fmt, go-lint

more federation integration tests + required interface abstractions
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_prepare_test.go
  api_sidecar/internal/control/dvr_manager_test.go
Due: go-fmt, go-lint

more helmsman integration tests + required interface abstractions
  api_balancing/internal/federation/server_prepare_test.go
  api_sidecar/internal/control/client_send_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
  api_sidecar/internal/handlers/handlers_delete_test.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_defrost_test.go
  api_sidecar/internal/handlers/storage_manager_freeze_test.go
Due: go-fmt, go-lint

tests for Foghorn side of artefact/registry/processing
  api_balancing/internal/control/repos_artifact_test.go
  api_balancing/internal/control/server_defrost_complete_test.go
  api_balancing/internal/control/server_freeze_complete_test.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/control/server_sync_complete_test.go
  api_balancing/internal/control/testhelpers_artifact_test.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/stale_defrost_cleanup_test.go
  api_balancing/internal/jobs/stale_freeze_cleanup_test.go
  api_balancing/internal/jobs/testhelpers_test.go
  api_balancing/internal/state/cache_artifact_test.go
  api_balancing/internal/state/stream_state_artifact_test.go
  api_balancing/internal/storage/s3_client_parse_test.go
Due: go-fmt, go-lint

changes for unified gitops repo with SOPS
  cli/cmd/cluster_provision.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  cli/pkg/sops/decrypt.go
  cli/pkg/sops/decrypt_test.go
  docs/rfcs/RFC_vault_secrets_management.md
  docs/rfcs/service-identity-and-cluster-binding.md
  website_docs/src/content/docs/operators/deployment.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

fix failing test
  api_gateway/internal/mcp/resources/vod.go
Due: go-fmt, go-lint

fix selfhosted runner brew access...
  .github/workflows/release.yml
Due: frontend-format

reduce RAM allocation for webapp build from 4gb to 3gb
  website_application/Dockerfile
Due: none

merge binary builds to 1 runner instead of a gazillion builds. also moves docker arm back to linux/arm runners, rather than mac selfhosted runners (of which we only have two)
  .github/workflows/release.yml
Due: frontend-format

fix invalid status check
  api_balancing/internal/jobs/artifact_reconciler.go
Due: go-fmt, go-lint

fix dev env seed artefact hashes
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

`ENABLE_HARDENED_RUNTIME` for mac build notarization
  .github/workflows/release.yml
Due: frontend-format

more test & abstractions
  api_assets/go.mod
  api_assets/internal/cache/lru_test.go
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
  api_control/internal/grpc/server_generation_test.go
  api_control/internal/grpc/server_utility_test.go
  api_ticketing/internal/grpc/server_conversion_test.go
  api_ticketing/internal/handlers/ratelimit_test.go
  api_ticketing/internal/handlers/webhooks_test.go
  pkg/ctxkeys/keys_test.go
Due: go-fmt, go-lint

align api demo mode more with how real data looks like.
  api_gateway/internal/demo/generators.go
Due: go-fmt, go-lint

more test & abstractions
  api_billing/internal/handlers/email_test.go
  api_billing/internal/handlers/livepeer_deposit_test.go
  api_billing/internal/handlers/networks_test.go
  api_gateway/internal/mcp/preflight/checks_test.go
  api_gateway/internal/mcp/resources/streams_test.go
  api_gateway/internal/mcp/tools/id_helpers_test.go
Due: go-fmt, go-lint

fix release CI?
  .github/workflows/release.yml
Due: frontend-format

publish `latest`, `beta`, `rc`, docker tags
  .github/workflows/release.yml
Due: frontend-format

make `steward` white-lable-able
  api_forms/cmd/steward/main.go
  api_forms/internal/handlers/contact.go
  api_forms/internal/handlers/contact_test.go
Due: go-fmt, go-lint

Tweak contributing & issue templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/infrastructure.yml
  CONTRIBUTING.md
Due: frontend-format

RFC tweaks
  docs/architecture/sovereign-strategy.md
  docs/rfcs/capacity-planning.md
  docs/rfcs/database-layer-strategy.md
  docs/rfcs/dns-anycast.md
  docs/rfcs/nat-traversal.md
  docs/rfcs/network-security-capabilities.md
  docs/rfcs/storage-s3.md
Due: frontend-format

various bugfixes
  api_balancing/cmd/foghorn/main.go
  api_balancing/go.mod
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/job_router.go
  api_balancing/internal/jobs/orphan_cleanup.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_billing/internal/handlers/webhooks.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/storage_manager.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

fix failing tests after fixes
  api_balancing/internal/control/repos_artifact_test.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
Due: go-fmt, go-lint

update deps
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
  npm_player/playground/package.json
  npm_studio/packages/core/package.json
  npm_studio/packages/react/package.json
  npm_studio/packages/svelte/package.json
  npm_studio/packages/wc/package.json
  package.json
  pnpm-lock.yaml
  website_application/package.json
  website_docs/astro.config.mjs
  website_docs/package.json
  website_marketing/package.json
Due: frontend-format

various bugfixes
  api_balancing/internal/control/edge_provisioning_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/handlers/handlers.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_mesh/cmd/privateer/main.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_mesh/internal/dns/server.go
  api_mesh/internal/dns/server_test.go
  api_sidecar/internal/config/manager.go
  cli/cmd/cluster.go
  cli/cmd/cluster_migrate.go
  cli/cmd/cluster_preflight.go
  cli/cmd/cluster_seed.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_test.go
  cli/cmd/config.go
  cli/cmd/update.go
  cli/internal/preflight/infrastructure.go
  cli/pkg/installer/state.go
  cli/pkg/lifecycle/darwin.go
  cli/pkg/lifecycle/docker.go
  cli/pkg/lifecycle/manager.go
  cli/pkg/lifecycle/native.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/postgres.go
  cli/pkg/provisioner/privateer.go
  cli/pkg/system/dns.go
  pkg/database/sql/embed.go
  scripts/install.sh
Due: go-fmt, go-lint

enable `check-blank` lint. Bump baseline commit so we can clean these up over time.
  .golangci-baseline
  .golangci.yml
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_query/internal/grpc/server.go
  api_billing/internal/handlers/webhooks.go
  api_tenants/internal/handlers/poller.go
  cli/pkg/installer/state.go
  cli/pkg/provisioner/privateer.go
Due: go-fmt, go-lint, frontend-format

fix CLI ssh/direct-port for infra-level services & change how edge receives and deals with certs
  api_balancing/internal/control/edge_provisioning_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/stream_state.go
  api_dns/internal/logic/dns.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/manager.go
  cli/cmd/cluster_init.go
  cli/cmd/cluster_migrate.go
  cli/cmd/cluster_seed.go
  cli/cmd/edge.go
  cli/cmd/executor.go
  cli/internal/templates/edge.go
  cli/internal/templates/edge/Caddyfile.tmpl
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/ch_executor.go
  cli/pkg/provisioner/ch_executor_test.go
  cli/pkg/provisioner/clickhouse.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_test.go
  cli/pkg/provisioner/idempotency.go
  cli/pkg/provisioner/migrate.go
  cli/pkg/provisioner/mock_runner_test.go
  cli/pkg/provisioner/pg_common.go
  cli/pkg/provisioner/postgres.go
  cli/pkg/provisioner/sql_executor.go
  cli/pkg/provisioner/sql_executor_test.go
  cli/pkg/provisioner/types.go
  cli/pkg/provisioner/yugabyte.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint

protoc bump
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  pkg/proto/Makefile
  pkg/proto/commodore.pb.go
  pkg/proto/commodore_grpc.pb.go
  pkg/proto/common.pb.go
  pkg/proto/deckhand.pb.go
  pkg/proto/deckhand_grpc.pb.go
  pkg/proto/dns.pb.go
  pkg/proto/dns_grpc.pb.go
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation_grpc.pb.go
  pkg/proto/foghorn_grpc.pb.go
  pkg/proto/foghorn_relay.pb.go
  pkg/proto/foghorn_relay_grpc.pb.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc_grpc.pb.go
  pkg/proto/periscope.pb.go
  pkg/proto/periscope_grpc.pb.go
  pkg/proto/purser.pb.go
  pkg/proto/purser_grpc.pb.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster_grpc.pb.go
  pkg/proto/shared.pb.go
  pkg/proto/signalman.pb.go
  pkg/proto/signalman_grpc.pb.go
  pkg/proto/skipper.pb.go
  pkg/proto/skipper_grpc.pb.go
Due: frontend-format

more robust fetching of mist and livepeer forks
  .github/workflows/release.yml
Due: frontend-format

tweak provisioning cli
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/edge.go
  cli/cmd/edge_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/edge.go
Due: go-fmt, go-lint

pin infra ver
  config/infrastructure.yaml
Due: frontend-format

automagic telemetry for edges
  api_balancing/internal/control/server.go
  api_sidecar/internal/config/manager.go
  cli/cmd/cluster_provision.go
  cli/cmd/edge.go
  cli/internal/services/catalog.yaml
  cli/internal/templates/edge.go
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/caddy.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/nginx.go
  cli/pkg/provisioner/observability.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/templates.go
  config/infrastructure.yaml
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
  pkg/proto/common.pb.go
  pkg/proto/common.proto
  pkg/proto/foghorn.pb.go
  pkg/proto/foghorn.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
  pkg/servicedefs/servicedefs.go
  website_docs/src/content/docs/operators/cluster-manifest.mdx
Due: go-fmt, go-lint, frontend-format

env var consolidation/simplification
  api_analytics_ingest/cmd/periscope/main.go
  api_analytics_query/cmd/periscope/main.go
  api_balancing/cmd/foghorn/main.go
  api_billing/cmd/purser/main.go
  api_consultant/cmd/skipper/main.go
  api_control/cmd/commodore/main.go
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/internal_ca_test.go
  api_firehose/cmd/decklog/main.go
  api_gateway/internal/clients/clients.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_tenants/cmd/quartermaster/main.go
  api_ticketing/cmd/deckhand/main.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/edge.go
  cli/pkg/provisioner/caddy_ingress_sync.go
  cli/pkg/provisioner/ingress_sync.go
  cli/pkg/provisioner/privateer.go
  config/env/base.env
  docker-compose.yml
  docs/standards/environment-configuration.md
  pkg/config/env.go
  pkg/config/env_test.go
  pkg/configgen/configgen.go
  pkg/configgen/configgen_test.go
  pkg/grpcutil/tls_test.go
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/deployment-manual.mdx
Due: go-fmt, go-lint, frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
