Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

ci: drop stack workflow and document stack as pre-staging step
  .github/workflows/stack.yml
  CONTRIBUTING.md
  Makefile
  docs/development/remote-development.md
Due: frontend-format

fix(state): check marshal errors on stream instance persist
  api_balancing/internal/state/stream_state.go
Due: go-fmt, go-lint

feat(proto): add edge playback grant messages
  pkg/proto/foghorn_relay.proto
  pkg/proto/foghorn_relay/foghorn_relay.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: none

feat(mist): list viewer sessions and invalidate by id
  pkg/mist/viewer_sessions.go
  pkg/mist/viewer_sessions_test.go
Due: go-fmt, go-lint

feat(foghorn): issue edge playback grants
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback_grant.go
  api_balancing/internal/control/playback_grant_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
  api_balancing/internal/grpc/relay_server_test.go
  api_balancing/internal/triggers/playback_grant.go
  api_balancing/internal/triggers/playback_grant_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

feat(auth): judge viewer jwt time claims at an instant
  pkg/auth/jwt_es256.go
  pkg/auth/jwt_es256_test.go
Due: go-fmt, go-lint

feat(helmsman): answer admitted sessions from playback grants
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/playback_grant.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/playback_grants.go
  api_sidecar/internal/handlers/playback_grants_test.go
  api_sidecar/internal/playbackgrant/playbackgranttest/token.go
  api_sidecar/internal/playbackgrant/store.go
  api_sidecar/internal/playbackgrant/store_test.go
Due: go-fmt, go-lint

fix(mist): list viewer sessions active now
  pkg/mist/viewer_sessions.go
Due: go-fmt, go-lint

docs(architecture): describe edge playback grants
  docs/architecture/media-authority.md
  docs/architecture/media-placement-policy.md
  docs/architecture/mist-trigger-contract.md
  docs/architecture/viewer-routing.md
Due: frontend-format

fix(helmsman): serve rebuilt sessions behind one address
  api_sidecar/internal/playbackgrant/rebuild_test.go
  api_sidecar/internal/playbackgrant/store.go
Due: go-fmt, go-lint

test(stack): measure foghorn calls per hls session
  scripts/stack/scenarios/17-playback-grants.sh
Due: none

fix(foghorn): push grant updates from every replica
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/playback_grant.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
  api_balancing/internal/grpc/relay_server_test.go
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/playback_authority.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/playback_grant.go
  api_balancing/internal/triggers/playback_grant_replicas_test.go
  api_balancing/internal/triggers/playback_grant_test.go
  api_balancing/internal/triggers/processor.go
  pkg/proto/foghorn_relay.proto
  pkg/proto/foghorn_relay/foghorn_relay.pb.go
Due: go-fmt, go-lint

test(stack): cover grant revocation and helmsman restart
  scripts/stack/lib.sh
  scripts/stack/scenarios/17-playback-grants.sh
  scripts/stack/scenarios/18-playback-grant-revocation.sh
  scripts/stack/scenarios/19-helmsman-restart-grants.sh
Due: none

docs(architecture): describe grant fan-out across replicas
  docs/architecture/viewer-routing.md
Due: frontend-format

fix(redis): converge hosts on release apply and log to journald
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/instance.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/sentinel.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/vars/main.yml
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_host_convergence.go
  cli/cmd/cluster_release_redis_convergence.go
  cli/cmd/cluster_release_redis_convergence_test.go
  cli/pkg/provisioner/redis_role.go
  cli/pkg/provisioner/redis_role_test.go
  docs/architecture/cluster-rollout.md
  docs/architecture/foghorn-ha.md
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(clickhouse): log at information level with bounded files
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  cli/pkg/provisioner/clickhouse_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(yugabyte): bound logs and leave cores to systemd-coredump
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/master.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/sysctl.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/tserver.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/yugabyte-log-prune.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/templates/yugabyte-log-prune.timer.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/vars/main.yml
  cli/pkg/provisioner/yugabyte_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(vmagent): cap the remote-write disk buffer
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent.service.j2
  cli/internal/templates/edge.go
  cli/internal/templates/edge_test.go
  cli/pkg/provisioner/edge_test.go
  cli/pkg/provisioner/prometheus_stack_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(kafka): rotate service logs and cap partition size
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/templates/kafka.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/templates/log4j2.yaml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/templates/server.properties.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/vars/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/kafka-mirrormaker.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/log4j2.yaml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/vars/main.yml
  cli/pkg/provisioner/kafka_logging_test.go
  cli/pkg/provisioner/kafka_role.go
  pkg/topology/kafka_topic_specs_test.go
  pkg/topology/kafka_topics.go
Due: go-fmt, go-lint, frontend-format

feat(cli): roll kafka brokers and controllers on release apply
  cli/cmd/cluster_release_host_convergence.go
  cli/cmd/cluster_release_host_convergence_test.go
  cli/cmd/cluster_release_kafka_convergence.go
  cli/cmd/cluster_release_kafka_convergence_test.go
  cli/cmd/cluster_release_service_convergence.go
  cli/cmd/cluster_release_service_convergence_test.go
Due: go-fmt, go-lint

feat(cli): converge clickhouse nodes on release apply
  cli/cmd/cluster_release_clickhouse_convergence.go
  cli/cmd/cluster_release_clickhouse_convergence_test.go
  cli/cmd/cluster_release_service_convergence.go
Due: go-fmt, go-lint

feat(cli): roll yugabyte masters then tservers on release apply
  cli/cmd/cluster_release_service_convergence.go
  cli/cmd/cluster_release_yugabyte_convergence.go
  cli/cmd/cluster_release_yugabyte_convergence_test.go
Due: go-fmt, go-lint

feat(cli): reload observability agents and proxies on release apply
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmalert.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmalert.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmauth.service.j2
  cli/cmd/cluster_release_dependency_convergence.go
  cli/cmd/cluster_release_dependency_convergence_test.go
  cli/cmd/cluster_release_service_convergence.go
  cli/cmd/cluster_release_service_convergence_test.go
  cli/pkg/provisioner/prometheus_stack_role_test.go
Due: go-fmt, go-lint, frontend-format

feat(cli): converge compose dependencies on release apply
  cli/cmd/cluster_release_dependency_convergence.go
  cli/cmd/cluster_release_dependency_convergence_test.go
  cli/cmd/cluster_release_service_convergence.go
Due: go-fmt, go-lint

docs(cluster): describe release data service convergence
  cli/cmd/cluster_release.go
  docs/architecture/cluster-rollout.md
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(helmsman): keep a fixed system reserve free under edge media
  api_sidecar/internal/appconfig/helmsman.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_reserve_test.go
  api_sidecar/internal/storage/diskspace.go
  api_sidecar/internal/storage/diskspace_effective_test.go
  api_sidecar/internal/storage/diskspace_reserve_test.go
  cli/internal/configschema/config-schema.json
  docs/architecture/clips-dvr.md
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go-fmt, go-lint, frontend-format

feat(edge): report provisioned config version and flag stale edges in doctor
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/config-marker.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-container.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-darwin.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux.yml
  api_balancing/internal/grpc/dvr_clip_lifecycle_coverage_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/state/node_provisioned_config_test.go
  api_balancing/internal/state/stream_state.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/provisioned_config.go
  api_sidecar/internal/handlers/provisioned_config_test.go
  cli/cmd/cluster.go
  cli/cmd/edge.go
  cli/cmd/edge_config_version.go
  cli/cmd/edge_config_version_test.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/edge_role_test.go
  pkg/proto/foghorn_control.proto
  pkg/proto/foghorn_control/foghorn_control.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go-fmt, go-lint, frontend-format

feat(edge): drift-aware live-safe edge provision with drain around restarts
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/handlers/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-container.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/install-native-linux-caddy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/handlers/main.yml
  cli/cmd/edge.go
  cli/cmd/edge_rollout.go
  cli/cmd/edge_rollout_test.go
  cli/pkg/ansiblerun/outputer.go
  cli/pkg/ansiblerun/outputer_test.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_inspect.go
  cli/pkg/provisioner/edge_inspect_test.go
  cli/pkg/provisioner/edge_role.go
Due: go-fmt, go-lint, frontend-format

docs(edge): document the edge config upgrade flow
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/hybrid/node-cli.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: frontend-format

fix(edge): re-render container stack config on edge update
  api_sidecar/internal/edgeseed/seed.go
  api_sidecar/internal/edgeseed/seed_test.go
  cli/cmd/edge.go
  cli/cmd/edge_update_render.go
  cli/cmd/edge_update_render_test.go
  cli/internal/templates/edge_rerender.go
  cli/internal/templates/edge_rerender_test.go
Due: go-fmt, go-lint

feat(node-baseline): bound host logs and harden sshd
  .github/workflows/ansible.yml
  Makefile
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/molecule/default/converge.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/fail2ban.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/host_packages.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/journald.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/logrotate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/sshd.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/templates/fail2ban_sshd.local.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/templates/journald_frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/templates/sshd_frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/vars/main.yml
  cli/pkg/provisioner/node_baseline_test.go
  docs/architecture/os-tuning.md
  website_docs/src/content/docs/operators/prerequisites.mdx
Due: go-fmt, go-lint, frontend-format

fix(docker): cap container logs and run metabase at info
  ansible/collections/ansible_collections/frameworks/infra/roles/chatwoot/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/templates/generic-compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/vars/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/templates/compose.yml.j2
  cli/internal/composelog/composelog.go
  cli/internal/services/generator.go
  cli/internal/templates/edge.go
  cli/internal/templates/edge/docker-compose.edge.yml.tmpl
  cli/pkg/provisioner/compose_log_policy_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint, frontend-format

feat(release): converge node baseline and tuning on release apply
  cli/cmd/cluster_prior_release_preflight_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_host_convergence.go
  cli/cmd/cluster_release_host_convergence_test.go
  cli/cmd/cluster_release_kafka_convergence_test.go
  cli/cmd/cluster_release_node_baseline_test.go
  cli/cmd/cluster_release_redis_convergence_test.go
  cli/cmd/cluster_release_service_convergence_test.go
  cli/cmd/node_host_convergence.go
  docs/architecture/cluster-rollout.md
  docs/architecture/os-tuning.md
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(compose-stack): prune superseded images after a stack update
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/files/compose-image-prune.sh
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  cli/pkg/provisioner/compose_stack_image_prune_test.go
  docs/architecture/os-tuning.md
Due: go-fmt, go-lint, frontend-format

fix(upgrade): render upgrades through the provision renderer
  cli/cmd/cluster.go
  cli/cmd/cluster_apply.go
  cli/cmd/cluster_diff.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_host_convergence.go
  cli/cmd/cluster_release_resume_test.go
  cli/cmd/cluster_runtime_data.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_render_parity_test.go
  cli/cmd/cluster_upgrade_test.go
  cli/cmd/required_env_preflight.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

fix(quartermaster): log health transitions with the probed endpoint
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
Due: go-fmt, go-lint

fix(release): reconcile quartermaster bootstrap on release apply
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_quartermaster_bootstrap_test.go
  docs/architecture/cluster-rollout.md
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(ingest): report the srt listener port and refuse protocols a node does not offer
  api_balancing/internal/balancer/placement_observation.go
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/federation/placement_policy_gate.go
  api_balancing/internal/triggers/ingest_placement_test.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/config/listener_ports.go
  api_sidecar/internal/config/listener_ports_test.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  scripts/stack/scenarios/20-srt-ingest.sh
Due: go-fmt, go-lint

fix(foghorn): emit stream.live for a republish into a full buffer
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/stream_live_republish_test.go
Due: go-fmt, go-lint

fix(helmsman): keep playback grants of streams live on the edge
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/playbackgrant/store.go
  api_sidecar/internal/playbackgrant/store_test.go
Due: go-fmt, go-lint
