Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix(federation): skip a cell replica that cannot connect within a second
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/placement_replica_failover_test.go
Due: go-fmt, go-lint

fix(foghorn): report stream status and start from the ingest session
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_admission.go
  api_balancing/internal/control/stream_registry_redis_sync.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/stream_status_session_test.go
Due: go-fmt, go-lint

fix(helmsman): drop procav windows without decoded media and label audio
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/process_av_segment_test.go
Due: go-fmt, go-lint

fix(dvr): stop reporting uploaded and reclaimed segments as lost
  Makefile
  api_balancing/internal/control/dvr_segment_drop_realpg_test.go
  api_balancing/internal/control/dvr_segments_handlers.go
  api_balancing/internal/control/dvr_segments_queries_test.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/database/foghorndb/dvr_segments.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/dvr_segments.sql
  api_sidecar/internal/control/dvr_startup_reconcile.go
  api_sidecar/internal/control/dvr_startup_reconcile_test.go
Due: go-fmt, go-lint

fix(helmsman): log mist location only when it changes
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_location_test.go
Due: go-fmt, go-lint

fix(helmsman): run the router in release mode by default
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/appconfig/helmsman.go
  api_sidecar/internal/appconfig/helmsman_test.go
  cli/internal/configschema/config-schema.json
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go-fmt, go-lint, frontend-format

fix(foghorn): rehydrate stream instances on replica start
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/stream_instance_rehydrate_test.go
Due: go-fmt, go-lint

fix(federation): move the peer channel across cell replicas and log absent sources
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/peer_channel_failover_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/placement_live_paths.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  scripts/stack/scenarios/21-foghorn-replica-restart.sh
Due: go-fmt, go-lint

fix(bosun): render webhook created_at at a fixed width
  api_webhooks/internal/delivery/delivery_test.go
  api_webhooks/internal/delivery/render.go
  website_docs/src/content/docs/builders/webhooks.mdx
Due: go-fmt, go-lint, frontend-format

fix(clips): refuse future stops and end deleted running clips with clip.failed
  api_balancing/internal/grpc/clip_range_test.go
  api_balancing/internal/grpc/clip_source_dispatch.go
  api_balancing/internal/grpc/dvr_clip_lifecycle_coverage_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/state/stream_state.go
Due: go-fmt, go-lint

fix(mist): keep empty trailing trigger fields
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_lifecycle_triggers_test.go
  api_sidecar/internal/handlers/processing.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go-fmt, go-lint

test(stack): read each revoked viewer's refusal on its own edge
  scripts/stack/lib.sh
  scripts/stack/scenarios/18-playback-grant-revocation.sh
Due: none

perf(helmsman): keep durable triggers in flight per connection
  api_sidecar/internal/control/ingest_causal_order.go
  api_sidecar/internal/control/trigger_forward_pass.go
  api_sidecar/internal/control/trigger_forward_pass_test.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/control/trigger_forwarder_drain_test.go
  api_sidecar/internal/storage/trigger_wal.go
  docs/architecture/trigger-durability.md
Due: go-fmt, go-lint, frontend-format

perf(foghorn): read media and tenant authority in one query
  Makefile
  api_balancing/internal/database/foghorndb/media_authority.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/media_authority.sql
  api_balancing/internal/mediaauthority/reader.go
  api_balancing/internal/mediaauthority/readpair_realpg_test.go
  api_balancing/internal/triggers/local_authority_fetch_test.go
  api_balancing/internal/triggers/local_media_authority.go
  api_balancing/internal/triggers/local_media_authority_test.go
  api_balancing/internal/triggers/playback_grant_replicas_test.go
  api_balancing/internal/triggers/playback_grant_test.go
  docs/architecture/trigger-durability.md
Due: go-fmt, go-lint, frontend-format

perf(helmsman): drain lifecycle triggers ahead of billing samples
  api_sidecar/internal/control/trigger_forward_pass.go
  api_sidecar/internal/control/trigger_forward_pass_test.go
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_test.go
  docs/architecture/trigger-durability.md
Due: go-fmt, go-lint, frontend-format

perf(helmsman): aggregate transcode billing samples per process window
  api_sidecar/internal/control/process_billing_window.go
  api_sidecar/internal/control/process_billing_window_test.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_staging.go
  docs/architecture/mist-trigger-contract.md
  docs/architecture/trigger-durability.md
Due: go-fmt, go-lint, frontend-format

perf(helmsman): index trigger wal entries from file names at startup
  api_sidecar/internal/storage/trigger_wal.go
  api_sidecar/internal/storage/trigger_wal_staging.go
  api_sidecar/internal/storage/trigger_wal_test.go
  docs/architecture/trigger-durability.md
Due: go-fmt, go-lint, frontend-format

feat(helmsman): alert when the oldest trigger wal entry is stale
  api_sidecar/internal/control/metrics.go
  api_sidecar/internal/control/trigger_forwarder_more_test.go
  api_sidecar/internal/storage/trigger_wal_age.go
  docs/architecture/trigger-durability.md
  pkg/grafana/rules/frameworks.yml
Due: go-fmt, go-lint, frontend-format

fix(helmsman): keep pre-decoder mistprocav samples out of billing windows
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/process_av_segment_test.go
Due: go-fmt, go-lint

test(stack): hold the queued close undelivered across the reconnect
  scripts/stack/scenarios/15-reconnect-ordering.sh
Due: none

docs(operators): format running upgrades page
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: frontend-format

build: run the ci frontend lint job in verify-prepush
  AGENTS.md
  Makefile
Due: frontend-format

fix(cli): run yugabyte node probes as root
  cli/cmd/yugabyte_as_root_test.go
  cli/cmd/yugabyte_rolling.go
Due: go-fmt, go-lint

fix(ansible): never echo database passwords in role loop results
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  cli/pkg/provisioner/role_secret_loop_test.go
Due: go-fmt, go-lint, frontend-format

fix(compose-stack): pass stack files base64 so ansible never templates them
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  cli/pkg/provisioner/compose_stack_files.go
  cli/pkg/provisioner/compose_stack_files_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(cli): detect the installed yugabyte engine version
  cli/pkg/detect/detector.go
  cli/pkg/detect/detector_test.go
Due: go-fmt, go-lint

feat(cli): upgrade the yugabyte engine in release apply
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_clickhouse_convergence_test.go
  cli/cmd/cluster_release_dependency_convergence_test.go
  cli/cmd/cluster_release_host_convergence.go
  cli/cmd/cluster_release_host_convergence_test.go
  cli/cmd/cluster_release_kafka_convergence_test.go
  cli/cmd/cluster_release_node_baseline_test.go
  cli/cmd/cluster_release_redis_convergence_test.go
  cli/cmd/cluster_release_service_convergence.go
  cli/cmd/cluster_release_service_convergence_test.go
  cli/cmd/cluster_release_yugabyte_convergence.go
  cli/cmd/cluster_release_yugabyte_convergence_test.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/yugabyte_engine_upgrade.go
  cli/cmd/yugabyte_rolling.go
  cli/cmd/yugabyte_rolling_test.go
  docs/architecture/cluster-rollout.md
  docs/architecture/database-ha.md
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

fix(ansible): keep valid privateer-managed pki on provision and upgrade
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  cli/pkg/provisioner/go_service_pki_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(helmsman): take the source tracks as primary by mist track index
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/primary_track_order_test.go
Due: go-fmt, go-lint

fix(foghorn): forward live stream state only from the stream source
  api_balancing/internal/triggers/lifecycle_source_forward_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(cli): keep the release pin when provisioning syncs the edge target
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_releases.go
  cli/cmd/edge.go
  cli/cmd/edge_release_target_pin_test.go
Due: go-fmt, go-lint

fix(mcp): report stream health bitrate in kbps and unknown tools as invalid params
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/mcp/tools/qoe_stream_health_bitrate_test.go
Due: go-fmt, go-lint

fix(kafka): stop consumers on a closed client and cancel them before close
  api_billing/cmd/purser/main.go
  api_billing/internal/handlers/jobs.go
  api_consultant/cmd/skipper/main.go
  api_incidents/cmd/lookout/main.go
  pkg/kafka/consumer.go
  pkg/kafka/consumer_test.go
Due: go-fmt, go-lint

fix(foghorn): log mist trigger refusals at info
  api_balancing/internal/control/mist_trigger_refusal_test.go
  api_balancing/internal/control/server.go
Due: go-fmt, go-lint

fix(bridge): log client-caused graphql errors at info
  api_gateway/internal/errors/errors.go
  api_gateway/internal/errors/errors_test.go
Due: go-fmt, go-lint

fix(foghorn): report sub-millisecond playback webhook calls
  api_balancing/internal/triggers/playback_auth.go
  api_balancing/internal/triggers/playback_auth_phase2_test.go
Due: go-fmt, go-lint

fix(ansible): give the kafka format task a writable remote tmp
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/configure.yml
Due: frontend-format

fix(placement): rank destinations by load bound, arrival locality and presence
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/federation/placement_ingest_resolver.go
  api_balancing/internal/federation/placement_transport.go
  api_balancing/internal/federation/placement_viewer_resolver.go
  docs/architecture/media-placement-policy.md
  pkg/placement/evaluate.go
  pkg/placement/ranking_test.go
  pkg/placement/types.go
Due: go-fmt, go-lint, frontend-format

fix(foghorn): reserve live viewers in the cell that observes the destination node
  api_balancing/internal/control/viewer_placement.go
  api_balancing/internal/federation/placement_configured_source_test.go
  api_balancing/internal/federation/placement_media_serve_runtime.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/playback_redirect_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_bandwidth_test.go
  docs/architecture/viewer-routing.md
Due: go-fmt, go-lint, frontend-format

fix(scripts): fetch the remote head before a remotedev slot falls back to it
  scripts/remote-dev.sh
Due: none

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
