Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Multi-cluster ingest coverage and fallback semantics audit (#310)
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/control/resolver.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/triggers/processor.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  pkg/proto/commodore.pb.go
  pkg/proto/commodore.proto
Due: go-fmt, go-lint

fix mobile overflow on marketing landing page
  website_marketing/src/components/pages/SdkCodePreview.jsx
  website_marketing/src/styles/marketing/content.css
  website_marketing/src/styles/marketing/layout.css
  website_marketing/src/styles/marketing/skipper.css
Due: frontend-format, frontend-lint

CI
  CONTRIBUTING.md
  Makefile
  README.md
  api_consultant/internal/knowledge/crawler_test.go
  docs/standards/testing.md
  pkg/auth/auth_test.go
  pkg/auth/password.go
  pkg/graphql/operations/queries/GetFederationEvents.gql
  pkg/graphql/schema.graphql
  pkg/llm/provider.go
  pkg/llm/provider_test.go
  website_application/src/routes/infrastructure/+page.svelte
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

CI
  CONTRIBUTING.md
  Makefile
  README.md
  api_consultant/internal/knowledge/crawler_test.go
  docs/standards/testing.md
  npm_player/package.json
  npm_player/pnpm-lock.yaml
  npm_studio/package.json
  npm_studio/pnpm-lock.yaml
  npm_studio/pnpm-workspace.yaml
  pkg/auth/auth_test.go
  pkg/auth/password.go
  pkg/graphql/operations/queries/GetFederationEvents.gql
  pkg/graphql/schema.graphql
  pkg/llm/provider.go
  pkg/llm/provider_test.go
  pnpm-workspace.yaml
  website_application/src/routes/infrastructure/+page.svelte
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/infrastructure/federation/+page.svelte
  website_application/src/routes/nodes/[id]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix Send* relay fallback semantics and add wiring guards
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server_test.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server_test.go
Due: go-fmt, go-lint

Harden Send* relay forwarding and add relay oneof wiring tests (#311)
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server_test.go
Due: go-fmt, go-lint

Harden relay conn_owner lifecycle and failure handling
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/redis_store_test.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/redis_store_test.go
Due: go-fmt, go-lint

Harden relay conn_owner lifecycle and relay failure behavior (#312)
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/redis_store_test.go
Due: go-fmt, go-lint

Fix operational-mode relay propagation for canonical node IDs
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/control/server.go
Due: go-fmt, go-lint

Fix PushOperationalMode propagation for canonical node ownership in HA Foghorn (#313)
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
Due: go-fmt, go-lint

Harden bootstrap advertise host/node derivation
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
  pkg/database/sql/schema/quartermaster.sql
Due: go-fmt, go-lint

tweaks
  pkg/database/sql/schema/quartermaster.sql
Due: none

Harden BootstrapService advertise host derivation and node-cluster safety (#314)
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
  pkg/database/sql/schema/quartermaster.sql
Due: go-fmt, go-lint

Fix foghorn registration lifecycle reconciliation
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

tweaks
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

Service registration lifecycle consistency (#315)
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

Harden foghorn discovery address assembly
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/node_owner_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

tweak
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

Service discovery consumers after address derivation changes (#316)
  api_tenants/internal/grpc/cluster_routing_test.go
  api_tenants/internal/grpc/node_owner_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

Harden tenant fan-out failure semantics
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_fanout_test.go
Due: go-fmt, go-lint

tweaks
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_fanout_test.go
Due: go-fmt, go-lint

Tenant operation fan-out correctness (#317)
  api_control/internal/grpc/server.go
  api_control/internal/grpc/tenant_fanout_test.go
Due: go-fmt, go-lint

Harden federation forwarded artifact command safety
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_forward_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_forward_federation_test.go
Due: go-fmt, go-lint

tweaks
  api_balancing/internal/federation/server.go
Due: go-fmt, go-lint

Harden federation forwarded artifact command safety checks (#318)
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_forward_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_forward_federation_test.go
Due: go-fmt, go-lint

Harden commodore cluster routing and ingest cache semantics
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_tenants/internal/grpc/server.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/grpc_client_test.go
Due: go-fmt, go-lint

tweaks
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
Due: go-fmt, go-lint

Harden cluster-aware Commodore routing and ingest cache behavior (#319)
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_tenants/internal/grpc/server.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/grpc_client_test.go
Due: go-fmt, go-lint

Harden HA relay fallback behavior and document validation
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  docker-compose.yml
  docs/architecture/foghorn-ha.md
Due: go-fmt, go-lint, frontend-format

Docker-compose HA relay test completeness (#320)
  api_balancing/internal/control/relay_test.go
  docker-compose.yml
  docs/architecture/foghorn-ha.md
Due: go-fmt, go-lint, frontend-format

Fix relay conn_owner cleanup races and shutdown handling
  api_balancing/cmd/foghorn/main.go
  api_balancing/cmd/foghorn/main_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  docker-compose.yml
  docs/architecture/foghorn-ha.md
Due: go-fmt, go-lint, frontend-format

tweaks
  api_balancing/cmd/foghorn/main.go
Due: go-fmt, go-lint

Graceful shutdown and conn_owner cleanup correctness (#321)
  api_balancing/cmd/foghorn/main.go
  api_balancing/cmd/foghorn/main_test.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  docker-compose.yml
  docs/architecture/foghorn-ha.md
Due: go-fmt, go-lint, frontend-format

Improve relay observability and error diagnostics
  api_balancing/internal/control/metrics.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
Due: go-fmt, go-lint

Relay observability and diagnosability (#322)
  api_balancing/internal/control/metrics.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/relay_server.go
Due: go-fmt, go-lint
