Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

fix source lookup for active replication
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/stream_context_cache.go
  api_balancing/internal/handlers/stream_context_cache_test.go
Due: go-fmt, go-lint

fix cluster scoped DNS sync
  api_dns/cmd/navigator/main.go
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_dns/internal/worker/dns_reconciler_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  pkg/clients/quartermaster/grpc_client.go
  pkg/proto/quartermaster.pb.go
  pkg/proto/quartermaster.proto
Due: go-fmt, go-lint

fix billing fact timestamp type
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/handlers/billing_test.go
Due: go-fmt, go-lint

preserve actionable grpc errors
  pkg/grpcutil/sanitize.go
  pkg/grpcutil/sanitize_test.go
Due: go-fmt, go-lint

add mist stream name parser
  pkg/streamident/parse.go
  pkg/streamident/parse_test.go
Due: go-fmt, go-lint

fix(skipper): preserve context and expose progress
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/compaction.go
  api_consultant/internal/chat/compaction_test.go
  api_consultant/internal/chat/grpc_server.go
  api_consultant/internal/chat/handler.go
  api_consultant/internal/chat/handler_test.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/chat/prompt_utils.go
  api_consultant/internal/chat/prompt_utils_test.go
  api_consultant/internal/config/config.go
  docker-compose.yml
  pkg/llm/anthropic.go
  pkg/llm/openai.go
  pkg/llm/provider.go
  website_application/src/lib/components/skipper/SkipperToolStatus.svelte
  website_application/src/routes/skipper/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

feat(contracts): add stream relay and trigger contracts
  pkg/auth/artifact_relay.go
  pkg/auth/artifact_relay_test.go
  pkg/clients/periscope/grpc_client.go
  pkg/mist/client.go
  pkg/mist/client_test.go
  pkg/mist/processes.go
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
  pkg/proto/foghorn_federation.pb.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_relay.pb.go
  pkg/proto/foghorn_relay.proto
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
  pkg/proto/periscope.pb.go
  pkg/proto/periscope.proto
  pkg/proto/shared.pb.go
  pkg/proto/shared.proto
Due: go-fmt, go-lint

feat(helmsman): wire runtime names and source close
  api_sidecar/README.md
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/go.mod
  api_sidecar/internal/admission/admission.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/env.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_send_test.go
  api_sidecar/internal/control/client_test.go
  api_sidecar/internal/control/drain_handler_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_manager_test.go
  api_sidecar/internal/control/dvr_mist_test.go
  api_sidecar/internal/control/dvr_update_source_test.go
  api_sidecar/internal/control/local_segment_index.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/storage_admission.go
  api_sidecar/internal/handlers/storage_admission_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_defrost_test.go
  api_sidecar/internal/handlers/storage_manager_freeze_test.go
  api_sidecar/internal/handlers/storage_manager_parse_test.go
  api_sidecar/internal/leases/paths.go
  api_sidecar/internal/leases/relay_url_test.go
  api_sidecar/internal/relay/blockcache.go
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/peer_auth_test.go
  api_sidecar/internal/relay/resolver.go
  api_sidecar/internal/relay/server.go
Due: go-fmt, go-lint, frontend-format

chore(mist): refresh local controller config
  infrastructure/mistserver.conf
Due: none

Route clips through processing jobs
  api_balancing/internal/control/commodore_projection.go
  api_balancing/internal/control/managed_streams.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server_clip_done_test.go
  api_balancing/internal/grpc/relay_server.go
  api_balancing/internal/grpc/relay_server_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/state/stream_state.go
  api_gateway/internal/demo/generators.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_manager_freeze_test.go
  docs/architecture/clips-dvr.md
  pkg/database/postgres.go
  pkg/database/sql/migrations/foghorn/v0.2.77/contract/001_drop_defrost_columns.sql
  pkg/database/sql/migrations/foghorn/v0.2.77/postdeploy/001_clean_defrost_state.sql
  pkg/database/sql/schema/foghorn.sql
  pkg/database/sql/seeds/demo/demo_data.sql
  website_application/src/routes/library/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Harden DVR push ownership races
  api_balancing/internal/control/foghorn_balancer_base_test.go
  api_balancing/internal/control/stream_registry_redis_sync.go
  api_balancing/internal/control/stream_registry_redis_test.go
  api_balancing/internal/control/testhelpers_artifact_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
Due: go-fmt, go-lint

Finalize process-controlled recordings
  .gitignore
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/control/client_handlers_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
  infrastructure/mistserver.conf
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
Due: go-fmt, go-lint

fix(helmsman): return dtsh generation signal on sidecar failures
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/relay_test.go
Due: go-fmt, go-lint

fix(edge): correct lifecycle and sidecar reporting
  api_balancing/internal/control/server.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  api_sidecar/internal/handlers/relay_freeze.go
Due: go-fmt, go-lint

chore(mist): refresh process-controlled stream config
  infrastructure/mistserver.conf
Due: none

test(helmsman): cover cached dtsh upload handoff
  api_sidecar/internal/relay/relay_test.go
Due: go-fmt, go-lint

move migration to correct dir
  pkg/database/sql/migrations/foghorn/v0.2.77/expand/001_artifact_nodes_role_complete.sql
Due: none

chore: enforce next migration version
  scripts/check-migration-version.sh
Due: none

Fix global media service ingress routing
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/clusterderive/clusterderive.go
Due: go-fmt, go-lint

fix(helmsman): preserve replicated stream tags
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
Due: go-fmt, go-lint

Make aggregate edge DNS event-driven
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/update_node_status_test.go
Due: go-fmt, go-lint

fix(foghorn): clear stale replicated stream state
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_admission_test.go
  api_balancing/internal/federation/origin_pull.go
  api_balancing/internal/federation/origin_pull_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(foghorn): harden HA source routing
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_control_stream_test.go
  api_balancing/internal/control/server_mist_trigger_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/stream_context_cache_test.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
Due: go-fmt, go-lint

Fix edge DNS health and Bunny reconciliation
  api_dns/internal/provider/bunny/client.go
  api_dns/internal/provider/bunny/client_test.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
Due: go-fmt, go-lint

Fix DASH live startup
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
Due: frontend-format, frontend-lint

Fix processing queue rotation
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  pkg/database/sql/migrations/foghorn/v0.2.80/expand/001_processing_jobs_queued_attempt_index.sql
  pkg/database/sql/schema/foghorn.sql
Due: go-fmt, go-lint

Add storage serving observability
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/metrics.go
  api_balancing/internal/control/server.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/handlers/storage_metrics.go
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/defrost.go
  api_sidecar/internal/relay/defrost_test.go
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/metrics.go
  api_sidecar/internal/relay/relay_test.go
  api_sidecar/internal/relay/server.go
  infrastructure/grafana/dashboards/storage-serving.json
  infrastructure/metabase/periscope_cards.yaml
Due: go-fmt, go-lint, frontend-format

Harden DASH CMAF playback redirects
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/playback_redirect_test.go
  npm_player/packages/core/package.json
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
  pnpm-lock.yaml
Due: go-fmt, go-lint, frontend-format, frontend-lint

Improve Skipper support history diagnostics
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/chat/orchestrator.go
  api_consultant/internal/mcpclient/client.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/tools/support.go
  api_gateway/internal/mcp/tools/support_test.go
  api_ticketing/internal/grpc/server.go
Due: go-fmt, go-lint

Fix canonical usage analytics runtime accounting
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/handlers/billing.go
  api_analytics_query/internal/handlers/billing_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/usage_aggregates_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.80/expand/001_viewer_usage_tombstone_view.sql
  pkg/database/sql/clickhouse/periscope.sql
  website_application/src/routes/analytics/usage/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

quartermaster: instrument SyncMesh phases
  api_tenants/cmd/quartermaster/main.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

periscope: split viewer usage tombstone migration
  cli/pkg/dashcheck/dashcheck_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.80/contract/001_viewer_usage_tombstone_view.sql
Due: go-fmt, go-lint

consultant: allow listing support conversations in docs mode
  api_consultant/internal/chat/orchestrator_test.go
Due: go-fmt, go-lint

Remove total streams usage KPI
  website_application/src/routes/analytics/usage/+page.svelte
Due: frontend-format, frontend-lint

Fix Stripe top-up settlement and billing periods
  api_billing/internal/grpc/change_billing_tier_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/handlers/webhooks.go
Due: go-fmt, go-lint

Propagate Stripe subscription periods
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/stripe/client.go
Due: go-fmt, go-lint
