Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

Quiet successful S3 transfer logs
  api_balancing/internal/control/server.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/storage/presigned_client.go
Due: go-fmt, go-lint

ci: narrow go-livepeer pkg impact roots
  scripts/ci/go-livepeer-pkg-impact.sh
Due: none

ci: include proto sources in go-livepeer impact
  scripts/ci/go-livepeer-pkg-impact.sh
Due: none

fix(marketing): provide public config defaults
  packages/site-config/index.ts
  website_marketing/src/config.js
Due: frontend-format, frontend-lint

streaming: gate tenant ingest aliases by tier
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/infrastructure_streaming_config_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/tenant_subdomain_test.go
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
Due: go-fmt, go-lint

db: move pending migrations to v0.2.82
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.82/contract/001_rollup_canonical_swap.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.82/contract/002_ignore_unknown_fps_rollups.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.82/expand/001_finalized_fact_ledgers.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.82/expand/002_viewer_sessions_breakdown_columns.sql
  pkg/database/sql/migrations/foghorn/v0.2.82/expand/001_processing_job_dispatch_columns.sql
  pkg/database/sql/migrations/purser/v0.2.82/contract/001_widen_usage_amounts.sql
  pkg/database/sql/migrations/purser/v0.2.82/expand/001_usage_record_value_kind_quarantine.sql
  pkg/database/sql/migrations/purser/v0.2.82/expand/002_canonical_meter_constraints.sql
  pkg/database/sql/migrations/purser/v0.2.82/expand/003_value_kind_default_fail_closed.sql
  pkg/database/sql/migrations/purser/v0.2.82/expand/004_storage_provider_usage_adjustments.sql
  pkg/database/sql/migrations/purser/v0.2.82/postdeploy/001_canonical_meter_constraints.sql
Due: none

analytics: keep unknown stream starts unambiguous
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers_test.go
Due: go-fmt, go-lint

quartermaster: batch reciprocal mesh peer lookup
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
Due: go-fmt, go-lint

cli: capture deployment snapshots
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent-scrape.yml.j2
  cli/cmd/cluster_logs.go
  cli/cmd/cluster_logs_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_snapshot.go
Due: go-fmt, go-lint

quartermaster: precompute mesh configs
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  cli/cmd/cluster_snapshot.go
  pkg/database/sql/migrations/quartermaster/v0.2.82/expand/001_mesh_node_configs.sql
  pkg/database/sql/migrations/quartermaster/v0.2.82/postdeploy/001_mesh_topology_revision_triggers.sql
  pkg/database/sql/schema/quartermaster.sql
Due: go-fmt, go-lint

feat(analytics): capture playback session qoe
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/playback_qoe_test.go
  api_firehose/internal/grpc/server.go
  api_gateway/cmd/bridge/main.go
  api_gateway/internal/handlers/beacon_intake.go
  api_gateway/internal/handlers/beacon_intake_test.go
  api_gateway/internal/handlers/playback_session_telemetry.go
  api_gateway/internal/handlers/playback_session_telemetry_test.go
  api_gateway/internal/handlers/playback_telemetry.go
  api_gateway/internal/handlers/playback_telemetry_test.go
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/SessionQoeReporter.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/session-qoe-reporter.test.ts
  npm_player/packages/svelte/src/Player.svelte
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.82/expand/003_session_qoe_telemetry.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  website_application/src/lib/components/Player.svelte
  website_marketing/src/components/pages/LandingPage.jsx
Due: go-fmt, go-lint, frontend-format, frontend-lint

docs: document playback qoe analytics
  docs/architecture/analytics-pipeline.md
  website_docs/src/content/docs/builders/analytics-api.mdx
  website_docs/src/content/docs/migrate/bunny-stream.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_docs/src/content/docs/platform/feature-matrix.mdx
  website_docs/src/content/docs/roadmap.mdx
Due: frontend-format

fix(foghorn): count correlated viewer sessions once
  api_balancing/internal/balancer/balancer_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_balancing/internal/state/tenant_capacity.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
Due: go-fmt, go-lint

feat(billing): reconcile entitlement overrides
  api_billing/internal/bootstrap/customer_billing.go
  api_billing/internal/bootstrap/customer_billing_test.go
  api_billing/internal/bootstrap/desired_state.go
  api_billing/internal/bootstrap/overlay_merge_test.go
  cli/pkg/bootstrap/types.go
  docs/architecture/bootstrap-desired-state.md
Due: go-fmt, go-lint, frontend-format

fix(analytics): recover stream runtime starts in rebuilds
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
Due: go-fmt, go-lint

fix(player): replay live control state after connect
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/test/native-player-whep.test.ts
  npm_player/packages/core/test/webrtc-scoring.test.ts
Due: frontend-format, frontend-lint

feat(cli): register cluster snapshot command
  cli/cmd/cluster.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

test: cover service helper invariants
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/pure_helpers_test.go
  api_analytics_query/internal/handlers/codec_test.go
  api_balancing/internal/control/dvr_chapters_id_test.go
  api_billing/internal/billing/effective_test.go
  api_billing/internal/grpc/dvr_policy_test.go
  api_billing/internal/grpc/server_helpers_test.go
  api_consultant/internal/config/config_parsers_test.go
  api_consultant/internal/knowledge/dedup_test.go
  api_consultant/internal/social/format_test.go
  api_control/internal/grpc/normalize_helpers_test.go
  api_dns/internal/provider/bunny/normalize_test.go
  api_gateway/graph/orchestrator_price_helpers_test.go
  api_gateway/internal/handlers/bootstrap_infra_test.go
  api_gateway/internal/mcp/tools/infrastructure_test.go
  api_gateway/internal/mcp/tools/qoe_protocol_test.go
  api_tenants/internal/grpc/enum_mappers_test.go
Due: go-fmt, go-lint

docs: sync analytics feature registry
  docs/platform-features.yaml
  website_application/src/lib/features/registry.json
Due: frontend-format

fix(migrations): make usage adjustments retry-safe
  pkg/database/sql/migrations/purser/v0.2.82/expand/004_storage_provider_usage_adjustments.sql
Due: none

dns: restore assignment-backed Foghorn DNS
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

Wait for WHEP media before ready
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/test/native-player-whep.test.ts
Due: frontend-format, frontend-lint

Gate HLS readiness on media startup
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/videojs-player.test.ts
Due: frontend-format, frontend-lint

feat(processing): stamp livepeer workload contract
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/triggers/managed_stream_materializer.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/mist/coercion_test.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

fix(orchestrator): route mist updates through drain flow
  api_balancing/internal/orchestrator/phase_redrive_test.go
  api_balancing/internal/orchestrator/reconciler.go
Due: go-fmt, go-lint

fix(dns): preserve service records without candidates
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
Due: go-fmt, go-lint

fix(analytics): skip artifact runtime rows without starts
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
  api_analytics_ingest/internal/handlers/pure_guards_test.go
  api_analytics_query/internal/grpc/orchestrators_handler_test.go
  api_analytics_query/internal/grpc/server_test.go
Due: go-fmt, go-lint

test: pin media and billing edge helpers
  api_balancing/internal/balancer/host_to_binary_test.go
  api_balancing/internal/control/relay_content_type_test.go
  api_billing/internal/handlers/webhooks_status_test.go
  api_billing/internal/handlers/x402_payload_test.go
  api_gateway/internal/resolvers/media_retention_helpers_test.go
  api_gateway/internal/resolvers/playback_access_control_helpers_test.go
  api_gateway/internal/resolvers/stream_event_mapping_test.go
Due: go-fmt, go-lint

fix(ci): refresh feature registry artifacts
  api_gateway/internal/resolvers/analytics_connections.go
  website_application/src/lib/features/registry.json
Due: go-fmt, go-lint, frontend-format

chore(logging): quiet billing summary success logs
  api_analytics_query/internal/handlers/billing.go
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

Emit player ready after media metadata
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/players/VideoJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/native-player-whep.test.ts
  npm_player/packages/core/test/player-interface.test.ts
Due: frontend-format, frontend-lint

Restart consumers on Kafka group loss
  api_analytics_ingest/cmd/periscope/main.go
  api_realtime/cmd/signalman/main.go
  pkg/kafka/consumer.go
  pkg/kafka/consumer_test.go
Due: go-fmt, go-lint

Serve warmed SyncMesh configs from cache
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  pkg/database/sql/migrations/quartermaster/v0.2.85/postdeploy/001_mesh_topology_revision_trigger_narrowing.sql
  pkg/database/sql/schema/quartermaster.sql
Due: go-fmt, go-lint

Quarantine stream ends without starts
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders.go
  api_analytics_ingest/internal/handlers/ledger_rebuilders_test.go
Due: go-fmt, go-lint

Resolve routing events by stream context
  api_balancing/internal/handlers/handlers.go
Due: go-fmt, go-lint

Preserve requested Livepeer profile dimensions
  api_balancing/internal/handlers/livepeer_auth_test.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

Use service metrics ports in vmagent scrapes
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
