Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

Fix Commodore stream lookup boundary
  api_control/internal/grpc/server.go
  cli/pkg/inventory/parser.go
Due: go-fmt, go-lint

Fix pull stream origin stamping
  api_control/internal/grpc/pull_source_events.go
  api_control/internal/grpc/pull_source_events_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/stream_origin_region_test.go
Due: go-fmt, go-lint

Accept plain DONE LLM stream terminator
  pkg/llm/openai_test.go
  pkg/llm/provider.go
Due: go-fmt, go-lint

Limit node mode lookups to edge nodes
  api_gateway/internal/resolvers/node_mode.go
  api_gateway/internal/resolvers/node_mode_test.go
  website_application/src/routes/nodes/[id]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Log malformed OpenAI stream chunks
  pkg/llm/openai.go
  pkg/llm/openai_test.go
Due: go-fmt, go-lint

Hide infra cluster capacity defaults
  api_gateway/internal/resolvers/analytics_connections.go
  pkg/database/sql/migrations/quartermaster/v0.2.41/expand/001_cluster_capacity_defaults_zero.sql
  pkg/database/sql/schema/quartermaster.sql
  website_application/src/routes/infrastructure/[clusterId]/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Wake Skipper social agent on new signals
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/social/agent.go
  api_consultant/internal/social/collector.go
  api_consultant/internal/social/collector_test.go
Due: go-fmt, go-lint

fix federation map node visibility
  website_application/src/lib/components/charts/RoutingMap.svelte
  website_marketing/src/components/marketing/network/NetworkMap.jsx
Due: frontend-format, frontend-lint

fix marketing map overlay controls
  website_marketing/src/styles/marketing/network.css
Due: none

fix(skipper): tolerate coalesced SSE chunks
  pkg/llm/openai_test.go
  pkg/llm/provider.go
Due: go-fmt, go-lint

fix(infra): use service identities for internal grpc
  api_balancing/cmd/foghorn/main.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  pkg/clients/decklog/client.go
  pkg/clients/decklog/client_test.go
  pkg/clients/foghorn/grpc_client.go
  pkg/clients/foghorn/grpc_client_test.go
  pkg/clients/foghorn/pool.go
  pkg/clients/signalman/grpc_client.go
  pkg/clients/signalman/grpc_client_test.go
Due: go-fmt, go-lint

fix(nginx): answer public http health checks
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  cli/pkg/provisioner/nginx_role.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint, frontend-format

fix(quartermaster): persist skipped health checks
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
Due: go-fmt, go-lint

fix(cli): harden edge release target sync
  cli/cmd/cluster_releases.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

feat(cli): reset skipper knowledge crawl state
  cli/cmd/cluster_skipper.go
  cli/cmd/cluster_skipper_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

feat: harden defrost storage leases
  api_balancing/internal/control/defrost_helpers.go
  api_balancing/internal/control/defrost_tracker.go
  api_balancing/internal/control/defrost_tracker_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/control/server_sync_complete_test.go
  api_balancing/internal/handlers/handlers.go
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/leases_init.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/storage_admission.go
  api_sidecar/internal/handlers/storage_admission_test.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/leases/chapter_registry.go
  api_sidecar/internal/leases/deferred_delete.go
  api_sidecar/internal/leases/global.go
  api_sidecar/internal/leases/heat.go
  api_sidecar/internal/leases/leases.go
  api_sidecar/internal/leases/leases_test.go
  api_sidecar/internal/leases/registries_test.go
  api_sidecar/internal/leases/source_registry.go
  api_sidecar/internal/leases/streamname.go
  pkg/proto/ipc.pb.go
  pkg/proto/ipc.proto
Due: go-fmt, go-lint

Update media storage UI and docs
  docs/architecture/clips-dvr.md
  docs/architecture/dvr-continuous-archive.md
  docs/architecture/federation.md
  docs/architecture/thumbnails.md
  docs/platform-features.yaml
  docs/standards/dvr-chapters.md
  website_application/src/lib/components/account/MediaRetentionPanel.svelte
  website_application/src/lib/components/library/AssetRetentionDialog.svelte
  website_application/src/lib/components/stream-details/ArtefactsTabPanel.svelte
  website_application/src/lib/components/stream-details/StreamEditModal.svelte
  website_application/src/lib/config.ts
  website_application/src/lib/dvr-chapters.ts
  website_application/src/lib/features/registry.json
  website_application/src/lib/navigation.ts
  website_application/src/routes/account/storage/+page.svelte
  website_application/src/routes/library/+page.svelte
  website_application/src/routes/streams/[id]/+page.svelte
  website_application/src/routes/view/+page.svelte
  website_docs/astro.config.mjs
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/builders/clips.mdx
  website_docs/src/content/docs/builders/dvr-chapters.mdx
  website_docs/src/content/docs/builders/playback.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/builders/storage-and-retention.mdx
  website_docs/src/content/docs/builders/streams.mdx
  website_docs/src/content/docs/migrate/generic.mdx
  website_docs/src/content/docs/migrate/index.mdx
  website_docs/src/content/docs/migrate/mux.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/dvr.mdx
  website_docs/src/content/docs/operators/media-storage.mdx
Due: frontend-format, frontend-lint

Fix local media dev wiring
  docker-compose.yml
Due: frontend-format

Clarify historical DVR chapter mode
  docs/standards/dvr-chapters.md
  pkg/graphql/schema.graphql
  website_application/src/lib/components/stream-details/ArtefactsTabPanel.svelte
  website_application/src/lib/components/stream-details/StreamEditModal.svelte
  website_docs/src/content/docs/builders/dvr-chapters.mdx
  website_docs/src/content/docs/builders/recordings.mdx
  website_docs/src/content/docs/operators/dvr.mdx
Due: frontend-format, frontend-lint

Fix local media storage resolution
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/balancer/balancer.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_test.go
  api_balancing/internal/storage/cluster_resolver.go
  api_balancing/internal/storage/cluster_resolver_test.go
  api_gateway/internal/demo/generators.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

Fix postpaid prepaid credit application
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_prepaid_test.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/handlers/prepaid_credit_tx_test.go
Due: go-fmt, go-lint

Fix local media processing regressions
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_gateway/internal/clients/clients.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_handlers_test.go
  pkg/cache/cache.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/grpc_client_test.go
  pkg/server/server.go
  pkg/server/server_test.go
Due: go-fmt, go-lint

Route rolling DVR clips from recording node
  api_balancing/internal/grpc/clip_source_dispatch.go
  api_balancing/internal/grpc/clip_source_dispatch_test.go
  api_balancing/internal/grpc/server.go
Due: go-fmt, go-lint

Fix media processing source routing
  api_balancing/README.md
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/vod_pipeline.go
  api_balancing/internal/jobs/job_router.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_balancing/internal/triggers/processor.go
  api_control/internal/grpc/server.go
  api_sidecar/README.md
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/storage_manager.go
  api_sidecar/internal/relay/handler.go
  docs/architecture/clips-dvr.md
  pkg/database/sql/migrations/foghorn/v0.2.42/expand/004_processing_job_source_url.sql
  pkg/database/sql/schema/foghorn.sql
  pkg/proto/shared.pb.go
  pkg/proto/shared.proto
  website_application/src/routes/view/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix billing invoice lint shadowing
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

Allow uploads without exposed ETags
  website_application/src/lib/uploads/engine.test.ts
  website_application/src/lib/uploads/engine.ts
Due: frontend-format, frontend-lint

Fix DVR target option delimiter
  pkg/mist/client.go
Due: go-fmt, go-lint

Improve Helmsman disk pressure accounting
  api_sidecar/cmd/helmsman/main.go
  api_sidecar/internal/config/env.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_handlers_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/handlers/cleanup.go
  api_sidecar/internal/handlers/storage_admission.go
  api_sidecar/internal/relay/relay_test.go
  api_sidecar/internal/storage/diskspace.go
  api_sidecar/internal/storage/diskspace_blocksize_default.go
  api_sidecar/internal/storage/diskspace_blocksize_linux.go
  api_sidecar/internal/storage/diskspace_test.go
Due: go-fmt, go-lint

Add cluster node tuning workflow
  .github/workflows/ansible.yml
  AGENTS.md
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/tasks/tune.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/molecule/default/converge.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/apt_policy.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/limits.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/needrestart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/packages.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/snapd.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/sysctl.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/timers.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/templates/apt_zz-frameworks-policy.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/templates/limits_10-frameworks-baseline.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/templates/needrestart_zz-frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/templates/sysctl_10-frameworks-baseline.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/templates/sysctl_20-frameworks-edge.conf.j2
  ansible/playbooks/cluster_os_update.yml
  ansible/playbooks/node_tuning.yml
  cli/cmd/cluster.go
  cli/cmd/cluster_os_update.go
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/edge.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/node_tuning.go
  cli/pkg/provisioner/node_tuning_role.go
  docs/architecture/os-tuning.md
  docs/rfcs/cluster-os-update-drain.md
  tools/release-plan/go.sum
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

Fix clip processing staging and DVR playback UI
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/admission/admission.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
  api_sidecar/internal/handlers/storage_admission.go
  api_sidecar/internal/handlers/storage_admission_test.go
  website_application/src/lib/config.ts
  website_application/src/lib/dvr-chapters.ts
  website_application/src/routes/library/+page.svelte
  website_application/src/routes/view/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Format DVR requests GraphQL query
  pkg/graphql/operations/queries/GetDVRRequests.gql
Due: none

Fix artifact playback and processing lifecycle
  api_balancing/internal/control/dvr_dispatch.go
  api_balancing/internal/control/dvr_dispatch_test.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/control/dvr_segments_repo_test.go
  api_balancing/internal/control/relay_resolve.go
  api_balancing/internal/control/relay_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/control/testhelpers_artifact_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_balancing/internal/triggers/processor.go
  api_control/internal/grpc/server.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/resolvers/vod.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

Seed playable demo DVR chapter artifact
  infrastructure/demo-recordings/vod/34d74b7acd7ec8cf78f6cc8c9f031a8a.mkv
  pkg/database/sql/migrations/foghorn/v0.2.42/expand/010_processing_job_source_url.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

Prefer enriched artifact status in library
  website_application/src/routes/library/+page.svelte
Due: frontend-format, frontend-lint

Update feature matrix surfaces
  website_application/src/lib/features/registry.json
  website_docs/src/content/docs/platform/feature-matrix.mdx
Due: frontend-format

Harden node tuning verification
  .github/workflows/ansible.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/verify.yml
Due: frontend-format
