Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

Fix local Chandler asset URL overrides
  api_balancing/internal/control/chandler_base_test.go
  api_balancing/internal/control/server.go
  api_control/internal/clusterurls/resolver.go
  api_control/internal/clusterurls/resolver_test.go
  docker-compose.yml
Due: go-fmt, go-lint, frontend-format

Set local Chandler asset origin in base env
  api_balancing/internal/control/server.go
  api_control/internal/clusterurls/resolver.go
  config/env/base.env
Due: go-fmt, go-lint

Fix demo artifact seed playback state
  infrastructure/demo-recordings/clips/demo_live_stream_001/a1b2c3d4e5f6789012345678901234ab.mp4
  infrastructure/demo-recordings/vod/34d74b7acd7ec8cf78f6cc8c9f031a8a.mkv
  infrastructure/demo-recordings/vod/c3d4e5f678901234567890123456abcd.webm
  pkg/database/sql/seeds/demo/demo_data.sql
  website_application/src/routes/library/+page.svelte
Due: frontend-format, frontend-lint

Fix artifact lifecycle state context
  api_analytics_query/internal/grpc/server.go
  api_balancing/internal/control/server.go
  api_balancing/internal/grpc/server.go
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
Due: go-fmt, go-lint

Fix artifact playback source resolution
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/relay/handler.go
Due: go-fmt, go-lint

Emit processing lifecycle progress reliably
  api_balancing/internal/jobs/processing_dispatcher.go
  api_sidecar/internal/handlers/processing.go
Due: go-fmt, go-lint

Resolve artifact hashes in Mist playback triggers
  api_balancing/internal/control/resolver.go
Due: go-fmt, go-lint

Harden artifact relay reads
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/relay_test.go
  api_sidecar/internal/relay/resolver.go
Due: go-fmt, go-lint

Fix Mist relay connection reuse
  api_sidecar/internal/relay/dtsh.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/relay_test.go
Due: go-fmt, go-lint

Retry artifact cache deadlocks
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/repos_artifact_test.go
Due: go-fmt, go-lint

Stabilize artifact lifecycle status merges
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_gateway/internal/resolvers/artifact_lifecycle_status.go
  api_gateway/internal/resolvers/artifact_lifecycle_status_test.go
  api_gateway/internal/resolvers/streams.go
  api_gateway/internal/resolvers/vod.go
Due: go-fmt, go-lint

Fix Mist artifact processing config
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
  docs/architecture/dvr-continuous-archive.md
  docs/architecture/thumbnails.md
  pkg/clients/commodore/grpc_client.go
  pkg/database/sql/migrations/foghorn/v0.2.42/expand/007_dvr_artifacts_processes_json.sql
  pkg/database/sql/schema/foghorn.sql
  pkg/mist/processes.go
  pkg/mist/processes_test.go
  website_docs/src/content/docs/builders/dvr-chapters.mdx
Due: go-fmt, go-lint, frontend-format

Wake artifact lifecycle workers on events
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/dvr_chapter_finalize_hook.go
  api_balancing/internal/control/dvr_chapters_repo.go
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_balancing/internal/jobs/processing_dispatcher.go
Due: go-fmt, go-lint

Persist edge state for artifact playback
  api_balancing/internal/control/dvr_dispatch.go
  api_balancing/internal/control/dvr_segments_handlers.go
  api_balancing/internal/control/server.go
  api_balancing/internal/triggers/processor.go
  api_sidecar/internal/relay/blockserve.go
Due: go-fmt, go-lint

Refresh demo artifact fixtures
  infrastructure/demo-recordings/vod/34d74b7acd7ec8cf78f6cc8c9f031a8a.mkv
  infrastructure/demo-recordings/vod/34d74b7acd7ec8cf78f6cc8c9f031a8a.mp4
  infrastructure/demo-recordings/vod/c3d4e5f678901234567890123456abcd.mp4
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

Project generated artifact thumbnails
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_thumbnail_test.go
Due: go-fmt, go-lint

fix(ansible): tolerate container sysctl runtime defaults
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/verify.yml
Due: frontend-format

Fix HA DVR playback routing
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
  website_application/src/routes/library/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Fix artifact relay and DVR track selection
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/relay_url.go
  api_balancing/internal/triggers/relay_url_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_mist_test.go
  api_sidecar/internal/control/thumbnail_vtt_test.go
  api_sidecar/internal/handlers/processing.go
Due: go-fmt, go-lint

Harden Foghorn HA state and routing
  api_balancing/cmd/foghorn/main.go
  api_balancing/cmd/foghorn/main_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/federation/cache.go
  api_balancing/internal/federation/cache_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/stream_context_cache.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/redis_store_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_utility_test.go
Due: go-fmt, go-lint

Gate artifact processing pushes on track readiness
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

Allow degraded processing outputs
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

Project processing job state onto artifacts
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
Due: go-fmt, go-lint

Fix auto DVR source-node race
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_dvr_source_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

Fix processing stream boot readiness
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

Stabilize artifact playback resolution
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint

Remove stale WebM demo VOD fixture
  infrastructure/demo-recordings/vod/c3d4e5f678901234567890123456abcd.webm
  scripts/ensure-demo-recordings.sh
Due: none

Tighten library lifecycle display
  api_sidecar/internal/config/manager_streams_test.go
  website_application/src/routes/library/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Use live poster for DVR fallback thumbnails
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_utility_test.go
Due: go-fmt, go-lint

Add live DVR processing plan
  docs/rfcs/live-dvr-processing-plan.md
Due: frontend-format

Ignore local demo recording outputs
  .gitignore
  app_mac/Sources/Gateway/GeneratedQueries.swift
Due: none

Preserve auth sessions during upstream outages
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
Due: go-fmt, go-lint

Fix processing lifecycle completion state
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/vod_pipeline.go
  api_balancing/internal/grpc/vod_status_test.go
Due: go-fmt, go-lint

Fix processing status projection
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
Due: go-fmt, go-lint

Limit gRPC retries to transport failures
  pkg/clients/failsafe_grpc.go
  pkg/clients/failsafe_retry_test.go
Due: go-fmt, go-lint

Gate library playback on artifact readiness
  pkg/graphql/operations/fragments/ClipFields.gql
  pkg/graphql/operations/fragments/DVRRequestFields.gql
  pkg/graphql/operations/queries/GetClipsConnection.gql
  pkg/graphql/operations/queries/GetDVRRequests.gql
  pkg/graphql/operations/queries/GetVodAssetsConnection.gql
  website_application/src/routes/library/+page.svelte
Due: frontend-format, frontend-lint

Fix player cold boot recovery
  npm_player/packages/core/package.json
  npm_player/packages/core/src/core/AutoplayRecovery.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/test/player-controller-cold-boot.test.ts
  npm_player/packages/core/test/player-controller-loading-poster.test.ts
  npm_player/packages/react/package.json
  npm_player/packages/react/src/components/LoadingPoster.tsx
  npm_player/packages/react/test/LoadingPoster.test.tsx
  npm_player/packages/svelte/package.json
  npm_player/packages/svelte/src/LoadingPoster.svelte
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/svelte/test/loadingPoster.test.ts
  npm_player/packages/wc/package.json
  npm_player/packages/wc/src/components/fw-loading-poster.ts
  website_application/src/lib/components/shared/SpriteThumbnail.svelte
Due: frontend-format, frontend-lint

Show rolling DVR readiness accurately
  website_application/src/routes/library/+page.svelte
Due: frontend-format, frontend-lint

Move artifact storage state migration
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.43/expand/001_artifact_storage_state.sql
Due: none

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
