Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix kafka regional provisioning lifecycle
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/vars/main.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/kafka_role.go
Due: go-fmt, go-lint, frontend-format

validate kafka mirrormaker fanout
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/mm2.properties.j2
  cli/pkg/orchestrator/planner_test.go
  cli/pkg/provisioner/kafka_mirrormaker_role.go
Due: go-fmt, go-lint, frontend-format

fix named redis package service conflict
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
Due: frontend-format

fix regional service topology resolution
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_redis_test.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
Due: go-fmt, go-lint, frontend-format

fix mirrormaker systemd unit rendering
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/templates/kafka-mirrormaker.service.j2
Due: frontend-format

fix mirrormaker dedicated worker validation
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/validate.yml
Due: frontend-format

fix ansible production lint violations
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
Due: frontend-format

fix redis sentinel runtime config writes
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/vars/main.yml
  cli/pkg/provisioner/redis_role_test.go
Due: go-fmt, go-lint, frontend-format

fix redis sentinel test helper
  cli/pkg/provisioner/redis_role_test.go
Due: go-fmt, go-lint

fix bridge grpc env generation
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

enforce generated service env preflight
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

fix postgres instance database credentials
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/init.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/postgres_role.go
  cli/pkg/provisioner/postgres_role_test.go
Due: go-fmt, go-lint, frontend-format

fix yugabyte per-database credentials
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/init.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/yugabyte_role.go
  cli/pkg/provisioner/yugabyte_role_test.go
Due: go-fmt, go-lint, frontend-format

fix privateer service pki ownership
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/pki.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/templates/privateer.service.j2
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint, frontend-format

fix privateer group lookup lint
  api_mesh/internal/agent/agent.go
Due: go-fmt, go-lint

preserve bootstrap failure diagnostics
  ansible/collections/ansible_collections/frameworks/infra/roles/service_bootstrap/tasks/main.yml
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint, frontend-format

fix bootstrap alias resolution timeout
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

fix remote tunnel tls server name
  cli/pkg/remoteaccess/session.go
  cli/pkg/remoteaccess/session_test.go
Due: go-fmt, go-lint

fix cluster scoped yugabyte service databases
  cli/cmd/cluster_init.go
  cli/cmd/cluster_migrate.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_seed.go
  cli/pkg/provisioner/migrate_helpers.go
  cli/pkg/provisioner/migration_state_test.go
  cli/pkg/provisioner/schema_helpers.go
  cli/pkg/provisioner/schema_helpers_test.go
Due: go-fmt, go-lint

fix privateer cert sync service reconciliation
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
Due: go-fmt, go-lint

fix service registration topology handling
  api_balancing/internal/config/config.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/foghorn_assignment_test.go
  api_tenants/internal/grpc/server.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  pkg/database/sql/migrations/quartermaster/v0.2.37/expand/001_service_cluster_assignments_source.sql
  pkg/database/sql/migrations/quartermaster/v0.2.37/postdeploy/001_service_cluster_assignments_source_validate.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/redis/client.go
Due: go-fmt, go-lint

fix bootstrap TLS bundle derivation
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
Due: go-fmt, go-lint

fix node topology bootstrap migration
  api_tenants/internal/bootstrap/desired_state.go
  api_tenants/internal/bootstrap/nodes.go
  api_tenants/internal/bootstrap/nodes_test.go
  pkg/database/sql/migrations/quartermaster/v0.2.38/expand/001_node_cluster_fks_deferrable.sql
  pkg/database/sql/schema/quartermaster.sql
Due: go-fmt, go-lint

Add topology-driven mesh dependency policy
  api_tenants/internal/bootstrap/service_registry.go
  api_tenants/internal/grpc/bootstrap_infra_node_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/mesh_doctor.go
  cli/cmd/mesh_doctor_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
  docs/standards/environment-configuration.md
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
  website_docs/src/content/docs/operators/mesh-bootstrap.mdx
Due: go-fmt, go-lint, frontend-format

Add runtime mesh intent to bootstrap tokens
  cli/cmd/admin.go
  cli/cmd/admin_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

Use read committed for quartermaster bootstrap
  api_tenants/cmd/quartermaster/bootstrap.go
Due: go-fmt, go-lint

Fail closed when network topology is unavailable
  api_gateway/internal/resolvers/analytics_connections.go
Due: go-fmt, go-lint

apparently those arrows get parsed as a control character...
  website_docs/src/content/docs/operators/mesh-bootstrap.mdx
Due: frontend-format

Ensure reciprocal mesh reachability
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
Due: go-fmt, go-lint

Avoid netcat dependency in mesh reachability check
  cli/cmd/cluster_provision.go
Due: go-fmt, go-lint

Install node baseline utilities during provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/main.yml
  ansible/playbooks/node_baseline.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/node_baseline.go
  cli/pkg/provisioner/node_baseline_test.go
Due: go-fmt, go-lint, frontend-format

Make Skipper Bridge MCP routing topology-driven
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/config/config.go
  api_consultant/internal/config/config_test.go
  api_consultant/internal/mcpclient/client.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  docs/architecture/skipper.md
  docs/standards/environment-configuration.md
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
  website_docs/src/content/docs/operators/mesh-bootstrap.mdx
Due: go-fmt, go-lint, frontend-format

Fix mesh topology sync and Skipper bridge routing
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/mcpclient/client.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  docs/architecture/skipper.md
  website_docs/src/content/docs/operators/mesh-bootstrap.mdx
Due: go-fmt, go-lint, frontend-format

Run node baseline provisioning concurrently
  cli/cmd/cluster_provision.go
Due: go-fmt, go-lint

release: harden carry-forward planning
  .github/workflows/release.yml
  .gitignore
  cli/pkg/gitops/types.go
  docs/architecture/build-and-packaging.md
  tools/release-plan/hash.go
  tools/release-plan/hash_test.go
  tools/release-plan/plan.go
  tools/release-plan/plan_test.go
  tools/release-plan/types.go
Due: go-fmt, go-lint, frontend-format

Retry Quartermaster bootstrap transaction restarts
  api_tenants/cmd/quartermaster/bootstrap.go
  api_tenants/cmd/quartermaster/bootstrap_test.go
Due: go-fmt, go-lint

Remove whole-run provision timeout
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
Due: go-fmt, go-lint

Fix media alias reconciliation and DNS health checks
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  api_dns/internal/provider/cloudflare/types.go
  cli/cmd/cluster_preflight.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  cli/pkg/clusterderive/clusterderive.go
  cli/pkg/clusterderive/clusterderive_test.go
  cli/pkg/inventory/parser.go
Due: go-fmt, go-lint

Add media diagnostics and harden storage usage
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/handlers/billing.go
  cli/cmd/cluster_diagnose.go
  cli/cmd/cluster_diagnose_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
