Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

fix(gateway): log deleting an already-deleted stream as not found, not as a server error
  api_gateway/internal/resolvers/streams.go
Due: go-fmt, go-lint

fix(purser): log an invoice draft update interrupted by shutdown at info, since Kafka redelivers the report
  api_billing/internal/handlers/jobs.go
Due: go-fmt, go-lint

fix(helmsman): lease a fresh processing output booted for its header by its source override path, not with a degraded lease
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_vod_override_test.go
Due: go-fmt, go-lint

fix(commodore): resolve a DVR chapter to its parent stream in the identifier fallback, as the signed media authority does
  api_control/internal/database/commodoredb/identifier_resolution.sql.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/queries/identifier_resolution.sql
Due: go-fmt, go-lint

fix(caddy): keep the internal CA's root out of the host trust store in every Caddy render path
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/templates/Caddyfile.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/edge/templates/Caddyfile.native.j2
  api_sidecar/internal/config/caddyfile.go
  api_sidecar/internal/config/caddyfile_test.go
  cli/internal/templates/edge/Caddyfile.tmpl
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  edge/rootfs/etc/frameworks/templates/Caddyfile.bootstrap
Due: go-fmt, go-lint

test(purser): end the stack month-end period at the latest fully metered window, since metering reports a window minutes after it closes
  api_billing/internal/handlers/stack_month_end_test.go
Due: go-fmt, go-lint

feat(analytics): identify non-live content by artifact_hash on viewer, routing and client QoE events, so uploaded-VOD viewers are recorded and held
  api_analytics_ingest/internal/database/periscopeingestdb/core_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/telemetry_writers.go
  api_analytics_ingest/internal/handlers/artifact_identity_test.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/handlers_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/routing_event.go
  api_balancing/internal/handlers/routing_event_test.go
  api_balancing/internal/triggers/artifact_identity_test.go
  api_balancing/internal/triggers/client_lifecycle_batcher.go
  api_balancing/internal/triggers/local_media_authority.go
  api_balancing/internal/triggers/processor.go
  api_control/internal/database/commodoredb/identifier_resolution.sql.go
  api_control/internal/database/commodoredb/query_catalog_realpg_test.go
  api_control/internal/database/queries/identifier_resolution.sql
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_retry_test.go
  cli/pkg/provisioner/demo_seed_clickhouse_test.go
  docs/architecture/analytics-pipeline.md
  pkg/clients/decklog/client.go
  pkg/clients/decklog/client_more_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.11/expand/005_artifact_content_identity.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  scripts/stack/scenarios/03-livepeer-vod.sh
Due: go-fmt, go-lint, frontend-format

docs(agents): allow agents to run make graphql-all except on a master checkout shared with concurrent agents
  AGENTS.md
Due: frontend-format

test(stack): bake the network fault tools into a local image built on the host network, so a fault scenario never depends on package mirrors reachable from inside the service
  scripts/stack/lib.sh
Due: none

fix(webhooks): refuse platform-internal names, this host's own addresses and mesh-routed addresses for tenant webhooks even when private destinations are allowed
  api_balancing/internal/appconfig/foghorn.go
  api_balancing/internal/triggers/playback_webhook_private_test.go
  api_control/internal/appconfig/commodore.go
  api_control/internal/grpc/playback_access_control_test.go
  api_control/internal/grpc/playback_webhook_private_test.go
  api_webhooks/internal/appconfig/bosun.go
  api_webhooks/internal/delivery/delivery_test.go
  api_webhooks/internal/validate/validate_test.go
  cli/internal/configschema/config-schema.json
  docs/architecture/bosun.md
  pkg/restream/platform_address.go
  pkg/restream/platform_address_test.go
  pkg/restream/policy.go
  pkg/restream/webhook.go
  pkg/restream/webhook_test.go
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go-fmt, go-lint, frontend-format

fix(chandler): keep replicas ready as degraded while the shared object store is slow, failing readiness only when the store refuses this instance
  api_assets/internal/handlers/assets.go
  api_assets/internal/handlers/assets_test.go
  docs/architecture/thumbnails.md
Due: go-fmt, go-lint, frontend-format

fix(commodore): refuse an API token expiry in the past or more than 3650 days out, and return the rule to the tenant as a ValidationError
  api_control/internal/grpc/api_token_handlers_test.go
  api_control/internal/grpc/server.go
  api_gateway/internal/resolvers/developer.go
  api_gateway/internal/resolvers/developer_handlers_test.go
Due: go-fmt, go-lint

fix(commodore): log Foghorn artifact RPC failures by gRPC status class so caller refusals no longer log at error
  api_control/internal/grpc/foghorn_call_log.go
  api_control/internal/grpc/foghorn_call_log_test.go
  api_control/internal/grpc/server.go
Due: go-fmt, go-lint

fix(cli): judge diagnose dns on forward queries answered during a 15 s observation window, not Privateer's cumulative counter
  cli/cmd/cluster_diagnose.go
  cli/cmd/privateer_dns_scope.go
  cli/cmd/privateer_dns_scope_test.go
Due: go-fmt, go-lint

fix(cli): authenticate the doctor's edge-config check with the --gitops-dir/--manifest cluster's SERVICE_TOKEN, not the active context's
  cli/cmd/edge_config_doctor_context_test.go
  cli/cmd/edge_config_version.go
Due: go-fmt, go-lint

fix(periscope): store an unknown viewer country as "--" on final sessions, the marker viewer sessions use, instead of NUL bytes in viewer hours
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/final_fact_parser_test.go
  api_analytics_ingest/internal/handlers/unknown_country_test.go
Due: go-fmt, go-lint

fix(dvr): upload each DVR segment file once at a time on Helmsman and re-send finalize retries only after the upload timeout, so an object-store stall no longer stacks parallel PUTs of one object
  api_balancing/internal/control/dvr_finalize.go
  api_balancing/internal/control/dvr_finalize_retry_cadence_test.go
  api_sidecar/internal/control/dvr_manager.go
  api_sidecar/internal/control/dvr_segment_upload_singleflight_test.go
  api_sidecar/internal/handlers/storage_manager.go
  pkg/dvr/utils.go
Due: go-fmt, go-lint

fix(periscope): key artifact replays' lifecycle, buffer and track reports by artifact_hash so they stay out of the source stream's state, health series and rollups
  Makefile
  api_analytics_ingest/internal/database/periscopeingestdb/core_writers.go
  api_analytics_ingest/internal/database/periscopeingestdb/stream_writers.go
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/stream_series_artifact_realclickhouse_test.go
  docs/architecture/analytics-pipeline.md
  pkg/database/sql/clickhouse/migrations/periscope/v0.3.11/expand/006_stream_series_artifact_identity.sql
  pkg/database/sql/clickhouse/periscope.sql
Due: go-fmt, go-lint, frontend-format

fix(analytics): forward an uploaded VOD's lifecycle under its artifact_hash and accept its storage events by asset hash, instead of warning about a missing stream_id
  api_analytics_ingest/internal/handlers/handlers.go
  api_analytics_ingest/internal/handlers/uploaded_vod_identity_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/uploaded_vod_lifecycle_test.go
Due: go-fmt, go-lint

fix(foghorn): answer a deleted artifact's playback as 404 without an error log and kick the catalog projection when a delete commits, so a deleted DVR, chapter, clip or VOD stops resolving at once
  api_balancing/internal/control/playback.go
  api_balancing/internal/grpc/delete_catalog_projection_test.go
  api_balancing/internal/grpc/dvr_clip_lifecycle_coverage_test.go
  api_balancing/internal/grpc/rpc_handlers_coverage_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/deleted_content_playback_test.go
  api_balancing/internal/handlers/handlers.go
Due: go-fmt, go-lint

fix(cli): reuse the active context's system tenant only for its own cluster, and derive an edge manifest's control-plane context from its cluster manifest alone
  cli/cmd/cluster.go
  cli/cmd/cluster_doctor_test.go
  cli/cmd/cluster_lifecycle_context_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_runtime_data.go
  cli/cmd/cluster_status.go
  cli/cmd/edge.go
  cli/cmd/release_reconcile.go
Due: go-fmt, go-lint

chore(periscope): declare logrus a direct requirement of the ingest module, which its uploaded-VOD identity test imports
  api_analytics_ingest/go.mod
Due: none

fix(ansible): bound every apt cache refresh and package install with an async deadline and retries, so a stalled mirror fails the task instead of hanging provision
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install-debian.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/helmsman/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/kafka_mirrormaker/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/mistserver/tasks/install-linux.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/host_packages.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_baseline/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/node_tuning/tasks/packages.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/postgres/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/privateer/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/yugabyte/tasks/ysql_prereqs.yml
  ansible/playbooks/cluster_os_update.yml
  cli/pkg/provisioner/apt_bound_role_test.go
Due: go-fmt, go-lint, frontend-format

test(commodore): build the expired API token fixture by aging a valid token, since token creation now refuses a past expiry
  api_control/internal/grpc/api_tokens_realpg_test.go
Due: go-fmt, go-lint

fix(edge): stage the dev stack edge with the Mist release the release workflow resolves, through one shared resolver script, instead of a hardcoded v0.3.10 that fails stack placement
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/architecture/edge-deployment.md
  scripts/edge-dev-dist.sh
  scripts/resolve-mist-release.sh
  tools/release-plan/mist_resolution_test.go
Due: go-fmt, go-lint, frontend-format

docs(graphql): state the 1-3650 day bound on a developer token's expiresIn
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  npm_api/src/generated/graphql.ts
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  pkg/graphql/schema.graphql
  sdk_go/generated.go
  sdk_python/src/livepeer_frameworks/_generated/graphql/input_types.py
  website_docs/src/content/docs/builders/api-schema/access.mdx
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(cli): reinstall galaxy roles with --force when requirements.yml changes, since ansible-galaxy otherwise keeps an installed role at its old version and a role bump never reaches an existing cache
  Makefile
  cli/pkg/ansiblerun/collections.go
  cli/pkg/ansiblerun/collections_test.go
Due: go-fmt, go-lint

fix(ansible): assert the listmonk molecule compose port mapping with a boolean membership test, since ansible-core 2.21 fails a conditional whose result is regex_search's string
  ansible/collections/ansible_collections/frameworks/infra/roles/listmonk/molecule/default/verify.yml
Due: frontend-format

fix(stack): run the go-livepeer release the release workflow resolves, through one shared resolver script, instead of a hardcoded v0.3.0 that predates the capacity fix
  .github/workflows/release.yml
  docker-compose.stack.yml
  scripts/resolve-golivepeer-release.sh
  scripts/stack/up.sh
  tools/release-plan/golivepeer_resolution_test.go
Due: go-fmt, go-lint, frontend-format

fix(foghorn): stamp the source stream on the DVR-deleted lifecycle event, which Periscope otherwise drops for its missing stream_id
  api_balancing/internal/control/dvr_chapters_repo.go
  api_balancing/internal/control/dvr_chapters_state_test.go
Due: go-fmt, go-lint

fix(foghorn): keep processing+ STREAM_BUFFER reports out of Periscope, which drops them for carrying neither stream_id nor artifact_hash
  api_balancing/internal/triggers/processing_stream_buffer_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(foghorn): mask the stream key in a PUSH_REWRITE push URL regardless of case, since Mist reports the key lowercased while the URL keeps the publisher's mixed-case key
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/push_rewrite_redaction_test.go
Due: go-fmt, go-lint

fix(foghorn): name deleted or suspended content from its denied local authority on the reports Mist sends while winding it down, which Periscope otherwise drops for missing stream_id and artifact_hash
  api_balancing/internal/triggers/deleted_content_identity_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

test(stack): assert the revocation outcome on the serving edge in scenario 18 and report the grant push path, instead of blocking when the round-robin apply happened to land on the edge's replica
  scripts/stack/scenarios/18-playback-grant-revocation.sh
Due: none

test(foghorn): expect the DVR delete to read its recording context before the DVR-deleted lifecycle row in the DeleteDVR catalog projection test
  api_balancing/internal/grpc/delete_catalog_projection_test.go
Due: go-fmt, go-lint

fix(foghorn): keep a processing input's track-list reports out of Periscope, as its buffer reports already are, while Foghorn's track state still follows them
  api_balancing/internal/triggers/processing_track_list_test.go
  api_balancing/internal/triggers/processor.go
Due: go-fmt, go-lint

fix(foghorn): answer a DVR, clip, VOD or chapter that its owning cell reports not found as 404 on the asking cell too, instead of a DVR routing or origin error
  api_balancing/internal/control/dvr_dispatch.go
  api_balancing/internal/control/dvr_dispatch_test.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/handlers.go
Due: go-fmt, go-lint

fix(helmsman): report a processing stream that did not boot while storage stalled under its source read as retryable, so a transient store stall no longer fails an upload for good
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_source_probe.go
  api_sidecar/internal/handlers/processing_source_probe_test.go
  api_sidecar/internal/handlers/processing_source_stall_test.go
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/handler.go
  api_sidecar/internal/relay/processing_input_failure.go
  api_sidecar/internal/relay/processing_input_failure_test.go
Due: go-fmt, go-lint

fix(foghorn): keep an edge's inventory reports from refreshing a deleted artifact, so the orphan cleanup re-drives a DVR delete the edge deferred instead of never selecting it
  Makefile
  api_balancing/internal/database/foghorndb/control_repositories.sql.go
  api_balancing/internal/database/queries/control_repositories.sql
  api_balancing/internal/jobs/orphan_cleanup_realpg_test.go
Due: go-fmt, go-lint

fix(foghorn): exclude the resolving node from the local peer-relay origin lookup, so a node is never handed a peer relay URL to itself
  Makefile
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_served_origin_test.go
  api_balancing/internal/control/relay_resolve.go
  api_balancing/internal/control/relay_resolve_branching_test.go
  api_balancing/internal/database/foghorndb/control_relay.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/query_catalog_realpg_test.go
  api_balancing/internal/database/queries/control_relay.sql
  docs/architecture/federation.md
Due: go-fmt, go-lint, frontend-format
