Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

fix(helmsman): reconcile admitted ingest generations
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/client_test.go
  api_sidecar/internal/control/ingest_generation_store_test.go
  api_sidecar/internal/handlers/poller.go
  api_sidecar/internal/handlers/poller_conversion_test.go
Due: go-fmt, go-lint

fix(foghorn): preserve ingest identity through finalization
  api_balancing/internal/triggers/ingest_rejection_test.go
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/processor_test.go
  api_balancing/internal/triggers/push_rewrite_decklog_seam_test.go
  api_balancing/internal/triggers/stream_end_source_inactive_test.go
Due: go-fmt, go-lint

fix(periscope): reconstruct stream session boundaries
  api_analytics_ingest/internal/handlers/final_fact_parser.go
  api_analytics_ingest/internal/handlers/handlers_test.go
Due: go-fmt, go-lint

fix clickhouse fresh prov
  cli/pkg/provisioner/migrate_baseline_floor_test.go
  cli/pkg/provisioner/migration_floor_guard.go
Due: go-fmt, go-lint

fix(release): repair v0.2.96 Yugabyte playback indexes
  cli/pkg/provisioner/artifact_playback_index_upgrade_test.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
  pkg/database/sql/migrations/commodore/v0.2.96/contract/001_dvr_chapter_playback_index_realign.sql
  pkg/database/sql/schema/commodore.sql
  scripts/check-migration-version.sh
Due: go-fmt, go-lint

perf(commodore): use Yugabyte playback indexes
  api_control/internal/grpc/catalog_tombstone_test.go
  api_control/internal/grpc/dvr_chapters.go
  api_control/internal/grpc/playback_access_control.go
  api_control/internal/grpc/playback_access_control_test.go
  api_control/internal/grpc/resolve_active_cluster_test.go
  api_control/internal/grpc/resolve_foghorn_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_validation_test.go
  api_control/internal/grpc/test_playback_access.go
Due: go-fmt, go-lint

fix(cli): trust internal CA for control-plane access
  cli/cmd/admin.go
  cli/cmd/admin_tenants_activity.go
  cli/cmd/cluster_nodes.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_storage.go
  cli/cmd/context_check.go
  cli/cmd/dns.go
  cli/cmd/edge.go
  cli/cmd/mesh.go
  cli/cmd/services.go
  cli/internal/controlplane/resolver.go
  cli/internal/controlplane/resolver_test.go
  cli/internal/internalpki/material.go
  cli/internal/internalpki/material_test.go
  pkg/clients/foghorn/grpc_client.go
  pkg/clients/navigator/client.go
  pkg/clients/periscope/grpc_client.go
Due: go-fmt, go-lint

fix(cli): accept git-describe builds at release floor
  cli/cmd/cluster_release.go
  cli/internal/releases/loader.go
  cli/internal/releases/loader_test.go
Due: go-fmt, go-lint

feat(cli): separate release and control-plane lifecycles
  cli/README.md
  cli/cmd/cluster.go
  cli/cmd/cluster_control_plane.go
  cli/cmd/cluster_control_plane_test.go
  cli/cmd/cluster_finalize.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_test.go
  cli/cmd/cluster_storage.go
  cli/cmd/cluster_storage_descriptor_test.go
  cli/cmd/cluster_storage_test.go
  cli/cmd/cluster_upgrade.go
  cli/cmd/cluster_upgrade_gate.go
  cli/cmd/context_check.go
  cli/cmd/context_check_test.go
  cli/cmd/release_reconcile.go
  cli/cmd/release_reconcile_storage.go
  cli/cmd/release_reconcile_storage_test.go
  cli/cmd/storage_backend_agreement_test.go
  cli/internal/controlplane/resolver.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/manifest_strict_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/types.go
  pkg/servicedefs/servicedefs.go
  pkg/servicedefs/servicedefs_test.go
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
Due: go-fmt, go-lint, frontend-format

refactor(storage): make desired backend state authoritative
  api_assets/cmd/chandler/main.go
  api_balancing/cmd/foghorn/backing_from_peer_test.go
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/artifactoutbox/outbox.go
  api_balancing/internal/artifactoutbox/outbox_test.go
  api_balancing/internal/control/cell_storage_identity_realpg_test.go
  api_balancing/internal/control/storage_backend_registry.go
  api_balancing/internal/jobs/purge_deleted.go
  api_balancing/internal/jobs/purge_ownership_realpg_test.go
  api_balancing/internal/storage/cluster_resolver.go
  api_tenants/internal/bootstrap/clusters.go
  api_tenants/internal/bootstrap/clusters_s3_immutable_test.go
  api_tenants/internal/grpc/adopt_cluster_storage_descriptor_test.go
  api_tenants/internal/grpc/server.go
  docs/architecture/durable-media-storage.md
  docs/architecture/thumbnails.md
  docs/rfcs/placement-policy-engine.md
  pkg/clients/quartermaster/grpc_client.go
  pkg/clients/quartermaster/interface.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
  pkg/proto/quartermaster/quartermaster_grpc.pb.go
  scripts/cutover-thumbnail-ownership-wipe.sh
  scripts/cutover-thumbnail-ownership-wipe.test.sh
Due: go-fmt, go-lint, frontend-format

feat(bridge): expose dimensioned billing details
  api_gateway/gqlgen.yml
  api_gateway/graph/generated/generated.go
  api_gateway/graph/json_scalar_test.go
  api_gateway/graph/model/models_gen.go
  api_gateway/graph/model/prepaid.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/mcp/preflight/checker_test.go
  api_gateway/internal/mcp/preflight/checks.go
  api_gateway/internal/mcp/preflight/checks_capabilities_test.go
  api_gateway/internal/mcp/resources/account.go
  api_gateway/internal/mcp/resources/billing.go
  api_gateway/internal/mcp/tools/account.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/billing_reads_test.go
  api_gateway/internal/resolvers/infrastructure.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/queries/GetBillingStatus.gql
  pkg/graphql/operations/queries/GetInvoices.gql
  pkg/graphql/operations/queries/GetPrepaidBalance.gql
  pkg/graphql/schema.graphql
  website_application/src/lib/components/PrepaidBalanceWidget.svelte
  website_application/src/lib/features/registry.json
  website_application/src/routes/account/balance/+page.svelte
  website_application/src/routes/account/billing/+page.svelte
  website_application/src/routes/analytics/usage/+page.svelte
  website_docs/public/llms-full.txt
Due: go-fmt, go-lint, frontend-format, frontend-lint

feat(auth): harden wallet onboarding
  api_control/internal/grpc/auth_handlers_test.go
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_pure_helpers_test.go
  api_control/internal/grpc/server_validation_test.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  api_gateway/internal/middleware/auth_request.go
  api_gateway/internal/middleware/auth_request_test.go
  api_tenants/internal/grpc/server.go
  docs/rfcs/referral-attribution-network-usage.md
  docs/rfcs/token-authority.md
  pkg/auth/wallet.go
  pkg/auth/wallet_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/clients/commodore/interface.go
  pkg/database/sql/migrations/commodore/v0.3.0/expand/001_wallet_auth_challenges.sql
  pkg/database/sql/migrations/quartermaster/v0.3.0/expand/001_tenant_provisioning_idempotency.sql
  pkg/database/sql/schema/commodore.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/commodore/commodore_grpc.pb.go
  pkg/proto/quartermaster.proto
  pkg/proto/quartermaster/quartermaster.pb.go
  website_application/src/lib/authAPI.ts
  website_application/src/lib/components/WalletConnect.svelte
  website_application/src/lib/stores/auth.test.ts
  website_application/src/lib/stores/auth.ts
  website_application/src/lib/wallet/store.svelte.ts
  website_application/src/routes/+page.svelte
  website_application/src/routes/settings/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

feat(web): add complete billing payment flows
  website_application/src/routes/account/balance/+page.svelte
  website_application/src/routes/account/billing/+page.svelte
Due: frontend-format, frontend-lint

feat(cli): add offline crypto sweep ceremony
  cli/cmd/crypto_sweep.go
  cli/cmd/crypto_sweep_test.go
  cli/cmd/root.go
  cli/go.mod
  cli/go.sum
  docs/operations/sweep-ceremony.md
  pkg/cryptosweep/eip3009.go
  pkg/cryptosweep/manifest.go
  pkg/cryptosweep/manifest_test.go
Due: go-fmt, go-lint, frontend-format

test(schema): exercise seeds and metering queries
  Makefile
  api_analytics_query/internal/handlers/billing.go
  cli/pkg/provisioner/demo_seed_clickhouse_test.go
  cli/pkg/provisioner/demo_seed_postgres_test.go
  docs/architecture/service-events.md
  docs/standards/schema-migrations.md
  pkg/database/queries/periscope_metering.go
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint, frontend-format

docs(release): make release apply the canonical path
  cli/cmd/cluster_channel.go
  cli/cmd/cluster_channel_test.go
  docs/architecture/cluster-rollout.md
  docs/standards/release-notes.md
  website_docs/src/content/docs/operators/clickhouse-migrations.mdx
  website_docs/src/content/docs/operators/postgres-migrations.mdx
Due: go-fmt, go-lint, frontend-format

docs(payments): add crypto operations and rollout guidance
  docs/architecture/agent-access.md
  docs/architecture/cross-cluster-billing.md
  docs/architecture/payment-settlement.md
  docs/architecture/webhook-routing.md
  docs/operations/crypto-incidents.md
  docs/standards/environment-configuration.md
  infrastructure/prometheus/rules/frameworks.yml
  pkg/grafana/dashboards/crypto-payments.json
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/overview.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/agents/wallet-auth.mdx
  website_docs/src/content/docs/blog/agent-native-access.mdx
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/builders/wallet-and-crypto.mdx
  website_docs/src/content/docs/operators/architecture.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/crypto-payments.mdx
  website_docs/src/content/docs/operators/data-models.mdx
  website_docs/src/content/docs/operators/external-services.mdx
  website_docs/src/content/docs/operators/multi-cluster.mdx
Due: frontend-format

feat(mcp): enforce scoped tool contracts
  api_gateway/cmd/bridge/main.go
  api_gateway/go.mod
  api_gateway/internal/mcp/mcp_docs_parity_test.go
  api_gateway/internal/mcp/mcp_smoke_test.go
  api_gateway/internal/mcp/metrics.go
  api_gateway/internal/mcp/prompts/prompts.go
  api_gateway/internal/mcp/resource_policy.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/account.go
  api_gateway/internal/mcp/tools/api_assistant.go
  api_gateway/internal/mcp/tools/billing.go
  api_gateway/internal/mcp/tools/clips.go
  api_gateway/internal/mcp/tools/cluster_subscription.go
  api_gateway/internal/mcp/tools/dvr.go
  api_gateway/internal/mcp/tools/infrastructure.go
  api_gateway/internal/mcp/tools/multistream.go
  api_gateway/internal/mcp/tools/payment.go
  api_gateway/internal/mcp/tools/playback.go
  api_gateway/internal/mcp/tools/playback_access_dryrun.go
  api_gateway/internal/mcp/tools/playback_auth.go
  api_gateway/internal/mcp/tools/policy.go
  api_gateway/internal/mcp/tools/qoe.go
  api_gateway/internal/mcp/tools/result_contract_test.go
  api_gateway/internal/mcp/tools/retention.go
  api_gateway/internal/mcp/tools/skipper.go
  api_gateway/internal/mcp/tools/streams.go
  api_gateway/internal/mcp/tools/support.go
  api_gateway/internal/mcp/tools/vod.go
  api_gateway/internal/mcp/tools/wallet.go
Due: go-fmt, go-lint

feat(skipper): normalize MCP spoke contracts
  api_consultant/go.mod
  api_consultant/internal/mcpspoke/server.go
  api_consultant/internal/mcpspoke/server_test.go
Due: go-fmt, go-lint

docs(mcp): document scoped agent access
  docs/architecture/agent-access.md
  docs/skills/SKILL.md
  docs/skills/mcp.json
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/agents/mcp.mdx
Due: frontend-format

fix(platform): align analytics dependencies and schema gates
  .github/workflows/ci.yml
  cli/cmd/cluster_catalog_failclosed_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_db_alias_test.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/schema_harness_images_test.go
  cli/pkg/provisioner/schema_squash_clickhouse_test.go
  cli/pkg/provisioner/schema_squash_postgres_test.go
  docker-compose.yml
  pkg/topology/dependencies.go
  pkg/topology/dependencies_test.go
Due: go-fmt, go-lint, frontend-format

feat(access): centralize paid operation admission
  api_analytics_query/internal/grpc/auth_test_helpers_test.go
  api_analytics_query/internal/grpc/server_test.go
  api_analytics_query/internal/grpc/tenant_activity_test.go
  api_gateway/cmd/bridge/main.go
  api_gateway/go.mod
  api_gateway/internal/mcp/preflight/checker_test.go
  api_gateway/internal/mcp/preflight/checks.go
  api_gateway/internal/mcp/preflight/checks_capabilities_test.go
  api_gateway/internal/mcp/resource_policy.go
  api_gateway/internal/mcp/server.go
  api_gateway/internal/mcp/server_test.go
  api_gateway/internal/mcp/tools/clips.go
  api_gateway/internal/mcp/tools/dvr.go
  api_gateway/internal/mcp/tools/policy.go
  api_gateway/internal/mcp/tools/policy_test.go
  api_gateway/internal/mcp/tools/vod.go
  api_gateway/internal/middleware/auth_request.go
  api_gateway/internal/middleware/auth_request_test.go
  api_gateway/internal/middleware/graphql.go
  api_gateway/internal/middleware/graphql_ws_access.go
  api_gateway/internal/middleware/graphql_ws_access_test.go
  api_gateway/internal/middleware/helpers_test.go
  api_gateway/internal/middleware/public_or_jwt.go
  api_gateway/internal/middleware/public_or_jwt_test.go
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/ratelimit_test.go
  api_gateway/internal/middleware/viewer_x402.go
  pkg/accesspolicy/catalog.go
  pkg/accesspolicy/catalog_test.go
  pkg/accesspolicy/graphql_schema_test.go
  pkg/ctxkeys/keys.go
  pkg/ctxkeys/keys_test.go
  pkg/middleware/grpc.go
  pkg/middleware/grpc_test.go
Due: go-fmt, go-lint

feat(api): expose billing activation and recovery
  api_control/internal/grpc/auth_handlers_test.go
  api_control/internal/grpc/server.go
  api_gateway/graph/generated/generated.go
  api_gateway/graph/model/models_gen.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/errors/errors.go
  api_gateway/internal/errors/errors_test.go
  api_gateway/internal/mcp/resources/account.go
  api_gateway/internal/mcp/resources/account_contract_test.go
  api_gateway/internal/mcp/resources/billing.go
  api_gateway/internal/mcp/tools/account.go
  api_gateway/internal/mcp/tools/billing_payment_handler_test.go
  api_gateway/internal/mcp/tools/payment.go
  api_gateway/internal/mcp/tools/wallet.go
  api_gateway/internal/mcp/tools/wallet_test.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/billing_resolver_handlers_test.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/mutations/UpdateBillingDetails.gql
  pkg/graphql/operations/queries/GetBillingDetails.gql
  pkg/graphql/schema.graphql
Due: go-fmt, go-lint

feat(cli): add crypto recovery and smoke commands
  cli/cmd/crypto_smoke.go
  cli/cmd/crypto_smoke_test.go
  cli/cmd/crypto_sweep.go
  cli/cmd/crypto_sweep_test.go
  cli/go.mod
Due: go-fmt, go-lint

feat(web): harden wallet login and billing setup
  website_application/src/lib/auth/returnTo.test.ts
  website_application/src/lib/auth/returnTo.ts
  website_application/src/lib/components/WalletConnect.svelte
  website_application/src/lib/houdini/client.ts
  website_application/src/lib/wallet/loginFlow.test.ts
  website_application/src/lib/wallet/loginFlow.ts
  website_application/src/lib/wallet/store.svelte.ts
  website_application/src/routes/+layout.svelte
  website_application/src/routes/account/balance/+page.svelte
  website_application/src/routes/account/billing/+page.svelte
  website_application/src/routes/login/+page.svelte
  website_application/src/routes/settings/+page.svelte
Due: frontend-format, frontend-lint

docs(payments): document admission and settlement recovery
  docs/architecture/agent-access.md
  docs/architecture/billing-tier-provisioning.md
  docs/architecture/module-map.md
  docs/architecture/payment-settlement.md
  docs/operations/crypto-incidents.md
  docs/operations/sweep-ceremony.md
  docs/skills/SKILL.md
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/agents/mcp.mdx
  website_docs/src/content/docs/agents/overview.mdx
  website_docs/src/content/docs/agents/payments.mdx
  website_docs/src/content/docs/agents/wallet-auth.mdx
  website_docs/src/content/docs/blog/agent-native-access.mdx
  website_docs/src/content/docs/builders/billing.mdx
  website_docs/src/content/docs/builders/wallet-and-crypto.mdx
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/crypto-payments.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: frontend-format

fix(seed): scope demo fixtures to service databases
  cli/pkg/provisioner/demo_seed_postgres_test.go
  cli/pkg/provisioner/pg_common.go
  cli/pkg/provisioner/seed_helpers_test.go
  docker-compose.yml
  pkg/database/sql/embed.go
  pkg/database/sql/seeds/demo/postgres/commodore.sql
  pkg/database/sql/seeds/demo/postgres/foghorn.sql
  pkg/database/sql/seeds/demo/postgres/periscope.sql
  pkg/database/sql/seeds/demo/postgres/purser.sql
  pkg/database/sql/seeds/demo/postgres/quartermaster.sql
Due: go-fmt, go-lint, frontend-format

docs(architecture): refresh service topology diagram
  website_docs/src/assets/diagrams/Microservices_Architecture.afdesign
  website_docs/src/assets/diagrams/Microservices_Architecture.png
  website_docs/src/assets/diagrams/Microservices_Architecture.svg
Due: none

fix(dev): make pre-commit lint gates authoritative
  lefthook.yml
Due: frontend-format

test(database): pin real-engine contract images
  api_balancing/internal/control/freeze_realpg_test.go
  api_balancing/internal/federation/peer_manager_realpg_test.go
  api_balancing/internal/jobs/stale_freeze_cleanup_realpg_test.go
  api_control/internal/grpc/stream_cleanup_realpg_test.go
  cli/pkg/provisioner/schema_harness_images_test.go
  cli/pkg/provisioner/schema_yugabyte_compat_test.go
  config/infrastructure.yaml
  pkg/testutil/dockerpg/dockerpg.go
  pkg/testutil/dockerpg/dockerpg_test.go
Due: go-fmt, go-lint, frontend-format

refactor(purser): migrate catalog and bootstrap repositories
  api_billing/cmd/purser/main.go
  api_billing/internal/billing/effective.go
  api_billing/internal/billing/effective_more_test.go
  api_billing/internal/billing/effective_realpg_test.go
  api_billing/internal/billing/effective_test.go
  api_billing/internal/bootstrap/bootstrap_customer_billing_realpg_test.go
  api_billing/internal/bootstrap/bootstrap_pricing_realpg_test.go
  api_billing/internal/bootstrap/bootstrap_tier_catalog_realpg_test.go
  api_billing/internal/bootstrap/catalog.go
  api_billing/internal/bootstrap/cluster_pricing.go
  api_billing/internal/bootstrap/cluster_pricing_test.go
  api_billing/internal/bootstrap/customer_billing.go
  api_billing/internal/bootstrap/customer_billing_test.go
  api_billing/internal/bootstrap/dbtx.go
  api_billing/internal/bootstrap/platform_fee_policy.go
  api_billing/internal/bootstrap/reconciler.go
  api_billing/internal/bootstrap/reconciler_test.go
  api_billing/internal/bootstrap/scanners_more_test.go
  api_billing/internal/bootstrap/tier_stripe_sync_realpg_test.go
  api_billing/internal/bootstrap/validate_cross_service.go
  api_billing/internal/pricing/resolve.go
  api_billing/internal/tieraccess/reconcile.go
  api_billing/internal/tieraccess/sweep.go
  api_billing/internal/tieraccess/sweep_test.go
  api_billing/internal/tieraccess/tieraccess_realpg_test.go
Due: go-fmt, go-lint

refactor(purser): migrate gRPC billing repositories
  api_billing/internal/grpc/allowances_test.go
  api_billing/internal/grpc/billing_documents.go
  api_billing/internal/grpc/billing_event_outbox.go
  api_billing/internal/grpc/billing_event_outbox_realpg_test.go
  api_billing/internal/grpc/billing_event_outbox_test.go
  api_billing/internal/grpc/billing_status_test.go
  api_billing/internal/grpc/billing_transitions_realpg_test.go
  api_billing/internal/grpc/change_billing_tier_test.go
  api_billing/internal/grpc/create_subscription_test.go
  api_billing/internal/grpc/crypto_payment_quote_test.go
  api_billing/internal/grpc/crypto_sweep.go
  api_billing/internal/grpc/crypto_sweep_verification_test.go
  api_billing/internal/grpc/get_subscription_test.go
  api_billing/internal/grpc/grpc_query_pack_realpg_test.go
  api_billing/internal/grpc/invoice_payment_test.go
  api_billing/internal/grpc/invoice_query_test.go
  api_billing/internal/grpc/operator_revenue.go
  api_billing/internal/grpc/operator_revenue_test.go
  api_billing/internal/grpc/payment_read_test.go
  api_billing/internal/grpc/prepaid_balance_realpg_test.go
  api_billing/internal/grpc/provider_compensation_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_prepaid_test.go
  api_billing/internal/grpc/server_pure_test.go
  api_billing/internal/grpc/server_readpaths_more2_test.go
  api_billing/internal/grpc/server_readpaths_more3_test.go
  api_billing/internal/grpc/server_readpaths_more_test.go
  api_billing/internal/grpc/server_readpaths_test.go
  api_billing/internal/grpc/server_writepaths_more_test.go
  api_billing/internal/grpc/server_writepaths_test.go
  api_billing/internal/grpc/subscription_lifecycle_realpg_test.go
  api_billing/internal/grpc/tenant_billing_snapshots.go
  api_billing/internal/grpc/tenant_billing_snapshots_test.go
  api_billing/internal/grpc/tier_catalog_reads_realpg_test.go
  api_billing/internal/grpc/usage_aggregates_test.go
  api_billing/internal/grpc/x402_mutation_result_test.go
Due: go-fmt, go-lint

refactor(purser): migrate invoice and provider workers
  api_billing/internal/handlers/checkout.go
  api_billing/internal/handlers/checkout_test.go
  api_billing/internal/handlers/cluster_rating.go
  api_billing/internal/handlers/collection_minimum.go
  api_billing/internal/handlers/collection_minimum_realpg_test.go
  api_billing/internal/handlers/downgrade_applier_test.go
  api_billing/internal/handlers/events.go
  api_billing/internal/handlers/invoice_email_outbox.go
  api_billing/internal/handlers/invoice_email_outbox_realpg_test.go
  api_billing/internal/handlers/invoice_email_outbox_test.go
  api_billing/internal/handlers/invoice_rating_realpg_test.go
  api_billing/internal/handlers/invoice_tx_test.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/jobs_usage_realpg_test.go
  api_billing/internal/handlers/jobs_writer_test.go
  api_billing/internal/handlers/operational_guards_realpg_test.go
  api_billing/internal/handlers/payment_reversals_test.go
  api_billing/internal/handlers/prepaid_usage_currency_test.go
  api_billing/internal/handlers/prepaid_usage_test.go
  api_billing/internal/handlers/provider_webhook_inbox.go
  api_billing/internal/handlers/provider_webhook_inbox_realpg_test.go
  api_billing/internal/handlers/provider_webhook_inbox_test.go
  api_billing/internal/handlers/rating_inputs.go
  api_billing/internal/handlers/threshold.go
  api_billing/internal/handlers/vies.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/webhooks_invoice_paid_test.go
  api_billing/internal/handlers/webhooks_test.go
  api_billing/internal/operator/credit.go
  api_billing/internal/stripe/meter_events_realpg_test.go
  api_billing/internal/stripe/meter_flusher.go
  api_billing/internal/stripe/meter_flusher_test.go
  api_billing/internal/stripe/meter_outbox.go
  api_billing/internal/stripe/meter_outbox_test.go
Due: go-fmt, go-lint

refactor(purser): migrate crypto and x402 workers
  api_billing/internal/handlers/crypto.go
  api_billing/internal/handlers/crypto_anomalies.go
  api_billing/internal/handlers/crypto_metrics.go
  api_billing/internal/handlers/crypto_reorg.go
  api_billing/internal/handlers/crypto_reorg_test.go
  api_billing/internal/handlers/crypto_scanner.go
  api_billing/internal/handlers/crypto_scanner_test.go
  api_billing/internal/handlers/crypto_test.go
  api_billing/internal/handlers/hdwallet.go
  api_billing/internal/handlers/x402.go
  api_billing/internal/handlers/x402_balance_more_test.go
  api_billing/internal/handlers/x402_conversion_test.go
  api_billing/internal/handlers/x402_durable_broadcast_test.go
  api_billing/internal/handlers/x402_quotes.go
  api_billing/internal/handlers/x402_quotes_test.go
  api_billing/internal/handlers/x402_rate_limit.go
  api_billing/internal/handlers/x402_reconciler.go
  api_billing/internal/handlers/x402_reconciler_test.go
  api_billing/internal/handlers/x402_tax_documents_test.go
  api_billing/internal/handlers/x402_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
