Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

build: run migration release state in verify-prepush
  Makefile
Due: none

test(commodore): use streams write scope in outbox test
  api_control/internal/grpc/domain_events_realpg_test.go
Due: go-fmt, go-lint

test(commodore): give the domain-event token the streams:write scope it uses
  api_control/internal/grpc/domain_events_realpg_test.go
Due: go-fmt, go-lint

build: keep test selection cache per user
  scripts/check-go-test-selection.sh
Due: none

build: keep the test-selection Go cache per user
  scripts/check-go-test-selection.sh
Due: none

docs(agents): require verify-prepush before push
  AGENTS.md
Due: frontend-format

docs(agents): verify-prepush includes the migration release-state job
  AGENTS.md
Due: frontend-format

fix(foghorn): update helmsman before other edge components
  api_balancing/internal/orchestrator/phase_redrive_test.go
  api_balancing/internal/orchestrator/reconciler.go
Due: go-fmt, go-lint

fix(mcp): accept forwarded public host
  api_gateway/internal/mcp/http_handler_host_test.go
  api_gateway/internal/mcp/server.go
Due: go-fmt, go-lint

fix(gateway): retry billing-unavailable answers quickly
  api_gateway/internal/middleware/ratelimit.go
  api_gateway/internal/middleware/tenant_cache_billing_test.go
Due: go-fmt, go-lint

fix(foghorn): serve stopped dvr from non-owning cell
  api_balancing/internal/control/dvr_dispatch.go
  api_balancing/internal/control/dvr_dispatch_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_prepare_test.go
  api_balancing/internal/handlers/handlers.go
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
Due: go-fmt, go-lint

fix(foghorn): cache edge host addresses for node matching
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/state/host_addr_cache_test.go
  api_balancing/internal/state/stream_state.go
Due: go-fmt, go-lint

fix(helmsman): keep recording segment timing contiguous
  api_sidecar/internal/control/dvr_segment_timing.go
  api_sidecar/internal/control/dvr_segment_timing_test.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_chapter_contiguous_test.go
Due: go-fmt, go-lint

fix(foghorn): reconcile pending redirects on node updates
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_bandwidth_test.go
Due: go-fmt, go-lint

fix(helmsman): fail over across cell foghorns
  api_sidecar/internal/appconfig/helmsman.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/endpoints.go
  api_sidecar/internal/control/endpoints_test.go
  cli/cmd/edge.go
  cli/cmd/edge_foghorn_addr_test.go
  cli/internal/configschema/config-schema.json
  cli/internal/templates/edge_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/parser_test.go
  cli/pkg/inventory/types.go
  cli/pkg/provisioner/edge_role_test.go
  docs/architecture/tls.md
  website_docs/src/content/docs/operators/cluster-manifest.mdx
  website_docs/src/content/docs/operators/configuration-reference.mdx
Due: go-fmt, go-lint, frontend-format

fix(ha): persist sentinel roles and route bridge to peers
  ansible/collections/ansible_collections/frameworks/infra/roles/caddy/templates/Caddyfile.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/molecule/default/molecule.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/molecule/default/verify.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/cleanup.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/instance.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/instance.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/runtime.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/templates/sentinel.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/vars/main.yml
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/redis_role.go
  cli/pkg/provisioner/redis_role_test.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  docs/architecture/foghorn-ha.md
Due: go-fmt, go-lint, frontend-format

fix(ingest): keep live ingest across control loss
  Makefile
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/ingest.go
  api_balancing/internal/control/ingest_node_reconcile.go
  api_balancing/internal/control/ingest_node_reconcile_test.go
  api_balancing/internal/control/ingest_session_reaper.go
  api_balancing/internal/control/ingest_session_reaper_realpg_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/ingest_session_reaper.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/ingest_session_reaper.sql
  api_balancing/internal/federation/placement_live_paths_test.go
  api_balancing/internal/jobs/ingest_session_reaper.go
  api_balancing/internal/jobs/ingest_session_reaper_realpg_test.go
  api_balancing/internal/state/redis_store.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/register_live_ingest_test.go
  docs/architecture/media-authority.md
  docs/architecture/service-events.md
  docs/architecture/stream-replication-topology.md
  docs/architecture/viewer-routing.md
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go-fmt, go-lint, frontend-format

fix(placement): try next candidate on failed preparation
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/balancer/placement_router_test.go
  api_balancing/internal/federation/placement_live_paths.go
  api_balancing/internal/federation/placement_media_serve_runtime.go
  api_balancing/internal/federation/placement_push_runtime.go
Due: go-fmt, go-lint

fix(ingest): end lost node sessions and order reconnects
  Makefile
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/ingest_node_lost.go
  api_balancing/internal/control/ingest_node_lost_realpg_test.go
  api_balancing/internal/control/ingest_node_reconcile.go
  api_balancing/internal/control/ingest_session_reaper.go
  api_balancing/internal/database/foghorndb/ingest_session_reaper.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/ingest_session_reaper.sql
  api_balancing/internal/jobs/ingest_session_reaper.go
  api_balancing/internal/jobs/ingest_session_reaper_realpg_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/ingest_causal_order.go
  api_sidecar/internal/control/ingest_causal_order_test.go
  api_sidecar/internal/control/metrics.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/storage/ingest_generation_store.go
  api_sidecar/internal/storage/trigger_wal.go
  docs/architecture/media-authority.md
  docs/architecture/service-events.md
  docs/architecture/stream-replication-topology.md
  docs/architecture/trigger-durability.md
  docs/architecture/viewer-routing.md
Due: go-fmt, go-lint, frontend-format

fix(tooling): support linked worktrees in lint and remote-dev
  api_analytics_query/internal/grpc/restream_dashboard_realclickhouse_test.go
  scripts/lint-staged-go.sh
  scripts/remote-dev.sh
Due: go-fmt, go-lint

fix(state): never regress replicated node observations
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/node_mode_sync_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_test.go
Due: go-fmt, go-lint

fix(recordings): anchor chapters at first media
  Makefile
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/artifact_storage_lifecycle_finalized_test.go
  api_balancing/internal/control/dvr_chapter_finalize_hook.go
  api_balancing/internal/control/dvr_first_media_anchor_realpg_test.go
  api_balancing/internal/control/dvr_recording_tracks_realpg_test.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/control/dvr_start_time.go
  api_balancing/internal/control/repos.go
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/control_repositories.sql.go
  api_balancing/internal/database/foghorndb/dvr_chapter_finalize.sql.go
  api_balancing/internal/database/foghorndb/dvr_segments.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/control_repositories.sql
  api_balancing/internal/database/queries/dvr_chapter_finalize.sql
  api_balancing/internal/database/queries/dvr_segments.sql
  api_balancing/internal/jobs/artifact_reconciler.go
  api_balancing/internal/jobs/artifact_reconciler_test.go
  api_balancing/internal/jobs/chapter_reclaim_dtsh_leader_test.go
  api_balancing/internal/jobs/chapter_reclaim_sweep.go
  api_balancing/internal/state/rehydrate_coverage_test.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/stream_state_coverage_test.go
  api_sidecar/go.mod
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/graphql/schema.graphql
Due: go-fmt, go-lint

fix(vod): exact av selectors, catalog sync and import size
  Makefile
  api_balancing/internal/control/import_upload_completed_realpg_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/server_runtime.sql.go
  api_balancing/internal/database/queries/server_runtime.sql
  api_balancing/internal/grpc/vod_import.go
  api_balancing/internal/grpc/vod_import_realpg_test.go
  api_balancing/internal/jobs/processing_dispatcher.go
  api_balancing/internal/jobs/processing_dispatcher_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_source_staged_test.go
  api_sidecar/internal/relay/blockserve.go
  api_sidecar/internal/relay/processing_input_size.go
  api_sidecar/internal/relay/processing_input_size_test.go
  api_tenants/cmd/quartermaster/main.go
  api_tenants/go.mod
  api_tenants/internal/grpc/discover_services_gateway_probe_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/probe_discovered_test.go
  cli/cmd/cluster_release.go
  cli/cmd/cluster_release_tier_catalog_test.go
  docs/architecture/processing-pipeline.md
  docs/architecture/service-events.md
  pkg/mist/processes.go
  pkg/mist/processes_test.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
  website_docs/public/llms-full.txt
  website_docs/src/content/docs/builders/events.mdx
  website_docs/src/content/docs/builders/recordings.mdx
Due: go-fmt, go-lint, frontend-format

ci: upload session lock contract profile
  .github/workflows/ci.yml
Due: frontend-format

test(stack): use session token for node inventory
  scripts/stack/scenarios/13-control-plane-replicas.sh
Due: none

test(stack): add edge outage and replica scenarios
  docker-compose.stack.yml
  scripts/stack/lib.sh
  scripts/stack/scenarios/14-edge-control-loss.sh
  scripts/stack/scenarios/15-reconnect-ordering.sh
  scripts/stack/scenarios/16-remote-replica-down.sh
Due: frontend-format

fix(remote-dev): preserve slot stack state on sync
  scripts/remote-dev.sh
Due: none

fix(helmsman): bind trigger acks to their connection
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/connection_lifecycle.go
  api_sidecar/internal/control/connection_order_test.go
  api_sidecar/internal/control/trigger_forwarder.go
  api_sidecar/internal/handlers/poller.go
  docs/architecture/trigger-durability.md
Due: go-fmt, go-lint, frontend-format

fix(placement): name missing destination evidence
  api_balancing/internal/balancer/placement_observation.go
  api_balancing/internal/balancer/placement_router.go
  api_balancing/internal/balancer/placement_router_test.go
  api_balancing/internal/federation/placement_policy_gate.go
  pkg/placement/types.go
Due: go-fmt, go-lint

fix(ingest): release ended session claims at admission
  Makefile
  api_balancing/internal/control/ingest_claim_release.go
  api_balancing/internal/control/ingest_claim_release_realpg_test.go
  api_balancing/internal/database/foghorndb/ingest_session_reaper.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/queries/ingest_session_reaper.sql
  api_balancing/internal/triggers/processor.go
  api_control/internal/grpc/active_ingest_claim_realpg_test.go
  api_control/internal/grpc/server.go
  docs/architecture/media-authority.md
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
Due: go-fmt, go-lint, frontend-format

fix(dev): raise postgres connection limit
  docker-compose.yml
Due: frontend-format

fix(ingest): end lapsed pending admissions
  Makefile
  api_balancing/internal/control/ingest.go
  api_balancing/internal/control/ingest_claim_release.go
  api_balancing/internal/control/ingest_claim_release_realpg_test.go
  api_balancing/internal/control/ingest_session_reaper.go
  api_balancing/internal/control/server.go
  api_balancing/internal/database/foghorndb/ingest_session_claims.sql.go
  api_balancing/internal/database/foghorndb/ingest_session_reaper.sql.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/query_invariants_test.go
  api_balancing/internal/database/queries/ingest_session_claims.sql
  api_balancing/internal/database/queries/ingest_session_reaper.sql
  api_balancing/internal/triggers/processor.go
  docs/architecture/service-events.md
  docs/architecture/viewer-routing.md
  pkg/mist/triggers.go
Due: go-fmt, go-lint, frontend-format

fix(livepeer): authorize live transcodes by ingest session
  api_balancing/internal/database/foghorndb/auth_and_relay.sql.go
  api_balancing/internal/database/queries/auth_and_relay.sql
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
  scripts/stack/logcheck.sh
Due: go-fmt, go-lint

fix(ingest): fence stream end on playable generation
  Makefile
  api_balancing/internal/control/domain_events_realpg_test.go
  api_balancing/internal/control/dvr_ingest_session_realpg_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/stream_lifecycle_events.go
  api_balancing/internal/database/foghorndb/querier.go
  api_balancing/internal/database/foghorndb/server_ingest.sql.go
  api_balancing/internal/database/queries/server_ingest.sql
  api_balancing/internal/triggers/processor.go
  api_balancing/internal/triggers/stream_end_source_inactive_test.go
  docs/architecture/stream-replication-topology.md
  docs/architecture/viewer-routing.md
  pkg/database/sql/migrations/foghorn/v0.3.11/expand/011_ingest_session_playable_event_time.sql
  pkg/database/sql/schema/foghorn.sql
Due: go-fmt, go-lint, frontend-format

fix(livepeer): bind evicted nodes via inventory
  api_balancing/internal/handlers/livepeer_auth.go
  api_balancing/internal/handlers/livepeer_auth_test.go
Due: go-fmt, go-lint

fix(dev): extend postgres healthcheck start period
  docker-compose.yml
Due: frontend-format

chore(graphql): regenerate
  api_gateway/graph/generated/generated.go
  npm_api/src/generated/select/schema.ts
  pkg/graphql/public/schema.public.graphql
  website_docs/src/content/docs/builders/api-schema/media-types.mdx
Due: frontend-format, frontend-lint

test(database): wait for terminated backend in leader test
  pkg/database/session_lock_realpg_test.go
Due: go-fmt, go-lint

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
