Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

lefthook.yml:

# Lefthook pre-commit hooks
# Install: pnpm install (runs automatically via prepare script)
# Skip temporarily: git commit --no-verify

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: gofmt -l -w {staged_files}
      stage_fixed: true

    go-lint:
      glob: "**/*.go"
      exclude: ".*\\.pb\\.go$|.*_grpc\\.pb\\.go$|graph/generated/.*|graph/model/models_gen\\.go$"
      run: golangci-lint run --new --fix {staged_files} || true
      stage_fixed: true

    frontend-format:
      glob: "*.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    frontend-lint:
      glob: "*.{js,ts,jsx,tsx,svelte}"
      run: pnpm eslint --fix {staged_files} || true
      stage_fixed: true

tweak ABR ladder (and temporarily use H264 for VOD instead of VP9)
  api_billing/internal/bootstrap/catalog/billing_tiers.yaml
  config/skipper/faq/bitrate-recommendations.md
  pkg/database/sql/seeds/demo/demo_data.sql
Due: frontend-format

provisioning fixes for livepeer
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/templates/service.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/pkg/provisioner/edge_role.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint, frontend-format

tweak player
  npm_player/packages/core/src/core/CodecUtils.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/types.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/worker/decoder.worker.ts
  npm_player/packages/core/test/codec-utils.test.ts
  npm_player/packages/core/test/sync-controller.test.ts
Due: frontend-format, frontend-lint

tweak config for new mist procav shape
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

restore bootstrap address fallback
  api_balancing/cmd/foghorn/main.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

fix listmonk for dev env
  docker-compose.yml
  pkg/database/sql/schema/listmonk.sql
Due: frontend-format

pull in some more stuff from webcodecs branches for the player
  npm_player/packages/core/src/core/MistReporter.ts
  npm_player/packages/core/src/core/MistSignaling.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/QualityMonitor.ts
  npm_player/packages/core/src/core/SeekingUtils.ts
  npm_player/packages/core/src/players/MewsWsPlayer/index.ts
  npm_player/packages/core/src/players/MewsWsPlayer/types.ts
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/SyncController.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/types.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/test/mist-reporter.test.ts
  npm_player/packages/core/test/quality-monitor.test.ts
Due: frontend-format, frontend-lint

Quartermaster: fix querying healthy nodes/services
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

CLI: various provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/templates/generic-compose.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/meta/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/validate.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/templates/service.j2
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/provisioner/registry.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint, frontend-format

proxy more services
  api_dns/README.md
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  cli/cmd/cluster_provision_test.go
  website_docs/src/content/docs/operators/dns.mdx
  website_docs/src/content/docs/operators/external-services.mdx
Due: go-fmt, go-lint, frontend-format

navigator: fix cert retrieval
  api_dns/internal/store/store.go
  api_dns/internal/store/store_test.go
Due: go-fmt, go-lint

refactor(core): extract dead-point recovery and server-delay tracker
  npm_player/packages/core/src/core/mist/dead-point-recovery.ts
  npm_player/packages/core/src/core/mist/server-delay.ts
  npm_player/packages/core/src/players/MewsWsPlayer/index.ts
  npm_player/packages/core/src/players/MistWebRTCPlayer/index.ts
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/WebSocketController.ts
  npm_player/packages/core/src/players/WebCodecsPlayer/index.ts
  npm_player/packages/core/test/__snapshots__/public-api-snapshot.test.ts.snap
  npm_player/packages/core/test/dead-point-recovery.test.ts
  npm_player/packages/core/test/public-api-snapshot.test.ts
  npm_player/packages/core/test/server-delay-tracker.test.ts
Due: frontend-format, frontend-lint

navigator: fix cert renewal
  api_dns/internal/store/store.go
  api_dns/internal/store/store_test.go
Due: go-fmt, go-lint

bunch more provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/go_service/tasks/install.yml
  api_analytics_ingest/cmd/periscope/main.go
  api_consultant/cmd/skipper/main.go
  api_consultant/internal/config/config.go
  api_consultant/internal/config/config_test.go
  api_consultant/internal/mcpclient/client.go
  api_consultant/internal/mcpclient/client_test.go
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/agent_test.go
  api_tenants/internal/bootstrap/nodes.go
  api_tenants/internal/bootstrap/service_registry.go
  api_tenants/internal/grpc/bootstrap_infra_node_test.go
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
  api_tenants/internal/grpc/sync_mesh_test.go
  api_tenants/internal/handlers/poller.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_redis_test.go
  cli/cmd/cluster_provision_test.go
  docs/architecture/skipper.md
  docs/standards/environment-configuration.md
  website_docs/src/content/docs/operators/cli-reference.mdx
  website_docs/src/content/docs/operators/postgres-migrations.mdx
  website_docs/src/content/docs/operators/running-upgrades.mdx
  website_docs/src/content/docs/operators/skipper.mdx
Due: go-fmt, go-lint, frontend-format

cli: use the correct Redis host when provisioning (since they listen on local and wg interface)
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/restart.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/redis/tasks/validate.yml
Due: frontend-format

more provisioning fixes
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_remoteaccess.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/orchestrator/planner.go
  cli/pkg/orchestrator/planner_test.go
Due: go-fmt, go-lint

navigator: fix cloudflare dns certs
  api_dns/internal/logic/cert.go
  api_dns/internal/logic/cert_test.go
Due: go-fmt, go-lint

quartermaster: more verbose logs for health poller
  api_tenants/internal/handlers/poller.go
  api_tenants/internal/handlers/poller_test.go
Due: go-fmt, go-lint

cli: provisioning using docker compose fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
Due: frontend-format

fix navigator cluster access
  api_tenants/internal/grpc/list_healthy_nodes_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

fix foghorn federation event tenant enrichment
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/handlers/handlers.go
Due: go-fmt, go-lint

apparently we we're attaching the ghcr images to the manifest 🥲
  .github/workflows/release.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/compose_stack/tasks/install.yml
  cli/cmd/cluster_provision.go
  cli/pkg/gitops/fetcher.go
  cli/pkg/gitops/types.go
  cli/pkg/provisioner/artifact_resolver.go
  cli/pkg/provisioner/artifact_resolver_test.go
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint, frontend-format

add health endpoint to sites
  website_application/Dockerfile
  website_application/src/routes/health/+server.ts
  website_docs/public/health
  website_marketing/public/health
Due: frontend-format, frontend-lint

ensure prometheus user gets created
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/victoriametrics.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vm_identity.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
Due: frontend-format

more provisioning fixes
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/victoriametrics.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmagent.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/tasks/vmauth.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent-scrape.yml.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmagent.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmauth.service.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/prometheus_stack/templates/vmauth.yml.j2
  api_dns/internal/logic/dns.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/clusterderive/clusterderive.go
  cli/pkg/provisioner/prometheus_stack_role.go
  config/infrastructure.yaml
  pkg/dns/public_services.go
  pkg/dns/public_services_test.go
Due: go-fmt, go-lint, frontend-format

fix foghorn & livepeer-gateway address passing to edge
  api_balancing/internal/control/foghorn_balancer_base_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/triggers/livepeer_gateway_url_test.go
  api_balancing/internal/triggers/processor.go
  api_dns/internal/logic/dns.go
  api_dns/internal/logic/dns_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_provision_livepeer_env_test.go
  cli/cmd/cluster_provision_test.go
  cli/pkg/bootstrap/render.go
  cli/pkg/bootstrap/render_test.go
  docs/standards/environment-configuration.md
  pkg/servicedefs/livepeer_gateway.go
Due: go-fmt, go-lint, frontend-format

billing tweaks
  api_billing/internal/grpc/server.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/handlers/webhooks.go
  api_billing/internal/handlers/x402.go
  api_gateway/internal/resolvers/billing.go
  cli/cmd/cluster_provision.go
Due: go-fmt, go-lint

fix ansible nginx provisioning
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/tasks/configure.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/nginx-systemd-override.conf.j2
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/nginx.conf.j2
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
Due: go-fmt, go-lint, frontend-format

swap alpha->beta
  README.md
  website_application/src/lib/components/BetaBadge.svelte
  website_application/src/routes/register/+page.svelte
  website_marketing/src/components/pages/About.jsx
  website_marketing/src/components/shared/BetaBadge.jsx
  website_marketing/src/components/shared/StatusTag.jsx
Due: frontend-format, frontend-lint

fix lint from billing changes
  website_application/src/routes/account/billing/+page.svelte
Due: frontend-format, frontend-lint

gitignore some more random artefacts
  .gitignore
Due: none

fix dev/demo env seeds
  pkg/database/sql/seeds/demo/clickhouse_demo_data.sql
  pkg/database/sql/seeds/demo/demo_data.sql
Due: none

Fix demo and bootstrap health checks for local and mesh deployments
  api_tenants/internal/grpc/bootstrap_service_test.go
  api_tenants/internal/grpc/server.go
Due: go-fmt, go-lint

align demo data / static seeds with schema
  api_gateway/internal/demo/generators.go
  api_gateway/internal/middleware/demo.go
  api_gateway/internal/resolvers/auth.go
  api_gateway/internal/resolvers/billing_demo_test.go
  api_gateway/internal/resolvers/vod.go
  api_gateway/internal/resolvers/vod_demo_test.go
  cli/cmd/cluster_init.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_seed.go
  cli/pkg/inventory/bootstrap_owner_test.go
  cli/pkg/inventory/parser.go
  cli/pkg/inventory/types.go
  pkg/database/sql/seeds/demo/demo_data.sql
Due: go-fmt, go-lint
