Repository Livepeer-FrameWorks/monorepo: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, go-lint, frontend-format, frontend-lint

go-fmt:
  run: gofmt -l -w {staged_files}
  stage_fixed: true

go-lint:
  run: golangci-lint run --new --fix {staged_files} || true
  stage_fixed: true

frontend-format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

frontend-lint:
  run: pnpm eslint --fix {staged_files} || true
  stage_fixed: true

bump player pkg vers
  npm_player/package.json
  npm_player/packages/core/package.json
  npm_player/packages/react/package.json
  npm_player/packages/svelte/package.json
  npm_player/packages/wc/package.json
Due: frontend-format

Stabilize segmented player recovery
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/HlsJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/hls-js-player.test.ts
  npm_player/packages/core/test/player-controller-cold-boot.test.ts
Due: frontend-format, frontend-lint

Fix clip processing track selection
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/handlers_trigger_test.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_clip.go
  api_sidecar/internal/handlers/processing_selector.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
Due: go-fmt, go-lint

cli: use split foghorn proto clients
  cli/cmd/admin.go
  cli/cmd/cluster_nodes.go
Due: go-fmt, go-lint

provisioner: extend livepeer gateway validation timeout
  cli/pkg/provisioner/service_role.go
  cli/pkg/provisioner/service_role_test.go
Due: go-fmt, go-lint

test: add cross-service regression coverage
  api_analytics_query/internal/handlers/billing_coercion_test.go
  api_analytics_query/internal/handlers/billing_divergence_branches_test.go
  api_balancing/internal/control/playback_predicates_test.go
  api_balancing/internal/grpc/settlement_errors_test.go
  api_billing/internal/handlers/webhooks_stripe_signature_test.go
  api_billing/internal/handlers/x402_billing_details_test.go
  api_billing/internal/pricing/coercion_test.go
  api_consultant/internal/chat/confidence_test.go
  api_consultant/internal/chat/search_web_test.go
  api_consultant/internal/chat/source_urls_test.go
  api_forms/internal/handlers/redaction_test.go
  api_gateway/internal/middleware/demo_test.go
  api_gateway/internal/middleware/graphql_allowlist_test.go
  api_gateway/internal/resolvers/analytics_helpers_test.go
  api_sidecar/internal/control/local_segment_index_test.go
  api_sidecar/internal/handlers/processing_pure_helpers_test.go
  api_sidecar/internal/storage/diskspace_effective_test.go
  api_sidecar/internal/updater/component_safejoin_test.go
  pkg/tenants/ids_test.go
Due: go-fmt, go-lint

tests for api and CLI + exclude more untestable surfaces
  api_gateway/graph/demo_schema_sweep_test.go
  api_gateway/internal/demo/generators_test.go
  api_gateway/internal/mcp/tools/qoe_timerange_test.go
  api_gateway/internal/resolvers/event_mapping_extra_test.go
  cli/cmd/cluster_backup_test.go
  cli/pkg/inventory/types_test.go
  cli/pkg/provisioner/edge_role_test.go
  codecov.yml
Due: go-fmt, go-lint, frontend-format

balancer tests
  api_balancing/internal/grpc/artifact_retention_test.go
  api_balancing/internal/grpc/clip_lifecycle_data_test.go
  api_balancing/internal/grpc/dvr_config_test.go
  api_balancing/internal/handlers/protocol_geo_helpers_test.go
Due: go-fmt, go-lint

test(bridge): add realpath resolver smoke coverage
  api_gateway/graph/demo_schema_sweep_test.go
  api_gateway/graph/realpath_canned_test.go
  api_gateway/graph/realpath_clients_test.go
  api_gateway/graph/realpath_schema_sweep_test.go
  api_gateway/graph/realpath_smoke_test.go
  api_gateway/graph/schema.resolvers.go
  api_gateway/internal/clients/clients.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/bootstrap_infra.go
  api_gateway/internal/loaders/artifact_lifecycle.go
  api_gateway/internal/loaders/stream_loader.go
  api_gateway/internal/loaders/stream_metrics.go
  api_gateway/internal/mcp/mcp_smoke_test.go
  api_gateway/internal/middleware/usage_tracker.go
  api_gateway/internal/resolvers/analytics_connections.go
  api_gateway/internal/resolvers/auth.go
  api_gateway/internal/resolvers/billing.go
  api_gateway/internal/resolvers/demo_support.go
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/mist_admin_session.go
  api_gateway/internal/resolvers/node_mode.go
  api_gateway/internal/resolvers/orchestrators.go
  api_gateway/internal/resolvers/playback_access_control.go
  pkg/clients/commodore/interface.go
  pkg/clients/deckhand/interface.go
  pkg/clients/decklog/interface.go
  pkg/clients/navigator/interface.go
  pkg/clients/periscope/interface.go
  pkg/clients/purser/interface.go
  pkg/clients/quartermaster/interface.go
  pkg/clients/signalman/interface.go
  pkg/clients/skipper/interface.go
Due: go-fmt, go-lint

test(foghorn): cover routing and DVR helpers
  api_balancing/internal/balancer/capability_routing_test.go
  api_balancing/internal/balancer/host_to_binary_test.go
  api_balancing/internal/balancer/rate_node_test.go
  api_balancing/internal/balancer/routing_errors_test.go
  api_balancing/internal/balancer/score_remote_edges_test.go
  api_balancing/internal/control/dvr_chapters_repo_test.go
  api_balancing/internal/control/dvr_segments_queries_test.go
  api_balancing/internal/control/pure_helpers_test.go
  api_balancing/internal/grpc/clip_range_test.go
  api_balancing/internal/grpc/pure_helpers_test.go
  api_balancing/internal/handlers/pure_helpers_test.go
  api_balancing/internal/handlers/routing_geo_extra_test.go
  api_balancing/internal/handlers/x402_decision_test.go
  api_balancing/internal/orchestrator/pure_helpers_test.go
  api_balancing/internal/triggers/pure_helpers_test.go
Due: go-fmt, go-lint

fix(player): replace live duration proxy with keep-away control
  npm_player/packages/core/src/core/LiveDurationProxy.ts
  npm_player/packages/core/src/core/MetaTrackManager.ts
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/core/src/core/PlayerInterface.ts
  npm_player/packages/core/src/core/PlayerManager.ts
  npm_player/packages/core/src/core/delivery/keep-away-rate-controller.ts
  npm_player/packages/core/src/core/index.ts
  npm_player/packages/core/src/core/scorer.ts
  npm_player/packages/core/src/index.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/src/players/NativePlayer.ts
  npm_player/packages/core/src/types.ts
  npm_player/packages/core/src/vanilla/FrameWorksPlayer.ts
  npm_player/packages/core/src/vanilla/createPlayer.ts
  npm_player/packages/core/test/__snapshots__/public-api-snapshot.test.ts.snap
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/keep-away-rate-controller.test.ts
  npm_player/packages/core/test/live-duration-proxy.test.ts
  npm_player/packages/core/test/meta-track-manager.test.ts
  npm_player/packages/core/test/player-interface.test.ts
  npm_player/packages/core/test/scorer.test.ts
  npm_player/packages/react/src/components/DevModePanel.tsx
  npm_player/packages/react/src/hooks/usePlayerController.ts
  npm_player/packages/svelte/src/DevModePanel.svelte
  npm_player/packages/svelte/src/stores/playerController.ts
  npm_player/packages/wc/src/components/fw-dev-mode-panel.ts
Due: frontend-format, frontend-lint

test(cli): extract admin command seams
  cli/cmd/admin.go
  cli/cmd/admin_billing_test.go
  cli/cmd/admin_bootstrap_tokens_test.go
  cli/cmd/admin_cluster_ops_test.go
  cli/cmd/admin_clusters_test.go
  cli/cmd/admin_invites_test.go
  cli/cmd/admin_nodes_test.go
  cli/cmd/admin_pure_test.go
  cli/cmd/admin_tokens_test.go
  cli/cmd/admin_users_migrate_test.go
  cli/cmd/cluster_apply_executor_test.go
  cli/cmd/cluster_backup.go
  cli/cmd/cluster_diff_pure_test.go
  cli/cmd/cluster_logs_targets_test.go
  cli/cmd/cluster_nodes.go
  cli/cmd/cluster_nodes_seam_test.go
  cli/cmd/cluster_nodes_token_test.go
  cli/cmd/cluster_os_update.go
  cli/cmd/cluster_provision_pure_test.go
  cli/cmd/cluster_upgrade_pure_test.go
  cli/cmd/coverage_batch2_seams_test.go
  cli/cmd/coverage_batch2_test.go
  cli/cmd/coverage_helpers_proto_test.go
  cli/cmd/coverage_helpers_test.go
  cli/internal/credentials/credentials_more_test.go
  cli/internal/mesh/validate_test.go
  cli/internal/preflight/format_test.go
  cli/internal/preflight/preflight_more_test.go
  cli/internal/releases/releases_more_test.go
  cli/internal/services/services_extra_test.go
  cli/internal/ux/ux_more_test.go
  cli/pkg/ansiblerun/ansiblerun_more_test.go
  cli/pkg/health/tcp_more_test.go
  cli/pkg/metabase/metabase_more_test.go
  cli/pkg/mistdiag/mistdiag_more_test.go
  cli/pkg/selfupdate/selfupdate_more_test.go
  cli/pkg/sops/sops_more_test.go
  cli/pkg/ssh/ssh_more_test.go
  docs/standards/testing.md
  scripts/coverage-gateway.sh
Due: go-fmt, go-lint, frontend-format

test(bridge): expand resolver and MCP coverage
  api_gateway/graph/billing_helpers_test.go
  api_gateway/graph/realpath_behavioral_test.go
  api_gateway/graph/realpath_schema_sweep_test.go
  api_gateway/graph/stream_id_helpers_test.go
  api_gateway/graph/usage_helpers_test.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/datafetcher/fetcher_test.go
  api_gateway/internal/loaders/artifact_lifecycle_test.go
  api_gateway/internal/loaders/memoizer_test.go
  api_gateway/internal/loaders/qm_loaders_test.go
  api_gateway/internal/loaders/stream_loader_test.go
  api_gateway/internal/loaders/stream_metrics_test.go
  api_gateway/internal/mcp/introspection/introspection_test.go
  api_gateway/internal/mcp/introspection/templates_test.go
  api_gateway/internal/mcp/introspection/types_test.go
  api_gateway/internal/mcp/preflight/checker_test.go
  api_gateway/internal/mcp/tools/clips_handler_test.go
  api_gateway/internal/mcp/tools/infrastructure_nodes_test.go
  api_gateway/internal/mcp/tools/playback_auth_test.go
  api_gateway/internal/mcp/tools/qoe_handlers_test.go
  api_gateway/internal/mcp/tools/stream_keys_handler_test.go
  api_gateway/internal/mcp/tools/streams_handler_test.go
  api_gateway/internal/middleware/resource_path_pure_test.go
  api_gateway/internal/resolvers/billing_resolver_handlers_test.go
  api_gateway/internal/resolvers/dvr_chapters_mappers_test.go
  api_gateway/internal/resolvers/infrastructure_pricing_helpers_test.go
  api_gateway/internal/resolvers/streams_realpath_test.go
  api_gateway/internal/resolvers/streams_resolver_handlers_test.go
  app_mac/Sources/Gateway/GeneratedQueries.swift
  pkg/graphql/operations/queries/GetMySubscriptions.gql
  website_application/src/routes/infrastructure/clusters/+page.svelte
  website_application/src/routes/infrastructure/network/+page.svelte
Due: go-fmt, go-lint, frontend-format, frontend-lint

Enable Mist low-latency DASH protocol sync
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_protocols_test.go
  infrastructure/mistserver.conf
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

Tune live DASH player behavior
  npm_player/packages/core/src/core/scorer.ts
  npm_player/packages/core/src/players/DashJsPlayer.ts
  npm_player/packages/core/test/dash-js-player.test.ts
  npm_player/packages/core/test/scorer.test.ts
Due: frontend-format, frontend-lint

Fix DVR finalization recovery and seeking controls
  api_balancing/internal/control/dvr_finalize.go
  api_balancing/internal/control/dvr_segments_repo.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/jobs/chapter_finalization_queue.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_manager.go
  npm_player/packages/core/src/core/InteractionController.ts
  npm_player/packages/core/src/core/SeekingUtils.ts
  npm_player/packages/react/src/components/PlayerControls.tsx
  npm_player/packages/svelte/src/PlayerControls.svelte
  pkg/database/sql/migrations/commodore/v0.2.92/expand/001_artifact_size_bytes_bigint.sql
  pkg/database/sql/migrations/foghorn/v0.2.92/expand/001_artifact_size_bytes_bigint.sql
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(media): carry artifact duration and tenant metadata
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/commodore_projection.go
  api_balancing/internal/control/playback.go
  api_balancing/internal/control/playback_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_freeze_complete_test.go
  api_balancing/internal/control/server_processing_result_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_artifact_tenant_test.go
  api_balancing/internal/grpc/server.go
  api_control/internal/grpc/artifact_thumbnails.go
  api_control/internal/grpc/artifact_thumbnails_test.go
  api_sidecar/internal/control/client.go
  api_sidecar/internal/control/dvr_mist_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_clip.go
  api_sidecar/internal/handlers/processing_stage.go
  api_sidecar/internal/handlers/processing_test.go
  pkg/clients/commodore/grpc_client.go
  pkg/proto/commodore.proto
  pkg/proto/commodore/commodore.pb.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go-fmt, go-lint

fix(db): move artifact size rewrites to contract phase
  pkg/database/sql/migrations/commodore/v0.2.92/contract/001_artifact_size_bytes_bigint.sql
  pkg/database/sql/migrations/foghorn/v0.2.92/contract/001_artifact_size_bytes_bigint.sql
Due: none

test(foghorn): expand service coverage seams
  api_balancing/internal/artifactoutbox/outbox_test.go
  api_balancing/internal/control/dvr_segments_handlers_coverage_test.go
  api_balancing/internal/control/finalize_hook_coverage_test.go
  api_balancing/internal/control/live_playback_coverage_test.go
  api_balancing/internal/control/registry_managed_streams_coverage_test.go
  api_balancing/internal/control/resolve_content_happy_coverage_test.go
  api_balancing/internal/control/resolver_deep_coverage_test.go
  api_balancing/internal/federation/client.go
  api_balancing/internal/federation/client_coverage_test.go
  api_balancing/internal/grpc/clip_dvr_vod_rpc_coverage_test.go
  api_balancing/internal/grpc/dvr_clip_lifecycle_coverage_test.go
  api_balancing/internal/grpc/federation_relay_rpc_coverage_test.go
  api_balancing/internal/grpc/rpc_handlers_coverage_test.go
  api_balancing/internal/grpc/rpc_handlers_more_coverage_test.go
  api_balancing/internal/grpc/viewer_endpoint_coverage_test.go
  api_balancing/internal/grpc/viewer_endpoint_happy_coverage_test.go
  api_balancing/internal/grpc/vod_complete_coverage_test.go
  api_balancing/internal/handlers/admin_endpoints_coverage_test.go
  api_balancing/internal/handlers/balancing_commodore_coverage_test.go
  api_balancing/internal/handlers/federation_arms_coverage_test.go
  api_balancing/internal/handlers/get_source_coverage_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/handlers/routing_events_seam_test.go
  api_balancing/internal/handlers/source_resolution_coverage_test.go
  api_balancing/internal/handlers/stream_balancing_arms_coverage_test.go
  api_balancing/internal/handlers/stream_balancing_coverage_test.go
  api_balancing/internal/jobs/chapter_finalization_queue_coverage_test.go
  api_balancing/internal/jobs/chapter_finalization_queue_test.go
  api_balancing/internal/jobs/dispatchers_coverage_test.go
  api_balancing/internal/jobs/reconcilers_coverage_test.go
  api_balancing/internal/orchestrator/reconciler_coverage_test.go
  api_balancing/internal/state/rehydrate_coverage_test.go
  api_balancing/internal/state/stream_state_coverage_test.go
  api_balancing/internal/storage/s3_client.go
  api_balancing/internal/storage/s3_client_coverage_test.go
  api_balancing/internal/triggers/processor_coverage_test.go
  api_balancing/internal/triggers/trigger_handlers_coverage_test.go
Due: go-fmt, go-lint

test(services): expand billing and helmsman coverage
  api_billing/internal/bootstrap/scanners_more_test.go
  api_billing/internal/grpc/server_readpaths_more2_test.go
  api_billing/internal/grpc/server_readpaths_more3_test.go
  api_billing/internal/grpc/server_writepaths_more_test.go
  api_billing/internal/grpc/server_writepaths_test.go
  api_billing/internal/handlers/money_math_more_test.go
  api_sidecar/internal/control/client_dvr_dispatch_test.go
  api_sidecar/internal/control/client_dvr_segment_test.go
  api_sidecar/internal/control/client_push_targets_test.go
  api_sidecar/internal/control/client_request_response_test.go
  api_sidecar/internal/control/client_sessions_test.go
  api_sidecar/internal/control/local_segment_index_restore_test.go
  api_sidecar/internal/control/trigger_forwarder_drain_test.go
  api_sidecar/internal/handlers/handlers_blocking_triggers_test.go
  api_sidecar/internal/handlers/handlers_lifecycle_triggers_test.go
  api_sidecar/internal/handlers/handlers_node_mode_test.go
  api_sidecar/internal/storage/presigned_download_test.go
  api_sidecar/internal/updater/component_download_test.go
  api_sidecar/internal/updater/component_fs_more_test.go
Due: go-fmt, go-lint

test(bridge): expand resolver and MCP coverage
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/clients/clientstest/clientstest_batch3_ext.go
  api_gateway/internal/clients/clientstest/clientstest_commodore_ext.go
  api_gateway/internal/clients/clientstest/clientstest_periscope_analytics.go
  api_gateway/internal/mcp/preflight/checks_capabilities_test.go
  api_gateway/internal/mcp/resources/nodes_handler_test.go
  api_gateway/internal/mcp/resources/pricing_catalog_helpers_test.go
  api_gateway/internal/mcp/tools/billing_payment_handler_test.go
  api_gateway/internal/resolvers/admin_handlers_test.go
  api_gateway/internal/resolvers/analytics_conn_a_resolver_test.go
  api_gateway/internal/resolvers/analytics_conn_b_resolver_test.go
  api_gateway/internal/resolvers/analytics_orch_resolver_test.go
  api_gateway/internal/resolvers/analytics_reads_resolver_test.go
  api_gateway/internal/resolvers/auth_handlers_test.go
  api_gateway/internal/resolvers/billing_mutations_test.go
  api_gateway/internal/resolvers/billing_reads_test.go
  api_gateway/internal/resolvers/developer_handlers_test.go
  api_gateway/internal/resolvers/dvr_chapters_handlers_test.go
  api_gateway/internal/resolvers/infrastructure_mutations_test.go
  api_gateway/internal/resolvers/infrastructure_reads_resolver_test.go
  api_gateway/internal/resolvers/media_retention_handlers_test.go
  api_gateway/internal/resolvers/mist_admin_session_handlers_test.go
  api_gateway/internal/resolvers/node_mode_handlers_test.go
  api_gateway/internal/resolvers/playback_access_control_handlers_test.go
  api_gateway/internal/resolvers/playback_access_dryrun_handlers_test.go
  api_gateway/internal/resolvers/pull_source_events_handlers_test.go
  api_gateway/internal/resolvers/push_targets_handlers_test.go
  api_gateway/internal/resolvers/skipper_event_test.go
  api_gateway/internal/resolvers/storage_artifacts_handlers_test.go
  api_gateway/internal/resolvers/streams_clips_dvr_resolver_test.go
  api_gateway/internal/resolvers/streams_connections_handlers_test.go
  api_gateway/internal/resolvers/vod_connection_handlers_test.go
  api_gateway/internal/resolvers/vod_resolver_handlers_test.go
Due: go-fmt, go-lint

test(cli): add command seam coverage
  cli/cmd/cluster_nodes.go
  cli/cmd/cluster_nodes_list_seam_test.go
  cli/cmd/cluster_releases.go
  cli/cmd/cluster_releases_seam_test.go
  cli/cmd/dns.go
  cli/cmd/dns_seam_test.go
  cli/cmd/edge.go
  cli/cmd/edge_seam_test.go
  cli/cmd/mesh.go
  cli/cmd/mesh_seam_test.go
  cli/cmd/services.go
  cli/cmd/services_seam_test.go
  cli/internal/config/config_pure_test.go
  cli/pkg/credentials/generate_test.go
  cli/pkg/githubapp/client_test.go
  cli/pkg/health/http_test.go
  cli/pkg/health/postgres_pure_test.go
  cli/pkg/mistdiag/cores_pure_test.go
  cli/pkg/mistdiag/discover_run_test.go
  cli/pkg/provisioner/common_helpers_test.go
  cli/pkg/provisioner/gitops_fetch_test.go
  cli/pkg/provisioner/meta_test.go
  cli/pkg/provisioner/migrate_split_test.go
  cli/pkg/provisioner/schema_pure_test.go
  cli/pkg/system/dns_test.go
Due: go-fmt, go-lint

fix(player): replay Mews commands after reconnect
  npm_player/packages/core/src/players/MewsWsPlayer/SourceBufferManager.ts
  npm_player/packages/core/src/players/MewsWsPlayer/WebSocketManager.ts
  npm_player/packages/core/src/players/MewsWsPlayer/index.ts
  npm_player/packages/core/test/_fixtures/FakeMediaSource.ts
  npm_player/packages/core/test/audio-gain-controller.test.ts
  npm_player/packages/core/test/breakpoint-observer.test.ts
  npm_player/packages/core/test/dash-js-player-api.test.ts
  npm_player/packages/core/test/hls-js-player-api.test.ts
  npm_player/packages/core/test/i18n.test.ts
  npm_player/packages/core/test/interaction-controller.test.ts
  npm_player/packages/core/test/mews-source-buffer-manager.test.ts
  npm_player/packages/core/test/mews-websocket-manager.test.ts
  npm_player/packages/core/test/mews-ws-player-handlers.test.ts
  npm_player/packages/core/test/mews-ws-player.test.ts
  npm_player/packages/core/test/mist-legacy-player.test.ts
  npm_player/packages/core/test/mist-reporter-reporting.test.ts
  npm_player/packages/core/test/native-player-browser-support.test.ts
  npm_player/packages/core/test/native-player-control.test.ts
  npm_player/packages/core/test/native-player-getters.test.ts
  npm_player/packages/core/test/player-manager-api.test.ts
  npm_player/packages/core/test/seeking-utils.test.ts
  npm_player/packages/core/test/stream-state-client.test.ts
  npm_player/packages/core/test/subtitle-manager-sync.test.ts
  npm_player/packages/core/test/theme-manager.test.ts
  npm_player/packages/core/test/thumbnail-vtt-parser-api.test.ts
  npm_player/packages/core/test/url-utils.test.ts
  npm_player/packages/core/test/videojs-player-api.test.ts
  npm_player/packages/core/vitest.config.ts
Due: frontend-format, frontend-lint

fix(web): make usage row keys duplicate-safe
  website_application/src/routes/analytics/usage/+page.svelte
Due: frontend-format, frontend-lint

feat(processing): record rate telemetry in lifecycle events
  api_analytics_ingest/internal/handlers/handlers.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_processing_result_test.go
  api_sidecar/internal/handlers/handlers.go
  api_sidecar/internal/handlers/processing.go
  api_sidecar/internal/handlers/processing_chapter.go
  api_sidecar/internal/handlers/processing_clip.go
  api_sidecar/internal/handlers/processing_speed_test.go
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.92/expand/001_artifact_events_processing_speed.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/mist/triggers.go
  pkg/mist/triggers_test.go
  pkg/proto/ipc.proto
  pkg/proto/ipc/ipc.pb.go
Due: go-fmt, go-lint

fix(auth): recover refresh sessions after rotation races
  api_control/internal/grpc/server.go
  api_control/internal/grpc/server_auth_conversion_test.go
  api_gateway/internal/clients/clientstest/clientstest.go
  api_gateway/internal/clients/clientstest/clientstest_batch3_ext.go
  api_gateway/internal/handlers/auth.go
  api_gateway/internal/handlers/auth_test.go
  pkg/database/sql/migrations/commodore/v0.2.93/expand/001_refresh_token_replaced_by.sql
  pkg/database/sql/schema/commodore.sql
  website_application/src/lib/auth/refresh.test.ts
  website_application/src/lib/auth/refresh.ts
  website_application/src/lib/houdini/client.ts
  website_application/src/lib/stores/auth.test.ts
  website_application/src/lib/stores/auth.ts
Due: go-fmt, go-lint, frontend-format, frontend-lint

fix(tenants): derive alias eligibility from billing tier
  api_billing/cmd/purser/bootstrap.go
  api_billing/internal/bootstrap/customer_billing.go
  api_billing/internal/bootstrap/customer_billing_test.go
  api_billing/internal/grpc/change_billing_tier_test.go
  api_billing/internal/grpc/server.go
  api_billing/internal/grpc/server_writepaths_test.go
  api_billing/internal/handlers/downgrade_applier_test.go
  api_billing/internal/handlers/jobs.go
  api_billing/internal/tieraccess/reconcile.go
  api_billing/internal/tieraccess/reconcile_test.go
  api_billing/internal/tieraccess/sweep.go
  api_billing/internal/tieraccess/sweep_test.go
  api_gateway/internal/resolvers/infrastructure.go
  api_gateway/internal/resolvers/infrastructure_streaming_config_test.go
  api_tenants/internal/bootstrap/tenants.go
  api_tenants/internal/bootstrap/tenants_test.go
  api_tenants/internal/grpc/alias_eligibility.go
  api_tenants/internal/grpc/alias_eligibility_test.go
  api_tenants/internal/grpc/navigator_alias_backstop.go
  api_tenants/internal/grpc/navigator_alias_outbox_test.go
  api_tenants/internal/grpc/navigator_alias_paths_test.go
  api_tenants/internal/grpc/server.go
  cli/pkg/bootstrap/render.go
  docs/architecture/bootstrap-desired-state.md
  pkg/database/sql/migrations/quartermaster/v0.2.93/expand/001_tenants_deployment_tier_default_free.sql
  pkg/database/sql/migrations/quartermaster/v0.2.93/postdeploy/001_normalize_empty_deployment_tier.sql
  pkg/database/sql/schema/quartermaster.sql
  pkg/models/tenants.go
  pkg/models/tenants_test.go
Due: go-fmt, go-lint, frontend-format

feat(ingress): provision tenant alias playback hosts
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/nginx/templates/frameworks.conf.j2
  api_mesh/internal/agent/agent.go
  api_mesh/internal/agent/tenant_alias_certs.go
  api_mesh/internal/agent/tenant_alias_certs_test.go
  cli/cmd/cluster_provision.go
  cli/pkg/provisioner/nginx_role.go
  cli/pkg/provisioner/reverse_proxy_role.go
  cli/pkg/provisioner/reverse_proxy_role_test.go
  pkg/ingress/bundle.go
  pkg/ingress/bundle_test.go
  website_docs/src/content/docs/operators/dns.mdx
Due: go-fmt, go-lint, frontend-format

fix(processing): keep local ladder processes alive
  api_sidecar/internal/config/manager.go
  api_sidecar/internal/config/manager_streams_test.go
  api_sidecar/internal/handlers/processing.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

fix(player): update controls when seekability changes
  npm_player/packages/core/src/core/PlayerController.ts
  npm_player/packages/svelte/src/Player.svelte
  npm_player/packages/svelte/src/PlayerControls.svelte
  npm_player/packages/wc/src/components/fw-player-controls.ts
Due: frontend-format, frontend-lint

fix(foghorn): sync HA state through redis changelogs
  api_balancing/cmd/foghorn/main.go
  api_balancing/internal/control/ha_ordering_spec_test.go
  api_balancing/internal/control/registry_managed_streams_coverage_test.go
  api_balancing/internal/control/server.go
  api_balancing/internal/control/server_thumbnail_readiness_test.go
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_artifacts.go
  api_balancing/internal/control/stream_registry_redis.go
  api_balancing/internal/control/stream_registry_redis_sync.go
  api_balancing/internal/control/trigger_classify_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_mint_storage_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/grpc/server_enrich_cluster_test.go
  api_balancing/internal/identity/identity.go
  api_balancing/internal/identity/identity_test.go
  api_balancing/internal/identity/identitytest/identitytest.go
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/changelog_sync_test.go
  api_balancing/internal/state/ha_ordering_spec_test.go
  api_balancing/internal/state/identity_merge_test.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/triggers/processor.go
  docs/architecture/federation.md
  docs/architecture/foghorn-ha.md
  docs/rfcs/foghorn-ha-ordering.md
  pkg/redis/changelog.go
  pkg/redis/pubsub.go
Due: go-fmt, go-lint, frontend-format

fix(processing): disable restarts for one-shot jobs
  api_balancing/internal/jobs/processing_dispatcher.go
  pkg/mist/processes.go
  pkg/mist/processes_test.go
Due: go-fmt, go-lint

feat(analytics): add tenant activity rollup
  api_analytics_query/internal/grpc/server.go
  api_analytics_query/internal/grpc/tenant_activity_test.go
  cli/cmd/admin.go
  cli/cmd/admin_tenants_activity.go
  cli/cmd/admin_tenants_activity_test.go
  pkg/clients/periscope/grpc_client.go
  pkg/clients/periscope/interface.go
  pkg/proto/periscope.proto
  pkg/proto/periscope/periscope.pb.go
  pkg/proto/periscope/periscope_grpc.pb.go
  website_docs/src/content/docs/operators/cli-reference.mdx
Due: go-fmt, go-lint, frontend-format

feat(analytics): provision operator activity sources
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/defaults/main.yml
  ansible/collections/ansible_collections/frameworks/infra/roles/clickhouse/tasks/install.yml
  cli/cmd/analytics_named_collections_test.go
  cli/cmd/cluster_provision.go
  cli/cmd/cluster_seed.go
  cli/pkg/dashcheck/dashcheck_test.go
  cli/pkg/provisioner/clickhouse_role.go
  cli/pkg/provisioner/clickhouse_role_test.go
  cli/pkg/provisioner/pg_common.go
  cli/pkg/provisioner/seed_helpers.go
  docker-compose.yml
  infrastructure/clickhouse/config.xml
  infrastructure/metabase/activity_cards.yaml
  infrastructure/postgres/analytics_ro_dev_password.sql
  pkg/database/sql/clickhouse/migrations/periscope/v0.2.94/expand/001_tenant_dim_dictionary.sql
  pkg/database/sql/clickhouse/periscope.sql
  pkg/database/sql/seeds/static/analytics_ro_commodore.sql
  pkg/database/sql/seeds/static/analytics_ro_purser.sql
  pkg/database/sql/seeds/static/analytics_ro_quartermaster.sql
Due: go-fmt, go-lint, frontend-format

fix(foghorn): make HA stream state multi-writer safe
  api_balancing/internal/state/cache.go
  api_balancing/internal/state/node_mode_sync_test.go
  api_balancing/internal/state/redis_store.go
  api_balancing/internal/state/stream_state.go
  api_balancing/internal/state/union_viewers_test.go
  api_balancing/internal/triggers/processor.go
  docs/architecture/foghorn-ha.md
Due: go-fmt, go-lint, frontend-format

fix(foghorn): use federation ads for resilient playback
  api_balancing/cmd/foghorn/main.go
  api_balancing/go.mod
  api_balancing/internal/balancer/shared_fanout.go
  api_balancing/internal/balancer/shared_fanout_test.go
  api_balancing/internal/control/federated_edges.go
  api_balancing/internal/control/federated_edges_test.go
  api_balancing/internal/control/stream_registry.go
  api_balancing/internal/control/stream_registry_admission.go
  api_balancing/internal/control/stream_registry_artifacts.go
  api_balancing/internal/control/stream_registry_stale_test.go
  api_balancing/internal/control/stream_registry_test.go
  api_balancing/internal/federation/peer_manager.go
  api_balancing/internal/federation/peer_manager_test.go
  api_balancing/internal/federation/server.go
  api_balancing/internal/federation/server_stream_ad_ram_test.go
  api_balancing/internal/grpc/server.go
  api_balancing/internal/handlers/fanout_singleflight.go
  api_balancing/internal/handlers/fanout_singleflight_test.go
  api_balancing/internal/handlers/handlers.go
  api_balancing/internal/identity/identity.go
  api_balancing/internal/identity/kind_probe_cache_test.go
  docs/architecture/federation.md
  pkg/proto/foghorn_federation.proto
  pkg/proto/foghorn_federation/foghorn_federation.pb.go
Due: go-fmt, go-lint, frontend-format

Path conditions:
  go-fmt: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  go-lint: any of: **/*.go, but not: .*\.pb\.go$|.*_grpc\.pb\.go$|graph/generated/.*|graph/model/models_gen\.go$
  frontend-format: any of: *.{js,ts,jsx,tsx,svelte,json,yaml,yml,md,mdx}
  frontend-lint: any of: *.{js,ts,jsx,tsx,svelte}
